[2019-12-16 22:46] annatuma commented on #540
This is more complex than it looks because the thousands separator varies by country and region. (See [examples](https://en.wikipedia.org/wiki/Decimal_separator#Examples_of_use). This is an opportunity to fix our previous styling with the thousands separator.

I suggest we go with the SI style, and refer to "results" rather than "images":
Suggested language: Over 10 000 results

We are only showin

[2019-12-16 22:50] kgodey commented on #540
sounds good to me.

[2019-12-16 23:10] kgodey commented on #540
Actually, since we're not localized yet and we use American English, maybe we should stick to the English separators since the rest of the UI is in English? Once we localize, we can support other separators based on the language of the UI. That seems most consistent to me.

[2019-12-17 07:31] madewithkode commented on #540
@brenoferreira Alright. Looking forward to the final decision.

[2019-12-17 11:26] brenoferreira commented on #540
Yeah, since nothing is localised in CC Search, it's all American English, including numbers, I would say that it's not worth worrying about that at the moment. If we use `,` to separate decimals, let's continue using that and keep this ticket focused on the text for the result set over 10K images.

PS: There's already a ticket about localization, which should include localized numbers in CC Search

[2019-12-17 16:07] annatuma commented on #540
All valid points. Decimal separator it is, in keeping with American English conventions.

"Over 10,000 results" will be the new text then!

@madewithkode I believe this is ready to be worked on now.

[2019-12-18 00:34] kgodey commented on #540
@madewithkode marked as "in progress" assuming you're still interested in working on it.

[2019-12-18 11:16] brenoferreira opened #551 "Upgrade to CC Catalog API v1.0"
The 1.0 Release of the CC Catalog API is deployed. It has a few breaking changes compared to the old API, which will still be supported for a while, but not indefinitely. Therefore, we should update the frontend code to support this new version of the API.

The API documentation is available at https://api-dev.creativecommons.engineering/v1

All the calls to the API in the frontend are made in [th

[2019-12-18 22:03] annatuma commented on #544
@brenoferreira additional minor language change here, from "All licenses" and "All sources" to just "Licenses" and "Sources", in the left hand filter. Screenshot attached of what I mean. Apologies this didn't get included in the designs.

[2019-12-18 22:03] annatuma commented on #544
![Licenses and Sources](https://user-images.githubusercontent.com/3051816/71127069-eb5dae00-21af-11ea-97c2-4f2a3fffce26.jpg)

[2019-12-20 10:47] madewithkode commented on #540
on it!

On Thu, Dec 19, 2019, 22:54 Anna T. <notifications@github.com> wrote:

[2019-12-20 10:51] madewithkode commented on #540
Was away for a while, currently on it.

On Wed, Dec 18, 2019, 01:34 Kriti Godey <notifications@github.com> wrote:

[2019-12-20 11:05] madewithkode commented on #540
Hey there, just so I'm cleared, I hope we all know that results below 10k currently appear as "<resultcount> images" where <resultcount> equals the number of fetched images.
So if we're going to change the phrase for results over 10K to "Over 10,000 results" don't you think in pursuit of homogeneity, it's either "images" is entirely replaced with "results" or the latter replaces the former for res

[2019-12-20 14:51] brenoferreira commented on #540
Good catch. I think we should keep it as `Over 10,000 images` for now

[2020-01-02 17:37] annatuma opened #553 "OpenSearch.xml no longer working"
## Describe the bug
The following was reported by a user via FreshDesk:

I noticed that opensearch.xml has gone missing, making it more difficult to
install CC search as an engine in browsers that support this useful tech.
It is pointed to in the normal HTML, and it is present on GitHub:

https://github.com/creativecommons/cccatalog-frontend/blob/07f38b1e7c433b51f1b11ef0bb3a49b1329b1e67/static/ope

[2020-01-02 17:38] annatuma commented on #553
@brenoferreira @kgodey I'm not familiar enough with OpenSearch.xml to know what the background is here, or the expected behavior. Feel free to comment, update, etc. I'm putting this in the Current Sprint for now, with ticket work required, as we figure this out. If you deem it non-urgent we can place it in the Backlog too.

[2020-01-06 15:46] datbossg310 commented on #545
![Results-collapsed](https://user-images.githubusercontent.com/55473434/71829066-a0b9ae00-3058-11ea-8e90-9f336a1d4222.png)

[2020-01-06 15:46] datbossg310 commented on #545
![Browsebycollection](https://user-images.githubusercontent.com/55473434/71829102-afa06080-3058-11ea-8ab0-29a571abea5b.png)

[2020-01-06 15:49] datbossg310 commented on #545
![SingleResult-attri-hover](https://user-images.githubusercontent.com/55473434/71829232-04dc7200-3059-11ea-86bd-19c9f8bc1623.png)

[2020-01-06 15:50] datbossg310 commented on #545
![Home-hover](https://user-images.githubusercontent.com/55473434/71829325-39e8c480-3059-11ea-8e69-29c9dfb3f676.png)

[2020-01-06 16:08] datbossg310 commented on #553
1 You need a UTF-16. For line 1

[2020-01-06 16:12] datbossg310 commented on #553
Fixed it

[2020-01-06 20:44] evilhell9911 opened #554 "mo"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Desktop (please complete the following in

[2020-01-06 22:34] #554 closed

[2020-01-09 08:06] nilshah98 commented on #551
Hello, is this issue still up for grabs?
If yes, I would like to work on it.

[2020-01-09 12:42] brenoferreira commented on #551
Yes it is @nilshah98

You're welcome to do it if you want

[2020-01-09 13:58] nilshah98 commented on #551
Hey, the link provided for api - [api-dev v1](https://api-dev.creativecommons.engineering/v1)  isn't working for me here.
Is there anywhere else I can access the documentation for the same?

[2020-01-09 14:15] madewithkode commented on #505
Hi, @kgodey, I would love to work on this but i need better understanding of exactly how you'd love the project to be tackled. For instance, where do I add the HTML code? Do I make a separate new file for it? I await your response.

[2020-01-09 14:42] brenoferreira commented on #551
v1.0 is now available at https://api-dev.creativecommons.engineering/v1/. The old version is available at https://api.creativecommons.engineering/v0/ for comparison

[2020-01-09 17:29] nilshah98 commented on #551
Thanks a lot, I'll get started with the same.

[2020-01-09 17:42] #540 closed

[2020-01-10 00:06] kgodey commented on #505
Hi @madewithkode, this needs more definition before it's ready to be worked on. I suggest looking at one of the issues tagged "help wanted" instead: https://github.com/creativecommons/cccatalog-frontend/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2020-01-10 14:27] madewithkode commented on #505
Alright!

[2020-01-10 14:28] annatuma commented on #551
@nilshah98 I'll mark this in progress, feel free to make a pull request and start work.

[2020-01-11 17:46] Jaxom99 commented on #553
I also have seen this, it's sad because I don't want to install the CC add-on, but still keep the tool at hand in my browser's search options.
Thanks for your work !

[2020-01-12 05:25] nilshah98 commented on #551
The link - https://api-dev.creativecommons.engineering/v1/ isn't working, please can someone look into it.

[2020-01-13 11:19] brenoferreira commented on #551
The API-DEV is a little unstable now. It will soon be resolved

[2020-01-13 17:14] nilshah98 commented on #551
Ok thanks, it's up now.
Will get back to working on it.

[2020-01-13 23:43] kgodey commented on #551
API v1 will be more stable once https://github.com/creativecommons/cccatalog-api/pull/399 is merged and deployed.

[2020-01-14 05:46] nilshah98 commented on #551
Thanks a lot for the info @kgodey . Now, I know where to look at incase of a breakdown again.

[2020-01-15 12:40] hjhimanshu01 commented on #553
Hello, I am interested in contributing to creative commons, found out that `opensearch.xml` is there in the repository but not accessible through the link provided in `index.html` file, the `static/img` path is defined for `src/assets` folder, so a suggestion would be to place the opensearch file in the src folder which can be made accessible.

[2020-01-15 19:05] coderbabu10 commented on #542
sir,can i work on this issue?

[2020-01-15 21:08] coderbabu10 commented on #545
sir,I would like to work on the Home Page,can you please assign me this issue?

[2020-01-15 21:22] coderbabu10 opened #557 "overlapping of text"
## Description of the bug
when we change the webpage small the text start gets overlapping
## Screenshot
![Screenshot from 2020-01-16 02-48-05](https://user-images.githubusercontent.com/54955755/72472770-3d274180-380b-11ea-93eb-1da0960bb07f.png)

[2020-01-16 14:57] brenoferreira commented on #545
@coderbabu10 I think this isn't quite ready for development yet and will require a more unfinished work in other CC repositories, such as https://github.com/creativecommons/vocabulary.

But thanks for the initiative and feel free to browse through our Issues to see if there's anything else you feel like doing

[2020-01-16 16:46] coderbabu10 commented on #545
okay @brenoferreira

[2020-01-19 13:57] nilshah98 commented on #551
Hey, I have few questions with regards to API and with regards to Frontend structure.

**API**
I can't seem to find documentation for the endpoints -
- `/analytics/{event}` for `POST`
- `report-bug` for `POST`
Neither can I find them in v0.36 nor in v1.0

Also, in v0.36 there is `/image/browse/{provider}` endpoint, but there is no similar endpoint in v1, so should I just try using `/images?source=

[2020-01-20 17:32] whitel opened #558 "error on emoticon search"
## Describe the bug
A clear and concise description of what the bug is.

Because I am old, I still use emoticons (even if i do them backwards). Tried a search for ":/" (w/o quotes). I got an error.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://ccsearch.creativecommons.org/
2. Type in :/
3. Hit enter/search
4. See error

## Expected behavior
A clear and concise description of w

[2020-01-21 16:32] kgodey commented on #551
tagging @aldenstpage and @brenoferreira

[2020-01-22 06:50] aryamanpuri opened #560 "There is no script for dev-insecure"
Whenever a person is running  ` npm run dev-insecure` on the terminal to run the project , , it gives an error of missing script .
There is no script for insecure building of the project.

[2020-01-22 06:51] aryamanpuri commented on #560
@brenoferreira

[2020-01-22 12:24] brenoferreira commented on #558
I'll move this to the https://github.com/creativecommons/cccatalog-api repo as this seems to be a bug on the handling of these special characters there

[2020-01-22 23:22] annatuma commented on #463
We have the design for this slated for Q2. The content of the ticket may change.

[2020-01-22 23:25] annatuma commented on #467
The user experience for this is being tackled in Design Sprint 3 (tracked in Asana), and when it comes time to integrate that it'll involve other changes to the single result page. Closing this ticket.

[2020-01-22 23:25] #467 closed

[2020-01-22 23:28] annatuma commented on #444
I've added links to our Calendly scheduling to the top of both the general and image-specific feedback forms. We will not pursue building a UI for this purpose at this time.

[2020-01-22 23:28] #444 closed

[2020-01-22 23:30] annatuma commented on #464
This was tackled as part of Design Sprint 1, those designs are pending integration:
https://github.com/creativecommons/cccatalog-frontend/issues/545

[2020-01-22 23:30] #464 closed

[2020-01-22 23:31] annatuma commented on #465
Per discussion, we've determined that with CC operating as a portal, driving users to the source website for any works we catalog, we will not be adding a download feature for content.

cc @sarahpearson @kgodey

[2020-01-22 23:31] #465 closed

[2020-01-22 23:35] annatuma commented on #466
I'd say that the About page addresses this to some extent:
https://search.creativecommons.org/about

That said, the About page is in need of a more substantial update, during which we can improve our explanation of what we index, and how it differs from other search engines. We shouldn't explain CC licenses on that page, but rather link to a page where they are explained. I'll create a separate ti

[2020-01-22 23:35] #466 closed

[2020-01-22 23:38] annatuma opened #562 "Rework CC Search "About" and "Feedback" pages"
We need to:

1) Improve the overall design of these pages
2) Provide a better explanation on the About page of the distinction between e.g. Google Image Search and CC Search, and why CC Search doesn't have every image on the internet in it
3) Add to the Feedback page more information on how to get involved
4) Update links to forthcoming blog article about CC Search

[2020-01-22 23:41] annatuma commented on #435
Related to https://github.com/creativecommons/cccatalog-frontend/issues/425

[2020-01-22 23:45] annatuma commented on #468
In Design Sprint 3 we're adding tooltips to each license type, with better explanation, as well as adding explanations to single result pages. The integration of those designs will be tracked in standalone GitHub tickets. Likely happening early Q2 2020. Closing this ticket out.

[2020-01-22 23:45] #468 closed

[2020-01-22 23:48] annatuma commented on #469
Handled in Design Sprint 1, integration of which is in the Active Sprint:
https://github.com/creativecommons/cccatalog-frontend/issues/545

[2020-01-22 23:48] #469 closed

[2020-01-22 23:54] annatuma commented on #476
This was done during Q4 2019 through another ticket. The HTML Code now includes the image as well, see for example:

https://search.creativecommons.org/photos/3474484f-f75c-45bd-85f7-0efa8678bc1a

<p style="font-size: 0.9rem;font-style: italic;"><img style="display: block;" src="https://farm1.staticflickr.com/3/3042355_c700071469.jpg" alt="Big Dog, Little Dog"><a href="https://www.flickr.com/photo

[2020-01-22 23:54] #476 closed

[2020-01-23 05:07] coderbabu10 opened #564 "Navbar not responding properly"
feedback getting out of the navbar
![Screenshot from 2020-01-23 10-22-44](https://user-images.githubusercontent.com/54955755/72958160-4cd6f500-3dcc-11ea-9ec3-2ae4f9424923.png)

[2020-01-23 05:07] #564 closed

[2020-01-23 05:18] coderbabu10 commented on #562
I would like to work on this issue please assign me.

[2020-01-23 10:58] aryamanpuri commented on #483
@annatuma @brenoferreira Can I give this a shot?

[2020-01-23 12:44] coderbabu10 opened #565 "Bottom To Top Button"
We can add a bottom to top button in feedback at right side in the end,as it will be easy for the user to directly go up.

[2020-01-23 12:45] coderbabu10 commented on #565
@brenoferreira

[2020-01-23 13:24] coderbabu10 opened #566 "search bar error"
the search bar is getting out of the navbar while resizing.

[2020-01-23 13:32] coderbabu10 commented on #566
@brenoferreira

[2020-01-23 14:19] annatuma commented on #562
As discussed in Slack, this needs more details and work from us before it's ready to be worked on. I recommend looking at "help wanted" issues instead:
https://github.com/search?q=org%3Acreativecommons+is%3Aopen+label%3A%22help+wanted%22

[2020-01-23 16:40] brenoferreira commented on #483
@aryamanpuri sure

[2020-01-23 17:40] kgodey commented on #244
@annatuma do we still want to do this?

[2020-01-23 19:42] nilshah98 commented on #551
I've made certain changes for handling `ImageService.js` at - [nilshah98/issue-551](https://github.com/nilshah98/cccatalog-frontend/tree/issue-551)

Do have a look, and provide inputs.

@brenoferreira @aldenstpage

[2020-01-23 20:03] coderbabu10 commented on #544
the elements in sources are not being displayed in the main search grid. @brenoferreira

[2020-01-24 16:52] brenoferreira commented on #551
@nilshah98 please open a Pull Request. It's hard to see changes in your branch here https://github.com/nilshah98/cccatalog-frontend/tree/issue-551

[2020-01-24 17:56] brenoferreira commented on #553
Feel free to open a pull request with a fix if any of you feel inclined to doing so :)

[2020-01-25 11:09] aashimgarg commented on #566
i want to solve this issue @coderbabu10

[2020-01-26 15:18] nilshah98 commented on #551
Opened a PR at #570 .
Please review @brenoferreira

[2020-01-29 18:10] DantrazTrev commented on #519
Is this issue still workable?

[2020-01-30 00:05] kgodey commented on #519
Yes, this is still open.

[2020-01-30 15:45] Dhruvi16 commented on #485
Hey! Can I take this up?

[2020-01-30 16:38] brenoferreira commented on #485
Sure!

On Thu, Jan 30, 2020 at 12:45 PM Dhruvi Butti <notifications@github.com>
wrote:

--
Thank you

Breno Ferreira
Front-end Engineer
Creative Commons

[2020-01-30 19:01] coderbabu10 opened #572 "adding hover in Footer"
**We can add a hover effect for contact,privacy,policies and terms in footer as it will look more attractive and add change the border bottom color to white for "we'd love to hear from you" line .**

![Screenshot from 2020-01-31 00-31-04](https://user-images.githubusercontent.com/54955755/73481059-0af81100-43c1-11ea-8a69-5630dec1937b.png)

[2020-01-30 19:02] coderbabu10 commented on #572
@brenoferreira

[2020-02-02 15:35] AmanR28 commented on #565
Can I work on it?

[2020-02-03 07:37] nilshah98 opened #574 "Masonry layout width overflow issue on "Load More""
## Describe the bug
A clear and concise description of what the bug is.
- Initially when searching for something on `ccsearch` the masonry layout displays them perfectly.
- Even when removing and adding the filter sidebar doesn't break the layout
- But if I remove the sidebar, then click `Load More` option, it loads new images in the extra width as well
- And when I activate the filter sidebar aft

[2020-02-03 08:25] nilshah98 opened #575 "Fix sidebar location on scroll"
## Problem Description

- When scrolling through search results, there is a `go-to-top` button which will take you to top to change your query or anything.
- I suppose the major reason for implementing this, against implementing search bar top fixed is to create more space for the images to fit in
- But while scrolling down, the space to the left occupied by the sidebar still exists and it is comp

[2020-02-03 15:54] coderbabu10 commented on #565
@AmanR28 As it is under observation you can check out other issues with label as help wanted

[2020-02-04 13:48] sharmaaditya570191 commented on #487
Can I take this up?

[2020-02-04 15:13] AmanR28 commented on #232
I would like to contribute here.

[2020-02-06 15:28] Dhruvi16 commented on #485
Hey! I am aware of webpack and what it does. But I am a little confused about how to start with this issue. Could you please help me to start off?

[2020-02-08 05:33] soumyajit1729 commented on #572
May I wok on this issue?

[2020-02-08 13:24] Dhruvi16 commented on #263
Can I take this up?
Thank you.
Dhruvi.

[2020-02-08 18:45] skidi3 opened #577 "Feedback page is not responsive"
## Describe the bug
[Feedback page](https://ccsearch.creativecommons.org/feedback) of CC Search is not responsive.

## Expected behavior
It should be responsive for mobile devices i.e the google form should have a width of 100% & there should not be any gaps after components(example: right side of navbar & footer)

## Screenshots

![1](https://user-images.githubusercontent.com/43917504/74090371-9e

[2020-02-09 06:19] Blackcipher101 commented on #263
@dhruvkb Can I take this up

[2020-02-09 18:11] coderbabu10 commented on #572
as pr#573 sent for the same you can try other issues @soumyajit1729
Thank you

[2020-02-09 18:13] coderbabu10 opened #579 "Adding color in navbar"
Adding of color hovering in navbar as matching with the front page

[2020-02-09 18:29] coderbabu10 commented on #579
#580

[2020-02-09 18:30] coderbabu10 commented on #579
#580

[2020-02-10 12:49] makkoncept opened #581 "Search input not visible in the search bar"
## Describe the bug
When I type anything in the search bar present on the navigation header, it is not visible. Refer to the GIF below.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/about
2. Type something in the search bar
3. See error

## Gif
![ezgif com-crop (1)](https://user-images.githubusercontent.com/34679965/74150781-a9416d80-4c30-11ea-8b85-6

[2020-02-10 13:02] makkoncept opened #582 "spell error: "source" -> "license" in syntax guide"
## Screenshot

![drawisland](https://user-images.githubusercontent.com/34679965/74152084-8bc1d300-4c33-11ea-8b8d-ad1d8473b9be.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/search-help
2. See error

[2020-02-10 14:10] brenoferreira commented on #485
This might end up being a rewrite of the webpack config, because this is now related to #548, so it's better to work on that one while simplifying the current webpack configuration, which is currently a bit spread out in different files. If possible, it would be a lot better if we could end up with only: `webpack.base.js`, `webpack.dev.js` and ``webpack.prod.js`

[2020-02-10 14:20] #579 closed

[2020-02-10 16:04] #577 closed

[2020-02-10 16:44] Dhruvi16 commented on #485
If you suggest I can start working on #548 and while doing that I can take care of this.
Thank you.
Dhruvi.

[2020-02-10 19:02] coderbabu10 commented on #582
can i take this up?

[2020-02-10 19:02] coderbabu10 commented on #581
can i take this up?
@makkoncept

[2020-02-10 19:27] makkoncept commented on #581
@coderbabu10 you can ask @kgodey or @brenoferreira

[2020-02-10 19:28] coderbabu10 commented on #582
#583

[2020-02-10 21:20] annatuma commented on #244
I think it makes sense to make it easier for folks to submit bug reports. I've created a form and will update the description above. I'm less concerned with this going straight to Fresh Desk, which seems like a setting we can implement later.

[2020-02-10 21:32] annatuma commented on #244
Un-assigning @brenoferreira for the time being. This is a good task for an outside contributor.

[2020-02-11 04:46] skidi3 commented on #244
Hey! Can I work on this?

[2020-02-11 12:23] brenoferreira opened #585 "Integrate Vocabulary into CC Search"
Integrate https://github.com/creativecommons/vocabulary into CC Search.

This ticket is about integrating the following elements:

* Buttons
* Text fonts and sizes
* Form text inputs

[2020-02-11 12:26] brenoferreira opened #586 "Replace Foundation grids with Vocabulary grids"
With #585, we're adopting a new component library in CC Search and initiating a process to remove Foundation CSS from CC Search. Today the biggest and most complex dependency CC Search has on Foundation CSS is with its grid system. Vocabulary should provide a similar grid and CC Search should adopt it so we can remove Foundation from CC Search list of dependencies and from the built CSS bundle.

[2020-02-11 17:50] coderbabu10 commented on #581
can i take this up @brenoferreira

[2020-02-11 18:41] kgodey commented on #244
@skidi3 go ahead

[2020-02-12 16:03] coderbabu10 commented on #572
@brenoferreira please look for this issue sir.

[2020-02-12 16:50] brenoferreira commented on #572
The footer is getting a small redesign and we're not making any changes to it at the moment.

[2020-02-12 16:50] #572 closed

[2020-02-12 18:22] makkoncept opened #590 "Share on Pinterest is broken"
## Describe the bug
"Sorry, this image is broken. Please pick a different image" is the message shown when trying to share an image on Pinterest from CC Search.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/photos/7e5b0a9e-47c9-4a0e-829e-915542010c19
2. Under the share tab, click on the pinterest icon.
4. See error

## Screenshots
![Screenshot from 2

[2020-02-13 13:51] brenoferreira commented on #487
This will be part of our Google Summer of Code project, so we aren't working on this at the moment. If you want to participate in the program, you're welcome to submit a project proposal

[2020-02-13 16:51] coderbabu10 commented on #590
can i work on this? @brenoferreira

[2020-02-13 17:11] hemanth-hk opened #591 "v-if and v-for on the same node"
In `FilterChecklist.vue` component the `v-if` and `v-for` are present on the same node, whenever the code runs it checks the condition for every iteration of the loop which can become a performance issue later on.

### Screenshots
![v-if-for](https://user-images.githubusercontent.com/43946715/74459735-d2bcfc00-4eb1-11ea-9d8a-3d59acabae45.png)

[2020-02-13 17:17] hemanth-hk commented on #591
Enclosing the `v-for` div with a `template` tag and evaluating the `v-if` there will do...

Please assign this to me and I will do the above solution

[2020-02-13 21:11] annatuma commented on #575
@nilshah98 feel free to take this up. We've discussed with @brenoferreira and @panchovm and it makes sense to have the fixed search bar at the top, and fixed filters on the left. We will be making some changes to the styles of those in future sprints, but making them fixed will remain part of the design.

[2020-02-14 04:14] nilshah98 commented on #575
Will put in a PR for this in the coming week.
Thanks @annatuma

[2020-02-14 10:35] Alucard17 commented on #519
@kgodey Can I work on this issue

[2020-02-14 10:57] Alucard17 commented on #519
@kgodey  Hi facebook social share fetches description from sites og:description meta tag of the webpage

[2020-02-14 14:38] brenoferreira opened #592 "Refactor ApiService to enable multiple baseURLs"
After reviewing #570 it was discovered that the analytics API isn't in the same URL scheme as the image search API.

The image search API is in `api/v1/images`
The analytics API is in `api/analytics`.

But the API client [sets a global base URL for all requests](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/api/ApiService.js#L13), so if the base URL is `api/v1/`, we can't

[2020-02-14 17:00] annatuma commented on #553
Requires tests in production. Assigning to @brenoferreira

[2020-02-14 20:41] kgodey commented on #591
@hemanth-hk go ahead and work on it

[2020-02-15 13:34] hemanth-hk commented on #591
pull-request #593 is sent

[2020-02-15 15:20] #557 closed

[2020-02-15 15:38] coderbabu10 commented on #484
can i take this up? @brenoferreira

[2020-02-16 09:01] nilshah98 commented on #575
Hey, fixed siderbar and searchbar has been implemented and referenced in PR #596

This might be out of line, but I have a few suggestions-
- To omit a fixed searchbar up top, as we already a `back-to-top` button.
- Also, the fixed search bar at the top just uses a lot of space, which can be rather used to display more of the images.
- Whereas an alternative is to remove the `back-to-top` button si

[2020-02-17 12:31] #591 closed

[2020-02-17 13:15] #575 closed

[2020-02-17 13:59] brenoferreira opened #597 "Update providers to sources"
Rename the property names related to `provider` in the `/v1/sources` response handling and in any component code that references these stored values, according to the specified changes in https://github.com/creativecommons/cccatalog-api/issues/421.

To keep consistency across the codebase, we'll rename all references to `providers` to `sources`

[2020-02-17 14:01] brenoferreira commented on #582
This was fixed in #584

[2020-02-17 14:01] #582 closed

[2020-02-17 14:02] brenoferreira commented on #581
Thanks for spotting this, but this problem is already fixed in #589

[2020-02-17 14:02] #581 closed

[2020-02-17 14:04] brenoferreira commented on #566
@coderbabu10 Can you post a GIF or screenshot showing this problem? It's hard to know what exactly is wrong with the description provided here

[2020-02-17 14:57] #551 closed

[2020-02-17 15:44] coderbabu10 commented on #597
can i take this up? @brenoferreira

[2020-02-17 16:14] brenoferreira commented on #565
Thanks for the suggestion, but after evaluating, we decided that the feedback page doesn't need this button, as the user won't need to scroll up that much.

[2020-02-17 16:14] #565 closed

[2020-02-17 16:15] brenoferreira commented on #560
We can remove it from the docs.

[2020-02-17 16:17] brenoferreira commented on #482
This is done, we're using https://github.com/creativecommons/vocabulary

[2020-02-17 16:17] #482 closed

[2020-02-17 16:34] aryamanpuri commented on #560
@brenoferreira should I make pr for this

[2020-02-17 16:54] nilshah98 commented on #574
I would like to take this up @brenoferreira.

[2020-02-18 13:50] #489 closed

[2020-02-18 14:14] hemanth-hk opened #599 "Using pa11y to make accessibility changes"
### Tool
Recently I found this tool https://pa11y.org/ which checks the accessibility of a site and works in the localhost too. This would be very useful in making the site more accessible

### Idea
I'm currently working on a small script which will go through the routes and generate individual txt files for the errors in them which we can refer later

### Screenshots
![pa11y-example](https://user

[2020-02-18 14:40] brenoferreira opened #600 "Fix sidebar background color"
#596 introduced a small bug in the sidebar color (screenshot below)

<img width="349" alt="Screen Shot 2020-02-18 at 11 39 54" src="https://user-images.githubusercontent.com/707019/74745934-63456480-5243-11ea-9d57-144df3aa81e4.png">

The gray area doesn't go all the way to the bottom, and there's a white area below the filters. It should all be the same light tone of gray

[2020-02-18 14:46] #600 closed

[2020-02-18 14:46] akmadian commented on #599
I think using pa11y is a good idea, it seems like it could be integrated with some CI workflow(s) and will help catch little (and big) things that would otherwise be missed.

[2020-02-18 15:12] hemanth-hk commented on #599
I generated the data
https://docs.google.com/spreadsheets/d/10Z89p1-0-x0RXVJX5XMJikEiGW8abJ33Tmqbk0OicBU/edit?usp=sharing

[2020-02-18 15:44] MagicShow1999 opened #602 "Error when I try to run server.js on local machine"
## Erro message:
[ERR_REQUIRE_ESM]: Must use import to load ES Module
## To Reproduce
Steps to reproduce the behavior:
1. Go to project directory
2. Run npm run server
3. See error

## Screenshots
<img width="510" alt="Screen Shot 2020-02-18 at 10 41 49 AM" src="https://user-images.githubusercontent.com/40450775/74751453-473dc500-523b-11ea-9ded-530e8e429614.png">

## Desktop (please complete the f

[2020-02-18 15:45] MagicShow1999 commented on #602
Since I want to work on issue #590, I want to fix this A.S.A.P.

[2020-02-18 16:15] hemanth-hk commented on #599
Okay after some more googling
1) https://www.npmjs.com/package/eslint-plugin-vue-a11y (this can be integrated and used)
2) https://vue-a11y.com/ (not yet ready)

[2020-02-18 16:20] scheleon commented on #597
is someone working on this issue or may I start working @brenoferreira?

[2020-02-18 16:25] brenoferreira commented on #602
Did you run `npm run build` before `npm run server`?

[2020-02-18 17:00] scheleon commented on #363
Can I work on this issue, if anyone else isn't?

[2020-02-18 17:07] brenoferreira commented on #363
This issue will involve much more work on the https://github.com/creativecommons/cccatalog-api, the frontend alone can't do this, because the data is on the backend. I'll move this issue. But feel free to work on this

[2020-02-18 17:12] brenoferreira commented on #363
This is better implemented on the backend, not on the frontend (the frontend shouldn't contain a dictionary of words. it's too big to load on the client).
I'll move this to the [API repo](https://github.com/creativecommons/cccatalog-api).

Feel free to implement this, but beware that soon we'll be adding internationalization and multiple language support, so consider that in your implementation

[2020-02-18 17:39] MagicShow1999 commented on #602
Yeah and it still raises that error...

[2020-02-18 17:44] brenoferreira commented on #602
Can you try using NVM https://github.com/nvm-sh/nvm?

I'm running `v12.4.0` of node here and it works fine. Let me know if installing that version of node with nvm works for you

[2020-02-18 18:13] MagicShow1999 commented on #602
Thanks! I used nvm and set node version to 12.4.0 and it worked!

[2020-02-18 18:13] #602 closed

[2020-02-18 18:28] kgodey commented on #597
@coderbabu10 go ahead.

@scheleon I'm assigning this to @coderbabu10 since they commented on it first.

[2020-02-18 18:28] kgodey commented on #597
actually, never mind, https://github.com/creativecommons/cccatalog-api/issues/421 needs to be done before this can be done. marking as blocked and unassigned.

[2020-02-18 23:26] kgodey commented on #574
Go ahead @nilshah98

[2020-02-18 23:27] kgodey commented on #560
go ahead @aryamanpuri

[2020-02-18 23:36] kgodey commented on #484
This ticket needs further definition before it can be opened for community contribution.

[2020-02-19 13:10] #592 closed

[2020-02-19 15:53] kgodey commented on #590
go ahead @coderbabu10

[2020-02-19 17:23] #585 closed

[2020-02-19 22:46] kgodey commented on #519
@Alucard17 go ahead and work on it.

[2020-02-20 17:58] brenoferreira opened #605 "Fix sixpack url"
Because the sixpack api isn't on the `/v1/` endpoint, the requests are failing. We need to fix the use of the env variable to remove that `/v1/` part of the API_URL and allow correct communication with the sixpack api

[2020-02-20 18:31] #605 closed

[2020-02-20 18:36] AyanChoudhary commented on #566
@coderbabu10 @brenoferreira if this is not yet assigned can I take this?

[2020-02-21 06:11] coderbabu10 commented on #566
this issue is closed as pr #567  is merged

[2020-02-21 06:24] coderbabu10 commented on #590
okay @kgodey

[2020-02-21 10:48] hemanth-hk commented on #488
Can I take this?

### Method :
I'll use pa11y to see accessibility issues and once I get the CSS selector I'll manually edit them

[2020-02-21 11:11] abhisheknaiidu opened #607 "Sharing on Facebook is broken"
## Describe the bug
"Parameter 'href' should represent a valid URL" is the message shown when trying to share an image on Facebook from CC Search.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/photos/7e5b0a9e-47c9-4a0e-829e-915542010c19
2. Under the share tab, click on the Facebook icon.
3. See error

## Expected behavior
A clear and concise descript

[2020-02-21 11:27] hemanth-hk commented on #607
Please check again cause the same link is working fine for me in  both my browsers
### OS : Ubuntu 19.10

### Browser : Firefox (Version 73.0)
![share-on-fb-firefox](https://user-images.githubusercontent.com/43946715/75030449-2a6af100-54ca-11ea-9c2b-54b5bb09d6e6.png)
### Browser : Chrome (Version 80.0.3987.116)
![share-on-fb-google](https://user-images.githubusercontent.com/43946715/75030451-2dfe7

[2020-02-21 11:37] DantrazTrev commented on #560
Hey @aryamanpuri are you working on this?

[2020-02-21 11:45] aryamanpuri commented on #560
@DantrazTrev Yes I will do it today .

[2020-02-21 12:12] coderbabu10 commented on #483
can i take this up? @brenoferreira

[2020-02-21 13:15] Amankumar29 opened #609 "improvement of spacing"
### improper spacing of the text "over 10,000 images" in the search page.

![Screenshot from 2020-02-21 18-40-54](https://user-images.githubusercontent.com/54955755/75037428-28a92980-54da-11ea-8271-b4a03cceb326.png)

## Additional context
i would like to take this issue.

[2020-02-21 14:00] Atanda1 commented on #423
Hi guys, I'll like to work on this issue.

[2020-02-21 14:06] Atanda1 commented on #263
Hi, can I work on this?

[2020-02-21 14:06] brenoferreira commented on #483
Go ahead :)

On Fri, Feb 21, 2020 at 9:12 AM Aman Kumar <notifications@github.com> wrote:

--
Thank you

Breno Ferreira
Front-end Engineer
Creative Commons

[2020-02-21 14:08] brenoferreira commented on #263
We don't have that checkbox anymore, so I think this is no longer relevant.

Thanks for your interest in contributing. Feel free to look at other open issues and picking something that interests you

[2020-02-21 14:08] #263 closed

[2020-02-21 14:13] brenoferreira commented on #488
This will be part of our Google Summer of Code project, so we aren't working on this at the moment. If you want to participate in the program, you're welcome to submit a project proposal

[2020-02-21 14:14] hemanth-hk commented on #488
Okay

[2020-02-21 14:17] brenoferreira commented on #488
This might be useful when work starts on this https://github.com/creativecommons/cccatalog-frontend/issues/599#issuecomment-587508463

[2020-02-21 14:48] coderbabu10 commented on #609
@brenoferreira

[2020-02-21 14:51] hemanth-hk opened #610 "Two scrollbars on feedback page"
## Problem Description
The iframe in the feedback page comes with scrollbar and the web-page normally has a scrollbar which is a little inconvenient for scrolling as the smaller one stops scrolling for a while

## Solution Description
Add an overflow: hidden to iframe or say "scrolling": "no"

## ScreenShots
![scrollbar](https://user-images.githubusercontent.com/43946715/75044237-4cbf3780-54e7-11e

[2020-02-21 15:02] brenoferreira commented on #609
Go ahead

[2020-02-21 18:18] akmadian commented on #610
@brenoferreira think we should wait to start on this until #588 is merged?

@hemanth-hk, `overflow: hidden` and `scrolling=no` would both cut off part of the form and make it impossible to access the cut off content AFAIK. I think `overflow: visible` would be much better.

[2020-02-21 18:25] hemanth-hk commented on #610
This is the preview after I put scrolling = "no" and I don't think there is something cut off here

![preview-after-no](https://user-images.githubusercontent.com/43946715/75060696-4fc92080-5505-11ea-84b6-aadc780ac5ad.png)

[2020-02-21 18:42] Spring-dot commented on #254
I would like to work on this issue (outreachy applicant).

[2020-02-21 19:20] brenoferreira commented on #254
This is already done. Please feel free to look at our other issues to find something that interests you

[2020-02-21 19:20] #254 closed

[2020-02-21 19:21] Spring-dot commented on #254
ok!

[2020-02-21 19:26] brenoferreira commented on #610
@akmadian I think that makes sense. This page could change with the work being done there

[2020-02-21 19:28] #566 closed

[2020-02-21 19:41] AyanChoudhary commented on #610
We can just make the scrollbar hidden by using
::-webkit-scrollbar {
  display: none;
}

[2020-02-21 19:41] AyanChoudhary commented on #610
Should I do this?

[2020-02-21 19:50] AyanChoudhary commented on #543
can I take this issue?

[2020-02-21 20:00] akmadian commented on #610
@AyanChoudhary hiding the scroll bar without eliminating the scroll behavior would likely be confusing for the user. I'll let @hemanth-hk take it once it's ready to be done since they opened the issue and indicated that they would like to work on it.

[2020-02-21 20:00] hemanth-hk commented on #610
@AyanChoudhary just finish the layout issue cause changing scrollbars may not be a big deal, once that pr is merged we can use this issue to change the scrollbars if there is any necessity :)

[2020-02-21 20:26] kgodey commented on #543
This issue is not marked "help wanted" and is not suitable for community contribution (and the description is a little out of date as well, we no longer use Zeplin).

[2020-02-21 20:30] kgodey commented on #423
@Atanda1 I'm not sure if this issue is still relevant given that the design has changed, but if you can reproduce it, feel free to work on it.

[2020-02-21 20:30] kgodey commented on #423
Please post here if you are working on it.

[2020-02-21 20:38] Atanda1 commented on #423
Okay, but would it be merged officially, because it'll help with my GSoC
application.

On Feb 21, 2020 21:30, "Kriti Godey" <notifications@github.com> wrote:

[2020-02-21 20:40] kgodey commented on #423
@Atanda1 we'll evaluate any code you work on, whether it's merged or not. I recommend first checking if you can reproduce this issue and posting here if you're able to reproduce it.

[2020-02-21 21:14] hedonhermdev commented on #607
Yep, can confirm. Is working in Safari, Chrome and Firefox on my machine.

[2020-02-21 21:16] nilshah98 commented on #574
In the new masonry layout this issue is resolved.
It actually looks pretty good and slick with the new `Vocabulary` components, great work!

**Addendum:**
- Worked on this issue before the new `Vocabulary` components were added.
- Realised that [`vue-masonry`](https://github.com/shershen08/vue-masonry) was bound to it's parent container width, and even if that container width changed, the masonry-

[2020-02-22 03:08] DantrazTrev commented on #519
Hey @Alucard17 are you still working on it?

[2020-02-22 10:03] Atanda1 commented on #423
Okay, I'll start working on it.

[2020-02-22 16:59] DantrazTrev commented on #519
Hey @kgodey can i take this up
?

[2020-02-22 17:15] DantrazTrev commented on #440
Hey @kgodey I would like to work on this

[2020-02-22 17:53] DantrazTrev commented on #590
Can I take this issue @makkoncept ?

[2020-02-22 18:26] DantrazTrev commented on #545
Hi @brenoferreira I would like to work on this

[2020-02-22 18:29] hemanth-hk opened #614 "Image below the source is not displayed"
## Describe the bug
The image below the `SOURCE` is not displayed

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'cc search or build it locally'
2. Search for anything ex: "cats"
3. Click on any images and then click on the `info` tab
4. Below the source, you can see that the cursor turns to `pointer` in white space

## Expected behavior
An image of the source should be present

## Scr

[2020-02-22 18:41] coderbabu10 commented on #590
@DantrazTrev i am working on this issue you can find other issues which are open
Thank you

[2020-02-22 18:43] DantrazTrev opened #616 "Image search from image description won't work with return key"
## Describe the bug
When we search and open an image details , and use the top search widget to search pressing the return key to search only places the text in search bar and returns to the search section

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://search.creativecommons.org/search?license=&license_type=&categories=&extension=&aspect_ratio=&size=&source=&q=avril&searchBy='

[2020-02-22 18:51] DantrazTrev commented on #616
@kgodey

[2020-02-22 20:32] madewithkode commented on #607
If this issue has been confirmed to be working fine now, it'd be nice to close it.

[2020-02-23 07:18] Aybee5 commented on #607
Links works perfectly for me.
**OS: UBUNTU 18.04**
**1. Browser: Chrome(Version 79.0.3945.130)**
![Screenshot from 2020-02-23 08-08-48](https://user-images.githubusercontent.com/42099896/75105528-b1c47b80-5614-11ea-88cb-ad871ef34b85.png)
**2. Browser: Firefox(Version 61.0.1)**
![Screenshot from 2020-02-23 08-12-30](https://user-images.githubusercontent.com/42099896/75105553-09fb7d80-5615-11ea-931a

[2020-02-23 11:34] Geqwe commented on #487
I'm interested in participating in GSoC and if I am selected, do this specific project. Except for applying in the proposal process what do you propose doing until then? (Read all guidelines in the ideas pages about accessibility,  vue-i18n, etc and I am experienced in Vue Js) Thanks in advance.

[2020-02-23 12:16] Dhruvi16 opened #618 "Develop a guide that improves accessibility while development itself."
## Problem Description

A common accessibility myth is that accessibility is an expensive "added extra" to implement on a project. If however, we consider accessibility from the start and parallelly of a project, the cost of making most content accessible should be fairly minimal. So, to keep the development in favor of accessibility there should be a guide that tells the developer the importance

[2020-02-23 12:16] Dhruvi16 commented on #618
I am willing to take this up.
Thank you!

[2020-02-23 12:31] Dhruvi16 commented on #616
It works for -
OS: Linux - Ubuntu 16.04
Browser Chrome(79.0.3945.130) and Firefox(72.0.2)

[2020-02-23 14:27] Dhruvi16 commented on #544
Hey! Can I take this up?
Thank you.

[2020-02-23 17:29] AyanChoudhary commented on #614
One of my PRs is waiting for review. So meanwhile can I take this up?

[2020-02-23 17:35] hemanth-hk commented on #614
@AyanChoudhary I wanted to work on this, just waiting for the mentor's review.

[2020-02-23 17:37] AyanChoudhary commented on #616
This issue exists and I am willing to work on this. Can I take this up?

[2020-02-23 17:54] AyanChoudhary commented on #373
Is this issue workable? if so I would like to start working on this.

[2020-02-23 18:03] AyanChoudhary commented on #232
I would like to write the tests for client side pages:BrowsePage, Collectionbrowsepage and photoDetailPage

[2020-02-23 20:20] akmadian commented on #614
@hemanth-hk go ahead and work on this :)

[2020-02-23 20:25] akmadian commented on #616
I can reproduce this on
OS: Windows 10 Pro 1903
Browser: Chrome 79

@DantrazTrev go ahead and work on this

[2020-02-23 20:28] akmadian commented on #618
There are a number of guides elsewhere, and the (possible) introduction of pa11y (see #599), would help us maintain accessibility standards. Personally, I don't think this is necessary, but I'm interested in what @brenoferreira thinks.

[2020-02-23 20:31] akmadian commented on #544
@Dhruvi16 I would assume that since Breno is assigned to this issue, he is actively working on it. However, the assignment does seem to be pretty old.

Pending approval from @annatuma, you may work on it, but please wait for Anna's approval before starting.

[2020-02-23 20:33] akmadian commented on #487
@Geqwe Please see [CC's internship applicant guide](https://opensource.creativecommons.org/internships/applicant-guide/)

[2020-02-23 21:19] nocodes commented on #485
Is this issue still open?

[2020-02-23 21:35] akandeBolaji commented on #125
Can i work on this?

[2020-02-24 03:58] akmadian commented on #125
@akandeBolaji Sure! Please remember to investigate and document the issues here before working on fixes :)

[2020-02-24 05:23] coderbabu10 opened #619 "Adding of the Searchbar"
### Their is no search bar in the navbar of browse by collection page as like about and feedback pages having, i think it would be easy for the users to directly search the images.

### Screenshots:
**the browse by collection page**

![Screenshot from 2020-02-24 10-49-31](https://user-images.githubusercontent.com/54955755/75130276-7187fa80-56f3-11ea-85da-21ee7b0417db.png)

**the about page**

![Sc

[2020-02-24 05:23] coderbabu10 commented on #619
what are your views? @brenoferreira @kgodey @akmadian @annatuma

[2020-02-24 07:11] ankurshr01 opened #620 "Adding section to remove filters."
## Problem Description

When we apply filter, while searching, it should show, the filters which are applied on the top.
Because if we have to remove them we have to go through all the list of filters!

![Screenshot (169)](https://user-images.githubusercontent.com/43695296/75133884-6f796800-5702-11ea-9058-4f973728a304.png)
## Solution Description

We could show the filters which are applied with t

[2020-02-24 07:20] ankurshr01 opened #622 "Bug in the filter section."
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
when you click on the down arrow to expand the filter option under the filter section, The arrow should change its direction upward, but it doesn't.

## Expected behavior

After clicking on the arrow, the arrow should change to the upward direction, to show that particular filt

[2020-02-24 07:21] hemanth-hk commented on #614
Yup, Done

[2020-02-24 07:27] hemanth-hk commented on #622
It is not inverting because it's an image

[2020-02-24 07:29] ankurshr01 commented on #622
We can change it to add that feature .

[2020-02-24 07:40] Dhruvi16 commented on #618
Yeah! Makes sense. Let's see what @brenoferreira  thinks. Thank you for the response though!

[2020-02-24 07:53] AyanChoudhary commented on #232
@kgodey

[2020-02-24 08:08] Dhruvi16 commented on #599
Hey! I was researching about the improvements we can do in our existing Continuous Integration that is circleci. So, I found this - https://circleci.com/docs/2.0/orb-intro/. CircleCI orbs are shareable packages of configuration elements, including jobs, commands, and executors. CircleCI provides certified orbs, along with 3rd-party orbs authored by CircleCI partners.

And for I found pa11y orb too

[2020-02-24 08:13] Dhruvi16 commented on #544
Sure I will wait for @annatuma's approval. Up till then, I will take up something else.
Thank you!

[2020-02-24 08:33] hemanth-hk commented on #599
I feel integrating `pa11y` with continuous workflow may not be a good idea. Cause there may be cases where getting up in running is given more priority than accessibility. So I think that integrating as a `dev-dependency` like `es-lint` would be good which will warn us for accessibility but the warning can be taken down by a specific method.

Let's see what others think about it :)

[2020-02-24 08:34] Dhruvi16 opened #623 "Alignment of footer in mobile version."
## Describe the bug
A clear and concise description of what the bug is.
When browsing the mobile version of the website. Footer elements seem to have an uneven margin.

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://search.creativecommons.org/' on your mobile phone or switch to responsive mode in the browser itself
2. Scroll down to 'footer'
4. See error

## Expected behavior
A

[2020-02-24 08:34] Dhruvi16 commented on #623
I am willing to take this up!
Thank you.

[2020-02-24 08:47] DantrazTrev commented on #607
@abhisheknaiidu The problem is that your redirect to sharer.php has your localhost as its href param . It is not such a case in the live version. I think it's an issue with url redirection on your local build.

[2020-02-24 08:48] DantrazTrev commented on #560
Is this issue still open ?

[2020-02-24 09:18] AyanChoudhary commented on #373
@janeatcc @kgodey @annatuma @amazzoccone ^

[2020-02-24 09:20] AyanChoudhary commented on #548
Is this issue open to be worked on? if so I want to work on it. @brenoferreira @kgodey

[2020-02-24 11:05] #607 closed

[2020-02-24 11:43] Atanda1 commented on #423
On my windows machine, there's a ton of eslint errors when I run "npm run dev" about expecting line breaks LF instead of CRLF. I've added *.js text eol=lf to my gitattributes file, according to eslint but its not still going through

[2020-02-24 11:44] Atanda1 commented on #423
http://eslint.org/docs/rules/linebreak-style

Actually linebreak errors

[2020-02-24 11:45] hemanth-hk opened #624 "Images on the results-page lack source image"
## Describe the bug
The source image on the image in search results is not displayed

## To Reproduce
Steps to reproduce the behavior:

1. Go to 'cc search or build it locally'
2. Search for anything ex: "icecream"
3. Hover on the image and you will find that the source image is not displayed

## Expected behavior
The image should be present

## Screenshots
![no-img-on-source-search](https://user-

[2020-02-24 12:53] Vineet-Sharma29 opened #625 "Info text has no padding in horizontal direction in mobile view"
## Describe the bug
In mobile view, when select info view of an image, then in mobile view it don't have padding

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'search on results'
2. Click on 'any result'
3. Scroll down to 'to info tab'
4. See error

## Expected behavior
Info text should have some padding in horizontal direction

## Screenshots
![Screenshot_2020-02-24 CC Search](https:

[2020-02-24 13:19] genedy377 commented on #232
It's my pleasure to write the test part of the component : SearchGrid ,SearchGridCell , SearchGridForm,SearchGridFilter
thanks in advance

[2020-02-24 14:46] DantrazTrev commented on #597
Hi @kgodey I've solved creativecommons/cccatalog-api#421 . I think now this issue is workable can I start working  ?

[2020-02-24 15:26] coderbabu10 opened #629 "alignment error in mobile view"
### their is padding error in mobile view for the search page "back to search results".

### screenshot:

![Screenshot from 2020-02-24 20-52-09](https://user-images.githubusercontent.com/54955755/75165208-0b799280-5748-11ea-9ad4-edc6269358b8.png)

## Additional context
I would like to take this issue

[2020-02-24 15:44] kgodey commented on #232
go ahead @genedy377 @AyanChoudhary

[2020-02-24 15:47] kgodey commented on #560
This is done.

@coderbabu10 please put "Fixes #<issue-number>" in future PR descriptions so that linked issues will automatically close.

[2020-02-24 15:47] #560 closed

[2020-02-24 15:48] kgodey commented on #440
This is not yet ready for work.

[2020-02-24 16:34] coderbabu10 opened #630 "Adding features in the browse by collection page"
### Adding hover for the elements under the browse collection of browse by collection page,adding some information under the browse collections which will help the user to know more about it and underlining the headlines of the page.

### Screenshots:

![Screenshot from 2020-02-24 22-00-01](https://user-images.githubusercontent.com/54955755/75171431-9dd26400-5751-11ea-90ce-56b846c1a2f6.png)

### A

[2020-02-24 16:34] coderbabu10 commented on #630
@brenoferreira

[2020-02-24 17:38] Mahelaa opened #631 "Adding Content Placeholders (SVG Loading skeletons )"
## Problem Description
A new design trend that increases the ux flow is to add loading skeletons when content is being fetched via an api. Example down below

![image](https://user-images.githubusercontent.com/25326308/75176338-f7d72780-5759-11ea-86fa-538d1f79686f.png)

This can benefit users with slower internet as well

## Solution Description
Use SVG skeletons to display when loading state is p

[2020-02-24 18:20] Vineet-Sharma29 opened #632 "overflow in x-direction in picture detail screen in mobile view"
## Describe the bug

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'results'
2. Click on 'image'
3. Scroll horizontally to 'left'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
![Screenshot from 2020-02-24 23-46-54](https://user-images.githubusercontent.com/35156299/75179608-73d46e00-5760-11ea-83fe-6232b4c0dacd.png)

I

[2020-02-24 19:00] kgodey commented on #597
@DantrazTrev I think the API needs to be deployed to production first. @aldenstpage please post here when done.

[2020-02-24 19:01] kgodey commented on #423
@akmadian @brenoferreira

[2020-02-24 19:04] akmadian commented on #624
Go ahead and work on this :) @hemanth-hk

[2020-02-24 19:07] kgodey commented on #631
all design changes need to be approved by @panchovm or @annatuma.

[2020-02-24 19:10] akmadian commented on #620
I like this idea, but I think it will need approval from @panchovm and @annatuma. Pending their approval, you can go ahead and work on this.

[2020-02-24 19:12] akmadian commented on #622
Since this is very standard functionality for collapsibles, I'll think of this as a bug instead of a proposal for a design change. Go ahead and work on this @ankurshr01!

[2020-02-24 19:15] akmadian commented on #599
@hemanth-hk Yep, by CI integration I meant that it could be used as a linter for accessibility related things, similar to, like you said, eslint :)

[2020-02-24 19:26] hemanth-hk commented on #624
I am done with the changes but since my last `PR` is not merged yet, creating a new `PR` will have merge-conflicts (cause this one will include commits from that). So once that `PR` is merged I will send this `PR`

[2020-02-24 19:30] kgodey commented on #624
@hemanth-hk you can always create a new branch off of current master for this issue

[2020-02-24 19:32] annatuma commented on #631
@Mahelaa this is a good suggestion, thank you for making it. I'm assigning the ticket to you to move this forward, and @brenoferreira or @akmadian will be on point for code review when the time comes.

[2020-02-24 19:33] akmadian commented on #623
This may not be relevant because the footer component with the issue is custom, and search is transitioning over to vocabulary, which will standardize the footer component. I'm not sure what the time frame on this is though, so pending approval from @brenoferreira, you may go ahead :)

[2020-02-24 19:48] ritiktaneja opened #633 "Varying margins of components at /photos/:id path in the mobile version"
## Describe the bug
The margins and padding at the /photos/:id path are non-uniform with text moving outside of page margins

## To Reproduce
Steps to reproduce the behavior:
1. Click on any image fetched from the search results
2. Scroll down to the photo detail section

## Screenshots
![image](https://user-images.githubusercontent.com/53127958/75185709-8fde0c80-576c-11ea-8aae-6f47f03232c0.png)

[2020-02-24 20:17] hemanth-hk commented on #624
Yup, Done

[2020-02-24 20:29] kgodey commented on #623
Thanks for finding this bug @Dhruvi16, but I don't think it's worth fixing at the moment. @brenoferreira is working on the new footer this sprint, I think this would be quickly overwritten if implemented.

[2020-02-24 21:05] kgodey commented on #548
This was being worked on as part of https://github.com/creativecommons/cccatalog-frontend/issues/485. @Dhruvi16, I see your PR is closed, are you still working on this?

[2020-02-24 21:12] kgodey commented on #574
Thanks @nilshah98! Should we close this?

[2020-02-24 21:14] kgodey commented on #373
We plan to do this as part of a GSoC/Outreachy project, so we aren't planning on working on it until the official internship period.

[2020-02-25 03:39] Dhruvi16 commented on #548
Hey! Apologies for the delay. But I closed this PR due to I had a lot of conflicts. Next, I am working on it but I am stuck with errors so I am trying to figure out how to solve them but that might take a little time. Is that alright? Or do I need to drop the issue?
Thanks
Dhruvi

[2020-02-25 03:40] Dhruvi16 commented on #623
Oh! If that is the case, working on this will be irrelevant for the moment. Thanks for the response @akmadian @kgodey.

[2020-02-25 03:44] Dhruvi16 commented on #599
Oh makes sense! Adding it as a `dev-dependency` is a lot better idea rather than adding it in CI.

[2020-02-25 04:00] coderbabu10 opened #636 "no search guide option in navbar while full screen"
## There is no search guide option in the navbar while full screen but while changing the size their is option for search guide.

## screenshot:
### while full screen:
![Screenshot from 2020-02-25 09-18-34](https://user-images.githubusercontent.com/54955755/75213715-013fae80-57b1-11ea-95a2-9c563659b4fb.png)

### In mobile view:
![Screenshot from 2020-02-25 09-18-23](https://user-images.githubuserc

[2020-02-25 04:05] coderbabu10 commented on #636
@brenoferreira

[2020-02-25 04:52] akmadian commented on #636
This is because the "See our Search Syntax Guide here" link in the bottom right serves the same purpose, and is hidden on mobile, so the link in the header replaces it.

Also, please refrain from pinging Breno when opening new issues or pull requests. All of us mentors keep an eye on our repos. Please only ping when you haven't heard anything for three business days.

[2020-02-25 05:20] coderbabu10 commented on #636
oh sorry sir i will take care for the same
@akmadian

[2020-02-25 05:20] #636 closed

[2020-02-25 05:31] nilshah98 commented on #574
Yep, we can close this.

[2020-02-25 05:32] #574 closed

[2020-02-25 05:37] akmadian commented on #599
Well I meant that it _would_ be used in the CI process, similar to running eslint. Just as you might have `npm run lint` in a CI pipeline, you could also have `npm run lint:accessibility` (or something like this).

[2020-02-25 05:39] akmadian commented on #623
I'm closing this issue because it doesn't affect functionality, and a fix would be quickly overwritten.

[2020-02-25 05:39] #623 closed

[2020-02-25 06:19] techievivek opened #637 "Garbage autocomplete value in search input field can be turned off."
## Problem Description
When you click in search input-field a list of possible autocomplete values are shown by the browser, which may or may not be related to CC search website.
![autocomplete in cc search](https://user-images.githubusercontent.com/35863227/75220063-91d3ba00-57c4-11ea-88a0-7733add69894.png)
This is the default behaviour of the browser if the input field's **autocomplete** attribu

[2020-02-25 08:08] abhisheknaiidu opened #638 "Footer should be improved in About Page."
## Describe the bug
The footer of the about page looks clumspy, It should be sticked to the bottom to the About page, for better User Inferface and Experience.

## To Reproduce
Steps to reproduce the behavior:
1. Go to About Page of Creative Commons Site
2. Scroll down.
3. See error

## Expected behavior
Footer should be sticked to the bottom of the page.

## Screenshots
![cc2](https://user-images

[2020-02-25 08:23] abhisheknaiidu commented on #638
*It (footer) should be also improved in Browser by Collection Page also

[2020-02-25 10:51] Atanda1 commented on #423
I'm yet to get a response

[2020-02-25 13:12] Shobhan99 commented on #590
Hey can I work on this issue?

[2020-02-25 14:56] coderbabu10 commented on #590
hey @Shobhan99 right now i am working on this issue you can find other issue which ar open and having tag with help wanted

[2020-02-25 15:50] aldenstpage commented on #597
The change is live in dev. Since this is a breaking API change, we'll need to coordinate and do the production release of the API and the frontend simultaneously.

[2020-02-25 17:11] coderbabu10 opened #643 "searching error"
## when we search for an image and then select an image then if we search other images then it shows the previous result not the desired result

## To Reproduce
Steps to reproduce the behavior:
1. select an image:
![Screenshot from 2020-02-25 21-56-53](https://user-images.githubusercontent.com/54955755/75269633-3be03000-581f-11ea-8558-b9d49e31bc3e.png)

2. now search for the other images:
![Screen

[2020-02-25 17:14] kgodey commented on #548
@Dhruvi16 please work only on one issue at at time, if this is the one you're working on, feel free to go ahead. if not, I suggest dropping either this one or some of the others. It's up to you which one.

[2020-02-25 17:17] coderbabu10 opened #644 "same related images for all search"
## when you select any of the images you will get the same related search for all the images

## Screenshots
![Screenshot from 2020-02-25 22-47-01](https://user-images.githubusercontent.com/54955755/75270573-c9704f80-5820-11ea-89ff-9aa6504efcec.png)

## Additional context
i would like to take this issue.

[2020-02-25 18:25] hemanth-hk commented on #597
Anyone who is going to work on this issue, please check the changes in #634 and #621, cause they may create merge-conflicts

If people who commented above are busy then assign this to me I'll work on this

[2020-02-25 18:26] kgodey commented on #597
Since this wasn't officially assigned, I think it's okay for you to work on it @hemanth-hk.

[2020-02-25 18:27] Dhruvi16 commented on #548
I will drop it then and work on the other issue.
Thank you.

[2020-02-25 18:28] AyanChoudhary commented on #548
@kgodey If this is free, then I would like to work on this.

[2020-02-25 18:28] kgodey commented on #548
@AyanChoudhary go ahead.

[2020-02-25 18:29] kgodey commented on #548
@AyanChoudhary do you also want to work on https://github.com/creativecommons/cccatalog-frontend/issues/485 as part of this?

[2020-02-25 18:29] AyanChoudhary commented on #548
yes sure

[2020-02-25 18:30] kgodey commented on #548
okay, you'll need to comment on it before I can assign it to you.

[2020-02-25 18:30] DantrazTrev commented on #643
@coderbabu10 the issue already exists #616

[2020-02-25 18:30] AyanChoudhary commented on #485
I would like to work on this.

[2020-02-26 02:24] akmadian commented on #423
Maybe we could just explicitly disable the rule in eslintrc?

[2020-02-26 02:42] Atanda1 commented on #423
Please do.  I'll really appreciate.

On Feb 26, 2020 03:24, "Ari Madian" <notifications@github.com> wrote:

[2020-02-26 02:53] akmadian commented on #643
I'm closing this issue because it is a duplicate.

@coderbabu10, please check to see if someone else has reported an issue before you, and please be sure to give your issues more descriptive titles. "searching error" could mean anything from improper results being fetched, to a visual bug, to a 400 or 500 error.

[2020-02-26 02:53] #643 closed

[2020-02-26 02:59] akmadian commented on #644
Maybe I am misunderstanding exactly what you mean, this issue could definitely use some more detail. What are you searching for? Are the related images all the same for a given search term, or for all images, regardless of search term?

Either way, I cannot reproduce this. Images in the related images section for me are always related to the image I'm viewing, and I've verified this for multiple s

[2020-02-26 03:03] akmadian commented on #638
This footer is temporary, and will be overwritten once the footer component is ready in vocab. I'm closing this issue because it does not affect functionality, and would be quickly overwritten in the transition to vocab.

[2020-02-26 03:03] #638 closed

[2020-02-26 03:05] akmadian commented on #637
I'm unsure as to whether or not autocomplete is desired behavior. I'll ping @brenoferreira to get his thoughts on this, and mark this issue as `not ready for work` in the meantime.

[2020-02-26 03:07] akmadian commented on #423
@Atanda1 If you would like to create an issue and PR for this, I would be happy to assign you and approve the PR.

[2020-02-26 04:38] coderbabu10 commented on #644
whenever we search for any of the images it shows the same related images everytime no change can be seen in the related image it is not showing the expected behavior.
all the time it shows the same related images,regardless of search terms
OS: Ubuntu 18.04
Browser: Firefox 61.0.1
node: 8.10.0

[2020-02-26 04:39] Atanda1 commented on #423
So I should create a PR and issue for removing eslint from the project now.

On Feb 26, 2020 04:07, "Ari Madian" <notifications@github.com> wrote:

[2020-02-26 04:41] Atanda1 commented on #423
I'll be happy to do that.

On Feb 26, 2020 05:39, "Atanda David" <atandadave@gmail.com> wrote:

[2020-02-26 04:47] akmadian commented on #423
@Atanda1 No, we are definitely not removing eslint from the project entirely. I just meant adding a line to disable the `linebreak-style` rule in .eslintrc.js

[2020-02-26 04:49] Atanda1 commented on #423
Okay, I get you now. I'll do that.

On Feb 26, 2020 05:47, "Ari Madian" <notifications@github.com> wrote:

[2020-02-26 06:02] akmadian commented on #631
I'll take point on review :)

[2020-02-26 06:11] techievivek commented on #637
@akmadian Yeah sure and the main reason for this issue was at times it also shows URL, emails and other stuff that we have previously searched on some other website and get cached by browsers.
I will add a screenshot for the same in a while.

[2020-02-26 06:24] akmadian commented on #644
Yeah, that's along the lines of what I thought. I can't reproduce this behavior in dev or production environment so I'm gonna close this issue. If it happens to crop back up, or if someone can reproduce the behavior, I'll let you take point on the fix :)

[2020-02-26 06:24] #644 closed

[2020-02-26 08:42] Atanda1 opened #649 "Disabling the linebreak-style rule in .eslintrc.js"
## Description
On a windows machine, there's a ton of eslint errors when you run "npm run dev" about "expecting line breaks LF instead of CRLF". I've added
 *.js text eol=lf
to my gitattributes file, according to eslint documentation (https://eslint.org/docs/rules/linebreak-style) but its not still not working.

## To Reproduce
Steps to reproduce the behavior:
1. Fork the repo
2. Clone it on your

[2020-02-26 08:47] Atanda1 commented on #423
@akmadian so I should put this "image height" issue on hold for now.

[2020-02-26 09:53] akandeBolaji opened #650 "AutoFocus search input field on page load"
## Problem Description

I like it when i visit sites like google.com and i'm able to start typing into the search input immediately without having to tab my keyboard or move my cursor to the input field.

## Solution Description

I would like the  search field to be auto focused on page load to allow faster interactivity

## Alternatives

## Additional context

I would like to work on this issue

[2020-02-26 09:58] hemanth-hk commented on #649
I think `npm run lint -- --fix` this will fix it, but will modify many files so whenever you are doing a `git pull` do a `git stash` and then whenever you are committing for a pull request add only that particular file(s) don't do a `git add .`

Wait for some more answers better than mine and then proceed

[2020-02-26 11:32] Atanda1 commented on #423
@akmadian here is the issue https://github.com/creativecommons/cccatalog-frontend/issues/649

I've  requested a pull request already.

[2020-02-26 11:43] Atanda1 commented on #423
But on running `npm run dev` it compiles
![Screenshot (92)](https://user-images.githubusercontent.com/45256233/75341756-68cf2a00-5895-11ea-9036-17f69d8ea7f4.png)

And on the browser I get this
![Screenshot (93)](https://user-images.githubusercontent.com/45256233/75341878-9ddb7c80-5895-11ea-91b9-a6947be61646.png)

[2020-02-26 12:09] hemanth-hk commented on #423
Go to http://localhost:8443/

[2020-02-26 12:48] Atanda1 commented on #423
Thanks. It worked!!

On Feb 26, 2020 1:09 PM, "hemanth kumar" <notifications@github.com> wrote:

[2020-02-26 13:29] #597 closed

[2020-02-26 13:29] #614 closed

[2020-02-26 13:33] #624 closed

[2020-02-26 13:50] hemanth-hk commented on #614
@brenoferreira This issue is still present...Can I submit a new `PR`

[2020-02-26 14:06] hemanth-hk commented on #614
Now it's done :)

[2020-02-26 14:18] annatuma commented on #544
After discussing, we're going to keep this to staff only, because there are some complexities around this ticket tied to our work on Vocabulary, which is still under active development. It'll remain assigned to @brenoferreira

Thanks for your interest @Dhruvi16 - please continue to look at other tickets that are open to contribution.

[2020-02-26 16:56] hemanth-hk opened #653 "v-for and v-if on same node in LicenseIcons.vue"
### Description
The IMG tag has both v-if and v-for on the same node so eslint is giving an error

### Screenshot
![v-for-v-if-license](https://user-images.githubusercontent.com/43946715/75367398-46193180-58e6-11ea-81c8-ec950e10439c.png)

### Solution
we can add a template tag around, for the loop and the IMG will have to check only the condition

---
I would like to work on this

[2020-02-26 17:15] akandeBolaji commented on #125
@akmadian I just tested CC search on Chrome Version 49.0.2623.112 (64-bit) and it works well, attached are screenshots taken.

[2020-02-26 17:21] brenoferreira commented on #125
I don't see any screenshots, did you upload them @akandeBolaji ?

[2020-02-26 17:22] akandeBolaji commented on #125
![bandicam 2020-02-26 18-11-58-996](https://user-images.githubusercontent.com/35887799/75370121-ebbba900-58c4-11ea-854b-5566248f56f2.jpg)
![bandicam 2020-02-26 18-12-02-138](https://user-images.githubusercontent.com/35887799/75370128-ee1e0300-58c4-11ea-90d3-970268ab1d95.jpg)
![bandicam 2020-02-26 18-12-14-059](https://user-images.githubusercontent.com/35887799/75370134-ef4f3000-58c4-11ea-83aa-6b9c

[2020-02-26 17:27] Atanda1 commented on #423
@akmadian heres the pull request https://github.com/creativecommons/cccatalog-frontend/pull/654

[2020-02-26 17:30] DantrazTrev commented on #622
Hey @ankurshr01 are you working on this issue?

[2020-02-26 18:00] techievivek commented on #637
![Screenshot 2020-02-26 23:29:10](https://user-images.githubusercontent.com/35863227/75373205-d740d600-58ef-11ea-9063-7069f8bd877f.png)
@akmadian This one is what I was talking about.

[2020-02-26 18:02] brenoferreira commented on #637
The autocomplete feature is useful, specially if you're frequently searching for the same terms. We shouldn't remove it.

[2020-02-26 18:02] brenoferreira commented on #637
Thanks for the feedback

[2020-02-26 18:02] #637 closed

[2020-02-26 18:24] ankurshr01 commented on #622
Yes! @DantrazTrev

[2020-02-26 19:52] krysal commented on #653
It's perfectly fine to have both directives in the same tag, maybe you need to check your eslint config (or update?).

[2020-02-26 21:25] kgodey commented on #544
I added the label to all the other related issues too.

[2020-02-26 21:25] kgodey commented on #545
This is not open to the community. See @annatuma's comment on https://github.com/creativecommons/cccatalog-frontend/issues/544

[2020-02-26 21:45] akmadian commented on #125
Have you tried verifying that other functionality works? Things like filtering, copying attribution, image details displaying properly, social sharing, etc. Be thorough!

[2020-02-26 21:52] akmadian opened #655 "CONTRIBUTING.md does not explicitly say that PRs must target develop"
There is no explicit documentation in this repo that PRs must target the develop branch.

[2020-02-26 22:03] akmadian commented on #655
Only used the staff only label until I could figure out how to assign myself. Refined github was hiding the assignees menu for some reason :/

[2020-02-26 23:27] #655 closed

[2020-02-27 02:49] akmadian commented on #653
Thanks for catching this! Go ahead and work on it :)

[2020-02-27 05:15] Mahelaa commented on #631
Update:
I have implemented the ph for this and was ready to do a pr, but decided to add a bit more features like proper scaling + animating the ph as well

[2020-02-27 07:21] abhisheknaiidu commented on #616
@akmadian I have made certain changes and it worked fine for me, could you please once review it ?

[2020-02-27 07:25] abhisheknaiidu commented on #650
@akandeBolaji  I guess It's already exists on CC Search. Do check it once!

[2020-02-27 08:19] Dhruvi16 commented on #463
Is this available to work on? I would love to take it up.
Thank you.

[2020-02-27 08:21] Dhruvi16 commented on #315
I would like to take it up.
Thank you.

[2020-02-27 08:50] hemanth-hk commented on #653
Yup, Done

[2020-02-27 08:50] akandeBolaji commented on #650
No, It doesnt exist.
It has autofocus before the page loads completely but all search input value would be cleared and autofocus disabled once page loads completely.
I think i should file this seperately as a bug

[2020-02-27 09:30] akandeBolaji opened #659 "CC Search input value is reset to empty and autofocus disabled once page loads completely"
## Describe the bug
Once the cc search page loads completely, it resets the search input field and disables autofocus of this field which means any input to the search field before complete page load is cleared

## To Reproduce
Steps to reproduce the behavior:
1. Simulate a slow 3G network on your browser to delay the load time
2. Go to 'https://ccsearch.creativecommons.org/'
3. Immediately the se

[2020-02-27 18:53] coderbabu10 opened #662 "error on the search result page while refreshing."
## Describe the bug
when we search something and then we select an image then we get an option for "back to search result" but after refreshing it just disappears,i think it shouldn't happen as the user can face difficulties.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/54955755/75476264-51409000-59c0-11ea-9e56-49b6700341e4.gif)

## Expected behavior
The "back to search res

[2020-02-27 19:01] techievivek opened #663 "Source website logo overshadows search input field on scroll."
## Describe the bug
When we scroll, the source website logo overshadows the search input field. Thus creating difficulty in typing.
## To Reproduce
Steps to reproduce the behavior:
1. Scroll such that source website in any image is on top of input field.
2. Now try clicking on the search input field.
3. It may either redirect to source website.
4. Or may present there on top of the search field.

[2020-02-27 19:02] coderbabu10 opened #664 "Reloading error of the search results."
## Describe the bug
After the issue #662 (after refreshing) when you go back then you will see that there is no images , not as you expected to have your previous search and after refreshing then it shows the images again i think it is a big issue and can cause difficulties for the users.

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/54955755/75480231-e6df1e00-59c6-11ea-8

[2020-02-27 19:29] Shobhan99 commented on #659
Can i work on this issue?

[2020-02-27 19:30] brenoferreira commented on #662
This is the expected behaviour. When you refresh the page, the context of your previous search is lost, so we can't know what do to go back to. The `back to results` link is only visible when you navigate from the results page to the image details page.

But thanks for the feedback

[2020-02-27 19:31] #662 closed

[2020-02-27 19:46] coderbabu10 commented on #663
can i take this issue? @techievivek

[2020-02-27 19:55] techievivek commented on #663
@coderbabu10 Let's wait for the confirmation and once approved you can work on it.

[2020-02-27 20:31] DantrazTrev opened #665 "Image search from homepage won't update after a previous search"
## Describe the bug
When we search from the homepage, and then return to it to perform a new search then the old results are shown .It's an extension of #616
## To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://search.creativecommons.org/'
2.Search something
3. Return to home page
4.Search something else
5. You'll see the previous results with new query in search box

## Expected beh

[2020-02-27 20:33] DantrazTrev commented on #665
@akmadian

[2020-02-27 20:54] DantrazTrev commented on #665
@brenoferreira

[2020-02-27 20:56] akmadian commented on #665
@DantrazTrev please do not ping mentors or admins for review unless you have not heard back for three business days. We all keep an eye on our repos, and hances are that we’ve seen your message but have not gotten around to replying yet.

[2020-02-27 21:04] DantrazTrev commented on #665
Sorry

[2020-02-27 21:05] DantrazTrev opened #668 "Add autoload on search results"
## Problem Description
When the image results are shown , when the list ends we've to click on load more.

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/43457420/75486391-72aa7780-59d2-11ea-8b13-883b51ca8c76.gif)

## Solution Description

We can use an autoload when user reaches the end and then presses down key or force scrolled

[2020-02-27 21:44] akandeBolaji commented on #659
Hi @Shobhan99 , I already indicated I would love to work on the issue, just awaiting approval from any of the admin

[2020-02-27 23:09] akandeBolaji commented on #125
Just did that, I'm able to filter, copy, display details and share on chrome version 49.
I suggest this issue be closed as fixed since all main functionality works on the chrome version reported.
Any other issue would likely be multiplatform

[2020-02-28 07:17] coderbabu10 commented on #668
@DantrazTrev i don't think it is a better idea because the footer is not fixed and if we search for an image it will autoload around 10,000 images and it will be difficult for the user to go to footer
what do you think? @brenoferreira  @akmadian

[2020-02-28 08:36] coderbabu10 opened #672 "autofocus is 'ON' but not working in home page."
## Describe the bug
as given that the autofocus is on but it is not working in cc search home page.
when you try to to write something and search it does not happen automatically but first you have to click on the search.

![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/54955755/75524200-728e9400-5a33-11ea-9dd1-0a2489529071.gif)

## Additional context
I would like to take th

[2020-02-28 08:43] akandeBolaji commented on #672
I already reported and created a pull request for this issue #659
I think you should close it as it a duplicate

[2020-02-28 10:03] akandeBolaji opened #673 "Search results not showing when page load is by history"
## Describe the bug
The search query results do not show when a search query page is visited via the browser history

## To Reproduce
1. Go to https://ccsearch.creativecommons.org/
2. Type into the search box
3. Click the search button
4. Go back to the home page via the browser history button
5. Go back to the search query page via the browser history button
6. You would notice that no search res

[2020-02-28 12:08] #672 closed

[2020-02-28 12:09] brenoferreira commented on #553
This is fixed in #571

[2020-02-28 12:09] #553 closed

[2020-02-28 13:58] ankurshr01 opened #674 "Responsive styling issues."
When we search an image,
INITIAL:-

![Screenshot (177)](https://user-images.githubusercontent.com/43695296/75554314-1857f800-5a60-11ea-925d-5559cf0bf28f.png)

![Screenshot (176)](https://user-images.githubusercontent.com/43695296/75554338-2443ba00-5a60-11ea-8352-b7ace094a473.png)

FINAL:-

![Screenshot (174)](https://user-images.githubusercontent.com/43695296/75554462-5f45ed80-5a60-11ea-8608-bad95

[2020-02-28 15:16] annatuma commented on #674
@ankurshr01 please add a written description of the issue, and include what screen size/browser you're seeing the styling issues on. Judging by your screenshots you've fixed this, perhaps locally. Once the description is up to date, we can approve this for work, and you can make a pull request.

[2020-02-28 15:52] #543 closed

[2020-02-28 15:53] kgodey commented on #543
This is done.

[2020-02-28 16:09] akmadian commented on #663
Thanks for catching this @techievivek!

[2020-02-28 16:12] brenoferreira commented on #125
Thanks for checking this 👍. I'll close the issue

[2020-02-28 16:12] #125 closed

[2020-02-28 16:43] akmadian commented on #650
Closing because I believe that this is a duplicate of #659

[2020-02-28 16:43] #650 closed

[2020-02-28 16:45] akmadian commented on #659
I reviewed the PR, in the future, please wait for mentor or admin approval _before_ starting work on an issue.

[2020-02-28 16:48] akmadian commented on #664
Please see [Breno's comment on the other time you posted this issue](https://github.com/creativecommons/cccatalog-frontend/issues/662#issuecomment-592137018).

I'm closing this issue because it's a duplicate of #662.

[2020-02-28 16:48] #664 closed

[2020-02-28 16:53] akmadian commented on #668
I agree with coderbabu, requiring the user to manually click "Load More" cuts down on unnecessary API requests and makes it possible to get down to the footer. I don't think it would auto load the full 10,000 results, though, as we could implement behavior that would only fetch the next batch once the bottom of the page is reached.

I'm interested in what @brenoferreira thinks, but this change see

[2020-02-28 16:57] akmadian commented on #673
This is a bug AFAIK, go ahead and investigate this! Please post any findings about what's causing it in this thread before getting started on a fix :)

[2020-02-28 17:00] akmadian commented on #673
I am not able to replicate this:
OS: Win 10 Pro 1809
Browser: Firefox Dev Ed. 74.0

[2020-02-28 17:17] akmadian commented on #674
This may be a duplicate of #625 and #632, for which there is already a PR (see #628).

[2020-02-28 17:17] #674 closed

[2020-02-28 17:48] kss682 commented on #673
I tried the steps to replicate the issue, the search result was showing .
OS : Debian 10
Browser : Chrome
Version : 79

[2020-02-28 17:50] DantrazTrev commented on #673
I am able to replicate this :
OS: Kali Linux 2020
Browser: Firefox v68.5.0

Here's the issue
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43457420/75572383-c4a9d680-5a80-11ea-8a1d-b98e8eb8f662.gif)

And here could be one of the solution @akandeBolaji
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/43457420/75572464-d4c1b600-5a80-11ea-912b-c9313d44f7ba.

[2020-02-28 17:57] akmadian commented on #673
@akandeBolaji do you mean that this occurs when navigating back to it through the browser’s history menu, or when using the forward and back buttons in the upper left?

[2020-02-28 17:58] akandeBolaji commented on #673
Sorry i wasnt clear in the details, I mean when using the forward and back button

[2020-02-28 17:59] akandeBolaji commented on #673
@akmadian

[2020-02-28 18:01] kss682 commented on #673
@akandeBolaji then I was able to replicate the issue , I thought it was from history pages.

[2020-02-28 18:05] coderbabu10 commented on #607
can i take this issue?

[2020-02-28 18:23] coderbabu10 commented on #519
can i take this up?

[2020-02-28 18:27] ankurshr01 commented on #620
@akmadian any updates on this?

[2020-02-28 18:31] DantrazTrev commented on #519
Hey @coderbabu10 I'm on this .

[2020-02-28 18:39] DantrazTrev commented on #673
Can I work on this ?

[2020-02-28 18:41] akmadian commented on #620
No updates on my end, I’m sure Anna and Francisco will get around to it soon :)

[2020-02-28 18:45] DantrazTrev commented on #590
Hey @coderbabu10 are facing any issue solving this?

[2020-02-28 18:46] ankurshr01 opened #677 "Guide link gets hidden under footer , when zoomed to 100%"
On the localhost:8443 i.e home page, the guide link which is present on the bottom-right ,above the footer , gets hidden when zoomed to 100%.
Screenshots : -
![Screenshot (178)](https://user-images.githubusercontent.com/43695296/75577639-6bde3c00-5a88-11ea-8108-ea6f7492a0a5.png)

![Screenshot (180)](https://user-images.githubusercontent.com/43695296/75577658-7567a400-5a88-11ea-8262-c906bd458bcf.pn

[2020-02-28 18:48] akmadian commented on #673
This may be (sort of) a duplicate of #662. I'll investigate further and let you know whether or not we want to move forward with getting a fix going.

@DantrazTrev Assuming we want to get a fix going, I'll assign this to @akandeBolaji because they reported this issue and indicated their interest.

[2020-02-28 18:55] Aybee5 commented on #607
The issue is closed

[2020-02-28 18:57] Vineet-Sharma29 opened #678 "in photo-detail view tabs are not horizontally aligned"
## Describe the bug

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'result'
2. Click on 'image'
3. Scroll down to 'tabs'
4. See error

## Expected behavior
Tabs should be horizontally aligned

## Screenshots
![Screenshot_2020-02-29 CC Search](https://user-images.githubusercontent.com/35156299/75578624-29b5fa00-5a8a-11ea-8604-eea5fdedb8cb.png)

## Smartphone (please complete the followi

[2020-02-28 19:41] DantrazTrev commented on #668
I was thinking a hover footer for CC maybe that can help . I'll post a design to explain it clearly

[2020-02-28 19:45] Vineet-Sharma29 opened #679 "improper alignment of content in "verify at the source" section"
## Describe the bug
In "verify at the source" section has unnecessary margin due to which alignment is improper

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'results'
2. Click on 'image'
3. Scroll down to 'verify at the source' section
4. See error

## Expected behavior
content of "verify at the source" section should be aligned

## Screenshots
![Screenshot_2020-02-29 CC Search(2)](h

[2020-02-28 19:58] abhisheknaiidu commented on #677
@ankurshr01 To be precise, the guide link gets hidden when its getting zoomed in between 110-125%

![c2](https://user-images.githubusercontent.com/55599878/75581935-87e5db80-5a90-11ea-9656-c7128d7e7604.png)

Above 125%, Its giving same results as normal

![c3](https://user-images.githubusercontent.com/55599878/75581991-a3e97d00-5a90-11ea-93b4-dc13d1aae52e.png)

But I dont think so its actually an

[2020-02-28 20:09] annatuma commented on #505
@panchovm noting that in Q2 (or possibly Q3, if other priorities arise) we'll need to work on what this sort of embed should look like, before it can actually be built.

[2020-02-28 20:23] abhisheknaiidu opened #680 "Filters Search Grid Should be closed as soon as filters gets applied on Smartphones."
## Describe the bug
After Applying Filters in the CC Search, it's loading as usual along with the filters grid.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/search?q=apple&license=&license_type=&categories=&extension=&aspect_ratio=wide&size=small&source=&searchBy=
2. Select any filter
3. See error

## Expected behavior
The filters grid should get cl

[2020-02-28 20:33] abhisheknaiidu opened #681 "Improve Search Bar's alignment in mobile Devices for better UI/UX"
## Describe the bug
Since it's the main page of the site, the CC Search Bar should align properly, but here it's not aligned as expected (should be in middle). It can lead to bad User Experience :(

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/
2. See bug

## Expected behavior
The Search Bar should be present in the middle of the Smart Phone :)

## S

[2020-02-28 20:40] annatuma commented on #299
Closing this ticket, we're switching to an API integration:
https://github.com/creativecommons/cccatalog/issues/302

Note this same bug was reported in a separate ticket as well:
https://github.com/creativecommons/cccatalog/issues/244

That ticket has also been closed.

[2020-02-28 20:40] #299 closed

[2020-02-28 20:46] annatuma commented on #681
Good suggestion. This is approved for work, please proceed.

[2020-02-28 20:52] coderbabu10 commented on #483
i am working for this issue @annatuma

[2020-02-28 20:54] annatuma commented on #680
@abhisheknaiidu if I'm understanding your description correctly, then this is not a bug. We deliberately leave the left hand filter side bar expanded after a selection has made, unless a user chooses to collapse it. That is, we do not automatically collapse the side bar or any section within it.

FYI @panchovm @brenoferreira so you're aware of this discussion. I'm closing the ticket.

[2020-02-28 20:54] #680 closed

[2020-02-28 20:56] coderbabu10 opened #682 "colliding of scrollbar with images"
## bug discription :
the related images getting collide with scrollbars in the mobile view.

## screenshots:
![Screenshot from 2020-02-29 02-18-11](https://user-images.githubusercontent.com/54955755/75586608-d13b2880-5a9a-11ea-8c42-cb67aaf8f8e5.png)

## Additional context
i would like to take this issue.

[2020-02-28 20:59] ankurshr01 commented on #677
@abhisheknaiidu check it with google chrome , even when its on 100% , the guide link gets hidden.

[2020-02-28 21:00] Atanda1 commented on #423
My first pull request just got merged,  would be done with the image height
in a bit.

On Feb 26, 2020 13:48, "Atanda David" <atandadave@gmail.com> wrote:

[2020-02-28 21:01] akmadian commented on #682
This should be fixed in #628, but thanks for taking the time to spot and report it :)

[2020-02-28 21:01] #682 closed

[2020-02-28 21:07] annatuma commented on #625
@Vineet-Sharma29 I see you've already done work on this (https://github.com/creativecommons/cccatalog-frontend/pull/628)

As a general rule, please wait for approval by a CC team member before proceeding to work on issues.

In this case we are working on a redesign of this page on desktop, which will impact the mobile/responsive layout as well.

FYI @brenoferreira in case this causes any conflicts

[2020-02-28 21:09] annatuma commented on #632
@Vineet-Sharma29 see my comment on #625 regarding general guidelines on approval for issues before they are worked on.

That said, this alignment issue is fine to fix, FYI @akmadian

[2020-02-28 21:14] akmadian commented on #678
If you're referring to the tabs wrapping to a new line, I think it would be better to keep this behavior. I'm not sure what you mean by "horizontally aligned", could you please elaborate, maybe provide a basic mockup of what you mean?

For now, I am adding `ticket work required` to this issue so you can elaborate on what you mean by "horizontally aligned". Once you've elaborated, depending on the

[2020-02-28 21:15] abhisheknaiidu commented on #677
@ankurshr01 In my case, it's working fine only on 100% in Google Chrome Browser.

![c4](https://user-images.githubusercontent.com/55599878/75587824-5de6e600-5a9d-11ea-991f-f757e8dc08aa.png)

[2020-02-28 21:17] annatuma commented on #678
Confirming that tabs wrapping to a new line is the intended behavior at this time. I'm happy to review a screenshot or more details as @akmadian suggests.

[2020-02-28 21:19] annatuma commented on #679
@Vineet-Sharma29 I see this has already been done in https://github.com/creativecommons/cccatalog-frontend/pull/628

As mentioned in another ticket, please wait to fix issues until they've been approved by a CC team member. In this case we do want the text under Verify at the Source to be more noticeable, it is an important legal disclaimer.

If you'd like to mock up what it would look like with e

[2020-02-28 21:23] akmadian commented on #679
@annatuma I just checked, and the only change I could see was that the indent was removed.

[2020-02-28 21:26] annatuma commented on #677
This seems likely to be impacted by the work @brenoferreira is doing on the grid (https://github.com/creativecommons/cccatalog-frontend/pull/661)

As such, we're marking this ticket as "not ready for work", until that pull request is closed.

If this is still an issue after the grid changes are live, we will mark it as open to community contribution. Thank you for your suggestion @ankurshr01

[2020-02-28 21:31] annatuma commented on #668
We used to have infinite scroll on CC Search and have purposefully done away with it. We will not be revisiting that decision at this time, although I do appreciate the suggestion and discussion.

@DantrazTrev here is a resource on why infinite scroll is bad for accessibility, in case you are interested: http://www.webaxe.org/infinite-scrolling-and-accessibility/

[2020-02-28 21:31] #668 closed

[2020-02-28 21:38] annatuma commented on #673
We've discussed this, and it makes sense to fix this behavior. We should be able to "remember" (i.e. discern) the search query based on the URL on the search results page, so the search box on the homepage should not be empty when you go back to it.

@akmadian I'm making the assignment that you indicated, while I'm in here.

[2020-02-28 21:42] annatuma commented on #633
Thank you @ritiktaneja for suggesting these improvements.

I believe this is being fixed by https://github.com/creativecommons/cccatalog-frontend/pull/628

@akmadian I'll leave it to you to verify and close this ticket if you agree.

[2020-02-28 21:44] #633 closed

[2020-02-28 21:46] annatuma commented on #630
We're pending the implementation of a redesign of this page, which has already been scoped out by our UX designer. We appreciate the suggestions, but will not move forward with this ticket.

[2020-02-28 21:46] #630 closed

[2020-02-28 21:49] annatuma commented on #629
It is possible that this has been addressed in https://github.com/creativecommons/cccatalog-frontend/pull/628 but we will only see that after the pull request is merged. The screenshots are missing "back to search results" for the "After" version.

Assigning to @akmadian for now. Once #628 is merged, if this is still an issue, then it is fine to proceed with left alignment of the "back to search r

[2020-02-28 21:53] akmadian commented on #629
AFAIK, this hasn't been changed in 628. Although I would like to know more about what you mean by "padding error". Do you mean that it should be left more to be aligned with the left edge of the image?

I'll add `requires ticket work` until you respond with more details, and I'll remove `not ready for work` since this is not changed in 628 :)

[2020-02-28 21:57] annatuma commented on #620
In Design Library we have a "tag" Button (https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=1%3A28), and a "small/cross" Icon (https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=263%3A46)

What we need to do is:
1) Combine this into a standalone component for these navigational pills and add to the Design Library (@panchovm will do this)
2) Create a tic

[2020-02-28 21:58] pranshuls12 commented on #679
Hi,Can i work on this >

[2020-02-28 22:07] annatuma commented on #619
@coderbabu10 we agree that there should be a search bar there, and this is an oversight. However, we're about to integrate redesigns on CC Search pages, including the navigation element, and we plan to include a search bar in the CC Search navigation on all pages except the homepage and the results page, so the Collections page will include a search bar when that work is done. It is in the current

[2020-02-28 22:07] #619 closed

[2020-02-28 22:11] annatuma commented on #618
Thanks for the suggestion @Dhruvi16 but I agree with @akmadian here.

We are still working on finalizing our Design Library (in Figma), which will be reflected in Vocabulary. It will include examples on how to use components.

All components in our Design Library are designed through the lens of accessibility, and therefore this guide will end up existing in the Vocabulary Storybook.

Closing out

[2020-02-28 22:11] #618 closed

[2020-02-28 22:23] annatuma commented on #518
We'll try to add this into Design Sprint 1. If we don't make it in time, it'll get pushed to Q2. Otherwise, last sprint of Q1.

[2020-02-28 22:39] Vineet-Sharma29 commented on #562
Is this issue workable now? Would like to work on it

[2020-02-28 22:43] akmadian commented on #679
@pranshuls12 this issue has already been addressed by @Vineet-Sharma29 , and we're unsure right now whether or not we're going to move forward with a fix for this because we're still waiting to hear back from Vineet about their design mockups

[2020-02-28 23:09] Vineet-Sharma29 commented on #679
@annatuma, @akmadian  Will wait for CC team approval in future issues. Following design can be used for licence detail section:-
![Screenshot from 2020-02-29 04-33-26](https://user-images.githubusercontent.com/35156299/75594067-752dcf80-5aad-11ea-89f7-899c560d27e5.png)

[2020-02-28 23:14] Vineet-Sharma29 commented on #678
@annatuma , @akmadian apologies for including it in #628 beforehand. With horizontal alignment, I meant to not wrap the tabs. Reason is in mobile view it does not look symmetrical.

[2020-02-28 23:17] Vineet-Sharma29 commented on #625
@annatuma Will wait for cc team approval in future issues

[2020-02-28 23:19] Vineet-Sharma29 commented on #632
@annatuma Will wait for CC team approval in future issues.

[2020-02-29 00:35] akandeBolaji commented on #659
Okay, noted with thanks

[2020-02-29 03:34] akmadian commented on #679
I think this looks good, and better than it is now. Pending Anna's approval, you may include this in your PR :)

[2020-02-29 06:03] coderbabu10 commented on #629
yes! i think in the mobile view it should be more towards left align with the photo.
@akmadian

[2020-02-29 07:01] ankurshr01 opened #684 "Filter button issue under responsive view."
(All things under-responsive views)

When we search an item, and scroll down and then click on the filter icon, which is floating on the top-right, It does nothing, being more specific, it expands the filter section, but at top=0, so it seems that nothing happens.

![Screenshot (182)](https://user-images.githubusercontent.com/43695296/75602856-083b2980-5aef-11ea-9d73-82cf2948088d.png)

So the fix

[2020-02-29 16:25] coderbabu10 commented on #506
is this issue now available to work on?
@annatuma

[2020-02-29 16:49] ankurshr01 commented on #684
@akmadian can u approve this?

[2020-02-29 17:07] coderbabu10 commented on #483
can we use redux.js library in this? @annatuma @brenoferreira @akmadian

[2020-02-29 18:11] coderbabu10 commented on #483
can you bit explain this issue and what do you mean by think about improving the loading of images actions and mutations? @brenoferreira

[2020-02-29 19:55] abhisheknaiidu opened #687 "Proper Indentation Required in Image Info Section."
## Describe the bug
After opening the Image Details Page, the Image info section under that, is not responsive as compared to other elements of the same page.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/
2. Search for any Image
3. Select any Image and click Image's info
4. See error

## Expected behavior
The Image Info section should be responsive

[2020-02-29 20:17] abhisheknaiidu opened #688 "Make Museum Collections card more Responsive and Interactive."
## Problem Description
The Museum Collection Cards are not so interactive, because we have to click the middle image everytime to make a view request.

## Solution Description
Rather, we can make the whole card as responsive and interactive, then it provides better User Experience.

![Screenshot_20200301-013505](https://user-images.githubusercontent.com/55599878/75614399-563b4600-5b5e-11ea-96ab-52

[2020-03-01 03:24] ManishBasavalinga opened #689 "Ability to Scroll in Sidebar"
## Problem Description
In the Desktop view, you cant scroll the sidebar. For example, the "All Sources" link has many options in it. To access the bottom options you should scroll the entire page. Also, the sidebar scrolls down when you scroll to the bottom of the page.

## Solution Description
Adding a separate scroll option to the sidebar solves both the issues

## Alternatives
None

## Addition

[2020-03-01 06:27] hemanth-hk commented on #689
Can you please post the link to the problem you are talking about. I am not able to get what you mean by "All Sources"

[2020-03-01 06:32] hemanth-hk commented on #687
I think the `PR` #628 does the same thing. So please wait till that merges

[2020-03-01 06:45] hemanth-hk commented on #684
When I tried to replicate this problem I found that the z-index of the source image is more than the nav

---

### Screenshot
![mobile-scroll-prob](https://user-images.githubusercontent.com/43946715/75621037-b27d8480-5bb5-11ea-8614-8cbe618fdabf.png)

---

If you can see the `Be` symbol is on top
Feel free to add this to your issue else I'll create a separate issue once you are done editing

[2020-03-01 06:48] ankurshr01 commented on #684
@hemanth-hk it has been fixed

https://github.com/creativecommons/cccatalog-frontend/pull/666

[2020-03-01 06:50] hemanth-hk commented on #688
The CSS is coming from the [vue-vocabulary](https://github.com/creativecommons/vue-vocabulary) project which is under active development so you can change the card styling there which will affect this directly

Do wait for the mentor's response

[2020-03-01 07:33] hemanth-hk opened #690 "No image for Smithsonian Institution"
## Describe the bug
There is no image for one of the collection namely "Smithsonian Institution"

## To Reproduce
Steps to reproduce the behavior:
1. Go to 'cc search or build it locally'
2. Click on 'Browse by Collection'
3. Scroll down to "Smithsonian Institution"
4. See error

## Expected behavior
There should be an image for the collection

## Screenshots
![no-img-for-an-org](https://user-imag

[2020-03-01 09:02] ManishBasavalinga commented on #689
@hemanth-hk "All Sources" refer to one of the options in the collapsible list in the sidebar. Open it and try to scroll to the bottom of the list. You currently can't do that without scrolling down the entire page.

[2020-03-02 14:19] panchovm commented on #620
I like the solution. Although I create two changes:
1. In the search result, we will show the filters applied (one by one) with the action to eliminate them.
2. In the "no result" page, the screenshot showed above, I will add a single button to "reset" (it could be a different label) the filters applied.

Once the design is updated, I will change the assignee.

[2020-03-02 17:12] ankurshr01 commented on #684
@akmadian

[2020-03-02 17:18] brenoferreira opened #693 "Source Filter is broken"
## Describe the bug
Filtering by source doesn't work. This is caused by some changes that were left unfixed #597 and #651. Some components still referenced `provider_name` values that came from the API and it's breaking the filters

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://ccsearch.creativecommons.org/search?license=&license_type=&categories=&extension=&aspect_ratio=&size=

[2020-03-02 17:21] ankurshr01 commented on #693
Can i take this issue?

[2020-03-02 17:34] #693 closed

[2020-03-02 18:52] panchovm commented on #631
I talked to @Mahelaa about this and we decided one way to solve it. Thanks for raising this improvement.

[2020-03-02 19:13] panchovm commented on #505
Perfect. It sounds an interesting feature.

[2020-03-02 19:47] coderbabu10 opened #695 "not proper allignment of the headings in the browse by collection page"
## Describe the bug
the text is slightly left not properly aligned with respect to the logos.

## screenshots:
![Screenshot from 2020-03-03 01-12-18](https://user-images.githubusercontent.com/54955755/75711582-aba55d80-5cec-11ea-8ab2-a8e091182e7d.png)

![Screenshot from 2020-03-03 01-12-31](https://user-images.githubusercontent.com/54955755/75711590-aea04e00-5cec-11ea-8e69-96b0c76b3907.png)
## way

[2020-03-02 19:57] coderbabu10 opened #696 "not proper allignment of the headings in the browse by collection page"
## Describe the bug
the text is slightly left not properly aligned with respect to the logos.

## screenshots:
![Screenshot from 2020-03-03 01-12-18](https://user-images.githubusercontent.com/54955755/75711582-aba55d80-5cec-11ea-8ab2-a8e091182e7d.png)

![Screenshot from 2020-03-03 01-12-31](https://user-images.githubusercontent.com/54955755/75711590-aea04e00-5cec-11ea-8e69-96b0c76b3907.png)
## way

[2020-03-02 19:57] #696 closed

[2020-03-02 22:48] akmadian commented on #679
@Vineet-Sharma29 Anna and I decided that we like the bullet points, but the spacing is a bit much. I think that approximately half the spacing of what's in the screenshot you provided would be best.

[2020-03-02 23:17] akmadian commented on #244
It's been 13 days since we've last heard from @skidi3, so I'm going to free up this issue for someone else to work on.

[2020-03-02 23:38] akmadian commented on #562
@Vineet-Sharma29 Only issues marked as help wanted are open for people to work on. Please take a look at [issues marked as `help wanted`](https://github.com/search?q=org%3Acreativecommons+is%3Aopen+label%3A%22help+wanted%22)

[2020-03-02 23:47] akmadian commented on #684
This behavior may be undesirable from a UX and accessibility perspective because the user probably does not expect to be scrolled back up when the filter section is toggled, and changing what's going on without the user explicitly triggering it is generally considered to be bad.

I'll defer to @panchovm here for the UX perspective, and assuming that he thinks this is a good idea, I'll assign it to

[2020-03-02 23:49] akmadian commented on #689
Thanks for catching this! You may go ahead and start work on it :)

[2020-03-02 23:57] akmadian commented on #688
Thanks for your suggestion! I agree with hemanth, although this most likely belongs in [vocabulary](https://github.com/creativecommons/vocabulary)(the source of the CSS used in vue-vocabulary) instead of vue-vocabulary itself. This issue may also be kind of a duplicate of #630 depending on the exact nature of the changes proposed in this issue and 630.

I'm going to close this issue, but in case y

[2020-03-02 23:57] #688 closed

[2020-03-02 23:58] akmadian commented on #687
Thanks for reporting this! As hemanth said, this issue is being addressed in #628, so I'm going to close this issue.

[2020-03-02 23:58] #687 closed

[2020-03-03 00:01] akmadian commented on #629
Sounds good, and I agree! I'm going to re-add `not ready for work` and `blocked` because there are two relatively large PRs that make lots of styling changes open right now (see #628 and #661).

Once those two are merged, we can come back to this if it's still an issue.

[2020-03-03 03:10] Tanuj22 commented on #244
Can I work on this?

[2020-03-03 05:38] Vineet-Sharma29 commented on #679
@akmadian reduced `margin-bottom` between `li` from `10px` to `2.5px`.
![Screenshot from 2020-03-03 11-05-07](https://user-images.githubusercontent.com/35156299/75746122-3ca52480-5d3f-11ea-947b-35c7f7c974bf.png)

[2020-03-03 06:06] cognitive137 commented on #244
Hello, can I work on this?

[2020-03-03 06:13] akmadian commented on #244
@Tanuj22 indicated their interest first, so I'm going to assign it to them. Here's a reminder to check the discussion in 588 to get a clearer definition of the work to be done.

[2020-03-03 06:16] akmadian commented on #679
That amount looks much better to me :) I would prefer that you use some number of rem so it's more responsive on other breakpoints.

[2020-03-03 06:35] DantrazTrev opened #697 "Invalid number in the footer section"
## Describe the bug

The cell number in the footer section when dialled results to Invalid number due to the missing +

## To Reproduce

1. Go to 'https://ccsearch.creativecommons.org/'
2. Click on 'The phone number'
3. Make a call
4. See that it is invalid

## Expected behaviour
This should make a
call to the international number and should look like this
![image](https://user-images.githubuserco

[2020-03-03 06:40] abhisheknaiidu opened #698 "Hover Option should be provided to the license Icons to get better user experience."
## Describe the bug
Hover option is not there, when we hover over the license icons!

## To Reproduce

1. Go to https://search.creativecommons.org/
2. Search any Image
4. See error

## Expected behavior

Hover Option should be provided to the license Icons to get better user experience.

## Screenshots

![e1](https://user-images.githubusercontent.com/55599878/75749311-872a9f00-5d47-11ea-96bc-79c7b

[2020-03-03 06:43] abhisheknaiidu commented on #697
@DantrazTrev This footer is temporary actually, and it will be overwritten once the footer component is ready in vocab.

[2020-03-03 06:45] DantrazTrev commented on #697
Alright @abhisheknaiidu

[2020-03-03 06:46] DantrazTrev commented on #697
If it's still workable for temp footer only . I would like to

[2020-03-03 06:54] abhisheknaiidu opened #699 "Increase the font size of 'Verify at the source:'"
## Describe the bug
The Contents under the 'Verify at the source:' are so small that it has become difficult to read it properly through naked eyes.

## To Reproduce

1. Go to https://search.creativecommons.org/photos/a9d534d7-0ffb-4b73-9f5b-82d25ef1ca50
2. See error

## Expected behavior
Font size should be increased somewhat

## Screenshots

![e2](https://user-images.githubusercontent.com/555998

[2020-03-03 06:57] abhisheknaiidu opened #700 "Everytime someone files an issue, it gets label by default as bug and not ready to work."

[2020-03-03 07:16] DantrazTrev opened #701 "Search syntax guide missing from mobile devices"
## Describe the bug
The search syntax guide isn't visible on the homepage on portrait mode of handheld devices

## To Reproduce

1. Go to homepage
2. Scroll down to in portrait orientation
4. No search syntax guide

## Expected Behavior
There should be a search syntax guide

## Screenshots

![Screenshot_20200303-123228_Chrome](https://user-images.githubusercontent.com/43457420/75751518-b1329000-5d

[2020-03-03 07:59] hemanth-hk commented on #610
Can I take the `feedback issue` cause it was closed due to inactivity?

[2020-03-03 09:18] abhisheknaiidu commented on #701
@DantrazTrev It is purposely made hidden on mobile devices, so the link in the header replaces it.

[2020-03-03 09:43] genedy377 commented on #315
hey @kgodey I think that i have skills that  can help with this issue can i work on it ?

[2020-03-03 10:28] coderbabu10 commented on #701
@DantrazTrev as the search guide is inside the toggle button of the navbar so it is hidden in the mobile view

[2020-03-03 10:31] coderbabu10 commented on #699
@abhisheknaiidu i think it can be corrected in the issue #679 .

[2020-03-03 10:33] abhisheknaiidu commented on #699
@coderbabu10 That issue is just for proper alignment! and not for visibility of content.

[2020-03-03 10:43] coderbabu10 opened #703 "not proper allignments of the elements in the browse by collection page in mobile view"
## Describe the bug
the elements in the browse by collection page are not properly aligned the are more towards right as it should be in the center.
## screenshots:
![Screenshot from 2020-03-03 16-09-29](https://user-images.githubusercontent.com/54955755/75768169-db467b00-5d69-11ea-83f4-a9f24257749d.png)

![Screenshot from 2020-03-03 16-09-39](https://user-images.githubusercontent.com/54955755/757

[2020-03-03 10:52] coderbabu10 commented on #609
its been solved in the pr #611

[2020-03-03 11:09] DantrazTrev commented on #701
Its visible on landscape mode though

[2020-03-03 11:25] DantrazTrev opened #704 "Hover at the logo of provider in the search grid cell displays the image text"
## Describe the bug
The hover text at provider logo should be the provider name

## To Reproduce

1. Search anything
2. hover over the logo of the provider on the image
3. You'll see the image text

## Expected behavior
Instead, there should be the provider name when hovered

## Screenshots

![image](https://user-images.githubusercontent.com/43457420/75771283-adfccb80-5d6f-11ea-94ee-e8d9074d3e3e.p

[2020-03-03 13:22] cognitive137 commented on #244
Hi @akmadian , I left a request to work on this issue in #588 discussion, before @Tanuj22 . Please check it out and let me know.

[2020-03-03 14:14] Vineet-Sharma29 commented on #679
@akmadian changed `margin:5px 20px` to equalivalent rem version `margin: 0.3125rem 1.25rem;`. Should I create a new PR or as earlier link these changes with #628 ?

[2020-03-03 14:30] #519 closed

[2020-03-03 14:54] brenoferreira opened #705 "Remove autofocus from homepage search input"
The autofocus seems to be an issue for accessibility:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefautofocus
https://www.brucelawson.co.uk/2009/the-accessibility-of-html-5-autofocus/.

We should, at least for now, remove the autofocus from the home page search input, until we do some accessibility usability tests and decide if the autofocus feature is good or not

[2020-03-03 14:55] brenoferreira commented on #659
After doing some research, the autofocus seems to be an issue for accessibility:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefautofocus
https://www.brucelawson.co.uk/2009/the-accessibility-of-html-5-autofocus/.

So I suggest we remove this altogether, at least until we focus on the accessibility project starts.

Thanks for spotting this 👍

I'll close this issue and th

[2020-03-03 14:55] #659 closed

[2020-03-03 14:57] akandeBolaji commented on #705
I would like to work on this

[2020-03-03 14:58] hemanth-hk commented on #704
If you click on the image and go to the `info tab` you can hover and get the name of the provider.
By hover, I think you mean the `title` property and that should be I think the name of the image right??

Do wait for the mentor's comment

[2020-03-03 18:12] DantrazTrev commented on #705
Can I work on this?

[2020-03-03 19:20] panchovm commented on #620
Done. The change is visible in [this Figma's page](https://www.figma.com/file/LR3KYeaqVkDYmgNm1rnsHx/Mockup---Sprint-1?node-id=0%3A54&viewport=-209%2C146%2C0.18035496771335602). I will change the assignee

[2020-03-03 19:45] akmadian commented on #704
Thanks for spotting this :) I think this is intentional, and best from an accessibility standpoint. When the provider logo is clicked, it doesn't take you to flickr, it takes you to the image details page. Making the title different to the behavior would be bad for accessibility.

I'll defer to @brenoferreira to see if this is intentional. If it is, I think we should close this

[2020-03-03 19:45] hemanth-hk commented on #700
If you haven't already, join the [slack](https://slack-signup.creativecommons.org/) where these types of issues can be discussed before making an issue in Github :)

[2020-03-03 19:47] kgodey commented on #700
This is as expected and was added to issue templates across the entire organization in this PR: https://github.com/creativecommons/.github/pull/4. We want to evaluate and validate incoming issues before marking them as ready for work.

I'll update the contribution guidelines to reflect this new process soon.

[2020-03-03 19:48] #700 closed

[2020-03-03 19:49] akmadian commented on #244
Ah, you're right! My apologies. I think I'll leave this assigned to @Tanuj22, unless they would like to turn it over to you.

In general, issues are best for indicating interest because they track discussion about the issue generally, instead of PRs which generally track discussion about a specific set of changes.

[2020-03-03 19:50] kgodey commented on #700
And actually, if you use the "Feature request" template, the label will not be "bug" :)

[2020-03-03 19:56] akmadian commented on #703
Thanks for spotting this! Pinging @annatuma because I think I remember that this page is getting a redesign. If Anna gives the go-ahead, you may start work on this issue

[2020-03-03 19:58] akmadian commented on #698
I'm unsure what you mean by "hover", what do you think should happen when the icons are hovered over?

I've added `ticket work required` to give you the opportunity to elaborate :)

[2020-03-03 20:01] akmadian commented on #610
@hemanth-hk we just closed the PR for inactivity, the issue itself is still being worked on (see #244).

This issue is still not ready for work, and we've already re-assigned 244

[2020-03-03 20:04] akmadian commented on #705
@DantrazTrev I've assigned Akande because they indicated their interest first

[2020-03-03 20:05] hemanth-hk commented on #698
I think @abhisheknaiidu wanted to say that, It would be better if we get the info about the license when we hover over it

When I looked into it, each icon had a separate `alt` attribute so there would be no accessibility error and since the `main image` along with the `provider image` and the `license icons` are in the same `a` tag it's better to give the `main image's` title to the `title` attri

[2020-03-03 20:07] akmadian commented on #679
Please include the changes in #628

[2020-03-03 20:10] hemanth-hk commented on #610
Ya, I have to wait till #244 is done...

[2020-03-03 20:14] hemanth-hk commented on #695
Since the CSS of the site is coming from the vocabulary project, You have to wait and see if this issue persists after the CSS changes cause it's under active development and major CSS changes are coming.

Do wait for mentor's review

[2020-03-03 21:23] theamanjs opened #707 "Content Overlap on mobile view"
## Problem Description
Problem with Image name and icon on mobile view. When we scroll down the content which is going up overlaps the header.

## Solution Description
It can be solved by setting the layer(z-index) of header/navbar more(upper)  than the overlapping name and icon of image  #division.

## Alternatives
No alternative

## Additional context
![IMG_20200304_024518](https://user-images.g

[2020-03-03 21:25] akmadian commented on #707
Thanks for reporting this! It should be addressed in #666, though. I'm going to close this issue because it's a duplicate

[2020-03-03 21:25] #707 closed

[2020-03-03 23:23] kgodey commented on #690
Thanks for finding this, @hemanth-hk.

We didn't mean to enable the Smithsonian yet. We have hidden those images for now.

[2020-03-03 23:23] #690 closed

[2020-03-03 23:37] kgodey opened #708 "Create GitHub workflow for adding issues and PRs to appropriate project"
## Problem Description
Currently, we need to manually add new issues to the [CC Search backlog GitHub project](https://github.com/orgs/creativecommons/projects/10). We'd like to automate this.

## Solution Description
Set up a GitHub workflow (using GitHub Actions) to
- automatically add new issues created in this repository to the [CC Search backlog GitHub project](https://github.com/orgs/creativ

[2020-03-04 02:59] abhisheknaiidu commented on #708
Can I work on this ?

[2020-03-04 04:32] kgodey commented on #708
go ahead

[2020-03-04 04:59] abhisheknaiidu commented on #698
@akmadian I just wanted to say what @hemanth-hk  has said, that,It would be better if we get the info about the licenses when we hover over it!

[2020-03-04 11:19] abhisheknaiidu commented on #708
@kgodey I just made a PR #710 , but dont know whether its working or not, could you once check it ?

[2020-03-04 13:24] #586 closed

[2020-03-04 14:26] brenoferreira opened #711 "Standardise media queries"
## Problem Description
The use of media queries is not standardized across the codebase. Running `git grep '@media screen'` you can see how the usage of different screen sizes doesn't follow any particular standard. This results in some weird behaviour in resizing screens and mobile layouts.

## Solution Description
Now that https://github.com/creativecommons/vocabulary uses [Bulma](https://bulma.

[2020-03-04 14:58] sharmaaditya570191 commented on #701
Can I take this up @coderbabu10 sir?

[2020-03-04 15:21] panchovm commented on #684
Thanks @akmadian
I discussed with @annatuma about this interaction and we decided the following:
1. In the search result page, the user clicks on the filter button.
2. The filters are displayed expanded on the whole screen within a scroll. The close button (top-right) goes back to the search result page, at the bottom the action's section must remain fixed.

<img width="1100" alt="Screen Shot 2020

[2020-03-04 16:42] abhisheknaiidu commented on #711
Can i work on this ?

[2020-03-04 22:46] akmadian commented on #684
I love the look of that mockup :)

I think this should be ok for @ankurshr01 to start work on this issue. @ankurshr01, please post add a comment in this thread with your plan for how you're going to add this functionality before getting started :)

[2020-03-04 22:51] akmadian commented on #701
I noticed that some of this weird behavior is due to the inconsistent media queries being used, which is going to be addressed by #711. I'm unsure exactly what the time frame for the media query standardization is, so I'll defer to @brenoferreira here.

If the media query standardization will take a while to get to, I'll assign @DantrazTrev. If it will be addressed soon, I think we should close th

[2020-03-04 23:16] akmadian commented on #698
I want to be sure that we're on the same page. The way I read this was that the license icons as a whole would have a single title attribute with the full license name, instead of the individual icons each having their own title.

For example, if the license was "BY NC SA", instead of having each of the by, nc, and sa icons have their own title when hovered, the license icons as a group would have

[2020-03-04 23:24] akmadian commented on #315
@genedy377 go ahead! Please remember to comment on this issue with your plans for adding the functionality so CC staff can give feedback

[2020-03-04 23:26] akmadian commented on #695
Thanks for catching this! I'm unsure if this is intentional, and I think that this page is getting a redesign soon, so I'm gonna ping @annatuma to get her thoughts. Pending her approval, you may go ahead and work on this @coderbabu10 :)

[2020-03-04 23:27] akmadian commented on #699
I think that the current sizing is ok as it is, but I'd like to get @panchovm's thoughts on this. Pending his approval, you may go ahead and work on this @abhisheknaiidu :)

[2020-03-04 23:36] akmadian commented on #697
Thanks for spotting this @DantrazTrev! I'm gonna close this because the transition to the vocab footer component is being worked on in the current sprint, so this should be fixed within the next week or so :)

[2020-03-04 23:36] #697 closed

[2020-03-05 04:56] abhisheknaiidu opened #714 "Add is-active feature to the nav-bar links"
## Problem Description
When we switch from one page to a another, for example from home to about or anything else, we are not able to get the proper interface and userability.

## Solution Description
We can add bulma's class is-active to the nav links for better userability.

![is-active](https://user-images.githubusercontent.com/55599878/75949231-963a5a00-5ecb-11ea-99b9-f5104cf73746.png)

## Add

[2020-03-05 05:17] abhisheknaiidu opened #715 "Scroll Behaviour is not working as expected"
## Describe the bug
When we search something and goes down to the page to some position and click some random pic, and then after going to that random image page, and after if we go back then we'll be given a position of y:0 and not the position from where we had clicked that photo.

## To Reproduce
1. Go to https://ccsearch.creativecommons.org/
2. Scroll down to some y position and click some ran

[2020-03-05 13:39] panchovm commented on #698
It is a good proposal, and it definitely improves accessibility. However, we are only considering, as hover interaction, showing the license icons and image's name in future implementations. But I do agree with showing the license name ( "BY NC SA") in the `alt` information. Hover inside hover is confusing and not suitable for responsiveness.

[2020-03-05 14:07] hemanth-hk commented on #698
I think the present text in `alt` is enough to describe the icon

### Screenshots
![alt-license](https://user-images.githubusercontent.com/43946715/75989064-944ab800-5f18-11ea-9ef4-30211300f32b.jpg)

[2020-03-05 14:15] hemanth-hk commented on #715
It's working fine for me like when I click on a random image and go back I am at the same
`y position`
OS: Windows 10
Browser: Chrome

Do wait for other people who test and share their views

[2020-03-05 14:23] abhisheknaiidu commented on #698
@hemanth-hk No it needs to have the exact license name like "BY NC SA", which @panchovm suggested, for better accessibilty! I mean that it should be attached to figcaption's section.

[2020-03-05 14:48] #705 closed

[2020-03-05 14:53] brenoferreira commented on #681
This was fixed in #661

[2020-03-05 14:53] #681 closed

[2020-03-05 15:02] panchovm commented on #699
We are currently working on updating the CC Search style with Vocabulary. In this specific case, that text style will be updated to the normal paragraph style.

[2020-03-05 16:28] DantrazTrev commented on #622
Need any help @ankurshr01 ?

[2020-03-05 17:29] DantrazTrev opened #716 "Alternate design for the sources table in about section"
## Problem Description
The sources table in the About section can be redesigned to a more minimalistic form, and include more information than before and improve the readability

## Solution Description
The table can be designed with two columns one would contain the logo, name and the hyperlinked to the domain while the other will contain the # of CC-licensed works

## Alternatives
There could be

[2020-03-05 17:35] coderbabu10 commented on #701
@sharmaaditya570191 i think you are not aware of cc contributing guidelines,i suggest you to please read it sir,and then ask @DantrazTrev for the same. :)
Thank you.

[2020-03-05 17:38] coderbabu10 commented on #703
okay @akmadian

[2020-03-05 18:15] coderbabu10 opened #717 "unwanted space gap while opening the about page in mobile view."
## Describe the bug
when we open the cc search about page in the mobile you will find that the space gap is there on the right side.

## Expected behavior
there should be no gap as it looks very odd

## Screenshots![Screenshot_2020-03-05-23-39-35-508_com android chrome](https://user-images.githubusercontent.com/54955755/76012069-aab63b00-5f3b-11ea-8ad6-dbeac3170fcf.jpg)
![Screenshot_2020-03-05-23-

[2020-03-05 18:18] coderbabu10 commented on #717
![Screenshot_2020-03-05-23-39-35-508_com android chrome](https://user-images.githubusercontent.com/54955755/76012069-aab63b00-5f3b-11ea-8ad6-dbeac3170fcf.jpg)
![Screenshot_2020-03-05-23-39-40-598_com android chrome](https://user-images.githubusercontent.com/54955755/76012100-b275df80-5f3b-11ea-9693-8ce90d3ad390.jpg)
![Screenshot_2020-03-05-23-39-43-147_com android chrome](https://user-images.githu

[2020-03-05 18:19] annatuma commented on #518
This is in Design Sprint 1, as a question to the right of the search bar. We'll close this ticket when the assets for search results page from Design Sprint 1 have been integrated.

[2020-03-05 19:17] akmadian commented on #717
Thanks for catching this! I can replicate this with other simulated mobile resolutions. It looks like the width of the sources table is exceeding the width of the screen. Go ahead and work on it :)

[2020-03-05 19:19] akmadian commented on #701
@coderbabu10 Anyone can indicate their interest on an issue, but if the issue author has indicated that they're interested in working on it, it's very unlikely that I will assign it to someone else (other mentors may take different approaches, though)

[2020-03-05 19:21] akmadian commented on #716
Pinging @annatuma and @panchovm because this is a non-trivial design change, I think this could be a good idea if done well :)

[2020-03-05 19:23] Romicodes commented on #717
@akmadian  Could you assign me a bug for Outreachy May 2020?

[2020-03-05 19:24] akmadian commented on #622
This issue is being addressed in #645.

@ankurshr01 Please remember to link your PRs to the issue they're addressing :)

[2020-03-05 19:26] akmadian commented on #717
Hey @Romicodes, welcome! Please check out [CC's guidelines for contributing code](https://opensource.creativecommons.org/contributing-code/) to figure out how to proceed :)

[2020-03-05 19:29] akmadian commented on #698
Right, I think that you've got the right idea @abhisheknaiidu. Go ahead and start work on this :)

[2020-03-05 19:34] akmadian commented on #715
It's also working ok for me, if you would like to post this issue in the #cc-search slack channel to see if others can reproduce this, go ahead :) If others can consistently reproduce this, I think we should move ahead with a fix. If not, then I'll close this issue. For now, I'll mark it as `ticket work required` so we can gather more information.

OS: Win 10 Pro 1809
Browser: Firefox Dev. Ed. 74.

[2020-03-05 19:36] akmadian commented on #714
Thanks for sharing your idea :) I'm gonna close this issue because the header component used currently will be replaced with vocab's header component in the current sprint, so any work you do will be quickly obsolesced.

[2020-03-05 19:36] #714 closed

[2020-03-05 19:43] coderbabu10 commented on #717
@akmadian sir any suggestion what i can do for the same.

[2020-03-05 19:43] akmadian commented on #699
Since this will likely change soon, I'm going to mark this as `blocked` until vocab styling is implemented. After that, we can re-visit this :)

[2020-03-05 19:45] akmadian commented on #717
@coderbabu10 nope, just follow the process for working on or reporting issues like you've been doing :)

[2020-03-05 19:47] coderbabu10 commented on #717
okay sir

[2020-03-05 21:03] annatuma commented on #695
Thank you for this suggestion @coderbabu10.

However @hemanth-hk and @akmadian are quite right, this will be revamped with Vocabulary, within two weeks.

Here is a screenshot of what the new design will look like, where the alignment is not an issue. Therefore your time is better spent on other issues.

![browse-collections-redesign](https://user-images.githubusercontent.com/3051816/76025411-841fe

[2020-03-05 21:03] #695 closed

[2020-03-05 21:07] annatuma commented on #689
Thanks folks! I'm putting this in the current sprint to help keep track of progress. Great suggestion.

FYI @panchovm that this is being worked on.

[2020-03-05 21:20] annatuma commented on #704
@DantrazTrev thanks for noting this. As @hemanth-hk has pointed out, there is indeed a discrepancy in what we show when hovering over the logo of the source.

On the results page, we show the title of the work.
![results-page-more-correct](https://user-images.githubusercontent.com/3051816/76026041-a82ff300-5ef3-11ea-952f-71d35ee42879.png)

On the single result page, we show the name of the source.

[2020-03-05 21:23] annatuma commented on #536
@brenoferreira please add a separate ticket, linked from the list of tickets here, for the updated Collections page.

[2020-03-05 21:23] annatuma commented on #703
It is getting a redesign on desktop, and with the use of grids I expect that will also impact the mobile view here.

I'm going to close this issue, but if it persists once the new designs are integrated, then @coderbabu10 you are encouraged to reopen it and indicate this still requires fixing.

The ticket to look for completion of is in the current sprint: https://github.com/creativecommons/cccata

[2020-03-05 21:23] #703 closed

[2020-03-05 22:31] Vineet-Sharma29 opened #718 "related images in photo-detail view are not centre aligned"
## Describe the bug
Bug is observed in mobile view

## To Reproduce

1. Go to 'results'
2. Click on 'image'
3. Scroll down to 'related image' section
4. See error

## Expected behavior
Images should be right aligned

## Screenshots
![Screenshot_2020-03-06 CC Search](https://user-images.githubusercontent.com/35156299/76032137-38575200-5f5f-11ea-833f-41ff29d48d0c.jpg)

## Smartphone (please complete

[2020-03-05 22:35] Vineet-Sharma29 opened #719 "header in tag section in photo-detail view has alignment error"
## Describe the bug
Bug is observered in mobile view

## To Reproduce

1. Go to 'results'
2. Click on 'image'
3. Scroll down to 'tag' section
4. See error

## Screenshots
![Screenshot_2020-03-06 CC Search](https://user-images.githubusercontent.com/35156299/76032391-d1866880-5f5f-11ea-8821-90698f97d6cd.png)

## Smartphone (please complete the following information)
 - Device: (ex. iPhone6)
 - OS: (

[2020-03-06 00:11] highflyer910 commented on #488
May I work on this as an Outreachy applicant?

[2020-03-06 07:32] abhisheknaiidu opened #721 "Unnecessarily calling a method in created()"
## Describe the bug
Unnecessarily calling a method in created and watch. The thought behind this is we want to run the watch hook as soon as a component is initialized.

## Expected behavior
But Vue has a built-in solution for this. It’s a property of Vue watchers that we often forget.
All we have to do is restructure our watcher a little bit and declare two properties:
1)  handler (newVal, oldVal

[2020-03-06 08:20] Mahelaa opened #722 "Using Multiple Root Nodes"
## Problem Description
Hey all,
As you know ive been working on issue #631 and i finished most of the implementation, However i have one issue that needs to be solved. When implementing the placeholders i wanted to use Fragments like in react, however there is no build of it within vue 2, (vue 3 natively has this)

The need for this is to replicate the placeholders efficiently

## Solution Descrip

[2020-03-06 12:39] panchovm commented on #689
Thanks for raising this behavior

[2020-03-06 12:42] panchovm commented on #716
The table style is already defined in the Design Library. We should apply that design.

[2020-03-06 13:51] #708 closed

[2020-03-06 22:44] sheilaanguiano commented on #232
Hello,
Since this is reopen, I'd like to know if I can help to make this my first contribution as part of the outreachy program

[2020-03-07 06:20] coderbabu10 commented on #718
it is same as #682 because there the images were colliding with the images and can only be corrected by making the images just aligned with the heading,what are your views @akmadian ?

[2020-03-07 06:38] hemanth-hk commented on #721
Which component is this? cause I found 2 `CollectionBrowsePage` components and I cant see the `created` in them

[2020-03-07 06:54] hemanth-hk commented on #719
Firstly there are 2 header tags and secondly, I wanted to know what do you mean by saying `alignment error`, like what is your expected behavior?

[2020-03-07 09:55] Vineet-Sharma29 commented on #719
By alignment I meant that the border above heading and horizontal line are not aligned.

[2020-03-07 09:57] Vineet-Sharma29 commented on #718
After #661 colliding srollbar or overflow in x-direction has been resolved. However, due to margin errors the related images are not center aligned in the latter PR.

[2020-03-07 10:25] GeekBoySupreme opened #724 "Adding Voice Search to the CC Image Search"
## Problem Description
It is not easy to search CC for vision-impaired individuals. While updating and adding Accessibility options help, they do not allow for a full-fledged voice search without the use of Screen Readers or other similar Softwares.

## Solution Description
Build Voice Search as a primary feature in the Image Search frontend. It would essentially be a Speech-To-Text plug-in that c

[2020-03-07 10:26] Vineet-Sharma29 commented on #679
@akmadian Made changes in #628

[2020-03-07 13:01] abhisheknaiidu commented on #724
@GeekBoySupreme It's actually a Google Summer of Code's Project Idea. If you want to apply in creative commons, you can check it once :)

https://opensource.creativecommons.org/internships/project-ideas/all/#add-audio

[2020-03-07 13:13] GeekBoySupreme commented on #724
@abhisheknaiidu, I guess the two are functionally different.

While the Project Idea talks of having a Sound Dataset that can be searched through, the idea behind this issue is to add the feature of searching through voice.
In one case, sound is the data, and in the other, sound is just a medium.

Thanks for the heads up though. Would definitely look into this!

[2020-03-07 15:44] abhisheknaiidu commented on #721
@hemanth-hk It is present in CollectionBrowseMixin.js

[2020-03-07 23:55] akmadian commented on #488
Hey @highflyer910, since this issue is a part of our Outreachy/ GSoC project, you'll have to submit a project proposal as per the Outreachy/ GSoC process and get accepted to work on this

[2020-03-07 23:56] akmadian commented on #722
I think this could be a good idea, but I'd like to get @brenoferreira's thoughts

[2020-03-08 00:00] akmadian commented on #716
@panchovm The way I understood your comment is that there's already a spec for tables in the vocab library, so that design should be implemented instead of the current design. Is that correct?

If so, would it be possible for @DantrazTrev to work on it, or is it something that Breno should handle? (is it already a part of #536)

[2020-03-08 00:04] akmadian commented on #719
Thanks for spotting this! Go ahead and work on this :) Please remember to keep it to one PR per issue

[2020-03-08 00:08] akmadian commented on #718
Hey @Vineet-Sharma29, how is this different from #719? When the alignment of the section that contains tags and related images is corrected, this should be resolved.

Was this issue meant to be only for related images, and #719 only for the tags? If so, I think you could incorporate the alignment fixes from #719 and this issue into one PR.

[2020-03-08 00:13] highflyer910 commented on #488
@akmadian , Did you mean I need to be an intern to work on this issue?

[2020-03-08 01:24] akmadian commented on #488
@highflyer910 yes

[2020-03-08 01:24] akmadian commented on #488
Came across this article, it may be of help: https://marcysutton.com/how-i-audit-a-website-for-accessibility

[2020-03-08 06:33] Officialkome commented on #590
Hello, has this issue been resolved? I am from Outreachy, I would like to work on this if its not resolved yet

[2020-03-08 07:46] JackieBinya commented on #649
Hello I'm Jacqueline Binya.
I would love to work on this issue if its still open.

[2020-03-08 07:59] JackieBinya commented on #649
Hello I am Jacqueline Binya an Outreachy 2020 applicant.
I can disable the rule, may I work on this?
But after I disable the rule everyone pushing from a Windows machine would have to do what @hemanth-hk suggested otherwise they may risk introducing CLFR line breaks whilst the whole code-base uses LF.

[2020-03-08 08:01] Atanda1 commented on #649
The issue is already under review.

On Mar 8, 2020 08:59, "JackieBinya" <notifications@github.com> wrote:

[2020-03-08 08:46] Kirti2502 commented on #711
@kgodey Can I work on this issue if nobody else is working?

[2020-03-08 09:25] Vineet-Sharma29 commented on #718
@akmadian #719 and #718 are different. Alignment error are due following class:-
- `.photo_related-images,.photo_tags{margin-top:30px;}
- `.photo_related-images,.photo_tags{
/* Small only */
  @media screen and (max-width: 39.9375em) {
    margin: 15px;
  }
}`

For #719, both point needs to be fixed and for #718 only point-2 needs to fixed. I will merge these two in a single PR.

[2020-03-08 09:33] Vineet-Sharma29 commented on #632
since this issue has been solved by #661 , I am closing this issue

[2020-03-08 09:33] #632 closed

[2020-03-08 09:34] Vineet-Sharma29 commented on #625
since this issue has been solved by #661 , I am closing this issue

[2020-03-08 09:49] Kirti2502 commented on #590
Hi, I am an Outreachy applicant. Can I take up this issue @makkoncept ?

[2020-03-08 09:52] Shobhan99 commented on #590
@coderbabu10 has been assigned this issue since a week now and hasn't solved it. He isn't letting others take the issue.

[2020-03-08 09:52] Kirti2502 commented on #717
Hi, I am an outreachy applicant, can i take up this bug if it is not been worked upon @coderbabu10 ?

[2020-03-08 09:53] Kirti2502 commented on #717
Hi, I am an outreachy applicant, can i take up this bug if it is not been worked upon ?

[2020-03-08 10:48] Vineet-Sharma29 commented on #678
@annatuma , @akmadian I thought following design:-
- in `xs` view
![Screenshot from 2020-03-08 16-13-32](https://user-images.githubusercontent.com/35156299/76161324-5936c780-6158-11ea-8cd8-6cd5128031a6.png)

- in `sm` view
![Screenshot_2020-03-08 CC Search](https://user-images.githubusercontent.com/35156299/76161328-68b61080-6158-11ea-86e7-2311e008b3e6.png)

[2020-03-08 11:21] abhisheknaiidu opened #725 "Search result page goes blank after refreshing any random photo details page."
## Describe the bug
Search result page goes blank after refresehing any random photo details page.

## To Reproduce
1. Go to https://ccsearch.creativecommons.org/
2. Search for any image and then click any random image.
3. Refresh the photo detail page and Go Back
4. See error

## Expected behavior

Results should appear after that also

## Screenshots

![ccw](https://user-images.githubusercontent

[2020-03-08 14:16] coderbabu10 commented on #717
Hello @Kirti2502 i am working on this issue you can find another issue having label help wanted or good first issue. :)
thank you

[2020-03-08 14:19] coderbabu10 commented on #590
hey @Shobhan99, me and @akmadian were discussing about the same for last few days and right now i am working on the suggestion given by him. :)
Thank you.

[2020-03-08 14:27] AyanChoudhary commented on #704
@DantrazTrev are you working on this? If not I would like to work on this.

[2020-03-08 14:59] #625 closed

[2020-03-08 15:04] highflyer910 commented on #488
Thank you, but I already have experience in accessibility and that's why I wanted to work on this... So maybe you can guide where to start and which issues to lookout?

[2020-03-08 17:00] Abhishek856 commented on #590
can i work on this issue

[2020-03-08 17:50] makkoncept opened #726 "Searching from the image details page not working"
## Describe the bug
Searching for any query from the top right search bar on the image details page does not fill the grid with new images. Though, the search query makes it way to the URL and the main search bar.

Please refer to the GIF below.

## To Reproduce
1. Go to https://search.creativecommons.org/photos/9f8f92a2-363c-4754-96e7-0f0d26ee1a8c
2. Search for anything from the top right search

[2020-03-08 19:01] akmadian commented on #726
Thanks for reporting this :) I think we should tack this onto #667 since it's pretty much the same behavior, just a slightly different situation. @DantrazTrev, I'm going to assign this to you, please include a fix for this in #667 :)

[2020-03-08 19:04] akmadian commented on #590
Yep, @coderbabu10 and I have been discussing how to proceed with this issue privately and publicly for a little while now. He is still actively working on it so this issue will stay assigned to him. Thanks for all of the interest, though :)

cc: @Officialkome, @Kirti2502, @Shobhan99, @Abhishek856

[2020-03-08 19:07] akmadian commented on #488
@highflyer910 Experience with accessibility is definetely a plus, be sure to mention it in your project proposal!

Please have a thorough read through [CC's Internship Applicant Guide](https://opensource.creativecommons.org/internships/applicant-guide/) and [CC's Code Contribution Guidelines](https://opensource.creativecommons.org/contributing-code/)

[2020-03-08 19:16] akmadian commented on #704
@AyanChoudhary DantrazTrev only got the assignment a few days ago, so I'll leave it assigned to him for now. If no progress is made and he is unassigned, I'll assign it to you

[2020-03-08 19:25] akmadian commented on #725
Thanks for reporting this :) I'm gonna close it since it's essentially a duplicate of #673. It's not an exact duplicate, but I think the issue that's causing this will be fixed by work on #673.

[2020-03-08 19:25] #725 closed

[2020-03-08 19:28] akmadian commented on #678
Thanks for updating this :) I don't think the current design still looks and works better. I'd like to get @annatuma's thoughts, but I'm in favor of keeping the current design and closing this

[2020-03-08 19:30] akmadian commented on #711
Hey @Kirti2502, since this issue has the "not ready for work" label, and Breno is assigned, this issue is not up for grabs. Keep looking though, I'm sure you'll find one to work on :)

[2020-03-08 19:32] akmadian commented on #721
I'm gonna ping @brenoferreira to get his input as I'm unsure if this was intentional. Pending his approval, you may work on this @abhisheknaiidu :)

[2020-03-08 19:40] akmadian commented on #724
@GeekBoySupreme is correct here, the summer of code project you linked is about adding audio files to the catalog, whereas this issue is about adding voice search functionality to search.

I'm gonna keep this marked as "not ready for work", and link the accessibility meta issue (#488). This may or may not get handled in GSoC/ Outreachy, but @GeekBoySupreme, please include this idea in your proposa

[2020-03-08 19:58] abhisheknaiidu commented on #726
@akmadian If no one has done yet, can I re-open my PR, because I have fixes this issue in this PR #657

[2020-03-08 21:26] DantrazTrev opened #728 "Add more social media share options"
## Problem Description
The current social media share options are quite limited and there are more platforms that are used more for sharing images than the current ones.

## Solution Description
So maybe we can add more like Tumblr, Instagram or famous image boards

## Alternatives
There could be an option in the Share tab that directs to more platforms to avoid UI congestion

## Additional contex

[2020-03-08 21:43] DantrazTrev opened #729 "The image grid isn't loaded completely"
## Describe the bug
When you search something and scroll down to the bottom there is sometimes a blank space

## To Reproduce

1. Go to home
2. Search hjem
3. Scroll down
4. See the missing images

## Expected behavior
The behavior needs to be consistent, in some search results it is somewhat close
![image](https://user-images.githubusercontent.com/43457420/76171659-a7c57f80-61b3-11ea-8e87-bbdab16

[2020-03-09 04:06] hrishikeshpaul opened #730 "Cannot run the project"
## Describe the bug
So I have cloned the repo and when I type `npm run dev`, I get an error as shown below,
[code]

`npm run build` also doesn't seem to work, giving a similar error.

## To Reproduce

1. Clone repo
2. Type `npm run dev`

## Expected behavior
Server should run

## Desktop (please complete the following information)
 - OS: MacOS 10.15.2

## Additional context
Please let me know if a

[2020-03-09 04:19] coderbabu10 commented on #730
it think you have to first install npm by typing `npm install`.

[2020-03-09 04:25] hrishikeshpaul commented on #730
@coderbabu10 I have done that!

[2020-03-09 04:40] abhisheknaiidu commented on #730
@hrishikeshpaul This is actually a question, not an issue and it can be asked in CC's Slack Channel.
If you haven't been a part of it, then you can sign up from here :)
https://slack-signup.creativecommons.org/

[2020-03-09 05:01] abhisheknaiidu opened #731 "Use Semantic Elements like Article Tag instead of Paragraph Tag for better Accessibilty i.e for people who use screen recorders for the same."
## Describe the bug
People with disabilties, mostly use screen recorder's when using the site, and these screen recorders are not well versed with detecting the paragraph tags, they usually helps to navigate a site using headings and landmarks like nav, article, footer etc

## Expected behavior
Should Follow the ARIA Specific properties for better accessibilty. Since there isn’t much difference in

[2020-03-09 05:13] abhisheknaiidu opened #732 "Images fade away while using the site with keyboard navigation tools like TAB"
## Describe the bug
Navigating a site via keyboard means jumping from one focusable element to another in DOM order. While navigating with TAB key through the images, the images fades away, but it comes when we hover over it.

## To Reproduce
1. Go to https://ccsearch.creativecommons.org/
2. Search for any Item
3. Navigate using TAB key
4. See error

## Expected behavior

It shouldn't be fade away

[2020-03-09 07:01] abhisheknaiidu opened #734 "No proper Tab Order in the main CC Search Page for users who rely on the keyboard"
## Describe the bug
Focus is one of the main pillars of accessibility, especially for users who rely on the keyboard as their primary means of navigating a page. While navigating through the page using the TAB key, i found that the tab order is not consistent, i.e " Looking for the old CC Search portal? Go here" should come first in ordering while navigating for better accessibilty.

## To Reprodu

[2020-03-09 11:29] DantrazTrev commented on #704
Hi, I need help fetching the image source's formatted names , can you please guide me?

[2020-03-09 11:47] miracle-E commented on #716
I'm an outreachy applicant. I would love to contribute to this project

[2020-03-09 12:08] #653 closed

[2020-03-09 12:33] #663 closed

[2020-03-09 13:34] panchovm commented on #716
Yes @akmadian, we should apply the Design Library's design. In the mockup (sprint 1) there is no design for that specific page.

[2020-03-09 13:37] DantrazTrev commented on #716
This one of the basic things I propose to avoid overflow and scrolling in handled devices
![image](https://user-images.githubusercontent.com/43457420/76217866-38926e80-6239-11ea-98f0-83ea910a7ae0.png)

[2020-03-09 13:39] panchovm commented on #716
Oh. I got it. I am pretty sure that that problem is related to the grid instead of a table style. I am not sure how we are working on grid's implementation.

[2020-03-09 13:47] DantrazTrev commented on #734
I think the ordering is pretty logical
Nav bar -> Search Section -> Old portal ->Search guide
If we put the old portal first that would be spatial but that would weaken the purpose of the search section
Let's see what the design team has to say

[2020-03-09 13:52] abhisheknaiidu commented on #734
@DantrazTrev No it has to be in this order - Nav bar -> Old Portal -> Search Section -> Search Guide, according to the sequence for proper Tab order.

[2020-03-09 14:25] DantrazTrev commented on #730
Hi @hrishikeshpaul try `npm audit fix` to package issues fix the issues

[2020-03-09 16:13] akmadian commented on #734
This will be worked on in our GSoC/ Outreachy project (see #488 for the meta issue). I'm gonna apply the proper labels and close this issue to reduce clutter while still documenting that this task should be looked at.

[2020-03-09 16:13] #734 closed

[2020-03-09 16:17] akmadian commented on #732
Thanks for catching this! This should be worked on in our GSoC/ Outreachy project (see #488 for the meta issue). I'm gonna apply the proper labels and close this issue to reduce clutter while still documenting that this task should be looked at.

[2020-03-09 16:17] #732 closed

[2020-03-09 16:18] akmadian commented on #731
Thanks for catching this! Lots of accessibility related issues from you lately :) Please include all of these in your project proposal somehow. As for now, this should be worked on in our GSoC/ Outreachy project (see #488 for the meta issue). I'm gonna apply the proper labels and close this issue to reduce clutter while still documenting that this task should be looked at.

[2020-03-09 16:18] #731 closed

[2020-03-09 16:21] akmadian commented on #729
This is because there's a fixed number of images that get fetched from the API at a time, but the widths of the images aren't always consistent, and because of the way we render the images (not in a strict grid), there may be some empty space at the end.

Thanks :)

[2020-03-09 16:21] #729 closed

[2020-03-09 16:31] akmadian commented on #724
I'm gonna close this issue to reduce clutter, but it's still connected to the accessibility meta issue so it's documented. Please include this idea and any other ideas you have for accessibility in your proposal!

[2020-03-09 16:31] #724 closed

[2020-03-09 16:33] akmadian commented on #599
I'm gonna link this issue to #488 so it's documented, then close it. Please include this idea (and any others you may have) in your proposal!

[2020-03-09 16:33] #599 closed

[2020-03-09 16:38] akmadian commented on #677
This is still an issue after 661 was merged. @ankurshr01 if you'd like to work on this issue, you can go ahead and get started!

[2020-03-09 16:40] akmadian commented on #629
Thanks for reporting this @coderbabu10, this is still an issue so you may go ahead and work on it!

[2020-03-09 16:46] akmadian commented on #373
Linking #488 because we're going to work on this in the internship period

[2020-03-09 16:50] hrishikeshpaul commented on #730
@DantrazTrev I have done so, but it doesn't resolve the error.

[2020-03-09 16:51] hemanth-hk commented on #599
Yup, Surely I'll add it to my proposal

[2020-03-09 17:46] coderbabu10 opened #735 "no hover while using tab button in the navbar."
## Describe the bug
there is no hover while using the tab button.
for better accessibility.
## To Reproduce

1. Go to https://ccsearch.creativecommons.org/
2. Click on 'tab key'
3. See error

## Expected behavior
there should be hover like when you place the cursor

## Screenshots
![Screenshot from 2020-03-09 23-14-27](https://user-images.githubusercontent.com/54955755/76241924-c8491480-625b-11ea-

[2020-03-09 17:54] Amankumar29 opened #736 "Mobile menu icon a11y"
## Describe the bug
when we use tab key in the mobile view the toggle icon is not properly working and the components inside it is not displaying i think it should be corrected for better accessibility.

## To Reproduce

1. Go to https://ccsearch.creativecommons.org/
2. Click on 'Tab key'
3. See error

## Expected behavior
when we go to toggle button it should automatically open and the components

[2020-03-09 18:05] coderbabu10 commented on #735
i think we can also add hover for the elements under collection in browse by collection page.what are your views @akmadian

[2020-03-09 18:32] abhisheknaiidu commented on #735
@coderbabu10 We already have a focus property using Tab Key, and thats more than enough for screen readers and also the nav bar has hover property already and I guess again adding Hover inside hover is a bit confusing and not suitable for responsiveness. What are your views @akmadian

![hov](https://user-images.githubusercontent.com/55599878/76245439-e6197800-6261-11ea-969b-1befe433cd50.png)

[2020-03-09 18:49] coderbabu10 commented on #735
i don't think it is enough having just a dotted line box, we can add same hover like while using cursor i think it will be much better for the user.

[2020-03-09 18:59] coderbabu10 opened #737 "A bit confusing while using tab key for social share buttons."
## Describe the bug
while using "TAB key" for the social share buttons it is difficult to find out where it is pointing

## To Reproduce

1. Go to https://ccsearch.creativecommons.org/
2. Search for any of the images
3. Select an image.
4.go to share option
5. See error

## Expected behavior
there should be proper hover or anything else which can let the user know where the pointer is

## Screensh

[2020-03-09 19:15] abhisheknaiidu opened #738 "Components of Filter Button should open downwards, not upwards in mobile view for better responsiveness"
## Describe the bug
Components of Filter Button should open downwards, not upwards in mobile view for responsiveness

## To Reproduce

1. Go to https://search.creativecommons.org/
2. Go to Mobile View
3. Click Filter Button
4. See error

## Expected behavior
Filter button should open downwards, not upwards for better responsiveness.

## Screenshots

![mobi](https://user-images.githubusercontent.co

[2020-03-09 20:04] abhisheknaiidu opened #739 "Nar Bar should be more responsive in terms of UI, in mobile view"
## Describe the bug
Now, the Nav bar basically shows 2 + 2 items

![mobile](https://user-images.githubusercontent.com/55599878/76252546-f08e3e80-626e-11ea-82a7-5b141e5a2506.png)

## Expected behavior
It should be in proper order / alignment for better responsiveness.

## Desktop (please complete the following information)
 - OS: Ubuntu
 - Browser Chrome

## Additional context
Want to work on it, i

[2020-03-09 21:02] mercyikpe commented on #442
Hello, is this task still available?
I'm interested in the task.

[2020-03-10 14:12] brenoferreira commented on #232
@sheilaanguiano yes :)

[2020-03-10 14:25] ruthstern commented on #232
Hi everyone, I would like to assist here too :-)

[2020-03-10 14:25] ruthstern commented on #232
Is that still possible ? Kind regards

[2020-03-10 14:56] miracle-E commented on #739
I'm an outreachy applicant, would love to work on it when it is ready for work.

[2020-03-10 16:17] AhmedSamir97 commented on #232
My name is Ahmed Samir , I'd like to work on the test coverage for this project for the following component  SearchGridForm and SearchGridFilter can anyone help me ?

[2020-03-10 16:27] AhmedSamir97 commented on #232
also , photo tag and reuseSurvey

[2020-03-10 16:53] Siyubu commented on #728
I'm an outreachy applicant for May, 2020 intake and I would love to work on this project once it is ready for work

[2020-03-10 20:06] abhisheknaiidu opened #743 "Proper Documentation required for better understanding of Update,Leave and Enter functions"
## Describe the bug
Since most of the people are confused or unfamiliar with these functions, So we must provide proper Documentation/Commenting for better understanding of beforeRouteUpdate, beforeRouteLeave, beforeRouteEnter functions.

## Expected behavior
Should be properly commented for better understanding.

## Screenshots

![doc](https://user-images.githubusercontent.com/55599878/76354017-b

[2020-03-11 12:47] abhisheknaiidu opened #744 "Unnecessary Calling of two lifecycle hooks in SearchGrid Component, adding and removing can be done inside just the mounted method only"
## Describe the bug
When adding/deleting component event listeners in Vue, we use the lifecycle hooks mounted and beforeDestroy. **beforeDestroy** hook causes memory leaks if any. In the typical pattern, we would have to declare these hooks separately in the component options object. One problem with this is that with larger components, these options can be hundreds of lines apart.
Looking at the

[2020-03-11 20:43] kgodey commented on #442
@mercyikpe sorry, this is not available. We need to spec this out further before we can open it back up for contribution.

[2020-03-12 06:51] poyea opened #745 "Items explode when the screen is too small"
## Describe the bug

For 320px width,
![screen](https://user-images.githubusercontent.com/24757020/76494673-aefbc000-6435-11ea-89e4-3335a50f9d33.jpg)
For 375px width, the items are not fitted in the grid.

## Expected behavior

We should have balanced margins and fitted items in the grid.

## Desktop (please complete the following information)
 - OS: (ex. iOS)
 - Browser (ex. chrome, safari)
 - Ve

[2020-03-12 07:18] abhisheknaiidu commented on #745
@poyea Its the duplication of #703 , and i guess this page is getting Re-Design by CC Team.

[2020-03-12 07:24] #745 closed

[2020-03-12 12:25] #698 closed

[2020-03-12 18:58] hemanth-hk commented on #744
I think before one is good. It's like the ternary operator and the if statement, for the code-base to be beginner-friendly I think the before is better

Do wait for others view-point

[2020-03-12 19:07] abhisheknaiidu commented on #744
@hemanth-hk calling two life-cycle hooks is not so great than calling just a single lifecycle hook,With single life-cycle hook, It increases the code readability. and btw also the beforeDestroy hook causes memory leaks! so it also diminishes that also.

[2020-03-12 19:19] annatuma commented on #701
Some of this is noted in the earlier discussion, but to summarize:

1) In portrait mode, this is purposefully hidden, and it is included in the hamburger menu.

2) In landscape mode, it is both in the hamburger menu correctly) but is also visible on the bottom right of the screen, with some formatting errors.

I'm attaching screenshots.

Knowing that @brenoferreira has current priorities above #71

[2020-03-12 19:23] annatuma commented on #699
This should actually get done as part of https://github.com/creativecommons/cccatalog-frontend/issues/545 when @brenoferreira implements the single result page redesign.

Closing this out.

[2020-03-12 19:23] #699 closed

[2020-03-12 19:28] annatuma commented on #716
Before this can be worked on, the Table Styles need to be implemented in Vocabulary:
https://github.com/creativecommons/vocabulary/issues/126

Once that is done, this can be reworked. We should not be using the full width of the screen (i.e. all 12 columns of the grid) for the table, so ensure that any updated design has a narrower table than we currently have.

@DantrazTrev we need to see a mocku

[2020-03-12 19:34] annatuma commented on #715
We previously did work on introducing this functionality, of taking users back to the same place in the search results after hitting back.

After testing Safari, Chrome, and Firefox on Mac OS X, this appears to be an issue with Firefox specifically, and only intermittently so, which makes reproducing this harder.

@abhisheknaiidu we're happy for you to work on fixing this.

[2020-03-12 19:48] annatuma commented on #728
@DantrazTrev you're welcome to propose a change to the Share tab. Please let us know which icons specifically you'd want to include. Please make use of FontAwesome icons, as that's what we'll be using on CC Search.

Before this change can be implemented on CC Search, however, we'll need to add the additional social media icons into Vocabulary. @DantrazTrev please create a ticket for that and work

[2020-03-12 19:55] annatuma commented on #738
@abhisheknaiidu we have an upcoming UI change planned for filters on mobile, where the filters would essentially function like a modal (overlaying results), and the user would need to press "show results" (new button) or close the modal (x in top right hand corner), in order to see results. This is part of the work @brenoferreira is doing for Design Sprint 1. Therefore, I'm not sure it's worth the

[2020-03-12 19:55] #738 closed

[2020-03-12 19:58] annatuma commented on #739
We will be making updates to the navigation on mobile in the near future: https://github.com/creativecommons/cccatalog-frontend/issues/675

Therefore we won't move forward with any interim changes.

[2020-03-12 19:58] #739 closed

[2020-03-12 20:03] annatuma commented on #737
Tabbing appears to work seamlessly on Chrome, but falls short on both Firefox and Safari. This issue is not limited to the social icons, but also to items in the top navigation (About, Browse by Collection, Feedback).

@coderbabu10 it would be great if you could inventory and make a list in this ticket where use of tab isn't working, to identify additional areas to fix. I suspect there are more fo

[2020-03-12 20:09] annatuma commented on #736
We are unable to replicate this. Please surface this in the cc-search channel on Slack and see if others are able to. Recording the screen when this happens would also be helpful. Please indicate what mobile device and browser you are using as well.

If more details aren't available, we should not move forward with this.

cc @akmadian

[2020-03-12 20:10] abhisheknaiidu commented on #684
@akmadian Since its been a week and no one is responding here, can i take up this issue ?

[2020-03-12 20:11] annatuma commented on #735
@coderbabu10 see the comments we made in https://github.com/creativecommons/cccatalog-frontend/issues/737

This appears to all be one issue, browser-specific, and you're welcome to move forward with working on it, but we'll keep all of the work in https://github.com/creativecommons/cccatalog-frontend/issues/737

Closing this issue.

[2020-03-12 20:11] #735 closed

[2020-03-12 21:12] abhisheknaiidu commented on #315
Hi! @akmadian @kgodey Can i work on this issue, if no one is working on this !

[2020-03-12 21:27] kgodey commented on #315
I think we should run this by @annatuma, this would be a significant UI and functionality change.

[2020-03-12 21:40] annatuma commented on #315
Hey folks, apologies for the delayed response here. I've gone ahead and blocked this one. This will require thoughtful internal discussion, and hasn't been prioritized to date because of other work on (new) CC Search.

@genedy377 @abhisheknaiidu please look for other "help wanted" issues to contribute to.

[2020-03-12 21:46] akmadian commented on #726
@abhisheknaiidu I think we're going to move ahead with the fix implemented in #667

[2020-03-12 22:09] akmadian commented on #721
Refreshing this @brenoferreira

[2020-03-12 22:50] akmadian commented on #704
Hey @DantrazTrev, I see that you opened a PR for this, do you still need help or did you figure it out?

[2020-03-12 22:51] akmadian commented on #743
I think this is a good idea, go ahead and work on it!

[2020-03-12 22:55] akmadian commented on #232
Hey @ruthstern, go ahead! Please be sure to comment which component you intend to work on, and be sure to check to see if someone else is already working on it.

@AhmedSamir97 you can also help out, please check to see if someone else is working on tests for the same component you intend to work on before getting started :)

For both of you, if you are working on tests for multiple components (I w

[2020-03-12 23:00] akmadian commented on #744
Thanks for suggesting this :) I think that the readability of what we have now is better. It's far easier IMO to understand exactly what the code is doing at a glance than the proposed syntax.

I'm going to close this issue because I don't think this change is necessary, although I am curious about the memory leaks. Please find some resources or articles, maybe a stackoverflow thread or other docu

[2020-03-12 23:00] #744 closed

[2020-03-12 23:02] akmadian commented on #715
I'm going to mark this as `in progress` under the assumption that @abhisheknaiidu is up for working on it (as said in the issue body)

[2020-03-12 23:06] akmadian commented on #701
@abhisheknaiidu lets wait for @DantrazTrev to reply on whether or not they're still interested, if not, go ahead!

[2020-03-12 23:07] akmadian commented on #737
I'm going to mark this as `in progress` under the assumption that @coderbabu10 is still interested in working on it (as indicated in the issue body)

[2020-03-12 23:12] akmadian commented on #736
I'm not sure why anyone would be using search on a mobile breakpoint, and using tab for navigation (maybe there's a use case that I'm unfamiliar with?), although that's not a reason to not implement a fix.

I think this may be to do with the nav hamburger, the links inside the menu (which is hidden) can be selected, but the hamburger does not expand when a link inside it is focused on. This create

[2020-03-12 23:14] akmadian commented on #684
@abhisheknaiidu go ahead!

[2020-03-13 03:24] coderbabu10 commented on #736
as there are many people who can't afford the laptops and also some having some physical disorder so they can simply connect it with the keyboard and use it with the flow.

in mobile view, when we use the tab key i think it would be more appropriate that the toggle button should open automatically when tab key pointed towards it and then it should point the components inside it as it will be more

[2020-03-13 03:36] akmadian commented on #730
Please try the following:
1. Delete your copy of the repo
2. Create a fresh clone of the repo
3. Run `npm run install`
4. Run `npm run dev`

You could also try clearing your npm/ node cache

[2020-03-13 04:25] hrishikeshpaul commented on #730
@akmadian I tried this, and am getting the same error.

[2020-03-13 08:13] DantrazTrev commented on #701
I've made the changes for the search syntax guide , And I'm thinking of the old portal's link in to be better hidden in the mobile devices

[2020-03-13 09:45] Mahelaa commented on #631
Pushed the current solution!
TODO : Implement fragements
AutoScaling and padding

[2020-03-13 12:20] coderbabu10 opened #751 "giving link title in footer for better accessibility."
## Problem Description
we can add link title in footer for better accessibility,as it will help the user to know the given links in more clear way.

## Solution Description
we can add the title tag for the links.

## Additional context
i would like to take this up.

[2020-03-13 12:22] brenoferreira commented on #743
So, the documentation of these functions are already provided in the [Vue Router Documentation](https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards). We shouldn't duplicate that here. If someone doesn't know how they work, they can refer to the docs.

But I think we should document their specific behaviour in these specific cases here. I'll write some docs and tag yo

[2020-03-13 12:30] brenoferreira commented on #743
@abhisheknaiidu please take a look at #752 and see if those comments help you understand better what's going on

[2020-03-13 12:42] abhisheknaiidu commented on #751
@coderbabu10 Actually this footer is temporary, and will be overwritten once the actual footer component will get ready in vocab.So this issue should be closed, because it does not affect any functionality, and would be quickly overwritten in the transition to vocab.

[2020-03-13 12:46] brenoferreira commented on #730
Some people on Slack have reported the same problem and it seems like an issue with some specific versions of Node.
Try using [NVM](https://github.com/nvm-sh/nvm) and installing version `v12.4.0` and see if that fixes the problem.

[2020-03-13 12:50] abhisheknaiidu commented on #743
@brenoferreira yea I have seen it and suggested some edits 😊

[2020-03-13 13:10] coderbabu10 commented on #751
Yeah @abhisheknaiidu i know that the footer is temporary but we can have it as a suggestion that we can add this feature in future for better accessibility i want to know that what @akmadian and @brenoferreira have their views for this?

[2020-03-13 13:14] abhisheknaiidu commented on #721
@akmadian , Next time onwards, I'll take of it :)

[2020-03-13 13:27] abhisheknaiidu commented on #677
@akmadian If no one has shown interest on this, can I work on this :)

[2020-03-13 13:34] coderbabu10 commented on #730
First uninstall the previous version of npm
then run this `npm i node@12.4.0`
then npm run dev
it will work :)

[2020-03-13 13:40] #743 closed

[2020-03-13 14:57] brenoferreira commented on #722
I think this should wait. If this feature is coming to Vue 3 natively, then let's wait until it's released and see how we can use it to build that feature. For now, I'm a bit hesitant to add this.

[2020-03-13 15:05] ankurshr01 commented on #620
@panchovm @akmadian the above link seems broken, and sorry for the delay, I was having my semester exams...

[2020-03-13 15:11] ankurshr01 commented on #677
@abhisheknaiidu I am working on this one !!

[2020-03-13 16:18] hrishikeshpaul commented on #730
@brenoferreira that did the job! Thank you!

[2020-03-13 16:18] #730 closed

[2020-03-13 17:56] kgodey opened #756 "Test automation"
This is a test issue.

[2020-03-13 17:57] kgodey commented on #756
Works!

[2020-03-13 17:57] #756 closed

[2020-03-14 08:05] abhisheknaiidu opened #757 "The Nav bar in image detail page should be sticked for better navigation for mobile users"
## Describe the bug
For Mobile users, one of the most key feature that they aspire for is Navigation, like how can they navigate other pages with much less time. This is the reason why nav bar should be sticked to the image details page for better navigation!

## To Reproduce

1. Go to https://search.creativecommons.org/
2. Search for any image
3. Select any image
4. See error.

## Expected behavi

[2020-03-14 09:21] abhisheknaiidu opened #758 "Provider logo not able to load properly under Verify at the Source"
## Describe the bug
Provider logo not able to load under Verify at the Source

## To Reproduce

1. Go to https://ccsearch.creativecommons.org/
2. Search any image
3. Select anyone
4. See error

## Expected behavior
Should be able to load provider logo properly

## Screenshots

![ss-provider](https://user-images.githubusercontent.com/55599878/76679232-c89f3200-6604-11ea-9a23-d9c5b05759ca.png)

## D

[2020-03-14 09:57] abhisheknaiidu opened #759 "Unnecessarily showing both info and image about the license can lead to bad user experience."
## Problem Description
Unnecessarily showing both content and image about the license.

## Solution Description
Rather, we can just show the image only and place an alt function to it, then it can be useful for screen readers as well. And for desktop users, we can add a hover option if required, providing the type of license it is.

![cc](https://user-images.githubusercontent.com/55599878/76679536

[2020-03-14 10:41] TikuGaelle commented on #232
Hello, i would like to know if I can work on this issue as a first contribution to my outreachy program?

[2020-03-14 10:42] satyaom commented on #689
I like to work on this enhancement

[2020-03-14 15:15] abhisheknaiidu commented on #715
@akmadian @annatuma the 'Back to search results' link works well in all the browsers, but the back navigation does work properly on firefox. so what I thought is calling onGoBackToSearchResults function, if back button was clicked.

window.onpopstate = function(event){
  onGoBackToSearchResults();
};

Is this fine ?

[2020-03-14 15:42] AyanChoudhary opened #761 "Redundant scrollbar in homepage"
## Describe the bug

The scrollbar on the homepage is redundant as there is no need for any scroll on that page.

## Expected behavior

There should not be any scrollbar there.

## Screenshots

![CC Search - Google Chrome 14-03-2020 21_06_19](https://user-images.githubusercontent.com/45792768/76685234-226d1f80-6638-11ea-8d8e-14e298d006b8.png)

## Desktop (please complete the following information)

[2020-03-14 15:43] AyanChoudhary commented on #761
Would like to work on this :)

[2020-03-14 15:57] AyanChoudhary opened #762 "Lazy load images and provide fallback templates"
## Problem Description

The image collection which is displayed often takes a large time to load(even on faster collections sometimes). This easily leads to bad user experience. Instead of trying to load all images simultaneously, it would be better if we apply lazy loading to the images, this will considerably reduce load time and would also make it possible to use component recycling as not all

[2020-03-15 04:45] hemanth-hk commented on #759
I feel that the way it's rendered now is correct. The hover is already present in the search results page so before any user clicks he/she knows about the license details and source. And this page is primarily used to view the image so adding hover here wouldn't be good, also the hover state is not very well used in the touch screen devices.

If I am wrong in interpreting your idea please correct

[2020-03-15 07:33] abhisheknaiidu commented on #759
@hemanth-hk The results page doesn't have hover for license details, it just has a normal hover effect, not specifying the type of license, that's the reason I opened an issue for it #698, and as far as, this issue is concerned, I just wanted to show just one among the two, as both convey the same information. And it would be better if we have just an image of licence icons and info hovering on th

[2020-03-15 08:04] hemanth-hk commented on #759
We can't assume that every user understands the icons, So the text is provided and if he/she doesn't understand even the text then they can click and see the license clearly. Now one thing is we can put the link on the images and the user will click on it if he/she doesn't get it, but again we are used to seeing a link in the "blue text", so I think the way it's displayed now is good from all the

[2020-03-15 09:13] AyanChoudhary opened #764 "Replace google forms for feedback to an on-site form"
## Problem Description

The google form on the feedback page feels weird because:
a. It does not match the theme of the website and stands out like a sore thumb
b. It has 2 scrollbars, which looks like it is because of the google form itself

![CC Search - Google Chrome 15-03-2020 14_37_42](https://user-images.githubusercontent.com/45792768/76698626-534a6480-66cb-11ea-89b1-a90c523890d5.png)

## So

[2020-03-15 14:30] devRD commented on #232
Hi! Can I work on this issue?

[2020-03-15 17:27] Albaalah opened #765 "Lazy load the Routes to reduce load time"
## Problem Description
Frontend loading time requires optimization as the initial load time is high. Currently, we are loading the routes with regular imports.

## Solution Description
Introduce VueRouter Lazy Loading. The lazy loading of the routes will load the components only when needed and thus allow for quicker load time and improve performance

## Additional context
I would love to work on

[2020-03-15 18:48] akmadian commented on #736
In general, it is bad for UX and accessibility for anything to happen that was not explicitly triggered by the user. So, I think that having the hamburger auto expand would be bad from a UX perspective.

I think it would be a good idea to move forward with a fix for this. Go ahead and work on it @coderbabu10!

[2020-03-15 19:02] akmadian commented on #751
Thanks for suggesting this :) If by link title you mean a title above the links that says "Links", I don't think this is necessary. I'm gonna go ahead and close this since the current footer is going to be deprecated soon in favor of the Vocab footer component.

If you would like to propose the addition to vocabulary, you can go ahead and open an issue [in the vue-vocabulary repo](https://github.c

[2020-03-15 19:02] #751 closed

[2020-03-15 19:03] akmadian commented on #722
Sounds good, for now I'm going to remove the enhancement label and mark this as not ready for work

[2020-03-15 19:08] akmadian commented on #620
The link works well for me, but that's probably cause I've got access to CC's figmas.
@ankurshr01 Here's a screenshot of the filter section with the clear filters button design.

![clear-filter](https://user-images.githubusercontent.com/28791774/76708620-7c5ffa80-66b5-11ea-8ce3-72e8a8a651f3.PNG)

[2020-03-15 19:37] akmadian commented on #757
By stickied, do you mean that the header will stay visible at the top of the screen when the page's content is scrolled? If so, I think this would be a good fix, but we should also have the header be sticky on the search results page as well. Until you respond, I'll mark this as `ticket work required`

I'm also curious what @panchovm thinks about this, is there a reason for the header to not be st

[2020-03-15 19:50] akmadian commented on #758
Thanks for noticing this! I'm gonna ping @panchovm cause I'm not sure what the intended design is. I tried looking through the Figmas I have access to, but I couldn't find any mockups with this section in CC's collection of search mockups.

[2020-03-15 20:05] abhisheknaiidu commented on #757
@akmadian Exactly, the header should stay visible at the top of the screen when the page's content is scrolled. Yea we can fix this in the search results page also I guess.

[2020-03-15 20:18] akmadian commented on #715
@abhisheknaiidu yes, I believe that would be a good idea :)

[2020-03-15 20:20] akmadian commented on #761
Thanks for catching this! Go ahead and submit a PR with a fix

[2020-03-15 20:26] akmadian commented on #762
I believe that this is happening because the search frontend loads full res images, the network tab supports this: for the MMOA collection, the first page shows 49.03 MB transferred, not good :/

I think this should be fixed by the catalog API team's work on implementing getting image thumbnails. @aldenstpage could you confirm this for me?

If the work on thumbnails is a long ways away, or wouldn'

[2020-03-15 20:28] akmadian commented on #759
Thanks for suggesting this, but I think this is intentional. Especially since search is a CC product specifically made for finding CC licensed material, information about how the work is licensed is very important.

I'm gonna close this issue because I don't think we want to move forward with the proposed changes, but thanks for suggesting them anyways :)

[2020-03-15 20:28] #759 closed

[2020-03-15 20:32] akmadian commented on #764
We want to stick with google forms since it's far easier to set up and use it as opposed to building a custom form page and setting up a db to store responses, and an API to facilitate the addition of responses. The styling doesn't fit perfectly, but the convenience is just too great, and it fits better with CC's larger workflow: we don't use google forms for just bug report and feedback forms.

P

[2020-03-15 20:32] #764 closed

[2020-03-15 20:33] akmadian commented on #232
@TikuGaelle @devRD go ahead! Please be sure to check which components already have tests being written for them before getting started.

For both of you, if you are working on tests for multiple components (I would recommend working on a maximum of two at a time), please submit a single pull request for each component instead of multiple components per PR.

[2020-03-15 20:35] akmadian commented on #765
I'm not sure if this would help much, routing seems to be pretty quick to me, but that doesn't mean that it's _always_ quick.

I'll ping @brenoferreira to see what he thinks about this

[2020-03-15 20:36] akmadian commented on #757
Pending @panchovm's approval, I think we should move forward with this suggestion, but please wait for him to reply before getting started :)

[2020-03-15 20:39] abhisheknaiidu commented on #757
ohkk @akmadian :)

[2020-03-16 06:18] Albaalah commented on #765
I agree that the routing isn't too slow but lazy loading is an excellent feature provided by the _vue-router_ library that we are using. Using its lazy loading and dynamic imports will remove the unnecessary bulk loading and instead load _chunks_ on a when or as required basis hence contributing towards the last point of our frontend public roadmap

[2020-03-16 08:25] ankurshr01 commented on #620
@akmadian thanks :)

[2020-03-16 09:40] AyanChoudhary commented on #761
@akmadian is the webpage not updated? Because when I opened the development build on my system, I can see a few changes on the page and the issue of scrollbar is not there on that version. I am attaching the screenshots for a reference.
Currently hosted webpage
![Screenshot from 2020-03-16 15-06-12](https://user-images.githubusercontent.com/45792768/76743113-1ef0aa00-6798-11ea-8cfb-44d9a2b9cbdd.pn

[2020-03-16 12:36] panchovm commented on #757
I disagree with this bug. The main nav doesn't have the action to back to results, it's to back homepage or other different pages. In this case, is not necessarily the stickied header.

[2020-03-16 13:58] panchovm commented on #758
This is part of the current design, not the new proposal. I am not sure what was the intention and, now that we're working on a new version, I will skip this.

[2020-03-16 19:09] cangreja533 commented on #701
I am an outreachy aspirant, I can work on this issue.

[2020-03-17 09:24] TikuGaelle commented on #232
https://github.com/creativecommons/chooser/issues/122
@akmadian can i work on this?

[2020-03-17 14:19] aldenstpage opened #767 "Update search syntax guide to use simplified query syntax"
We've switched to a simplified query parser. It has the advantage of being harder for users to break with special characters and unmatched brackets while still providing the main search operations that a user would be interested in.

You can find a detailed guide about the available operations [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-quer

[2020-03-18 18:00] brenoferreira commented on #721
You can try changing it. I can't really tell how it will behave without testing it, specially because we have server side rending.

[2020-03-18 18:03] abhisheknaiidu commented on #721
@brenoferreira I got you, and I already made some changes in PR #747

[2020-03-18 23:28] akmadian commented on #761
Ah yeah, there are a number of changes related to the site's design that have been made, and are being made. If you created your fork before #661, this could explain it.

Since it seems like it's working on on the development branch, I'm gonna close this issue.

[2020-03-18 23:28] #761 closed

[2020-03-18 23:34] akmadian commented on #758
I'm gonna close this since it will be made irrelevant after #723 is merged.

[2020-03-18 23:34] #758 closed

[2020-03-18 23:36] akmadian commented on #232
@TikuGaelle go ahead! Please be sure to check which components already have tests being written for them before getting started.

For both of you, if you are working on tests for multiple components (I would recommend working on a maximum of two at a time), please submit a single pull request for each component instead of multiple components per PR.

[2020-03-18 23:46] akmadian commented on #701
@cangreja533 There is already a PR with a fix for this issue, please check out other issues with the 'help wanted' label here: https://github.com/search?q=org%3Acreativecommons+is%3Aissue+is%3Aopen+label%3A%22help+wanted%22+-label%3A%22in+progress%22

[2020-03-18 23:48] akmadian commented on #765
Refreshing this @brenoferreira

[2020-03-18 23:49] akmadian commented on #757
I just realized that if mobile users want to get back to the header, they can tap the notification bar to be scrolled back to the top of the page.

Since there's an easy alternative, and since Francisco disagrees with this suggestion, I'm gonna close this issue.

[2020-03-18 23:49] #757 closed

[2020-03-19 06:20] ankurshr01 commented on #684
@abhisheknaiidu need any help?
@akmadian its been 6 days, can I take up this?

[2020-03-19 06:27] abhisheknaiidu commented on #684
@ankurshr01 I am currently working on this :)

[2020-03-19 06:28] abhisheknaiidu commented on #684
@ankurshr01 Actually, I was busy preparing my proposal from last few days, so didn't get much time for solving issues.

[2020-03-19 18:49] GeekBoySupreme opened #771 "Text and headings in Image Details page, touches the edge on Phone Screens"
## Describe the bug
Text Descriptions touching the edge of the screen when viewed in a Mobile Browser

## To Reproduce
1. Go to CC Search.
2. Click on a Search Result.
3. Scroll down to 'Image Attribution'
4. See error

## Expected behavior
Margin/Spacing on both sides of the text div.

## Screenshots
![image](https://user-images.githubusercontent.com/15321738/77103291-2e921c00-6a40-11ea-94dd-0ef3

[2020-03-19 18:57] akmadian opened #772 "Excessive spacing between license icons"
## Describe the bug

License icons are excessively spaced now that #723 has been merged, see attached pictures.

## To Reproduce

1. Go to https://ccsearch-dev.creativecommons.org/
2. Search for something
3. See error when hovering on an image
4. Click on image to see image details
5. See error under the Attribution tab
6. Click on the Info tab
7. See error again

## Screenshots

![s-i1](https://u

[2020-03-19 19:30] akmadian commented on #771
I'm gonna close this since it was likely fixed with the merge of #723, please check if it's still an issue at https://ccsearch-dev.creativecommons.org. If it is, feel free to re-open this issue or open a new one :)

[2020-03-19 19:30] #771 closed

[2020-03-19 19:35] abhisheknaiidu commented on #772
Can I work on this ?

[2020-03-19 20:20] aldenstpage commented on #762
We return the thumbnail for this API call. If the full resolution is being loaded, it must be because the frontend is choosing to display the `url` instead of the `thumbnail_url`. @brenoferreira?

Try `GET https://api.creativecommons.engineering/v1/images?source=met` for an example.

[2020-03-19 21:04] abhisheknaiidu commented on #772
@akmadian I have corrected it in #773 :)

[2020-03-19 22:09] abhisheknaiidu opened #774 "Search bar in search results page in mobile devices should be large"
## Describe the bug
The current search bar in the mobile view looks clumsy and it affects both the user experience and interface.

## To Reproduce

1. Go to https://ccsearch-dev.creativecommons.org/
2. Search for something
3. See error

## Expected behavior
the button should be small compare to search bar

## Screenshots

![ui](https://user-images.githubusercontent.com/55599878/77119318-39f34080-6

[2020-03-20 01:47] rajchandak commented on #244
Hey @akmadian, is this issue being actively worked on? I would like to work on it.

[2020-03-20 05:26] Tanuj22 commented on #244
@rajchandak I have already sent a PR that closes this and it is `Ready for Final Review`. Please find another issue to work on. :)

[2020-03-20 11:33] #772 closed

[2020-03-20 16:58] #616 closed

[2020-03-20 18:36] akmadian commented on #684
@abhisheknaiidu Please make some good progress on this in the next few days, or I'll have to open this issue up for others to work on

[2020-03-20 18:42] akmadian commented on #762
Ah I see, @AyanChoudhary if you would like to investigate whether or not the correct url is being fetched, that would be great! If the incorrect one is being used, please open an issue for it so we can move forward with a fix for it :)

Until then, I'm gonna close this issue

[2020-03-20 18:56] akmadian opened #775 "Wonky padding in header on mobile/ tablet breakpoints"
## Describe the bug

After design sprint 1 (#723) was merged, the header now has some wonky padding in mobile breakpoints
- The Search logo is pushed too far to the right
- The hamburger is not pushed off of the right side of the screen

## To Reproduce

1. Go to ccsearch-dev.creativecommons.org
2. Use browser to simulate a mobile/ tablet screen
3. See error

## Screenshots

![header0](https://use

[2020-03-20 18:58] brenoferreira commented on #762
There's a potential source of bug here https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/SearchGridCell.vue#L101, where the image url for the image grid may not be the thumbnail url

[2020-03-20 18:59] akmadian opened #776 "Filter icon missing in search bar on mobile breakpoints"
## Describe the bug

After design sprint 1 (#723) was merged, the filter icon does not render in the search results page on mobile breakpoints

## To Reproduce

1. Go to ccsearch-dev.creativecommons.org
2. Search for something
3. Use browser to simulate a mobile breakpoint
4. See error

## Screenshots

![searchbar0](https://user-images.githubusercontent.com/28791774/77197321-38e50200-6aa2-11ea-983

[2020-03-20 19:03] akmadian opened #777 "Search button cut off on results page on mobile breakpoints on Firefox"
## Describe the bug

After design sprint 1 (#723) was merged, the search button in the results page is not visible

## To Reproduce

1. Go to ccsearch-dev.creativecommons.org
2. Search for something
3. Use browser to simulate a mobile breakpoint
4. See error

## Expected behavior

The search button should be visible, as seen in this screenshot of the ipad resolution:
![searchbar0-intended](https:/

[2020-03-20 19:10] brenoferreira commented on #762
In the MET case, it seems like the thumbnails are coming from this endpoint:
https://api-dev.creativecommons.engineering/t/600/https://images.metmuseum.org/CRDImages/dp/web-large/DP801140.jpg
And the image loaded ins 1MB+ each

[2020-03-20 19:28] CptChix commented on #777
I can take it if it's needed

[2020-03-20 19:39] akmadian commented on #777
go ahead @CptChix :)

[2020-03-20 20:06] Tanuj22 commented on #775
Would like to work on this

[2020-03-20 20:51] akmadian commented on #775
go ahead @Tanuj22

[2020-03-20 21:00] Tanuj22 commented on #775
@akmadian The hamburger should be in the right corner?

[2020-03-20 21:15] Albaalah commented on #776
can I take this up if it's available?

[2020-03-20 21:24] akmadian commented on #775
yep, right corner of the header

[2020-03-21 11:22] abhisheknaiidu commented on #775
@akmadian, since it's labeled as the good first issue. So As per the new code contribution guidelines of CC, I just submitted a PR.

[2020-03-21 11:38] abhisheknaiidu commented on #777
@akmadian I don't find that issue in my local setup, I am attaching some of the Screenshots

Screenshots :

iPhone X

![ix](https://user-images.githubusercontent.com/55599878/77225582-627f5580-6b96-11ea-851f-7e5676ea6840.png)

iPhone 6/7/8

![i6](https://user-images.githubusercontent.com/55599878/77225598-7460f880-6b96-11ea-9f43-35897062edb7.png)

[2020-03-21 13:48] akandeBolaji commented on #737
It’s been 9 days and I doubt @coderbabu10 is still interested in this issue. Can I take this up instead?

[2020-03-21 13:57] Tanuj22 commented on #775
Sorry I got busy in some personal work. @abhisheknaiidu You could have just informed me and submitted a PR for it.

[2020-03-21 14:04] abhisheknaiidu commented on #775
@Tanuj22 Oh sorry for that, actually I didn't see any assigned person, so I thought that no one is working on this, and so I submitted a PR.

[2020-03-21 14:13] coderbabu10 commented on #737
Hey @akandeBolaji sorry!for the delay, i was busy with my proposal that's why I was not able to do it now I will be working on it you can find some other issues
Thank you

[2020-03-21 18:49] akmadian commented on #775
@abhisheknaiidu Yep, please be sure to read through issue threads to see if anyone else has said that they are working on it before starting work. We may not always assign the issue to someone properly, but it was already marked as `in progress` so that should have been a pretty good indicator :/

We are ok with people starting on an issue without recieving approval from a maintainer (work on the

[2020-03-21 18:51] akmadian commented on #777
@abhisheknaiidu thanks for posting this, it seems like it's not an issue on Chrome :)

[2020-03-21 19:09] abhisheknaiidu commented on #777
Can I work on this , @akmadian then ?

[2020-03-21 19:10] abhisheknaiidu commented on #775
Yea @akmadian I got you.

[2020-03-21 19:19] CptChix commented on #777
Just a heads up. Might be a false positive that’s caused by the emulators.
Here’s how it looks on firefox ios iphone11 max
![D441DF02-971E-4215-9675-320393796EF6](https://user-images.githubusercontent.com/22933152/77234732-babf5300-6ba8-11ea-98f7-c36e3798acc8.png)

[2020-03-21 19:25] abhisheknaiidu commented on #777
@CptChix it's ccsearch-dev.creativecommons.org and ccsearch.creativecommons.org

[2020-03-21 20:25] akmadian commented on #777
@abhisheknaiidu No, like I said in the other issue, please read through the issue thread to see if someone else is working on the issue already

[2020-03-21 20:28] abhisheknaiidu commented on #777
@akmadian oops my mistake again! 😓

[2020-03-22 16:14] abhisheknaiidu commented on #684
@akmadian I have fixed the issue, you can once look at it #784 :)

[2020-03-23 17:10] #544 closed

[2020-03-23 17:10] #545 closed

[2020-03-23 17:16] kgodey opened #785 "Get icons from Vocabulary into CC Search"
Use the icons provided [here](https://cc-fonts.netlify.com/?path=/docs/vocabulary-icons--page)

And the [logos](https://cc-vocabulary.netlify.com/?path=/docs/assets-logos--cc-logomark)

[2020-03-23 18:41] csayaan commented on #785
I can take it. Please describe the issue with an image.

[2020-03-24 13:12] abhisheknaiidu opened #787 "Add svg to contents of photo details page for better experience"
## Problem Description
Before :

![svg_b](https://user-images.githubusercontent.com/55599878/77428900-d91e8c00-6dfe-11ea-95cb-96d1924094c7.jpg)

After :

![svg](https://user-images.githubusercontent.com/55599878/77428966-f18ea680-6dfe-11ea-8f12-00b0ba69c700.png)

## Solution Description

Add SVG Icons just like before :)

## Additional context
Want to work on this, if CC staffs thinks its a legit

[2020-03-24 13:20] abhisheknaiidu opened #788 "Proper spacing should be given in between the tags of photo detail page for mobile users"
## Describe the bug
At present, there is not a proper alignment or space between the given tags of a particular photo.

## To Reproduce

1. Go to ccsearch-dev.creativecommons.org
2. Search for something
3. Use a browser to simulate a mobile breakpoint
4. See error

## Expected behavior
Proper spacing should be given in between the tags.

## Screenshots

![tags](https://user-images.githubuserconten

[2020-03-24 13:46] csayaan commented on #787
I want to work on this .

[2020-03-24 18:11] akmadian commented on #776
@Albaalah This is going to be fixed in #786

[2020-03-24 18:25] akmadian commented on #788
Hey @abhisheknaiidu, what changes, specifically, would you make? Until you reply I'll add the `ticket work required` label

[2020-03-24 18:26] akmadian commented on #787
I'm gonna ping @panchovm for this one to get his thoughts. I think the current design looks cleaner without the icons, but Francisco is the designer so I'll defer to him :)

[2020-03-24 18:50] panchovm commented on #787
There is no specific problem detailed in this ticket. As a design principle, we want to reach a clean design. So let's keep the design.

[2020-03-24 18:57] panchovm opened #789 "Change the hover state of inputs"
Across all pages, the input has a border color change during hover state. We should maintain the change for the active state.

![Uploading Screen Shot 2020-03-24 at 15.57.13.png…]()

[2020-03-24 19:01] panchovm opened #790 "Change the text color for the default color of Vocabulary"
In different pages and sections, texts are `#2c3e50` when it should be `#333333`. Here some examples:

<img width="675" alt="Screen Shot 2020-03-24 at 15 59 37" src="https://user-images.githubusercontent.com/895819/77466136-9782e680-6de8-11ea-9ebb-2fc4fa52706e.png">
<img width="559" alt="Screen Shot 2020-03-24 at 15 59 25" src="https://user-images.githubusercontent.com/895819/77466146-9b166d80-6de

[2020-03-24 19:08] panchovm opened #791 "Change the hover style of basic links"
Currently, the hover state of links changes the text color from tomato to black. This must change to just adding an underline style instead of changing the text color.

### Currently
<img width="244" alt="Screen Shot 2020-03-24 at 16 07 45" src="https://user-images.githubusercontent.com/895819/77466837-a3bb7380-6de9-11ea-9e65-305002bfe818.png">

### Expected
<img width="734" alt="Screen Shot 2020-

[2020-03-24 19:12] panchovm opened #792 "Change the placeholder text in Homepage"
On the homepage, the text of the search bar says `Search for images...`. It should change to `I'd like to see...`.