[2020-03-24 19:24] panchovm opened #793 "Change to corners of search bar and button in Homepage"
In Homepage, the search bar should have `0px` for top-right and bottom-right corners. And the button `Search` `0px` for top-left and bottom-left corners.

### Expected design
<img width="794" alt="Screen Shot 2020-03-24 at 16 23 54" src="https://user-images.githubusercontent.com/895819/77468108-e67e4b00-6deb-11ea-99a5-02b58b1b8393.png">

[2020-03-24 19:47] panchovm opened #794 "The space between search bar and filters in home page should be larger"
On the home page, the space between the search bar and **I want something I can** filters should be `64 px` for desktop resolution.

### Current implementation
<img width="824" alt="Screen Shot 2020-03-24 at 16 47 23" src="https://user-images.githubusercontent.com/895819/77470282-2abf1a80-6def-11ea-8506-2c7800028198.png">

[2020-03-24 19:51] panchovm opened #795 "The background color in the content section is not correct"
In the search result page, the background color is `#2c3e50` and must change to `#f5f5f5`.

### Current implementation
<img width="893" alt="Screen Shot 2020-03-24 at 16 50 15" src="https://user-images.githubusercontent.com/895819/77470507-8c7f8480-6def-11ea-808d-311f526e3881.png">

[2020-03-24 19:54] Albaalah commented on #232
Hi, I would like to write tests for SearchHelpPage page and LoadingIcon component

[2020-03-24 19:54] panchovm opened #796 "Add the magnifying glass icon to the search bar"
In the search result page, the search bar doesn’t have the magnifying glass/search icon on the left side. We need to add it.

### Expected design
<img width="464" alt="Screen Shot 2020-03-24 at 16 53 20" src="https://user-images.githubusercontent.com/895819/77470776-fb5cdd80-6def-11ea-8f7d-5fb3cc57b2ad.png">

[2020-03-24 19:56] panchovm opened #797 "Add the filters above the gallery on search result page"
In the search result page, we need to show the filters that the user selected.

### Expected design
<img width="464" alt="Screen Shot 2020-03-24 at 16 53 20" src="https://user-images.githubusercontent.com/895819/77471060-6e665400-6df0-11ea-926d-c584bdabdee9.png">

[2020-03-24 20:04] panchovm opened #798 "The "clear filters" button should have the style defined in Design Library"
In the search result page, the `clear filters` button (SmallBorder button in Design Library) should change the following:

### Default state
* Source Sans Pro font

### Hover state
* Border color `#787878`
* Background color `#787878`

## Design Library reference
<img width="410" alt="Screen Shot 2020-03-24 at 17 04 33" src="https://user-images.githubusercontent.com/895819/77471738-90140b00-6df1-1

[2020-03-24 20:10] panchovm opened #799 "Change the space between `Search by Creator` and `Clear filters`"
In the search result page, the distance between filter `Search by Creator` and `Clear filters` is not correct. It should be `24px` with a line separating the actions.

### Expected design
<img width="740" alt="Screen Shot 2020-03-24 at 17 09 38" src="https://user-images.githubusercontent.com/895819/77472169-4546c300-6df2-11ea-8214-ec3a8c86ef58.png">

[2020-03-24 20:15] panchovm opened #800 "Hover content on every image of gallery is incorrect"
In the search result page, the content displayed over the image during the hover state should be as follows:

## Expected design
<img width="501" alt="Screen Shot 2020-03-24 at 17 11 43" src="https://user-images.githubusercontent.com/895819/77472386-98207a80-6df2-11ea-93f5-020779511ffb.png">

* License icons on the top-left
* No external links for on the work's name.

[2020-03-24 20:15] abhisheknaiidu commented on #799
May I work on this?

[2020-03-24 20:17] abhisheknaiidu commented on #800
Want to work on this

[2020-03-24 20:17] abhisheknaiidu commented on #798
can I work on this?

[2020-03-24 20:20] kgodey commented on #799
We will be adding "help wanted" labels to issues suitable for community contribution, please be patient. Once those are up, you can send PRs without any prior approval per our new contribution guidelines.

[2020-03-24 20:21] abhisheknaiidu commented on #799
oh ohkk @kgodey

[2020-03-24 20:23] ankurshr01 commented on #790
Can I take up this?

[2020-03-24 20:23] abhisheknaiidu commented on #788
@akmadian to provide proper spacing in between tags, like if you see in this one there is no proper spacing exists, between the 1st and 4th tag.

[2020-03-24 20:26] ankurshr01 commented on #797
Hey can I Work on this?
I think this issue is also addressed at https://github.com/creativecommons/cccatalog-frontend/issues/620 by me.

[2020-03-24 20:27] abhisheknaiidu commented on #787
Yea @panchovm agree with you!

[2020-03-24 20:29] abhisheknaiidu commented on #796
May I work on this?

[2020-03-24 20:30] abhisheknaiidu commented on #793
May i work on this ?

[2020-03-24 20:34] panchovm opened #801 "The back to search results action doesn't have the icon."
In the single result page, the `Back to search results` action does not have the arrow icon as the mockup indicates.

### Expected design
<img width="439" alt="Screen Shot 2020-03-24 at 17 33 57" src="https://user-images.githubusercontent.com/895819/77474330-aa4fe800-6df5-11ea-8791-dae8a19d2f96.png">

[2020-03-24 20:37] panchovm opened #802 "The tab order should follow the mockup."
In the single result page, the tab on the right section should have the following order and names:
1. Information
2. Attribution
3. Share

[2020-03-24 20:41] panchovm opened #803 "The size of license icons should be 30px"
In the single result page, the license icons should be `30px`

### Current implementation
<img width="260" alt="Screen Shot 2020-03-24 at 17 40 11" src="https://user-images.githubusercontent.com/895819/77474871-9f498780-6df6-11ea-8164-8bfec2d78b6c.png">

[2020-03-24 20:45] panchovm opened #804 "The distance between elements in the “Attribution tab” doesn’t follow the mockup."
In the single result page, attribution tab, the distance between sections should be `24px`. The sections ares:
1. Section title.
2. Attribution information as rich text.
3. Html information.
4. Link to the survey.
5. Verify at the source content.

### Current implementation
<img width="601" alt="Screen Shot 2020-03-24 at 17 44 55" src="https://user-images.githubusercontent.com/895819/77475204-33b3

[2020-03-24 20:47] panchovm opened #805 "The tag component doesn’t follow the Design Library style."
In the single page result, the tag component in **Tags** section should have the same font and hover state style defined in the Design Library.

### Expected design
<img width="395" alt="Screen Shot 2020-03-24 at 17 47 34" src="https://user-images.githubusercontent.com/895819/77475418-8e4d4600-6df7-11ea-8bda-6d1b3dfbd9a1.png">

[2020-03-24 20:51] panchovm opened #806 "The Attribution and Share tab don’t have the section title"
In the single result page, the **Attribution** and **Share** tab should have the section title as first content. Follow the style defined in the mockup.

### Attribution tab
Text: Image attribution

### Share tab
Text: Share

[2020-03-24 20:53] panchovm opened #807 "The small button component doesn’t have the correct font."
In the single result page, the `small button` component should have the Source Sans Pro font. See the component style in the [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222&viewport=140%2C-1687%2C1.4707506895065308).

[2020-03-24 20:56] panchovm opened #808 "The list content in the single result page doesn't have the correct style."
In the single result page, **Attribution** tab. The **Verify at the source** content should be shown as a list, following the [mockup](https://www.figma.com/file/LR3KYeaqVkDYmgNm1rnsHx/Mockup---Sprint-1?node-id=0%3A335&viewport=-3315%2C-557%2C1.3714845180511475).

### Expected design
<img width="632" alt="Screen Shot 2020-03-24 at 17 55 37" src="https://user-images.githubusercontent.com/895819/774

[2020-03-24 20:58] panchovm opened #809 "In social media icons are not the same as the mockup."
In the single result page, **Share** tab, the social media icons should be the icons available in the mockup.

### Expected design
<img width="599" alt="Screen Shot 2020-03-24 at 17 58 29" src="https://user-images.githubusercontent.com/895819/77476297-154eee00-6df9-11ea-93fc-e3ebf20cf411.png">

[2020-03-24 21:10] panchovm opened #810 "The layout design of Collections page doesn't follow the mockup"
The Collections page does not follow the [mockup](https://www.figma.com/file/LR3KYeaqVkDYmgNm1rnsHx/Mockup---Sprint-1?node-id=0%3A645&viewport=294%2C377%2C0.7013667225837708). The changes include:

- Background color.
- Sizes and main wrapper based on the grid.
- Text-styles.
- The style of cards.
  - Card's name.
  - Text style for Collection size content.

[2020-03-24 22:04] panchovm opened #811 "Add the evaluation of search in the search result page"
We need to add functionality to evaluate the results in the search result page. This function should be placed above top-right in the gallery as the mockup indicates.

## Expected design
### Default state
The `yes` and `no` actions are in the default state.

<img width="349" alt="Screen Shot 2020-03-24 at 19 01 54" src="https://user-images.githubusercontent.com/895819/77481221-f4d76180-6e01-11ea-9

[2020-03-24 22:07] kgodey commented on #811
This is a duplicate of https://github.com/creativecommons/cccatalog-frontend/issues/518.

[2020-03-25 03:43] dos077 commented on #800
I did the image grid layout last time. You want me to take care of this? I never touch the thumbnail hover, the scss looks pretty messy. I can either clean it up and just render whatever is necessary, or I can just remove the background gradient and hack the black background box with shadow in there. Also that markup doesn't have the image provider icon, should that be remove?

[2020-03-25 08:24] subhamX commented on #791
Can I work on this issue?

[2020-03-25 12:06] #777 closed

[2020-03-25 15:20] kgodey commented on #800
This issue is marked help wanted, feel free to send a PR @dos077.

[2020-03-25 15:25] abhisheknaiidu commented on #809
Want to work on this :)

[2020-03-25 15:47] lamhoangpham20 commented on #803
can I be assigned to fix this issue?

[2020-03-25 15:56] kgodey commented on #803
We are no longer doing assignments; anyone is free to submit a PR for issues marked "help wanted". Please read our [contribution guidelines](https://opensource.creativecommons.org/contributing-code/).

[2020-03-25 16:02] lamhoangpham20 commented on #803
Thanks. Good to know that.

[2020-03-25 16:04] koiranos commented on #810
Hi there, I would like to work on this issue but I cannot see the mockup file. The page shows 404. Could you please give me more information about it?

[2020-03-25 16:10] kgodey commented on #810
@koiranos I fixed the permissions for the mockup, can you try again?

[2020-03-25 16:32] cangreja533 commented on #810
can i work on this issue ?

[2020-03-25 16:38] Tanuj22 commented on #792
@kgodey Should I make multiple PRs for these set of issues or single PR is good?

[2020-03-25 16:38] koiranos commented on #810
@kgodey Everything is good! Can I work on it?

[2020-03-25 16:46] kgodey commented on #810
Anyone is free to submit a PR for issues marked "help wanted", you don't need our permission or assignment. Please read our [contribution guidelines](https://opensource.creativecommons.org/contributing-code/).

[2020-03-25 16:46] kgodey commented on #792
One PR per issue please (there was a question about that on this issue but it seems to have been deleted).

[2020-03-25 16:48] koiranos commented on #810
@kgodey Ok thanks!

[2020-03-25 16:48] Tanuj22 commented on #792
Sorry about that. I figured that should be the case.

[2020-03-25 17:51] dhruvkb commented on #800
Also linking creativecommons/vocabulary#208 fixing creativecommons/vocabulary#58.

[2020-03-25 17:59] kgodey commented on #775
This needs to be fixed in Vocabulary, transferring the issue there. @Tanuj22 @abhisheknaiidu please submit a PR there.

[2020-03-25 18:02] kgodey commented on #790
This issue is marked help wanted, permission is not required, please send a PR.

@Tanuj22 I'm moving this issue to Vocabulary, this issue needs to be fixed there.

[2020-03-25 18:07] samcaspus commented on #801
@panchovm @kgodey I believe I fixed the issue at this pull request here [#819](https://github.com/creativecommons/cccatalog-frontend/pull/819) please do review Thanks

[2020-03-25 18:37] abhisheknaiidu commented on #794
I want to work on this.

[2020-03-25 18:40] samcaspus commented on #801
made a minor tweak for the issue and I believe i have fixed it as desired at [#819](https://github.com/creativecommons/cccatalog-frontend/pull/819)

[2020-03-25 19:11] samcaspus commented on #802
Have added the change as required by changing the tab order as well as the view display at the reference pull request [#824 ](https://github.com/creativecommons/cccatalog-frontend/pull/824)

[2020-03-25 19:24] hemanth-hk commented on #804
I'm working on this

[2020-03-25 19:26] samcaspus commented on #804
I kinda fixed it

[2020-03-25 19:28] hemanth-hk commented on #804
Oops, you should have commented here
Anyways it's okay :)

[2020-03-25 20:05] samcaspus commented on #804
will keep that in mind thanks

[2020-03-25 20:13] #407 closed

[2020-03-25 23:20] kushaggarwal commented on #793
If this issue is still open can I attend to this @panchovm @kgodey
Please help

[2020-03-26 00:36] dos077 commented on #800
Okay, did some quick fiddling around with the css. Removed the gradients and adjusted the padding to 8px(y) and 16px(x). Added a black background to the image title detail box, added the typography setting from the vocabulary pr, Source Sans, 13px size, and 19px line height. Still unclear about what to do with the search provider logo, it looks odd.

![Screenshot 2020-03-25 at 8 32 37 PM](https://

[2020-03-26 10:34] lamhoangpham20 commented on #796
I want to work on this if nobody is fixing this.

[2020-03-26 12:16] panchovm commented on #800
The logo must disappear from that place

[2020-03-26 12:21] Rishabh606 commented on #767
@aldenstpage Hi! I am a GSoC applicant. Is this issue open?

[2020-03-26 12:54] #675 closed

[2020-03-26 12:58] #811 closed

[2020-03-26 13:07] kgodey commented on #767
Yes, if an issue is marked help wanted, it is open and you can send PRs for it without approval/permission.

[2020-03-26 13:22] kgodey commented on #793
Issues marked "help wanted" are open, no need to ask.

[2020-03-26 13:30] Rishabh606 commented on #809
@panchovm you mean to say icons in share tab of actual website's search result. I am attaching the screenshot for confirmation.
![Screenshot from 2020-03-26 09-24-29](https://user-images.githubusercontent.com/29687025/77651741-9d410f00-6f43-11ea-9338-e0533f23983b.png)
The image on the right side is the target and left side demonstrates above picture.
Though I am a bit confused as to what's wrong i

[2020-03-26 13:42] panchovm commented on #809
On the right image, the functionality is correct; it works. This update is regarding updating the branding guidelines. The left image has the last version of logos.

[2020-03-26 14:36] brenoferreira commented on #518
Fixed in #820

[2020-03-26 14:36] #518 closed

[2020-03-26 16:37] kgodey commented on #774
This was fixed in https://github.com/creativecommons/cccatalog-frontend/pull/786

[2020-03-26 16:37] #774 closed

[2020-03-26 18:27] brenoferreira opened #829 "Fix CSS bundle in webpack"
The current webpack config has some strange behaviour. The dev bundle and the production bundle seem different.

In the production bundle, the fontend component styles come before the Vocabulary styles, which mess up the CSS styles precedence order. The dependency's styles should come before the custom styles of the frontend components. This seems to be the case in the dev bundle but not in the pr

[2020-03-27 19:32] brenoferreira commented on #718
With the new redesign this is no longer an issue. But thanks for your contribution

[2020-03-27 19:32] #718 closed

[2020-03-27 19:32] brenoferreira commented on #719
With the new redesign this is no longer an issue. But thanks for your contribution

[2020-03-27 19:32] #719 closed

[2020-03-27 19:32] brenoferreira commented on #679
With the new redesign this is no longer an issue. But thanks for your contribution

[2020-03-27 19:32] #679 closed

[2020-03-27 19:34] brenoferreira commented on #677
With the new redesign this is no longer an issue. But thanks for your contribution

[2020-03-27 19:34] #677 closed

[2020-03-27 21:34] abhisheknaiidu opened #835 "Bottom to top button is hiding and not working in footer"
## Describe the bug

## To Reproduce

1. Go to https://search.creativecommons.org/search?license=&license_type=&categories=&extension=&aspect_ratio=&size=&source=&q=hat&searchBy=
2. Scroll down to the bottom till footer
3. See error

## Expected behaviour
Should override the footer elements and able to work properly.

## Screenshots
![Screenshot_20200328-025107__01](https://user-images.githubuserc

[2020-03-27 21:38] abhisheknaiidu opened #836 "Load More Results button should be small for mobile users for better experience."
## Problem Description
Now the load more results button in mobile is as big as it is shown in desktop version.

## Solution Description
Load More Results button should be small somewhat for mobile users for better experience.

![Screenshot_20200328-025107__01__01](https://user-images.githubusercontent.com/55599878/77802602-3c2f4d80-70a1-11ea-9105-a3c05a6c0a47.jpg)

## Additional context
Want to wo

[2020-03-29 00:29] amycruz97 commented on #836
I want to work on this

[2020-03-29 00:29] amycruz97 commented on #836
I want to work on this

[2020-03-29 21:41] amycruz97 commented on #836
i am working on it

[2020-03-30 05:50] jansone-dace commented on #232
Hello!
I will write tests for FilterChecklist component.

[2020-03-30 12:45] #244 closed

[2020-03-30 12:56] #762 closed

[2020-03-30 13:08] #792 closed

[2020-03-30 13:20] #803 closed

[2020-03-30 13:27] #795 closed

[2020-03-30 15:23] #810 closed

[2020-03-31 12:14] #800 closed

[2020-03-31 12:33] #802 closed

[2020-03-31 13:28] #794 closed

[2020-03-31 17:43] boyrazs15 commented on #232
Hi! Can I work on this issue? I would like to write the tests for HomeLicenseFilter component.

[2020-04-01 13:36] #808 closed

[2020-04-01 13:47] #806 closed

[2020-04-01 19:23] kgodey commented on #836
@panchovm could you review this please?

[2020-04-01 19:26] #787 closed

[2020-04-01 19:49] brenoferreira commented on #765
I'm not sure we'll benefit much from lazy loading the components, at least not at this moment. If you want to do some research with https://www.npmjs.com/package/webpack-bundle-analyzer and see if code splitting would decrease bundle sizes, please go ahead. We can then decide if it's worth doing lazy routes

[2020-04-01 20:08] abhisheknaiidu commented on #835
I am working on this

[2020-04-01 20:11] abhisheknaiidu commented on #788
@brenoferreira @akmadian  Since I'm the one, who opened this issue, so can I work on this ?

[2020-04-01 22:25] annatuma opened #845 "Updates to Results Page"
We want to make some changes to the Results page in CC Search.

These changes apply only to the Filter side bar on the Results page.

Reference the following screens in Figma when going through the list, to understand what these changes entail:
Results commercially
Results modify
Results license (for modal)
License Filter update

See mockups in [Figma](https://www.figma.com/file/0tnxdVJPRUhDJCN0LO

[2020-04-01 22:41] abhisheknaiidu commented on #845
@annatuma Want to work on this :)
And @annatuma by the way I already added Modal to filter form for Mobile users, could you once review that also!

[2020-04-02 13:43] panchovm commented on #836
It looks like a good idea. Although this is button is a component that might affect many other pages. I agree with having a responsive change but would like to see opinions from @hugosolar and @dhruvkb

[2020-04-02 14:03] hugosolar commented on #836
@brenoferreira do you think this can be accomplished by using Bulma's responsive features? I'm not sure about how you're using it in Vue but I think it could be a better approach to that... maybe using [Responsive mixins](https://bulma.io/documentation/overview/responsiveness/)

[2020-04-02 14:42] brenoferreira commented on #785
@csayaan I'm working on this already

[2020-04-02 19:52] annatuma commented on #788
@abhisheknaiidu feel free to work on this. Thank you for suggesting this fix.

[2020-04-02 21:35] abhisheknaiidu commented on #737
@akmadian @annatuma I think its working fine only in all browsers including Chrome and Firefox

![sh](https://user-images.githubusercontent.com/55599878/78302190-f0285100-7557-11ea-84ab-179c78b685bf.png)

[2020-04-02 21:40] kgodey commented on #737
@abhisheknaiidu so this can be closed, right?

[2020-04-02 22:06] kgodey commented on #836
Marking this help wanted since Francisco approved it, solutions can be evaluated in code.

[2020-04-02 22:08] kgodey commented on #765
Marking this help wanted, but **please do the research mentioned in the comment above** and post it here. Do not send a PR without doing the research.

[2020-04-02 22:11] annatuma opened #848 "[META] User Flag Functionality"
This is a meta ticket, for a feature that requires work across the frontend, catalog, and API.

- [x] Takedown API Endpoint https://github.com/creativecommons/cccatalog-api/issues/294

- [x] Report API endpoint https://github.com/creativecommons/cccatalog-api/issues/474

- [x] API Filter https://github.com/creativecommons/cccatalog-api/issues/339

- [x] Django Interface https://github.com/creative

[2020-04-02 22:14] annatuma commented on #440
The UI for copyright reporting and problematic content reporting are one and the same, and work will be tracked here: https://github.com/creativecommons/cccatalog-frontend/issues/425

[2020-04-02 22:14] #440 closed

[2020-04-02 22:19] annatuma commented on #425
Ticket description has been updated. This is now ready for work.

[2020-04-02 22:23] annatuma commented on #848
Outstanding action items:
1) @aldenstpage we need a ticket (or tickets) for the backend processes here. Please review the spec, create ticket(s), and update the description to include those.

2) @kgodey @brenoferreira does the backend work need to be complete before any work can be done on the UI? If so, please add "blocked" labels to the frontend tickets.

3) @mathemancer can you confirm that we

[2020-04-02 22:32] abhisheknaiidu commented on #737
@kgodey Yup!

[2020-04-02 22:46] abhisheknaiidu commented on #836
@kgodey Already @amycruz97 has made a PR #839 regarding this

[2020-04-02 22:50] abhisheknaiidu commented on #736
@akmadian @kgodey I guess these were the issues that comes under improving accessibility, right? and it needs to get solved during the Summer of Code, right? Not now i guess

[2020-04-03 06:34] Albaalah commented on #765
sure, I'll be researching this today and will post my results here

[2020-04-03 09:35] AyanChoudhary commented on #845
@annatuma I would like to take this up.

[2020-04-03 09:44] abhisheknaiidu commented on #845
@AyanChoudhary As you can see I already shown interest first, so I am supposed to be assigned, right ?

[2020-04-03 14:53] aldenstpage commented on #848
Hey @annatuma, I've updated the tickets with the required work for the backend. Could you take a look at https://github.com/creativecommons/cccatalog-api/issues/474 and fill out the list potential reasons users will be able to report images? We'll populate a dropdown menu with them.

[2020-04-03 15:08] annatuma opened #851 "Convert User Flag UI from Moqups to Figma"
We have a wireframe in Moqups for a new UI in CC Search:
[Moqups](https://app.moqups.com/OD23yiSWK9/edit/page/a3da463b6)

We'd like to create this in Figma, using our Design Library, to ensure seamless implementation.

Once completed, this will unblock https://github.com/creativecommons/cccatalog-frontend/issues/425

[2020-04-03 15:08] annatuma commented on #425
Blocked until we transfer the wireframe from Moqups to Figma: https://github.com/creativecommons/cccatalog-frontend/issues/851

[2020-04-03 16:05] kgodey commented on #848
We're going to assign this to everyone on the team in order to review this in this order. Once you're done reviewing it, please assign it to the next person in the queue:
@aldenstpage
@mathemancer
@brenoferreira
@kgodey

[2020-04-03 16:21] aldenstpage commented on #848
I don't fully understand the DMCA flow. Are we going to redirect the user to [this page](https://creativecommons.org/dmca/) and be done with it (my vote)? Where does this form live? Is it a Google Form, or is it going to be a bunch of fields in the CC Search interface that need to interface with the API? I don't see it in the mockups.

[2020-04-04 11:43] hemanth-hk opened #852 "Clicking Enter while typing in the search-bar hides the filter section"
## Describe the bug
On the search results page when we type something in the search box and hit "Enter" without clicking the search button then it hides the filter section which should not be the case

## To Reproduce

1. Go to 'https://ccsearch.creativecommons.org/search?license=&license_type=&categories=&extension=&aspect_ratio=&size=&source=&q=cats&searchBy= or run locally'
2. Click on 'search

[2020-04-04 12:44] devRD commented on #852
@hemanth-hk I tried reproducing the error, and yes, it seems like the filter section gets hidden for every alternative search.

[2020-04-04 13:55] abhisheknaiidu commented on #852
@hemanth-hk Yess, its because we actually need to hide the filters in the mobile version after any search is done. Now we actually have same code snippet for filters functionality for both desktop and mobile version. And yea it will get fixed after CC merges #784 and solves #845
@akmadian @brenoferreira What are your views ?

[2020-04-04 13:58] hemanth-hk commented on #852
Then I guess we'll have to wait till #784 and see if this error persists or not
Cool, thanks for informing @abhisheknaiidu

[2020-04-04 14:33] hemanth-hk opened #853 "search route without any query params is showing a blank search result page"
## Describe the bug
If we don't pass any query params to the `/search` route it displays a black page

## To Reproduce
1. Go to 'https://ccsearch.creativecommons.org/search or got to just `search` route locally'

## Expected behavior
Should fall back to the `page not found` page

## Screenshots
![search_blank](https://user-images.githubusercontent.com/43946715/78453263-25df4e00-76ae-11ea-9f96-b826

[2020-04-04 15:24] abhisheknaiidu commented on #853
@hemanth-hk I think It's not an issue actually, because if someone wants to search anything, then he should definately provide some query like :
https://ccsearch.creativecommons.org/search?q=hat

Also taking worst case, if someone intentionally suppose does that, then I think we are providing a search bar for them to search anything,
Google also does the same way when we **search** route
@akmadian

[2020-04-04 15:35] hemanth-hk commented on #853
I see that we are passing the `q` as a prop so if someone goes to just `/search` we would be passing undefined and that may create errors in the future cause we are not using `typescript`. So adding a route guard will be helpful in that case

Ya, I can redirect the user to the HomePage

[2020-04-04 16:57] abhisheknaiidu opened #854 "Tooltip is not aligned under downloads section"
## Problem Description
Tooltip present under the downloads section is not well aligned

## Solution Description
It should be aligned properly

![tool](https://user-images.githubusercontent.com/55599878/78456779-55e51c00-76c3-11ea-9744-8e010b7d7dda.png)

## Additional context
Want to work in it, if CC Staff thinks its a legit issue.

[2020-04-04 17:17] abhisheknaiidu commented on #853
@hemanth-hk In general, you should not start work on an issue until a mentor or admin has confirmed that it should be move forward with a fix. The issue itself does need to be approved for work first from either any of the CC Staff!

[2020-04-04 17:27] hemanth-hk commented on #853
Ya, I know that a member has to approve it but, both of us know that this clearly is an issue and surely needs to be fixed. So I just went ahead and fixed it, if there are changes then they can be appended to the `PR` if not we are good to go :)

[2020-04-04 17:41] hemanth-hk commented on #854
The text is centered and everything looks good to me, can you explain a little bit about what you mean by the alignment? @abhisheknaiidu

[2020-04-04 19:42] abhisheknaiidu commented on #854
@hemanth-hk see the tooltip icons carefully, it's not aligned with the text!

[2020-04-05 06:13] Abbas-000 opened #856 "help links on homepage overlaps on medium screen"
## Describe the bug
The line contains two links on the left side of check-boxes are overlapping with the check-boxes on
the medium screens.

## To Reproduce

1. Go to [homepage](https://ccsearch.creativecommons.org/)
2. resize the window
3. take a close look on the line beside the check-boxes

## Expected behavior
The following should happen

- on medium screen the line should not overlap with the

[2020-04-05 11:03] hemanth-hk commented on #854
I don't think that's an issue, usually, the help-symbol or the references are superscripted like we have it in Wikipedia. So a same kind of design pattern may be followed here but I may be wrong so I guess you need to wait for a review from the designer who proposed this :)

[2020-04-05 12:06] abhisheknaiidu commented on #856
@Abbas-000  Yess, After design sprint 1 (#723) was merged, the links on homepage overlap when window screen resizes

[2020-04-05 12:11] abhisheknaiidu commented on #854
@hemanth-hk I agree with you, but in our case its icons and not numbers, numbers look better and more advised to be superscripted like you said in Wikipedia.
Suppose, we are making icons also superscripted, I believe it should be just after the text and not after 2-3 blank spaces and then making!

[2020-04-05 12:12] Albaalah commented on #765
As per my output, the chunks total adds up to be higher but code splitting is producing chunks in smaller sizes. Screenshots attached for reference.
Before:
![1](https://user-images.githubusercontent.com/51597921/78485520-5f709180-7760-11ea-83ad-d26660e080fd.PNG)
After:
![2](https://user-images.githubusercontent.com/51597921/78485694-6bf4ea00-7760-11ea-94f2-2d5a226af854.PNG)

[2020-04-05 12:12] abhisheknaiidu commented on #856
@Abbas-000 If you're not interested in working on this, can I take it?

[2020-04-05 13:07] hemanth-hk commented on #854
Ya, that's what I was telling that you need to wait till someone reviews it

[2020-04-05 13:09] abhisheknaiidu commented on #854
@hemanth-hk Yea I know Man, no need to tell!

[2020-04-05 14:34] hemanth-hk opened #857 "Two tooltips appear simultaneously in the download section"
## Describe the bug
So in the download section of the image-view page, there are tooltips for helping out the user and they appear when you click on the `?` icon however when you click the second one the first one remains and it's hard to read both of them

## To Reproduce
1. Go to cc search locally that's `localhost:8443`
2. Search for something, say `kittens`
3. Click on any image
4. Go to the d

[2020-04-05 14:54] abhisheknaiidu commented on #857
Since we have just two tooltips only, we can just rotate the direction of 2nd tooltip, I guess it will then solves the issue of reading, rather than what you are saying! @hemanth-hk
because afterall it's a **tooltip** only!

[2020-04-05 15:12] hemanth-hk commented on #857
Ya, basically they should not overlap :)

[2020-04-06 00:58] amycruz97 commented on #836
Please what is the update on the PR.

[2020-04-06 04:23] enelesmai commented on #232
Hi! Can I contribute here? I would like to write the tests for SearchRating component.

[2020-04-06 12:38] brenoferreira commented on #853
I don't see that as a bug. It can even be useful as users can set their filters before searching

[2020-04-06 13:24] #835 closed

[2020-04-07 11:32] abhisheknaiidu commented on #423
@kgodey @akmadian After the new Design got merged, I don't think its an issue now, So this can be closed now!

[2020-04-07 12:42] #785 closed

[2020-04-07 12:52] #423 closed

[2020-04-07 12:54] brenoferreira opened #860 "Remove download section"
We're not going to support the download of images, at least not until we have a good design for it. So we should remove the code related to it, including feature flag handling

[2020-04-07 12:56] abhisheknaiidu commented on #860
I want to work on it @brenoferreira  :)

[2020-04-07 12:56] brenoferreira commented on #857
The download section will be removed (#860), so we don't need to fix this

[2020-04-07 12:56] #857 closed

[2020-04-07 12:56] brenoferreira commented on #854
The download section will be removed (#860), so we don't need to fix this

[2020-04-07 12:56] #854 closed

[2020-04-07 12:57] brenoferreira commented on #852
This was fixed in #850

[2020-04-07 12:57] #852 closed

[2020-04-07 12:58] Atanda1 commented on #423
Yes, it should.

On Apr 7, 2020 12:32 PM, "Abhishek Naidu B" <notifications@github.com>
wrote:

[2020-04-07 14:38] brenoferreira opened #861 "Use SVGs in Vocabulary"
The logo assets currently in CC Search are local assets in this repo. We should replace the usage of those with the ones provided by Vocabulary

[2020-04-07 15:23] abhisheknaiidu commented on #609
@brenoferreira @akmadian I think this also be closed now, it's already being fixed!

[2020-04-07 15:39] abhisheknaiidu commented on #629
Changing alignment with respect to this image does makes sense actually, because images were opening different and taking different frames for different orientations like for vertical images,the given alignment will be fine, but for horizontal images there might be an issue which @coderbabu10  has addressed,

But after the new design got merged, this issue is fixed by great extent and it can be cl

[2020-04-07 16:26] abhisheknaiidu commented on #620
This is the duplication of issue #797, so I think this can be closed now @kgodey @brenoferreira

[2020-04-07 16:33] #861 closed

[2020-04-07 16:53] #767 closed

[2020-04-07 18:17] brenoferreira opened #864 "Remove unused assets"
Now that #861 is done, we can delete a bunch of assets that are currently in the `assets/` dir that aren't being used anymore. This will make the repo much smaller.

The only assets that can't be deleted are the Source providers' logos, which are still used on the frontend

[2020-04-07 18:23] #860 closed

[2020-04-07 18:34] abhisheknaiidu commented on #864
I want to work in this @brenoferreira  :)

[2020-04-07 21:06] dhruvkb commented on #800
@brenoferreira PR creativecommons/vocabulary#208 is merged.

[2020-04-08 14:38] brenoferreira commented on #809
This is fixed in #850

[2020-04-08 14:38] #809 closed

[2020-04-08 14:44] brenoferreira commented on #796
This is fixed in #850

[2020-04-08 14:44] #796 closed

[2020-04-08 17:09] devRD commented on #845
In the proposed set of changes, the first point proposes that the expand/collapse filter icon be moved to the Filter sidebar. If clicking on the toggle icon collapses the filter sidebar, how will the user expand it back if the whole sidebar is collapsed? (Or am I missing something?)

[2020-04-08 17:52] abhisheknaiidu commented on #845
@devRD No, I guess we need to make a new sticky div above the filters form and it should be aligned with the search input. So now if someone toggles icon also, then form only collapses but the icon div stays sticky!

Actually this issue, should be fixed after solving #684
and since I showed up the interest first here, so I'm supposed to get assigned!

[2020-04-08 17:54] abhisheknaiidu commented on #684
Sorry @akmadian I need to open another PR, because of some branch conflicts
you can take a look @ #866

[2020-04-08 18:01] devRD commented on #845
@abhisheknaiidu Hmm, that makes sense. You indeed showed interest I see, but it has been inactive for around a week so I thought I might just do it. :)

[2020-04-08 18:04] abhisheknaiidu commented on #845
@devRD Thanks,but as I said I'm just waiting for #684 to get fixed first then I can work on this :)

[2020-04-08 19:54] kgodey commented on #845
@abhisheknaiidu @devRD we are no longer assigning people to things, anyone is welcome to send a PR for issues marked "help wanted", regardless of issue activity. you are free to work it out between yourselves if only one of you wants to submit a PR, but we do not mind multiple PRs.

[2020-04-09 19:17] krysal commented on #845
Guys I think that more than one person can work on this issue, there are several points to address. For example, one can take the _Add question mark icon to each license_ point and other can work on _Add visual indicators to Aspect Ratio filter, for tall, wide, square_.
It's just a suggestion, I already made a PR to the first two points and will be working on the third!

[2020-04-09 19:50] abhisheknaiidu commented on #845
@krysal Sounds cool. but how can we suppose to move forward? Should we need to make a new PR for the changes or can we allow to make changes in your branch only?

[2020-04-09 19:58] brenoferreira commented on #484
@aldenstpage do you think it would be possible to automate the deployment of the frontend on this repo, or would it the ccsearch-infrastructure repo be more suitable for deployment automation with GH Actions there instead of here?
Assuming we do want to move away from Atlantis for deployment automation for the frontend

[2020-04-09 20:53] aldenstpage commented on #484
When you say "automate the deployment", do you mean to production or dev? Or both? For production, as you know, we use Atlantis, but for dev, there's script (sort of a dirty hack) that continuously deploys the `dev` branch to ccsearch-dev.

It looks like Hashicorp has written a [GitHub Actions integration for Terraform](https://github.com/hashicorp/terraform-github-actions), so that looks like a d

[2020-04-09 21:36] krysal commented on #845
Kriti said there is no problem with multiple PRs so I believe this is the way to go.
Just remember to say what you will be working on to avoid duplicate efforts :)

[2020-04-09 21:47] abhisheknaiidu commented on #845
okayy @krysal , I'll be working on 4,5 and 6 points!

[2020-04-10 19:06] annatuma commented on #856
This is approved to be worked on, so if @abhisheknaiidu or @Abbas-000 would still be interested in fixing this, please do. Thank you for reporting the issue.

[2020-04-11 08:55] abhisheknaiidu commented on #856
@annatuma I found that @devRD has already made a PR regarding this!

[2020-04-11 09:13] abhisheknaiidu opened #871 "Hamburger in navbar should be aligned correctly"
## Describe the bug
The hamburger present in the navbar should be aligned correctly little bit right to the page
It makes a somewhat bad user experience now!

![or](https://user-images.githubusercontent.com/55599878/79039940-6e44c180-7c02-11ea-94d4-01372e752b50.png)

## Expected behavior
![ex](https://user-images.githubusercontent.com/55599878/79039914-3a699c00-7c02-11ea-802b-303448105c58.png)

##

[2020-04-11 09:17] abhisheknaiidu commented on #797
@ankurshr01 are u still working on this? or need any help?

[2020-04-11 11:02] devRD commented on #845
Can I work on the 3rd feature of the filter sidebar if it's not taken already?

[2020-04-11 12:42] abhisheknaiidu commented on #845
@devRD Don't you see, @krysal already said that she's working on it!

[2020-04-12 14:11] abhisheknaiidu commented on #704
After the new Design got merged, we are not showing the logo of the provider in the search grid cell, just showing the text content, So @akmadian @kgodey @brenoferreira this should be close now.

[2020-04-12 18:02] abhisheknaiidu opened #872 "Bottom to Top button should also be present in Photodetails Page for mobile users"
## Problem Description
Bottom to Top button should also be present in Photodetails Page! Since it contains Related Images section, that somewhat increases the length of the page.

![Screenshot_20200412-232512__01](https://user-images.githubusercontent.com/55599878/79076195-dc2ddd80-7d15-11ea-8dd8-a7b307dcfdd1.jpg)

## Additional context
Want to work on this :)

[2020-04-12 18:17] hemanth-hk commented on #872
I don't think this is required
 - On the desktop, there is no point in keeping that button
 - On tablets or mobile resolutions, the related images are fairly minimum that we can go to the top in just one swipe

Do wait for the opinions of members and other contributors :)

[2020-04-12 18:22] abhisheknaiidu commented on #872
@hemanth-hk Yes, I agree that there's no point in keeping it in Desktop version, but it needs to be there in Mobile version especially, there it will enhance both user experience and usability!

[2020-04-12 18:48] hemanth-hk commented on #872
Maybe it will increase the user experience but I'm not positive on it because as I said the number of related images is less and we can go to the top just in 1 swipe.

[2020-04-13 14:41] panchovm commented on #851
[Here is the flow](https://www.figma.com/file/LR3KYeaqVkDYmgNm1rnsHx/Mockup---Sprint-1?node-id=0%3A335&viewport=45%2C154%2C0.06598864495754242) of flagging content. The mockups use Design Library components.

[2020-04-13 14:43] panchovm commented on #425
The mockup has been updated. [Here is the link](https://www.figma.com/file/LR3KYeaqVkDYmgNm1rnsHx/Mockup---Sprint-1?node-id=0%3A335&viewport=45%2C154%2C0.06598864495754242) to see the flow. The ticket #851 is done

[2020-04-13 14:43] #851 closed

[2020-04-13 15:07] krysal commented on #845
Yes, @devRD the third feature is done, with the PR of @abhisheknaiidu this issue should be completed now.

[2020-04-14 14:06] #799 closed

[2020-04-14 14:32] mathemancer commented on #848
On the NSFW front, I'm not aware of any source where we're pulling content that we *know* is mature.

[2020-04-14 15:28] mathemancer commented on #848
I'm quite concerned about potential abuse of the flagging system.  This is a common vector for censorship on the internet at the moment.  I'd like to make sure we have the necessary data to detect such an attack, and to prevent abusive flagging.

On the other hand, preventing abuse of the flagging system could entail collecting data to identify abusive flaggers, and I am quite uncomfortable with k

[2020-04-14 15:36] mathemancer commented on #848
To my understanding, the scope of this (meta) issue is limited to getting info into the DB at the service layer.  @annatuma Is that correct?  If so, do we want further issues to propagate that info back into the data layer, or should it stay in the service DB only?  If so, we won't be able to use the meta_data field for holding the NSFW tag.  We'd need some other plan there.

[2020-04-14 20:30] #804 closed

[2020-04-14 20:34] #793 closed

[2020-04-14 22:25] annatuma commented on #845
@krysal @abhisheknaiidu thanks for your work on this, I've left feedback in each pull review with some changes that need to be implemented before code review.

[2020-04-15 15:56] devRD opened #875 "Filter sidebar spacing."
## Describe the bug

The features `Search By Creator` and `Clear Filters` look odd as they lack proper spacing between the footer.

## To Reproduce

1. Search for something.
2. Go to Results Page.
3. Scroll down to the end of the filter sidebar.
4. See error.

## Expected behavior

There should be proper spacing between the filter features and the footer.
![Screenshot from 2020-04-15 21-14-12](htt

[2020-04-15 17:17] abhisheknaiidu commented on #875
It works fine for me @devRD in both chrome and firefox

`Chrome`

![chrome](https://user-images.githubusercontent.com/55599878/79367118-f0b6e380-7f6a-11ea-8e5e-afcb1695ee98.png)

`Firefox`

![mozilla](https://user-images.githubusercontent.com/55599878/79367162-05937700-7f6b-11ea-9a51-de5b113302e5.png)

[2020-04-16 07:56] techievivek commented on #856
@annatuma help-links should be below or above the license-filter?

[2020-04-16 12:36] abhisheknaiidu commented on #856
@techievivek It should be present below the license-filter! and @Abbas-000 already fixed it correctly I guess.

[2020-04-16 16:37] techievivek commented on #856
Just by changing the value of bottom will help us achieve what is expected, so won't that be a better solution? I have tested it locally and it's working fine.

[2020-04-16 16:41] abhisheknaiidu commented on #856
@techievivek yess, why don't you suggest these changes to @Abbas-000 in his PR. Then he can make those suggested changes.

[2020-04-16 19:37] SaurabhAgarwala commented on #484
@brenoferreira @aldenstpage I can work on the CI part of this using GitHub Actions while the deployment part is discussed and finalized by you all. Later I can maybe work on that as well.

[2020-04-16 20:27] #797 closed

[2020-04-16 21:28] brenoferreira commented on #484
@SaurabhAgarwala sure 👍

[2020-04-16 21:31] brenoferreira commented on #484
@aldenstpage I didn't mean auto deploys to production (on a merge to master for example). But just triggering an automated deployment when I (or someone else) pushes a new release tag, so we don't have to manually trigger it with Atlantis. Sorry that I wasn't clear

[2020-04-16 22:16] krysal commented on #711
@brenoferreira I made some proposed changes on my draf PR, kindly review it to see if I'm on a good path.

[2020-04-17 11:00] SaurabhAgarwala commented on #484
@brenoferreira I have added a workflow for CI which automates `build` and `lint` as specified. But won't we have to automate even `unit tests` in the CI?

Also, I explored the possibility of moving associated issues of a new PR to a specified column in a project as suggested by you. But following [this](https://github.community/t5/How-to-use-Git-and-GitHub/Github-projects-issues-and-pull-requests/

[2020-04-17 11:18] GeekBoySupreme opened #883 "Texts not aligned on Search Page"
## Describe the bug
The redirect link to go back to Legacy Portal and search syntax guide are unaligned with respect to the rest of the body elements. It is just floating to the left of the page.

## To Reproduce
1. Go to https://ccsearch.creativecommons.org/ on a Computer

## Expected behavior
As every other content in the page barring the Header and Footer are center-aligned, these texts should

[2020-04-17 12:03] abhisheknaiidu commented on #883
I think this is the duplication of issue #856 , and its already fixed in #870

[2020-04-17 12:23] #801 closed

[2020-04-17 12:57] GeekBoySupreme commented on #883
Hey, thanks for looping this in.
The PR resolves the overlap. Opened this issue to address the alignment, if that can be fixed.

[2020-04-17 15:06] brenoferreira commented on #484
@SaurabhAgarwala yes. tests and linting should run on CI. Sorry that I forgot to add that to the issue description

[2020-04-17 15:12] #536 closed

[2020-04-17 17:41] SaurabhAgarwala commented on #484
@brenoferreira No problem, I will update the PR now

[2020-04-18 02:00] akmadian commented on #883
What was the screen resolution used in the screenshots?

[2020-04-19 02:08] abhisheknaiidu opened #884 "Elements not loading properly when running in localhost"
## Describe the bug
Some of the Vocabulary elements not loading properly

## Screenshots

`Arrows are missing`

![nw3](https://user-images.githubusercontent.com/55599878/79677558-57a8f680-8210-11ea-8d28-ac5b34324e7c.png)

![nw2](https://user-images.githubusercontent.com/55599878/79677569-89ba5880-8210-11ea-9f06-e0714182049d.png)

`I tried in some of my other branches also, results remains the same

[2020-04-19 06:53] devRD commented on #884
It seems to be working fine for me in my localhost.

![Screenshot from 2020-04-19 12-21-01](https://user-images.githubusercontent.com/35831931/79681522-889d2180-8238-11ea-938f-cf54005f61e2.png)

[2020-04-19 07:05] abhisheknaiidu commented on #884
Yup, Now its working fine, I guess it might be because of the new footer that's being updated!

[2020-04-19 07:41] abhisheknaiidu commented on #884
Oh, but it seems to be an issue now also, did you checked after fetching the latest commits ?

[2020-04-19 08:24] devRD commented on #884
Yes, I just fetched the latest changes and tested again. It seems to be working alright.

![Screenshot from 2020-04-19 13-53-14](https://user-images.githubusercontent.com/35831931/79683100-44644e00-8245-11ea-883d-5d6c1164bf78.png)

[2020-04-19 15:49] krysal commented on #884
I updated my repo too and arrows are present. Is any other element missing?

[2020-04-19 16:47] abhisheknaiidu commented on #884
Thanks, It's better to close this issue then

[2020-04-19 16:47] #884 closed

[2020-04-21 14:24] brenoferreira commented on #848
@annatuma the frontend work can start without the API work having to be complete. The API spec is enough for the work to start

[2020-04-21 18:23] kgodey commented on #848
I think we need to standardize on a single terminology here. The reporting calls it "Adult", the backend flag is "NSFW", and the filter is "Mature". This is going to cause confusion later. We should call it one thing everywhere.

We're building API endpoints for this. Why do we want to run it every 12 hours instead of immediately? cc @aldenstpage

Additionally, I share @mathemancer's concerns abou

[2020-04-21 18:24] kgodey commented on #848
@annatuma assigning back to you for review of all the comments and potential updates to the spec.

[2020-04-21 19:36] brenoferreira commented on #704
Yes. After the redesign we're not showing the source logo in the grid. Thanks for the suggestion though

[2020-04-21 19:36] #704 closed

[2020-04-21 20:10] annatuma commented on #848
I'd prefer engineering input on what makes sense here. What's the use case for storing this in the data layer? Is there a reason the service layer doesn't suffice? Service layer is clearly enough for the frontend, but if there are reasons this should go back to the data layer we should evaluate those. @mathemancer @aldenstpage @kgodey please weigh in.

[2020-04-21 20:15] annatuma commented on #848
Fine by me. Updating it to "Mature" everywhere.

Immediately would be better, the 12 hour run came out of our earlier conversations about this feature. That said, whatever @aldenstpage says is feasible here (12 hours versus immediate) is fine by me.

I'll sync with @sarahpearson about the appropriate way to do this.

[2020-04-21 23:28] annatuma commented on #315
We're currently mocking up what this functionality could look like on new search. Under consideration is [content type below search bar](https://app.moqups.com/OD23yiSWK9/view/page/a854244a3), [content type in navbar](https://app.moqups.com/OD23yiSWK9/view/page/ad1710be3), further options to be discussed and considered.

Working notes, regarding Sources:

**Europeana** image integration is forthco

[2020-04-22 15:58] kgodey commented on #848
@aldenstpage please update the API spec to say "mature" instead of "nsfw" per @annatuma's update above.

[2020-04-22 16:54] aldenstpage commented on #848
I envisioned this as getting propagated back to the data layer through Kafka as described [here](https://github.com/creativecommons/cccatalog-api/issues/473); in my mind you would handle these events by setting the appropriate flag in the `meta_data` field but you can represent it however you want.

An alternative design is to keep all logic related to reports and DMCAs in the API layer in separat

[2020-04-22 17:08] #788 closed

[2020-04-22 17:23] mathemancer commented on #848
Long term, I'd want the flags to be in the data layer, since that would be part of any pipeline where we, say, used ML to figure out if *other* unflagged pictures might be mature content.  Ideally, any metadata that was just about displaying the image would stay in the service layer, and any metadata that was 'inherent' to the image would end up in the data layer eventually.  I think whether the i

[2020-04-22 17:36] aldenstpage commented on #848
Your last point is a good one; we can always extract the data later for training. I think it is also debatable whether matureness is inherent since it is highly contextual to culture and personal bias; we're taking a "stance" that an image is mature based on what we think our audience wants, and that's probably going to be a moving target. I'll stick with keeping it internal to the API layer now a

[2020-04-22 17:38] brenoferreira opened #885 "Filter by caption visible when no filters are applied"
When no filters are applied, there's still a `Filter By` caption visible under the search box. It shouldn't be there unless there is at least one filter applied.

<img width="1715" alt="Screen Shot 2020-04-22 at 14 37 12" src="https://user-images.githubusercontent.com/707019/80014585-e040c480-84a6-11ea-987d-a41fc64e856f.png">

[2020-04-22 20:18] kgodey opened #887 "Footer text needs to be updated"
See corresponding Vocabulary ticket: https://github.com/creativecommons/vocabulary/issues/334

[2020-04-22 22:14] annatuma opened #889 "License Language Improvements to Single Result Page"
We are going to make changes to the Single Result Page, to improve license explanations, attribution options, and introduce a clearer CTA for users to access the image they're viewing.

- [ ] [The reuse tab design is here](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=205%3A60) and the [updated license description language is here](https://docs.go

[2020-04-23 16:30] GeekBoySupreme commented on #883
For the Overlap, the screen size ranged from - 897*610 to 904*610 (in Pixels)
The alignment issue is always there, irrespective of Screen Size.

[2020-04-23 17:50] #856 closed

[2020-04-23 17:54] #885 closed

[2020-04-23 18:16] annatuma commented on #848
@brenoferreira we have the text to add to the _first_ screen of the user reporting form regarding collection of IP addresses:

"For security purposes, CC collects and retains anonymized IP addresses of those who complete and submit this form."

@panchovm is updating the mockup right now. Thanks to @sarahpearson for review and language.

[2020-04-23 18:32] annatuma commented on #853
We discussed this again internally.

In the rare case that a user lands on https://ccsearch.creativecommons.org/search they should be redirected to the CC Search homepage (https://ccsearch.creativecommons.org/) instead of seeing a blank search results page.

Marking this as "help wanted".

[2020-04-23 18:38] abhisheknaiidu commented on #853
@annatuma Already a PR #855 created for this! It's better if we can open that only!
If that doesn't satisfies, I am willing to work on it :)

[2020-04-23 18:39] brenoferreira commented on #883
This was fixed in #890
Thanks for your contribution.

[2020-04-23 18:39] #883 closed

[2020-04-23 19:38] panchovm commented on #848
The mockup is now updated with this text

[2020-04-24 13:12] #548 closed

[2020-04-24 22:51] annatuma opened #892 "Add External Link to Extension Page in Navbar"
The CC Search Extension page is now live:
https://opensource.creativecommons.org/ccsearch-browser-extension/

We'd like to link to it from the CC Search navbar.

Because it is an external link we should:
1) Open it in a new tab
2) Use the ("External Link" icon)[https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=3%3A9] from the Design Library

For now let's place it on the far

[2020-04-25 00:00] abhisheknaiidu commented on #892
I want to work on this @annatuma

[2020-04-26 11:46] DantrazTrev opened #895 "No information about the file type"
## Problem Description
Provided that there is a filter for the category for the file type and there is no efficient way whatsoever about finding the file type , like there is in the case of other filters, it's not easy finding the file type unless it's stated .

## Solution Description
A section in the info tab stating the file type .
![screenshot](https://user-images.githubusercontent.com/4345742

[2020-04-26 16:18] DantrazTrev opened #896 "Prior filter(s) not clearing when new search initiated from homepage"
## Describe the bug
If we search something then go back to the homepage , and then search something else the filter is still applied only superficially and isn't doing anything

## To Reproduce

1. Search something
2.Apply a filter
3. Go back to homepage using the back button of the browser
4. Search for something else
5. See the results are still with filter applied although superficial

## Expec

[2020-04-26 19:42] DantrazTrev commented on #892
Wouldn't it be better if there was a text beside it stating it's purpose . Rather than just being an external redirect icon

[2020-04-26 19:45] abhisheknaiidu commented on #892
@DantrazTrev yess, I already mentioned about this, in my PR!

[2020-04-27 06:26] abhisheknaiidu commented on #853
@annatuma I fixed this in #897

[2020-04-27 12:28] DantrazTrev opened #898 "(Research required) Orientation bug creating inconsistency in the search results and single results page"
## Describe the bug
The image in the search page is in portrait orientation ,while the image when opened results to a landscape one . Not sure if this is image specific but the bug is still there. More cases need to reported to understand the behaviour

## To Reproduce

1. Search bts
2. Set image size filter as large
3. Find File:Bangkok BTS (31067429086).jpg
4. See that it's in portrait orientati

[2020-04-27 13:01] #629 closed

[2020-04-27 13:03] brenoferreira commented on #701
This is fixed in #890

[2020-04-27 13:03] #701 closed

[2020-04-27 15:51] kgodey commented on #892
I'm pretty sure @annatuma meant that the link should say "Extension" with the icon next to the text.

[2020-04-27 16:04] annatuma commented on #892
Yes, apologies for not making that clear.

It should be "Extension [external link icon]".

Thanks @kgodey for clarifying.

[2020-04-27 17:08] techievivek opened #899 "Feedback is not persistant for a given query."
## Describe the bug
Even after providing the feedback for a given query result, it keeps asking for feedback. Please refer to gif below.
![ezgif com-video-to-gif(5)](https://user-images.githubusercontent.com/35863227/80399591-1632de00-88d7-11ea-8295-b2d49f86a6fc.gif)

## To Reproduce

1. Search any query on [CC search website](ccsearch.creativecommons.org/).
2. Submit the feedback.
3. Click on any

[2020-04-27 17:15] abhisheknaiidu commented on #892
@annatuma  @kgodey  So, which will be clickable? link icon or both Extension with link-icon?

[2020-04-27 17:38] kgodey commented on #892
@abhisheknaiidu both

[2020-04-27 17:42] abhisheknaiidu commented on #892
Done @kgodey

[2020-04-27 19:16] krysal commented on #899
The current state and the expected behavior gif are the same.

[2020-04-27 20:28] abhisheknaiidu commented on #899
@krysal No, I think he added the gif under the `Screenshots` section and not under `Expected behavior`

[2020-04-27 23:20] techievivek commented on #899
@krysal Yes, as Abhishek said.

[2020-04-28 04:10] akmadian commented on #899
I think this would be a good idea on the surface, but it would likely require some client side storage with cookies or similar which I don't like the idea of. I'm not sure if we have some sort of policy about client side storage or cookie use though, so I'll defer to @brenoferreira. Pending his approval, you can go ahead and get started :)

[2020-04-28 12:24] brenoferreira commented on #373
This is better described in #487

[2020-04-28 12:24] #373 closed

[2020-04-28 13:53] #425 closed

[2020-04-28 19:38] krysal commented on #899
Oh, I see, my bad... What about saving the answer in the Vue store? Since new images are added and the cccatalog is reindexed results could vary I think.

[2020-04-28 19:45] brenoferreira commented on #649
We've make some updates recently to the webpack and `npm run dev` doesn't show lint errors anymore. I think this is no longer relevant.

Feel free to reopen if you have any further suggestions

[2020-04-28 19:45] #649 closed

[2020-04-29 18:45] #887 closed

[2020-04-29 19:15] #715 closed

[2020-04-29 19:24] brenoferreira commented on #836
<img width="1688" alt="Screen Shot 2020-04-29 at 16 19 33" src="https://user-images.githubusercontent.com/707019/80637386-4bedd900-8a35-11ea-8f2d-3a7c69c90461.png">

I think this looks better as a small button even on desktop. Can we change it to make it small on both desktop and mobile?

[2020-04-29 19:28] abhisheknaiidu opened #904 "Scroll issue in Mobile Version"
## Describe the bug
After merging #903, It seems that the scroll bar is creating a problem in `Mobile Version`

## Expected behavior
Scroll bar should be removed from Mobile version

## Additional context
Working on it!

[2020-04-29 19:50] panchovm commented on #836
For desktop version lets use `normal` style, but for mobile the `small` style.

[2020-04-29 20:52] amycruz97 commented on #836
can i work on it

[2020-04-29 21:20] #904 closed

[2020-04-29 21:24] abhisheknaiidu commented on #836
Yess @amycruz97 , since you are the one who first opened PR, you should only make the requested changes in your existing PR 🙂

[2020-04-30 16:01] annatuma opened #907 "[META] Design Sprint 3: License Language Improvements"
We are making a number of changes during Design Sprint 3 on CC Search. The Design Sprint is mostly focused on License Language Improvements and attribution tool updates. Additionally, there are a few other design improvements.

- [x] License Language Improvements to Single Results Page (https://github.com/creativecommons/cccatalog-frontend/issues/889)

- [x] Homepage updates to include Collection

[2020-04-30 16:03] annatuma opened #908 "Add Logo Section to Homepage"
We'd like to add a non-clickable section of logos on the CC Search homepage, with movement from left to right. This should be a logo transition of the collections available on CC Search to the homepage.

Here is an example of the expected behavior. There is a single set of logos with no interaction, and the speed movement should be slow. We can evaluate how it looks once it is in development.

Sim

[2020-04-30 16:10] annatuma opened #909 "Results Page Filter Expanded State (A/B Test Required)"
As part of Design Sprint 3, which focuses on License Language Changes, we're making a number of changes to the Filter section on the Results page.

One of those changes is that we'd like the filter section to be permanently expanded (i.e. no capability to minimize/collapse), and it should have its own scroll, meaning a user can scroll through the filter section independent of scrolling through ima

[2020-04-30 16:36] annatuma opened #910 "Section Changes on Results Filters"
We want to make a few small changes to the Filters on the Results page.

[This is the latest design iteration](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup-S3-License-Language-Changes?node-id=199%3A353).

1) We want to remove the Funnel icon and replace it with "Show/Hide" filters language, per the mockup, to make this action more clear. (This was completed in https://github.com/creati

[2020-04-30 16:37] abhisheknaiidu commented on #908
Can I work on this @annatuma ?

[2020-04-30 16:40] abhisheknaiidu commented on #910
Can I work on this @annatuma ?

[2020-04-30 18:17] brenoferreira commented on #909
@annatuma can you elaborate on this AB test? What are we trying to measure?

[2020-04-30 18:23] #485 closed

[2020-04-30 19:18] Arunhari333 commented on #908
Could I work on this?

[2020-04-30 19:21] Arunhari333 commented on #889
Could I work on this issue?

[2020-04-30 19:56] #717 closed

[2020-04-30 20:06] #721 closed

[2020-04-30 20:09] #232 closed

[2020-04-30 20:47] dos077 commented on #895
There is a filter option for file type.
![Screenshot 2020-04-30 at 4 42 26 PM](https://user-images.githubusercontent.com/45016741/80757360-0b0fc600-8b02-11ea-9cc9-0900769e4f83.png)

But the search result objects do not include that. Simple addition of a computed property capturing the extension from the URL can be a short term fix, but the best practice, I believe, is for the back-end side to incl

[2020-04-30 21:51] krysal commented on #910
This seems to be related with my PR #867. @annatuma Could you please share the link with the updated mockup?

[2020-04-30 23:34] dos077 commented on #896
Cannot replicate the bug on Chrome 81. Must be a Safari specific bug. Unfortunately I can't help testing it, since I don't have a Mac.

[2020-05-01 06:15] DantrazTrev commented on #895
Yes I totally agree @dos077 with the fix . And #911 is totally the kind of fix I was thinking but ,I suggest  that we should wait for the organizational rep to continue on it . And in case you're one the repo maintainers , then yeah we should go for it its totally the correct solution

[2020-05-01 06:42] DantrazTrev commented on #910
@annatuma I would like another change for the filter section , the filter  Image size is really a vague and not properly labelled filter . Considering form a user side the filter could be interpreted anything from Image file size to Image dimensions and further the boundary between the given three options remains vague to the end user . A good idea would be to include the size on the filter sectio

[2020-05-01 14:28] abhisheknaiidu commented on #836
Are you still working on this @amycruz97 ? If not I'll make a PR!

[2020-05-01 19:14] amycruz97 commented on #836
You can go ahead pls... I got caught up with workload

[2020-05-02 08:47] DantrazTrev commented on #909
@annatuma I would like to suggest an bug/improvement in the current filter section. The current filter section when used in mobile devices does not work when the user has scrolled down , the user has to scroll up in order to use the filter in spite the filter icon visible during that period but is unusable
![image](https://user-images.githubusercontent.com/43457420/80859542-8054d580-8c7f-11ea-8230

[2020-05-04 12:46] #711 closed

[2020-05-04 12:51] #892 closed

[2020-05-04 13:06] #435 closed

[2020-05-04 19:20] aldenstpage opened #912 "Update search timeout (ERROR FETCHING IMAGES: TIMEOUT OF 5000MS EXCEEDED)"
We should set  from the frontend, since it will also be set off by the user having a slow connection. You can't tell if the problem is server-side or client-side from the frontend. This is going to result in false alarms from users.

Also, a minority of queries straight up will take more than 5 seconds to answer depending on how complex the query is, whether anyone has searched the term before, pe

[2020-05-04 22:50] annatuma opened #913 "Audit and Update Google Analytics Setup"
Something isn't properly set up in Google Analytics, when comparing Prod and Dev data.

Contracted with expert via Upwork, will be worked on in June 2020. Will put any necessary code updates in tickets as they arise.

Related tickets:
https://github.com/creativecommons/cccatalog-frontend/issues/1027

[2020-05-05 05:31] #899 closed

[2020-05-05 16:26] brenoferreira opened #914 "Fix typo and text alignment in report form"

[2020-05-05 18:52] #836 closed

[2020-05-05 21:36] Tanuj22 commented on #908
@annatuma `Homepage Design with Logo Scroll` link is giving a 404 error.

[2020-05-06 21:42] Fahme commented on #910
@annatuma If no one is picking this up i would love to help ?

[2020-05-06 22:33] annatuma commented on #910
Anyone who would like to tackle this is welcome to open a PR and get started. Items 2 and 3 in the ticket still need to be done.

@krysal sorry about that, I've updated the ticket to include the mockup link. The first change listed here ended up being done in your PR #867 and so I've indicated that in the ticket.

@DantrazTrev that's good feedback regarding the Image Size filter and lack of clarit

[2020-05-07 00:11] Fahme commented on #910
Hey @annatuma

Thanks, i think i can pick up this task

However i just need to clarify on few points before sending a PR, because the issue only mentioned to change "Collections" to "Sources".

- Should the components names for the collection pages be changed as well to sources to make it more clear in the codebase ?
- I would assume routes as well on the FE application should be changed from ``/c

[2020-05-07 14:50] #914 closed

[2020-05-07 21:03] Tanuj22 commented on #910
@annatuma I have fixed point 3 in #918 . Please have a look.

[2020-05-07 21:34] annatuma commented on #898
I'm able to replicate the issue for this photo specifically, but not elsewhere.

Adding "help wanted", and noting that this is a **research required** issue, meaning I'd like this bug to be fully researched and understood before a solution is proposed.

I'm putting this in our Parking Lot, as this isn't urgent to solve, given that we only have one case at present. We can prioritize this if a consi

[2020-05-07 21:41] vane commented on #912
Maybe it will be better to retry operation on timeout error inside axios interceptor and at least once double timeout time.

[2020-05-07 21:43] annatuma commented on #896
Replicated on Safari Version 13.0.5 (15608.5.11) and Firefox 74.0.1 on Mac OS.

The correct behavior would be:
1. User enters search query on homepage.
2. User views results, applies filter.
3. User presses "Back" button to return to homepage.
4. User enters new search query on homepage.
5. No filters are applied on results page, i.e. filters have been cleared given that it is a brand new search o

[2020-05-07 21:53] annatuma commented on #895
Thanks for suggesting this improvement @DantrazTrev

We are in the process of implementing an updated design to the results page, so the solution suggested by @dos077 will unfortunately not work with that design.

See: https://github.com/creativecommons/cccatalog-frontend/issues/889 and https://github.com/creativecommons/cccatalog-frontend/pull/916

Once the new design is live (likely next week) @

[2020-05-07 21:58] krysal commented on #909
@DantrazTrev That is a good finding, Do you want to create an issue for that problem? It will be better to discuss a solution in its own thread.

[2020-05-07 22:01] annatuma commented on #875
Replicated in Firefox 74.0.1

It is possible this will be addressed by the upcoming changes to the filter section:
https://github.com/creativecommons/cccatalog-frontend/issues/909

Leaving this ticket open though. If this issue is fixed before we make changes to the filter section that's fine. Regardless we should verify once changes are in that this behavior does not continue.

[2020-05-07 22:02] annatuma commented on #910
@Fahme I defer to @brenoferreira for what is appropriate to do regarding component names, routes, etc.

[2020-05-07 22:09] annatuma commented on #909
Agreed with @krysal! @DantrazTrev that's a bug worth fixing before we dive into this ticket. Please create a separate issue for it.

[2020-05-07 22:12] annatuma commented on #872
I'm inclined to agree with @hemanth-hk here, there is a limited number of related images, so this seems unnecessary.

That said, I'd like to input from @brenoferreira and @akmadian regarding the usability angle here. Blocking this from being worked on until we've discussed it further.

[2020-05-07 22:18] akmadian commented on #872
On the vast majority of mobile devices, tapping the top of the screen scrolls you back up to the top, so this functionality is already implemented from the mobile os side. I'm not sure how that functionality works in terms of accessibility though, so this may or may not be a good idea from an accessibility standpoint.

As for improvements to the UX, I don't think this is a good idea. Adding someth

[2020-05-07 22:20] annatuma commented on #871
I'm not able to replicate this in Chrome or Safari on Mac OS. Could this be Ubuntu specific?

Happy for this to be fixed, as long as it doesn't impact the correct behavior on other browsers/operating systems.

[2020-05-07 22:23] annatuma commented on #872
Thanks for your input @akmadian

I'll assign this to @AyanChoudhary so this is included in their upcoming work, one way or another.

[2020-05-08 00:17] vane commented on #896
It's because of filter modifies url and back button returns filter to previous state.
Filter store state should be adjusted after every back button click in `clientEntry.js` method `beforeRouteUpdate`.

[2020-05-08 00:17] Fahme commented on #896
@annatuma to extend on the issue i think also navigating from the collections page to search results page is a case should be handled what i.e. is :

1. go to ``/collections``
2. Press any of the collections providers.
3. redirects to search results
4. apply filter
5. press back button

expected  to redirects into the ``/collections``.

[2020-05-08 03:32] AyanChoudhary commented on #872
Yes, I agree with @akmadian this isn't necessarily related to user accessibility but definitely concerns the UX. @annatuma it would be great if a design mockup could be provided for it.

[2020-05-08 11:13] brenoferreira commented on #872
The reason for the Back to Top button on the results page is just for convenience when users have scrolled maybe 5+ pages down. Users can always just hit the `Home` button on their keyboard, and on mobile tap the top of the screen does something similar, like @akmadian said.

Since the details page isn't that long, I don't think this is necessary.

[2020-05-08 12:47] brenoferreira commented on #484
#882 doesn't seem to have worked properly https://github.com/creativecommons/cccatalog-frontend/actions

I still need to see why it isn't working.

@SaurabhAgarwala feel free to take another try

[2020-05-08 12:56] panchovm commented on #895
Thanks for the suggestion. I will include it in the new mockups that we are designing.

[2020-05-08 13:20] SaurabhAgarwala commented on #484
@brenoferreira The workflow didn't work because it's configured to work for push and PRs only in the `master` branch. But I see that by default, all PRs are merged into the `develop` branch. I will make the required changes. I just want to know, are direct `push` also done to develop branch itself?

[2020-05-08 13:34] brenoferreira commented on #484
Yes, CI needs to build PRs merged to `develop`, and commits on the `develop` and `master` branches themselves

[2020-05-08 14:34] Fahme commented on #896
@vane thanks for giving the pointers however i've did some more debugging and found out the root cause it's due to the global mixin here https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/clientEntry.js#L13 ``beforeRouteUpdate`` which is  effecting every level in the application component.

My reasoning is that the ``next()`` func is not canceled correctly (aborted) which will

[2020-05-08 14:37] SaurabhAgarwala commented on #484
Okay, I will make the necessary changes soon.

[2020-05-08 18:38] ritiktaneja commented on #908
Can I work on this issue @annatuma ?

[2020-05-08 20:15] krysal commented on #908
Anyone who wants is welcome to contribute, currently the mockup is open, feel free to work on this.

[2020-05-08 20:23] #684 closed

[2020-05-08 20:39] vane commented on #829
It's due to `MiniCSSExtractPlugin` bugs. Dev is using `vue-style-loader`.

[2020-05-08 21:46] vane commented on #829
Ok ignore my last comment it's due to how css specificity works so I didn't dig into vue-style-loader but it probably works only cause of hot replacement feature.
if you just use `.button.rating` you can get rid of !important.
More about css styles rating here https://htmldog.com/guides/css/intermediate/specificity/

[2020-05-08 22:47] annatuma opened #921 "[META] Add meta search to CC Search"
## Problem Description

Prior to CC Search coming out of beta a year ago, CC offered a meta search of CC-licensed content from a number of sources that either have content types not yet supported by CC Search, or that do not have APIs allowing us to index their content.

See some earlier discussion in this ticket https://github.com/creativecommons/cccatalog-frontend/issues/315 for context.

## Sol

[2020-05-08 22:54] annatuma opened #922 "Add meta image search to CC Search"
See https://github.com/creativecommons/cccatalog-frontend/issues/921 for background.

Implementation:
1. Add link below "Load more results" that says "Not finding what you need? Search other sources".

See ['image results' mockup in Figma](https://www.figma.com/file/jlDHPOrQPvP2DtbJRWmDyM/Old-CC-Search-integration?node-id=270%3A953).

2. Upon click, load modal. Modal functionality is as such:
- Us

[2020-05-08 23:04] annatuma opened #923 "Add meta audio and video search to CC Search"
See https://github.com/creativecommons/cccatalog-frontend/issues/921 for background.

Implementation:
1. Add tabbed navigation to CC Search for additional content types: Audio and Video

See ['audio results' mockup in Figma](https://www.figma.com/file/jlDHPOrQPvP2DtbJRWmDyM/Old-CC-Search-integration?node-id=270%3A2236) for full design.

2. Upon clicking on Audio or Video, instead of our normal "re

[2020-05-08 23:06] annatuma commented on #315
Start with a fresh meta ticket for this: https://github.com/creativecommons/cccatalog-frontend/issues/921 and two sub tickets to tackle each addition.

Closing this one out.

[2020-05-08 23:06] #315 closed

[2020-05-09 03:06] zackkrida opened #924 "Extra whitespace results in small line in licenses"
## Describe the bug
In the search results grid, a small black line is visible when hovering on the second license:

<img width="72" alt="Screen Shot 2020-05-08 at 10 35 01 PM" src="https://user-images.githubusercontent.com/6351754/81462309-9ed73700-917f-11ea-89fe-32aaeaf49e69.png">

This is caused by an extra white space node in `src/components/LicenseIcons.vue`. How to handle whitespace like this

[2020-05-09 04:38] zackkrida commented on #908
Basic implementation can be found here: https://github.com/creativecommons/cccatalog-frontend/pull/926

If @ritiktaneja or @Tanuj22 want to take a look, since you were interested in contributing, please do so! Thanks.

[2020-05-09 05:17] abhisheknaiidu opened #927 "No spacing in between the tags under filter-by section (Mobile breakpoint)"
## Problem Description
No spacing in between the tags under filter-by section in Mobile breakpoint

## Solution Description
`CURRENT : `

![fby](https://user-images.githubusercontent.com/55599878/81464791-5735c700-91e2-11ea-87e7-6373026c2fe8.png)

`EXPECTED : `

![fby-m](https://user-images.githubusercontent.com/55599878/81464801-6a489700-91e2-11ea-9171-2c5f73f33173.png)

## Alternatives

## Addit

[2020-05-09 11:46] fakela commented on #927
Can i send a PR for this?

[2020-05-09 13:22] abhisheknaiidu commented on #927
@fakela Yess, you can! but let's wait what @akmadian and @brenoferreira has to say about this issue!

[2020-05-09 18:14] Tanuj22 commented on #908
@zackkrida I hadn't actually started working on this yet. Please feel free to continue with your PR!

[2020-05-10 00:26] akmadian commented on #927
I think this is a good idea, thanks for catching this :)

[2020-05-10 15:32] Fahme commented on #896
@annatuma this should be solved by https://github.com/creativecommons/cccatalog-frontend/pull/929 however while fixing this i noticed a bug which could be related :

1. User type a search query in homepage
2. User gets Redirected to results page
3. User applies two~three filters
4. User press back button

Current :
The browser url changes, however the content of the page won't change

expected :

[2020-05-11 21:32] annatuma opened #931 "Updates to Copyright Infringement in User Reporting Flow"
Now that the user reporting feature has been live for a couple of weeks, we immediately see the need for some changes based on user behavior.

These are:
1) We want to remove the reporting action when a user selects "Copyright Infringement" from the first screen. We've had over a dozen "reports" with no DMCA forms filled out, and no copyright issues found yet.

Currently, when a user selects "Copy

[2020-05-12 13:02] #889 closed

[2020-05-12 14:04] #853 closed

[2020-05-12 14:43] #912 closed

[2020-05-12 20:04] brenoferreira opened #934 "Join separated client and server page components"
Because of legacy issues, there are three pages that have separate [server](https://github.com/creativecommons/cccatalog-frontend/tree/develop/src/pages/server) and [client](https://github.com/creativecommons/cccatalog-frontend/tree/develop/src/pages/client) versions:

* [x] BrowsePage
* [x] CollectionsBrowsePage
* [x] PhotoDetailPage

The reason for that is that for some time we used a [JS librar

[2020-05-12 22:05] #848 closed

[2020-05-12 22:06] annatuma commented on #848
Everything is live in production and looks good.

We have a couple of minor follow-up issues (as is to be expected).

[2020-05-13 12:08] brenoferreira opened #936 "Bring back license icon SVGs"
#865 removed the unused assets files. But it also deleted the license icon SVGs which are used in the HTML embed feature. We need to bring them back

[2020-05-13 13:04] #829 closed

[2020-05-13 13:13] #924 closed

[2020-05-13 14:34] #936 closed

[2020-05-14 12:23] jesusbotella opened #940 "Server rendering renders initial state and application scripts twice"
## Describe the bug
When loading any page rendered by Vue Server Side rendering you can find scripts and initial state for hydration rendered twice.

## To Reproduce
1. Go to any CC Search page rendered server side
2. Open up your browser's development tools and inspect DOM nodes
3. See how application scripts and state are duplicated when rendered from server side

## Expected behavior
It would b

[2020-05-14 12:47] brenoferreira opened #941 "Set up vue-i18n infrastructure"
[Install vue-i18n](https://kazupon.github.io/vue-i18n/installation.html) and set up a simple translation of one piece of text in the application (eg: the `SEARCH FOR CONTENT TO REUSE` on the home page). See the [Getting started guide](https://kazupon.github.io/vue-i18n/started.html#html) documentation

[2020-05-14 13:05] brenoferreira opened #942 "Create locale messages format JSON structure"
Once the Vue-i18n infrastructure is setup, the [locale message format](https://kazupon.github.io/vue-i18n/guide/formatting.html) JSON structure needs to be defined.

Because once this is setup, text changes won't be done in the components themselves, but rather in this JSON file. The structure needs some logical order so that it's easy to find in this large JSON object a particular piece of text,

[2020-05-14 13:34] brenoferreira opened #943 "Allow users to change locale on the client"
Allow users to select a preferred language in the UI, and load the locale data accordingly.

Initially, we could load the site in English by default when the user access https://ccsearch.creativecommons.org/.

And different locales could be loaded with a locale key in the URL, such as:

* https://ccsearch.creativecommons.org/es for Spanish
* https://ccsearch.creativecommons.org/fr for French
* htt

[2020-05-14 13:48] brenoferreira opened #944 "Set up translation service infrastructure"
Set up the infrastructure to allow the use of the translation service https://www.transifex.com/.

It seems like the only integration provided by Transifex that could help in the case of this project is the [Github Integration](https://docs.transifex.com/transifex-github-integrations/github-tx-client), which seems to support translations in a .json file

[2020-05-14 13:59] brenoferreira opened #945 "Set up locale detection on the server"
CC Search uses [Server Side Rendering (SSR)](https://github.com/creativecommons/cccatalog-frontend/blob/develop/CODEBASE.md#server-side-rendering), so it would be nice if the server renderer could detect the users' locale using the [Accept-Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) header and load the appropriate locale data, if it exists.

For example:

I

[2020-05-14 15:28] panchovm opened #946 "The image's title do not use the correct text style"
## Describe the bug
In the single result page, the image's title has different text styles than the mockup.
<img width="504" alt="Screen Shot 2020-05-14 at 11 27 46" src="https://user-images.githubusercontent.com/895819/81953666-f6d5c980-95d5-11ea-8b1a-94e641ee66ff.png">

## Expected behavior
It should follow the text style `Heading 5B` available in [the Design Library](https://www.figma.com/file/

[2020-05-14 15:35] panchovm opened #947 "The back button doesn't follow the mockup"
## Describe the bug
The text style and the left icon doesn't follow the mockup in Figma
<img width="270" alt="Screen Shot 2020-05-14 at 11 31 30" src="https://user-images.githubusercontent.com/895819/81954198-91cea380-95d6-11ea-8bbc-e1b6687c6b08.png">

## Expected behavior
Use the `caption` style and the `chevron-left` icon. See the [Figma mockup (Mockup S3).](https://www.figma.com/file/KEXxItd8El

[2020-05-14 15:45] panchovm opened #948 "The tab component doesn't follow the style defined in the Design Library"
## Describe the bug
The active and inactive states of the tab component don't follow the style defined in the Design Library.
<img width="521" alt="Screen Shot 2020-05-14 at 11 42 05" src="https://user-images.githubusercontent.com/895819/81955525-330a2980-95d8-11ea-9512-f1722782feff.png">

## Expected behavior
The active and inactive states have a different line weight and size, without padding. S

[2020-05-14 15:51] panchovm opened #949 "The report style doesn't follow the mockup"
## Describe the bug
1. The label "report this content" uses a different text style
2. During hover state, it moves slightly to the right.
3. During hover state, it should show an underline in the label.
4. It doesn't have the 8px spacing parameter to separate it from the above paragraph.

<img width="357" alt="Screen Shot 2020-05-14 at 11 47 05" src="https://user-images.githubusercontent.com/89581

[2020-05-14 16:08] panchovm opened #950 "Hover state of default link"
## Describe the bug
The hover state of default links it shows a different style than defined as general interaction. This occurs in all default (tomato) links.
<img width="472" alt="Screen Shot 2020-05-14 at 12 06 54" src="https://user-images.githubusercontent.com/895819/81958082-74500880-95db-11ea-92d5-ca4ed0642f4a.png">

## Expected behavior
It should show an orange underline

[2020-05-14 16:15] panchovm opened #951 "The hover state of button component is not correct"
## Describe the bug
The button has a different background color and it has an underline style during the hover state. In the default state, the icon has an incorrect color.

## Expected behavior
1. It should not have an underline style
2. The background color should be the interaction color defined in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3

[2020-05-14 16:18] panchovm opened #952 "Incorrect spacing between main CTA and sentence to form"
## Describe the bug
The space between the CTA and the sentence that sends to feedback form is not correct.

## Expected behavior
The space parameter should be 8px, as indicates the [Figma mockup (Mockup S3)](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=205%3A60&viewport=9358%2C5775%2C1.702396035194397).

## Screenshots
<img width="509" alt="Scree

[2020-05-14 16:21] panchovm opened #953 "The bottom-padding spacing in content section is incorrect"
## Describe the bug
The spacing used as bottom-padding in the section where the image is presented is incorrect.

## Expected behavior
The spacing should be 64px, as defined in [the mockup (Mockup S3)](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=199%3A354&viewport=4014%2C2158%2C0.5814259648323059).

## Screenshots
<img width="1439" alt="Screen S

[2020-05-14 16:50] panchovm opened #954 "The text styles of title sections are not correct"
## Describe the bug
The text style of sections **Tags** and **Related images** are not correct.

## Expected behavior
Those titles should be in `Heading 3B` is [the mockup indicates (Mockup S3)](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=205%3A60&viewport=3484%2C2112%2C0.5814259648323059).

## Screenshots
<img width="432" alt="Screen Shot 2020-

[2020-05-14 16:54] panchovm opened #955 "The tag component has an incorrect text style"
## Describe the bug
The tag element has `Roboto Condensed` as font.

## Expected behavior
The font should be `Source Sans Pro` as [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A222&viewport=-779%2C-188%2C1.259944200515747) indicates.

## Screenshots
<img width="251" alt="Screen Shot 2020-05-14 at 12 54 17" src="https://user-images.githubuserconten

[2020-05-14 17:06] panchovm opened #956 "Padding in image's title inside the thumbnail"
## Describe the bug
The padding of the image's title inside the thumbnail during hover state doesn't follow the mockup.

## Expected behavior
The bottom-padding should increase to create equivalent space in the top and bottom areas. Follow [the Design Libary](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=576%3A0&viewport=-75%2C233%2C0.5492125749588013) definition.

## Sc

[2020-05-14 17:18] panchovm opened #957 "The icons of licenses should not be links"
## Describe the bug
The license's icons are links the license description. These icons should not be linked.

## Expected behavior
Show the icons without any interaction.

## Screenshots
<img width="511" alt="Screen Shot 2020-05-14 at 13 18 23" src="https://user-images.githubusercontent.com/895819/81964989-68694400-95e5-11ea-83e2-9ccd7e7c0004.png">

[2020-05-14 17:31] panchovm opened #958 "The title section doesn't have the correct spacing"
## Describe the bug
The section where title and author are doesn't have the correct spacing

## Expected behavior
The margin-bottom should be 24px. See [the mockup S3](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=205%3A60&viewport=5820%2C3973%2C1) definition.

## Screenshots
<img width="549" alt="Screen Shot 2020-05-14 at 13 29 45" src="https://u

[2020-05-14 17:36] panchovm opened #959 "The H5 elements doesn't have consistent spacing"
## Describe the bug
The H5 elements in the right section of the image don't have the same spacing.

## Expected behavior
It should have a distance of 16px in every case. See [the Mockup - S3](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=205%3A60&viewport=5820%2C3973%2C1).

## Screenshots
<img width="573" alt="Screen Shot 2020-05-14 at 13 34 10" s

[2020-05-14 17:39] panchovm opened #960 "The left spacing in related image's gallery is incorrect"
## Describe the bug
There is a space on the left side of the gallery, in the related images section.

## Expected behavior
There should be no space, either the left and right sides.

## Screenshots
<img width="508" alt="Screen Shot 2020-05-14 at 13 37 43" src="https://user-images.githubusercontent.com/895819/81967034-55a43e80-95e8-11ea-9ef0-932d99064462.png">

[2020-05-14 17:49] wendko commented on #922
Hi @annatuma, I'm looking into this and I just wanted to understand for point 2

 If the user selects two sources and clicks search, is it going to open two tabs?

[2020-05-14 17:59] panchovm opened #961 "The grid doesn't have the spaces defined"
## Describe the bug
The layout of first section doesn't have the spaces defined for the grid in [Mockup S3](https://www.figma.com/file/KEXxItd8EloJGbXswuUDqq/Mockup---S3-(License-Language-Changes)?node-id=199%3A354&viewport=969%2C732%2C0.13086995482444763).

## Expected behavior
Use the grid and the columns defined for placing elements.

## Screenshots
<img width="1440" alt="layout grid" src="http

[2020-05-14 18:03] panchovm opened #962 "the text style of code doesn't follow the Design Library definition"
## Describe the bug
The text style of code in the attribution tool, html tab, has a different text style.

## Expected behavior
The text style should be `code-normal` as it indicates [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A110&viewport=-651%2C-1185%2C0.6580211520195007).

## Screenshots
<img width="481" alt="Screen Shot 2020-05-14 at 14 02

[2020-05-14 19:30] panchovm opened #963 "The popup element in reporting content doesn't follow the mockup"
## Describe the bug
The whole section has the following errors:
1. The section's title should use the `Heading 5B` style
2. The title + description section should have a 16px margin-bottom
3. Each radio button input should have an 8px distance.
4. The line-height of the final paragraph should follow the `caption` style.
5. The distance between final paragraph and the next button should be 8px.
6.

[2020-05-14 19:35] panchovm opened #964 "Hover styles of back and close actions"
## Describe the bug
In the pop-up of **report this content**, option "other", the `back` and `close` actions have incorrect styles during hover state.

## Expected behavior
In hover state, it should happen the following:
1. The back action should change the text color from `Gray` to `DarkGray`.
2. The fill color of the cross icon should change `Gray` to `DarkGray`.
See the [Mockup S3 in Figma](htt

[2020-05-15 10:33] tichnas commented on #964
I want to take this as my first issue. Can someone please help me with how to get started? How to find which file needs to be edited?

[2020-05-15 12:38] brenoferreira commented on #961
@panchovm can you provide more details as to what exactly needs to be fixed in the grid? Is it the column sizes? Gap size? It's a bit unclear

[2020-05-15 13:17] panchovm commented on #961
Both. I can't give more details about how is implemented but comparing it with the mockup. There is a difference in columns and gap sizes.

[2020-05-15 13:50] #484 closed

[2020-05-15 15:43] annatuma opened #966 "Build DMCA form into CC Search"
Ticket work required.

[2020-05-15 19:24] brenoferreira commented on #923
https://github.com/creativecommons/search/blob/master/search.js

[2020-05-15 22:11] Fahme opened #967 "Critical bug in search results page"
## Describe the bug
When browsing thru image results and clicking on the load more button two ~ three times then choosing an image to see the details things work as expected, but when pressing the ``Back to search results`` button in order to return into search results page and try to load more photos the same photos gets loaded again.

**Reason is when making a new network request to server the q

[2020-05-15 23:04] Fahme commented on #483
@Amankumar29 This been on hold since Feb are you still working on it ? if you're not so that i can pick it up.

[2020-05-16 06:28] ariessa commented on #954
Hi, I've fixed this bug and created pull request [#969](https://github.com/creativecommons/cccatalog-frontend/pull/969)

[2020-05-16 06:55] ariessa commented on #959
Hi, I fixed the bug and created pull request [#970](https://github.com/creativecommons/cccatalog-frontend/pull/970)

[2020-05-16 08:13] ariessa commented on #963
Hi, I fixed the bug and created pull request [#971](https://github.com/creativecommons/cccatalog-frontend/pull/971)

[2020-05-16 09:04] ariessa commented on #958
Hi, I fixed the issue and created pull request [#972](https://github.com/creativecommons/cccatalog-frontend/pull/972)

[2020-05-16 09:28] akanksha-v commented on #962
I would love to work upon this, please assign it to me if it's available

[2020-05-16 10:35] Tanuj22 commented on #962
@akanksha-v You don't need to ask permission for issues makes `help wanted` or `good first issue`.

[2020-05-16 12:08] ariessa commented on #957
Hi, I've fixed this issue and created pull request [#974](https://github.com/creativecommons/cccatalog-frontend/pull/974)

[2020-05-16 13:40] ariessa commented on #952
Hi, I've fixed this issue and created pull request [#975](https://github.com/creativecommons/cccatalog-frontend/pull/975)

[2020-05-16 13:54] akanksha-v commented on #962
@panchovm  Could you please link here the concerned file which needs to have changes

[2020-05-16 18:20] akanksha-v commented on #964
Hi, I have fixed this issue #977

[2020-05-16 21:42] annatuma commented on #922
@wendko that was the original intention, but after technical review we have concluded it is best to only allow for selection/opening one source at a time, therefore the functionality here will mirror the proposed functionality in https://github.com/creativecommons/cccatalog-frontend/issues/923

The ticket has been updated.

[2020-05-17 05:27] ariessa commented on #953
Hi, I've fixed the issue and created pull request [#978](https://github.com/creativecommons/cccatalog-frontend/pull/978)

[2020-05-17 10:37] akanksha-v commented on #960
I have solved this issue, please review my pr #980

[2020-05-17 15:11] wendko commented on #922
That's great :) Alright, I can work with that!

One more thing - if there are no image results, how should this link to extra sources be displayed? Or should it not be displayed at all?
![image](https://user-images.githubusercontent.com/12908560/82152403-7e039580-9893-11ea-9a07-4d6ea8e7b30d.png)

[2020-05-18 13:59] panchovm commented on #962
The bug appears in every single result page, attribution toolbox. You can search for any image to see the implementation

[2020-05-18 14:05] akanksha-v commented on #962
@panchovm please review my pr #979 and suggest changes if any. Has the bug not resolved yet?

[2020-05-18 18:01] #931 closed

[2020-05-18 21:51] annatuma opened #983 "Updates to "Credit the Creator" Box"
As part of Design Sprint 3, we updated our attribution tool on single result pages. It is in the Reuse tab, called "Credit the Creator". [Example single result page](https://search.creativecommons.org/photos/e4e54b5c-504b-48f0-8deb-e97d7d8df85c).

There are a couple of minor changes necessary:

1) Change the tab called "Text" to "Rich Text".

2) Add "To view a copy of this license, visit https://l

[2020-05-18 23:06] tichnas commented on #983
Can I please work on this issue?

[2020-05-19 13:14] #896 closed

[2020-05-19 14:20] localjo opened #985 "Setup instructions in the readme don't work"
## Describe the bug

Following the setup instructions in the readme doesn't work. Running the app locally fails with errors about missing modules (even though the modules have been installed), and running in Docker doesn't make the site available at http://localhost:8443/

## To Reproduce

1) Set up a fresh Node/npm install (I tested with version 12.16.1 and 12.4.0)
2) Clone the repo
3) Follow the

[2020-05-19 14:31] akanksha-v commented on #983
@annatuma could you please confirm me one thing that in Plain Text we need to write, for e.g.-
"A cute Dog 2" by Chen Vision is licensed under CC BY-NC 2.0. To view a copy of this license, visit CC BY-NC 2.0"
That's it ?

[2020-05-19 17:35] #967 closed

[2020-05-19 18:03] brenoferreira opened #986 "Decommission CircleCI"
The Github Actions setup is working well enough. We can now turn off CircleCI by deleting the `.circleci/` dir from the repo (anyone can do) and changing the branch configs to use GH Actions instead of CircleCI jobs to validate PRs (only CC Staff with admin privileges in the repo can do this)

[2020-05-19 18:56] annatuma commented on #983
@akanksha-v no, it should be "visit https://......" with the license URL fully visible, not hyperlinked. This is for people to copy/paste into plain text, like print materials for instance.

It may be helpful to look at how it is done on the [License Chooser Beta](https://chooser-beta.creativecommons.org/) where it looks like this:

![Screen Shot 2020-05-19 at 1 56 03 PM](https://user-images.githu

[2020-05-19 18:57] annatuma commented on #983
@tichnas this issue is open for anyone to contribute.

[2020-05-20 03:09] zackkrida commented on #985
Hi @localjo, the project currently works with node v10 or lower _unless_ the `  "type": "module"` line is removed from `package.json`, as node v12+ supports native es6 modules and changes behavior when this line is present.

You shouldn't need to install any global modules to get it to work: just remove `  "type": "module"` and follow the instructions as-provided.

I'll make an issue for this; tha

[2020-05-21 12:08] #985 closed

[2020-05-22 14:33] #956 closed

[2020-05-22 14:38] #986 closed

[2020-05-22 14:46] #946 closed

[2020-05-22 15:12] #954 closed

[2020-05-22 15:19] #959 closed

[2020-05-22 17:39] #958 closed

[2020-05-22 18:01] #983 closed

[2020-05-23 22:12] obulat opened #995 "Issue template should ask to target branch 'develop'"
## Describe the bug

Currently, the issue template in the repo asks the contributor to target branch `master` when creating a pull request. However, that is not the way this repo branch structure works, it should say `My PR targets branch 'develop'`.

[2020-05-25 01:23] akmadian commented on #872
Closing because the consensus for this suggestion seems to be that we do not want to move forward with an implementation.

[2020-05-25 01:23] #872 closed

[2020-05-25 01:24] #927 closed

[2020-05-25 10:09] tichnas commented on #922
@wendko Are you working on this issue?

[2020-05-25 10:14] wendko commented on #922
Hi @tichnas, yes, I have made some progress on this issue but I have not completed it yet, I was waiting for clarification on the last comment.

[2020-05-25 13:09] #947 closed

[2020-05-25 13:50] #963 closed

[2020-05-25 13:58] #952 closed

[2020-05-26 14:43] brenoferreira opened #996 "Accessibility - Improve labels"
During the audit of CC Search with Accessibility tools such as Lighthouse, we found that many of our pages don't have good labels for screen readers. That includes

* Labels for inputs on forms
* Aria labels and roles on elements such as buttons
* The vocabulary icons are now rendered with fonts and probably don't work well with screen readers. We need to add aria labels to those too

These labels

[2020-05-27 13:23] zackkrida commented on #913
Hi Anna, something that may be of use here...

The site currently checks to see if it should use the production or development Google Analytics account via checking the url for `ccsearch.`, the previous domain. This means that https://search.creativecommons.org is using the development GA code and https://ccsearch.creativecommons.org is using the production version.

<img width="1920" alt="Screen

[2020-05-27 13:59] brenoferreira opened #997 "Evaluate keyboard navigation effectiveness"
The accessibility reports didn't provide any data on keyboard navigability. So we probably need to do some manual testing to see if the navigation is effective, if all the elements are interactive via keyboard, if they have visual cues for focus.

Investigate how the tabIndex of components is affecting navigation, and see if changes in rendered components (eg: components being added and removed fr

[2020-05-27 14:09] brenoferreira opened #998 "Fix color contrast problems"
Lighthouse has found many color contrast problems. Please refer to the [reports](https://drive.google.com/drive/folders/1OeEtEdQhgsXdrlHBBMnARkad_6-xGWno?usp=sharing) to see what the problems are.

Some of the problems found which have low contrast scores are: the tomato color over gray backgrounds, some dark grays over gray, tag labels' gray over white.

[2020-05-27 14:50] brenoferreira opened #999 "Improve elements markup"
The [pa11y reports](https://drive.google.com/drive/folders/1WiUJimkGmDmXM4Hi36SfUrVYCtA5gQLj) has found some problems with the HTML markup, of which some of the most frequently seen include:

* landmarks: [this one](https://dequeuniversity.com/rules/axe/3.5/landmark-one-main?application=axeAPI) and [this one](https://dequeuniversity.com/rules/axe/3.5/region?application=axeAPI)
* links with icons h

[2020-05-27 14:58] brenoferreira opened #1000 "Evaluate any accessibility linter tools"
Evaluate how an accessibility linter tool could be added to our CI build pipeline, so that we don't let our accessibility score go down with time.

To do this, it will be necessary to start a dev server and run the accessibility tool with a [headless browser](https://developers.google.com/web/updates/2017/04/headless-chrome) and read the accessibility score from the CLI output and compare with the

[2020-05-29 04:04] wendko commented on #922
Hey @tichnas due to personal circumstances, I won’t be able to work on this for a while, feel free to pick this up if you’d like

[2020-05-29 14:19] annatuma commented on #922
Sorry about the delay folks - for the time being the messaging you suggested @wendko is fine. We may tweak it on the next iteration.

Also sorry to hear about personal circumstances, I do hope everything is alright.

[2020-05-29 14:54] kgodey opened #1001 "Add Smithsonian logo"

[2020-06-01 23:36] dos077 commented on #998
The <a> color is not defined in this repo, but at creativecommons/vocabulary. The $color-tomato variable is too light on a white black ground, supposedly. But going through Google's own material color palette, it seems like only the deep-orange darken-4 color can satisfy the >4.5 contrast requirement. Not sure how the design process of vocabulary group works, a plain orange text link maybe a big t

[2020-06-02 00:22] dos077 commented on #996
All of the input and button elements are just plain HTML tags, as far as I can tell. It will just take a bit of elbow grease to add aria label to all of them, but looking into the vocabulary, it seems like creativecommons is building and migrating its website into a common reusable UI component library? In that case editing the plain HTML tags now will be a waste of effort, since they will be repl

[2020-06-02 15:27] #1001 closed

[2020-06-04 14:47] Atanda1 commented on #998
I'll like to work on this contrast ratio issue

[2020-06-04 15:54] dhruvkb commented on #998
@dos077 I am pretty sure that the primary brand colors are immutable and using them is unavoidable. This means running into issues like this is inevitable. That said, here is the only way to rectify this:
- We can redesign the low-contrast parts to be more legible using [the A<sub>n</sub> guide](https://usecontrast.com/guide) and switch to [more legible color combinations](https://www.figma.com/fi

[2020-06-04 15:54] dos077 commented on #998
A little more info on the problem. This is where the colors are defined:

https://github.com/creativecommons/vocabulary/blob/master/src/styles/color.scss

Here's Google's material palette:

https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=E65100

$color-tomato, which is also the main brand color, is between orange 800-900, neither are sufficiently legible in contrast

[2020-06-04 16:56] brenoferreira commented on #998
<img width="1402" alt="Screen Shot 2020-06-04 at 13 54 34" src="https://user-images.githubusercontent.com/707019/83787999-00010600-a66b-11ea-9aed-4ff185d20a78.png">
here's an example of tomato over white

[2020-06-04 16:59] panchovm commented on #998
Oh. Now I see, we need to work on links. Thanks @brenoferreira

[2020-06-04 19:42] Atanda1 commented on #998
So what's the conclusion? Are we changing the colour contrast of the link and background

[2020-06-04 20:06] panchovm commented on #998
We are changing the tomato color for links. Definitely

[2020-06-04 22:12] dhruvkb commented on #998
This seems like a Vocabulary issue. Should I transfer this issue to `creativecommons/vocabulary`?

[2020-06-05 11:06] annatuma opened #1006 "Content Not Loading and License Links Wrong on Single Result Page"
We recently rolled out a design change to the Single Result Page.

Two bugs have surfaced:
1) Licenses version 2.0 do not have correct links.
2) On first load, a single result page does not show the license bullets.

[2020-06-05 12:34] kgodey commented on #998
This is a general issue for all color contrast issues found by Lighthouse, I think it makes sense to leave it here and open new (related) issues in Vocabulary for each of the problems.

[2020-06-05 12:47] Atanda1 commented on #998
How do I come in now?

[2020-06-05 14:01] obulat commented on #1006
@annatuma Which branch is deployed? I cannot reproduce it locally either on develop or master.

[2020-06-05 14:06] annatuma commented on #1006
@kgodey can hopefully help answer that.

I've noticed it is intermittent, and it only happens the first time you load the page in question on the browser, so if you're reproducing I recommend a private browser window.

I've reproduced in Firefox (on Mac OS X) but not Chrome or Safari.

[2020-06-05 14:34] kgodey commented on #998
@Atanda1 please wait for @panchovm to create new tickets.

[2020-06-05 15:28] Atanda1 commented on #998
Ok then...I'll look out for that

[2020-06-07 14:57] wajeehamushtaq commented on #998
Does anyone working on this issue or may I work on it?

[2020-06-09 12:20] annatuma commented on #998
Individual color issues should be addressed in Vocabulary, and updates will be made in parallel to the Design Library.

Leaving to @dhruvkb and @panchovm to create appropriate tickets in Vocabulary (starting with the link color issue), and make changes in Design Library.

We'll create more tickets once the reports are fully reviewed.

For contributors, I recommend looking for issues marked as "hel

[2020-06-09 16:15] annatuma opened #1010 "Remove Search Relevance Question on Collections pages"
## Problem

CC Search has specific Collections page, such as https://search.creativecommons.org/collections/met

The only way for a user to navigate to this page is via the Collections tab. When a user first lands on it, we simply load all images from within that collection. At this point a user has not entered a search query. As such, we should **not** be showing our question, "Are these results

[2020-06-09 16:16] annatuma commented on #1010
Tagging @aldenstpage to review this suggested change. I want to ensure we're not missing something on how we gather the data on relevance (e.g. if we should include the Collections page if a user is within it?).

[2020-06-09 17:15] aldenstpage commented on #1010
This is a good question. We designed the analytics API around the `q` parameter (what the user types in the search box), and since there is no query on the collections page, clicking the button in this context will not record anything useful.

The analytics API was designed before we even had a browse-by-collections view, if I'm remembering correctly, so it was not designed for this purpose. We sh

[2020-06-09 17:44] aldenstpage commented on #1006
@obulat, you can see the revision or release number in dev/production by checking the (undocumented) version page: https://ccsearch.creativecommons.org/version.

[2020-06-10 05:57] obulat commented on #1006
Thank you, @aldenstpage!

Both parts of this issue were caused by the api not sending correct license for 2.0 version.

I understand that the api issue is resolved, which resolved this issue. @annatuma, I can confirm that I see both license url and bullet points on the first load for the 2.0 licenses.

[2020-06-10 11:33] annatuma commented on #1006
The bug is still present on Firefox, unfortunately, but not on Chrome and Safari, although I believe the PR from @Tanuj22 identifies the specific issue and should resolve it once it's reviewed and merged.

[2020-06-10 11:47] wajeehamushtaq opened #1012 "Add loader on images or components"
## Problem
The page remains blank when loading components or images
## Description
Enhancement in the Searched page by adding lazy load in SEARCH FOR CONTENT's images by using Vue.js plugin for lazyloading your Image or Component in the application.  Add loader on images or components when any page open

## Implementation
By using Vue-Lazyload plugin:
[code]

[2020-06-12 13:05] annatuma commented on #511
@kgodey is this still something we want to consider in the near term, or should we close this out?

[2020-06-12 13:43] annatuma opened #1014 "Add Web Monetization Tag to select CC Search Pages"
We're ready to integrate web monetization on select CC Search pages.

This is the tag:
`<meta name="monetization" content="$ilp.uphold.com/edR8erBDbRyq">`

It should be placed in the `<head>`

For the first phase of the rollout, we will move forward with integrating this tag on the following pages:

Homepage: https://search.creativecommons.org/
About: https://search.creativecommons.org/about
Colle

[2020-06-12 15:00] kgodey commented on #511
I think we can close it, we can always reopen later if needed.

[2020-06-12 15:46] mathemancer opened #1015 "Add logos for new Sources"
## Problem

We have the following sources come online soon:
- NASA (nasa.gov)
- Biodiversity Library (https://www.biodiversitylibrary.org/)
- SMK (https://www.smk.dk/)
- Science Museum (https://www.sciencemuseumgroup.org.uk/)
-- _Note this may already exist, since we previously integrated, but updated the integration now_
- Europeana (https://www.europeana.eu/en)

We need to make sure that we have

[2020-06-12 17:51] annatuma commented on #1015
@mathemancer I added Europeana to the list, just flagging that for you in case it's premature for some reason.

Also added notes on what part of the page these belong on. (Not sure how that's currently handled, so if it's outside the scope of this, it can be ignored).

[2020-06-12 22:26] Tanuj22 commented on #1015
@mathemancer Can you please tell what would be the `source_name` in the [api](https://api.creativecommons.engineering/v1/sources) for each of them?

[2020-06-13 10:20] wajeehamushtaq opened #1017 "Add tooltip in Browse Collection Page"
## Problem
When hovering over any card in Collection page it must popup about that collection

## Description
Adding customizable & reactive tooltips/popovers/dropdowns with smart positioning. When hovering over any Collection Card.

## Implementation:
By adding Vuejs Plugin:
[code]

[2020-06-16 00:42] krysal commented on #1015
Where should we get the logos from? Just take it from each link?

[2020-06-16 22:24] abhisheknaiidu opened #1019 "Photo Details page is not responsive"
## Description
Photo-Details page seems to be unresponsive

## Reproduction

1. https://search.creativecommons.org/
2. Search for something
3. Click any Image
4. See error.

## Expectation
Photo Details Page should be responsive.

## Screenshots

![unresponsive-photo-details-page](https://user-images.githubusercontent.com/55599878/84834004-0f5e5700-b04e-11ea-83f8-51a00d802219.jpg)

`CHROME`

<img

[2020-06-16 22:59] abhisheknaiidu opened #1020 "Feature: Progressive Web App"
Implement Progressive Web App for CC Search

We can make both mobile and web as a progressive app! (Add App to Home Screen)

- Mobile Compatible

- Desktop Compatible(If Needed)

Most of the apps nowadays are sunsetting their mobile web apps and going full PWA like:
`DRIBBLE:`

![driible-pwa](https://user-images.githubusercontent.com/55599878/84836075-b1803e00-b052-11ea-827a-ff32829d637e.jpg)

`TW

[2020-06-16 23:15] abhisheknaiidu commented on #1017
Thanks, @wajeehamushtaq  for suggesting with the changes, but I think We don't need any custom tooltips or anything else that justifies loading hundreds of KBs in extra `NPM` packages. which will eventually have a high cost for users loading the page.

But anyways, deferring to @akmadian and @kgodey

[2020-06-17 16:16] mathemancer opened #1021 "Add SpaceX logo"
## Problem

SpaceX (https://www.spacex.com/)
will soon be added as a source of images for CC Search, so we need to set up a logo in the front end for the collections page.

[2020-06-17 19:21] abhisheknaiidu commented on #1021
Where should we get the SpaceX logo from?

[2020-06-17 19:37] kgodey commented on #1021
@abhisheknaiidu https://en.wikipedia.org/wiki/File:SpaceX_logo.svg

[2020-06-17 19:38] kgodey commented on #1020
@abhisheknaiidu new features have to go through @annatuma for triage so I added "awaiting triage" back. Please talk with her directly and get her approval before removing the label.

[2020-06-17 19:39] kgodey commented on #1015
Sometimes the sources will have a press kit with logo images, other times they're available on Wikimedia Commons.

[2020-06-17 19:41] kgodey commented on #1015
The `source_names` are:
`nasa`
`bio_diversity`

[2020-06-17 19:45] kgodey commented on #1017
Feature requests need to go through @annatuma

[2020-06-17 19:46] #1010 closed

[2020-06-17 19:50] aldenstpage commented on #1015
There's `sciencemuseum` and `europeana`, but I can't say for sure what SMK is (I would imagine it's `smk` but Brent will have to confirm)

[2020-06-18 09:43] annatuma commented on #1017
Thanks for the suggestion @wajeehamushtaq and the proactive triage @abhisheknaiidu

From a technical perspective, your instincts @abhisheknaiidu are correct here.

From a user perspective, we do need to improve the Collections page, and this is on the roadmap. While we likely won't go the route of tooltips/modals, we do plan to reorganize the content into different groups of sources (currently onl

[2020-06-18 09:43] #1017 closed

[2020-06-18 09:51] mathemancer commented on #1015
SMK is `statensmuseum`

[2020-06-18 09:54] Tanuj22 commented on #1015
Thanks everyone. Opening a PR soon.

[2020-06-18 09:56] mathemancer commented on #1015
To summarize:
[code]

[2020-06-18 09:57] mathemancer commented on #1021
The source identifier will be `spacex`

[2020-06-18 10:01] annatuma commented on #1020
Thanks for the suggestion @abhisheknaiidu

While I agree that PWAs are nifty, and may be appropriate for some apps, I'm not convinced that this would be the right move for CC Search, and definitely not in the short term.

We'd need to start by doing user research to understand if there was even a need for this. Assuming there was, we'd need to look into what is feasible for us to load offline for

[2020-06-18 10:57] ChariniNana commented on #1015
@mathemancer should SpaceX be part of this list since I plan to pull it out from Flickr?

[2020-06-18 11:04] Tanuj22 commented on #1015
@ChariniNana  #1021 solves it I guess?

[2020-06-18 11:08] ChariniNana commented on #1015
Ah yes, it does

[2020-06-18 16:07] #1015 closed

[2020-06-18 16:37] kgodey commented on #1021
Done in #1022.

[2020-06-18 16:37] #1021 closed

[2020-06-20 06:26] AyanChoudhary opened #1026 "Wrong example link for dog|cat in Search Guide page"
## Description

The example links for **dog+cat** and **dog|cat** in the search-help page both point to the same query which is **dog+cat**

## Reproduction

1. Go to the search help page
2. Navigate to the example links for **dog+cat** and **dog|cat**
3. Check the query string and results
4. See error.

## Expectation

The example for **dog|cat** should point to the search query for **dog|cat**

[2020-06-22 10:48] annatuma commented on #1026
I see this too (on Firefox on a Mac). Thanks for reporting this!

[2020-06-22 11:00] annatuma opened #1027 "Update Google Analytics Code on Dev and Prod"
## Description

Our Google Analytics tracking code is incorrectly set up.

Currently, we use the following:

[code]

In production, we have two subdomains that work for CC Search:
search.creativecommons.org
ccsearch.creativecommons.org

For dev, we have one subdomain:
ccsearch-dev.creativecommons.org

Currently, _all_ traffic going to ccsearch.creativecommons.org is being recorded in the GA Dev ac

[2020-06-23 10:16] annatuma commented on #913
Thanks @zackkrida for digging in - there's a ticket to get it fixed now!

[2020-06-23 13:33] annatuma commented on #463
@mathemancer I dropped your questions into the main ticket above, so help guide the discussion here.

@panchovm and I will be tackling this in the coming weeks, and will discuss proposals as they become available, so we can ensure that technical limitations/necessary changes are taken into account.

[2020-06-23 15:36] panchovm commented on #463
In terms of purpose and goal, I advocate the idea of like-themed images. By doing this we are helping users to navigate through content when they don't have a specific keyword or sentence to search for.

That said, we can set the number of collections by looking at tags, categories, and any other type of meta-data that indicates themes. But that grouping might lies on us since we are grouping from

[2020-06-24 07:51] AyanChoudhary commented on #998
Linking the relevant issues from vocabulary here
https://github.com/creativecommons/vocabulary/issues/454
https://github.com/creativecommons/vocabulary/issues/455

[2020-06-24 09:41] Atanda1 commented on #998
Thanks! I'll check it out ASAP

On Wed, 24 Jun 2020, 08:51 Ayan Choudhary, <notifications@github.com> wrote:

[2020-06-24 10:29] annatuma opened #1030 "Add Global Header to CC Search"
## Description

The Global Header in the Design Library is now live in Vocabulary: https://cc-vocabulary.netlify.app/?path=/story/patterns-global-header--interactive

This should be added to CC Search.

[2020-06-25 12:18] AyanChoudhary opened #1032 "Auto focus search bar"
## Problem

The search bar does not get auto focused when the page loads, also, most webpages with a search have a quick focus option on clicking `/`

## Description

We will have to enable auto-focus on the search when the page loads, it will have to be audited that on which pages we need it to auto-focus(for eg. it is necessary for the homepage but maybe not in the search-guide page), whereas th

[2020-06-25 13:09] panchovm opened #1033 "Change location of the mature content filter in search results"
## Description
We need to change how we show the filter that shows/hides mature content on the search result page.

Currently, we have a "Search Settings" filter in the left hand side bar, within which users can enable mature content:
<img width="347" alt="Screen Shot 2020-06-26 at 11 07 51 AM" src="https://user-images.githubusercontent.com/3051816/85851048-7cd05d00-b79d-11ea-952c-284fff65cc8d.png

[2020-06-25 13:22] #1026 closed

[2020-06-25 14:40] annatuma opened #1034 "Research Sentry Errors"

[2020-06-25 14:47] annatuma opened #1035 "Use Source Logos from Endpoint on Collections UI"

[2020-06-25 14:47] annatuma commented on #1035
Blocked by: https://github.com/creativecommons/cccatalog-api/issues/512

[2020-06-25 14:51] annatuma commented on #908
Just noting that we've discussed some concerns around the scrolling functionality, and at this time loading a static file instead seems to make sense. We can discuss in more detail during sprint planning.

[2020-06-25 18:27] Tanuj22 commented on #1027
@annatuma @kgodey  I was looking into this issue. The production environment uses [index-server.html](https://github.com/creativecommons/cccatalog-frontend/blob/develop/index-server.html) to serve the website. From what I could tell `https://ccsearch-dev.creativecommons.org/` is also using the production version. So using the development and production version of GA Tracking code in the developmen

[2020-06-26 10:05] annatuma commented on #1027
Oh interesting. That might explain why the code is currently set up the way it is.

My first question is whether it is appropriate to use the production version of index-server.html on the development site. Any thoughts on that?

If, instead of changing how we do things with index-server.html, it makes more sense to rewrite the existing code to accurately break down the traffic to the Dev and Prod

[2020-06-26 11:12] Tanuj22 commented on #1027
@annatuma I am not sure the exact reason for using production server on the development site but I think it may be a good idea to use it as the production version is using `Server Side Rendering` and it may be a good idea to test it now in development environment as most of the contributors use the default `Client Side Rendering` for development. So if there is any problem with `Server Side Render

[2020-06-26 11:22] annatuma commented on #1027
Got it! You up for tackling that? At some point we may retire the ccsearch. subdomain, but for now we just need to ensure that:

ccsearch. and search. as subdomains track to the GA production ID UA-2010376-33
ccsearch-dev. as a subdomain tracks to the GA development ID UA-2010376-36

[2020-06-26 11:24] Tanuj22 commented on #1027
Okay!

[2020-06-29 12:55] #1027 closed

[2020-06-29 19:03] Rudresh22 commented on #1033
Hello, please assign this issue to me. I would like to work on this issue with your guidance.

[2020-06-29 19:13] zackkrida commented on #1033
Hi @Rudresh22 I actually just completed ~80% of this issue earlier today: https://github.com/creativecommons/cccatalog-frontend/pull/1037

Thanks you for your interest! You may be able to find some other issues [here](https://github.com/creativecommons/cccatalog-frontend/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22).

[2020-06-29 20:48] zackkrida opened #1038 "Maintenance: Enforce consistient code style"
## Problem
Currently the repo enforces _some_ cosmetic linting rules, regarding things like dangling commas, single quotes, and tab size, but there are several inconsistencies. We are also not enforcing formatting for the `template` blocks of single-file vue components, which I have seen be a barrier to many developers.

## Description
I would recommend we add add some additional automated styling

[2020-06-30 14:24] #1033 closed

[2020-06-30 15:09] #908 closed

[2020-06-30 18:52] zackkrida commented on #940
Hi @jesusbotella, please go ahead and open a PR if you are still interested. We definitely do not want to continue to send users our JavaScript bundle twice. Thank you _so much_ for finding this issue!

[2020-06-30 18:55] zackkrida commented on #678
Hi @Vineet-Sharma29, the design has changed considerably since you created this issue. It no longer appears to be a problem with our new tab style, so I'm going to close the issue. Thank you for your contribution!

[2020-06-30 18:55] #678 closed

[2020-06-30 20:29] jesusbotella commented on #940
Sure, I'll open it tomorrow. I would have opened it before, but preferred to ask beforehand :)

[2020-07-01 13:05] #962 closed

[2020-07-02 17:50] zackkrida commented on #940
One thing I noticed here @jesusbotella — I originally thought we could just remove these two lines:

https://github.com/creativecommons/cccatalog-frontend/blob/dec2433a0f9360227c3ba2d9f429053ce1f473ac/index-server.html#L27-L28

but it seems to affect some of the pages ability to render, at least in local testing.

[2020-07-03 12:09] jesusbotella commented on #940
That's what I thought too 🤔

Which pages are those? I can take a look at them and see what happens.

[2020-07-03 13:45] zackkrida commented on #940
If you remove those render calls, and run locally, submit a search, and then refresh the results page, the search state seems to be lost. You can compare to the live site to see how the behavior differs

[2020-07-05 08:31] abhisheknaiidu commented on #1032
@AyanChoudhary I have made the changes, but don’t you think, autofocus seems to be an issue for accessibility?
Ref: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefautofocus

[2020-07-07 01:40] zackkrida commented on #957
This has been fixed; closing this issue. Thanks all!

[2020-07-07 01:41] #957 closed

[2020-07-07 02:16] #1019 closed

[2020-07-07 02:29] #953 closed

[2020-07-07 03:20] #590 closed

[2020-07-07 18:35] zackkrida commented on #622
This was implemented. Closing. Thanks for the feedback @ankurshr01 and steering this in the right direction 😸

[2020-07-07 18:35] #622 closed

[2020-07-07 19:10] zackkrida commented on #609
Thanks for opening this @Amankumar29, this issue has been resolved.

[2020-07-07 19:10] #609 closed

[2020-07-07 19:14] zackkrida commented on #871
Hello @abhisheknaiidu! Are you still seeing this issue in your browser/OS? If so, please feel free to contribute a PR. I personally have not been able to replicate this bug. Thank you!

[2020-07-07 19:16] #620 closed

[2020-07-07 19:22] zackkrida commented on #875
This was resolved by recent design updates to the filters. Thanks all!

[2020-07-07 19:22] #875 closed

[2020-07-07 19:26] zackkrida commented on #898
This is resolved for the image in question. If an issue like this is found again we should defer to the catalog/api repos and create an issue there. The original issue appears to have been a discrepancy between the thumbnail and the full-size image, not an issue with this repo.

Thanks for reporting @DantrazTrev

[2020-07-07 19:26] #898 closed

[2020-07-07 19:35] zackkrida commented on #736
Hi all, the ideal behavior here is that the menu icon is tabbable, has a clear visual style when focused, and upon focus the user can use the 'Enter' key to open/close the menu.

That is generally the expected behavior for keyboard and screen reader users.

I will leave this open for now, may close later based on the progress of our GSoC a11y efforts. Thanks all!

[2020-07-08 16:05] zackkrida commented on #1035
FYI, #512 is no longer blocked 😸 the next step would be for someone to input all the source logos, I imagine.

[2020-07-08 16:23] zackkrida commented on #913
The prod and dev data descrepancy was fixed via #1027 — in the future we may make a new issue for enhancements to tracking metrics.

[2020-07-08 16:23] #913 closed

[2020-07-08 17:36] zackkrida opened #1042 "[META] Maintenance: Sentry improvements and bug fixes (WIP)"
There are some new features and improvements to our workflow that can be made to improve the quality of information gleaned from Sentry. Many of these items will require updating our version of the SDK (a small change, basically bumping the npm package version.)

- [x] Implement [release tracking](https://docs.sentry.io/workflow/releases/?platform=javascript), which will tell us the release in whi

[2020-07-08 17:52] abhisheknaiidu commented on #871
@zackkrida No, it's fine now. I think this has been fixed.

[2020-07-08 17:53] #871 closed

[2020-07-08 19:27] zackkrida commented on #945
@AyanChoudhary, wanted to check in if you've thought much about this yet. We'd have to set the default language first with the `Accept-Language` header server-side, replace that with `navigator.language` if it is set client-side, and then finally override that default with the user's chosen language from localstorage. Basically, localstorage.locale || navigator.language || 'Accept-Language' || 'en

[2020-07-08 20:06] #960 closed

[2020-07-09 00:33] dos077 commented on #1035
The source logo used to be on the top left corner of the thumbnail when hovered. It was removed during the redesign. Maybe it's time to add it back? Just styling all of them into a circle with black border to match the other two icons?

[2020-07-09 07:37] AyanChoudhary commented on #945
I was also thinking of something along those lines, I will try to set up the required things once the design is ready so that we can at least have the translations coming while I work on the locale detection.

[2020-07-09 07:38] AyanChoudhary commented on #999
reopening as we might have to look at some other aspects as well after the screen reader audits.

[2020-07-09 11:14] annatuma opened #1045 "3D frontend proof of concept"
We want to do a proof of concept for rendering 3D objects from applicable sources on the frontend of CC Search.

Currently, for 3D objects, such as those from Sketchfab, we are showing static thumbnails.

In an ideal world, we'd make use of a viewer on our single result pages, so that users with sufficient bandwidth/technology could interact with 3D objects from CC Search directly. We should proba

[2020-07-09 11:20] annatuma opened #1046 "Integrate user reporting flow from Results Page"
We want to find a way to allow users to flag images from the Results page.

If a user sees an image they would want to report, it is likely they aren't comfortable with the image. They may abandon the Results page, or quickly enter a new query or filter, in order to not see the image anymore. They are less likely to click on the image they want to report, to then look for a reporting mechanism, wh

[2020-07-09 11:21] annatuma commented on #1046
To me, this is both a question of how we design it, but also if/how we can implement such an integration directly from the Results page.

Assigning to @zackkrida and @panchovm to think about when the time comes.

[2020-07-09 11:43] annatuma commented on #910
All of the work detailed in this ticket was completed (in various PRs).

[2020-07-09 11:43] #910 closed

[2020-07-09 11:48] annatuma commented on #909
This work has not been completed. It looks like there was a misunderstanding in terms of what the desired changes were. We want _each individual filter_ to be permanently expanded (not the entire filter section).

This means that a user can show/hide the filter side bar as they please, but when they show the filter side bar, they will see the full contents of all filters at all times. We also want

[2020-07-09 11:59] annatuma opened #1047 "Styling Error and Missing Link on License Explanation Modals"
## Description

There are issues with the styling and content of the License Explanation Modals.

## Reproduction
Clicking on any of the License Explanation Modals in the License filter section of the filter side bar, you'll see that the explanation text per license "bullet" is not correctly aligned, and the link to the license deed is missing.

In production:
<img width="382" alt="Screen Shot 202

[2020-07-09 12:00] annatuma commented on #1047
FYI @panchovm there's a ticket for this now.

[2020-07-09 12:03] annatuma commented on #845
@zackkrida there's only one item left on this, so I'm pulling it into "Ready for Development" and we'll include it in the next sprint.

Also noting that it's worth looking at the PR referenced in the ticket above (I updated the description) because I believe some of the remaining functionality for the interaction between Use and License filters was already built.

[2020-07-09 12:10] annatuma commented on #909
Also noting there's a community ticket and associated PRs tied to scrolling on the filter side bar: https://github.com/creativecommons/cccatalog-frontend/issues/689

If we complete this ticket, then that ticket and associated PRs can be closed, but perhaps worth seeing if any of those PRs already solve for this.

[2020-07-09 12:52] annatuma commented on #506
Apologies I missed your comment at the time, @Amankumar29 - in general I recommend looking for issues marked "help wanted".

As for this issue, we're going to be changing it. For individual filter sections within the filter side bar, we're going to test full (permanent) expansion and addition of scrolling: https://github.com/creativecommons/cccatalog-frontend/issues/909

For this issue, it should

[2020-07-09 14:06] #961 closed

[2020-07-09 14:23] zackkrida commented on #483
Related images have been extracted from the search store into their own in #1003

[2020-07-09 15:50] #934 closed

[2020-07-10 15:41] zackkrida commented on #776
Closing as this was fixed in #786 and by subsequent redesigns

[2020-07-10 15:41] #776 closed

[2020-07-10 15:42] #665 closed

[2020-07-10 15:54] annatuma opened #1049 "Changes to showing provider and source on single result page"
We want to implement some updates to the Information tab on the Single Result Page in CC Search.

New design of Information tab in [Figma](https://www.figma.com/proto/y09nZth7u1a75xO9sLtjcw/Mockup---S5-(Source-and-provider)?node-id=1224%3A27&scaling=min-zoom).

Changes:
- Show file type
- Show provider (not linked)
- Show source (active link to image landing page)
- No more logos being shown

[2020-07-10 17:26] annatuma opened #1051 "Change Current Collections Search Flow"
We currently have two search flows for users on CC Search:

1) Search term entered on homepage, entire Catalog can be searched, filters can be applied, including filters for the Source.

2) User goes to Collections page, clicks on a Collection, and is taken to a URL dedicated to that Collection, that looks and feels like our Results page, but isn't.
Example: https://search.creativecommons.org/coll

[2020-07-10 17:28] annatuma commented on #1051
FYI @zackkrida ticket is now created for what we discussed earlier. Tentatively figuring this can go in the next sprint (i.e. last week of July).

[2020-07-10 17:41] zackkrida commented on #1051
Definitely! I will look into how we currently handle redirects for CC Search (if we do at all), because there's some interesting behavior to figure out:

- Currently the 'collection' results pages allow for viewing without a search query: https://search.creativecommons.org/collections/clevelandmuseum
- That behavior is *not allowed* on the main results page (this link will redirect to the home pag

[2020-07-13 02:49] zackkrida commented on #716
Closing because these tables _were_ updated to the latest version of the vocabulary design, but that we are also thinking about redesigning them further and will discuss that in separate issues. Thanks for your work on this everyone!

[2020-07-13 02:49] #716 closed

[2020-07-13 02:54] zackkrida commented on #726
Closing as this was fixed in March. Thanks everyone!

[2020-07-13 02:54] #726 closed

[2020-07-13 02:56] zackkrida commented on #895
Closing, as this is addressed in #1049 and will be fixed soon.

[2020-07-13 02:56] #895 closed

[2020-07-13 10:40] ritesh-pandey commented on #1047
I had a look at it.

- The markup needs to be changed. We should use `ul li` instead of `div span`
- Icons inside the modal can be rendered using `list-style-type` CSS property. We can preserve alignment in this way

[2020-07-13 11:27] annatuma commented on #1049
Was blocked by API work, completed here: https://github.com/creativecommons/cccatalog-api/issues/559 (Just need to double check this was released to production, before starting work on this ticket).

[2020-07-13 12:27] zackkrida commented on #1047
@ritesh-pandey switching the markup sounds great—I would recommend we use `flexbox` for the alignment and keep the icons as `<i />` tags inside the `li`s. There are some browser inconsistencies around `list-style-type` I would prefer to avoid.

[2020-07-13 15:27] zackkrida opened #1052 "Modal Accessibility Issues"
Our [modal component](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/Filters/SearchGridFilter.vue#L4-L20) and our ["arrow popup" component (usage 1)](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/SafeBrowsing.vue#L12-L37) and [usage 2](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/ContentRepo

[2020-07-13 17:32] #941 closed

[2020-07-13 17:32] zackkrida commented on #942
closing these in favor of the current meta issue.

[2020-07-13 17:32] #942 closed

[2020-07-13 17:41] ritesh-pandey commented on #1047
Agreed.

Not all browsers have implemented it. https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style

Let us go with `flexbox`. How do I find all the pre-defined classes for project e.g. `font-size`, `margin-left-small` etc.?

Here is a WIP.
![image](https://user-images.githubusercontent.com/1433681/87335525-16e62280-c55e-11ea-92f7-32d590d782fb.png)

[2020-07-13 17:41] #943 closed

[2020-07-13 17:45] zackkrida commented on #1047
The project uses the following design system (wip): https://cc-vocabulary.netlify.app/?path=/story/vocabulary-introduction--page

which is built on top of bulma:
https://bulma.io/
https://github.com/jgthms/bulma/blob/master/css/bulma.css

I'll be happy to review code & guide you if you miss any existing styles and/or need to write a few lines of custom css. Thank you!

[2020-07-13 18:26] zackkrida commented on #995
The issue template has now been rewritten to tell developers to target the 'default' branch in all CC repos

[2020-07-13 18:26] #995 closed

[2020-07-13 21:06] zackkrida opened #1053 "Maintenance: Add integrated/functional/e2e testing"
There are many names for it in the front-end community, but it would be very beneficial to add tests to our application that simulate real user actions in the browser. For consistency I will call them **end to end (e2e)** tests. These tests spin up _real_ browser instances and simulate user interactions to ensure our application works.

https://www.cypress.io/ is an excellent choice for an e2e tes

[2020-07-14 14:07] #1047 closed

[2020-07-14 18:22] zackkrida commented on #486
Closing for now:

## Notes:

One of the main incentives for using Vue.js over React in the search project is that the developer experience of Vue favors developers coming from backgrounds in design, html, and css, whereas React fully embraces an everything-in-JavaScript paradigm better suited to full-time JavaScript engineers. The React paradigm is quite powerful, especially paired with TypeScript

[2020-07-14 18:22] #486 closed

[2020-07-15 03:55] zackkrida opened #1055 "Visual regressions"
Two small visual regressions missed from recent merges:

- [x] Duplicate "Read more about the license here" in the reuse tab
- [x] single result sidebar width cutoff issue (has hardcoded width that should be removed)

[2020-07-15 04:03] #1055 closed

[2020-07-15 13:44] jesusbotella commented on #940
Yes, I saw that as well :(

It seems like there's some weird behavior that makes it work the second time, but not the first. Going to give it another look today and see if I can solve it.

[2020-07-15 15:41] zackkrida commented on #940
I do have _some_ additional info—we will be removing the separate https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/pages/CollectionBrowsePage.vue route, which seems to be the main source of issue in my testing

[2020-07-15 19:37] zackkrida opened #1058 "Update vocabulary to v2020.07.1"
## Problem
Updating vocabulary will fix some existing styling issues, including the twitchiness/jank/jump of text buttons.

## Implementation
- [x] I would be interested in implementing this feature.

[2020-07-15 19:55] zackkrida commented on #1035
That's an interesting idea @dos077. We plan to use the logos in fewer places moving forward, so I'm not sure it makes sense quite yet, but it _would_ be an interesting way of showing the source of each image in the results page.

[2020-07-15 20:01] #1058 closed

[2020-07-16 20:09] abhisheknaiidu commented on #1038
@zackkrida Is this issue allowed for work?

[2020-07-16 20:16] zackkrida commented on #1038
Sure @abhisheknaiidu! I would suggest adding a [prettier config file](https://prettier.io/docs/en/configuration.html#docsNav) in the root of the project or a `prettier` key in the `package.json`.

Thank you!

[2020-07-16 20:56] abhisheknaiidu commented on #1038
@zackkrida I made those changes

[2020-07-16 22:06] abhisheknaiidu commented on #1030
@annatuma seems like Global Header has not been updated!, I'm not able to actually see it properly

[2020-07-16 22:15] zackkrida commented on #1030
@abhisheknaiidu I fixed Anna's link for you 😸

[2020-07-16 22:17] abhisheknaiidu commented on #1030
Yea I get it, but what exactly we need to do?

[2020-07-16 22:27] zackkrida commented on #1030
@abhisheknaiidu We would like to implement the global header on cc search! It doesn't have that component yet. So we want to show the 'explore cc' tab at the top of cc search that, when clicked, reveals the full global header with the exact same contents as in vocabulary.

[2020-07-16 22:42] abhisheknaiidu commented on #1030
@zackkrida yea, but how do we add
 `const globalHeaderInstance = vocabulary.createGlobalHeader()`  to `HeaderSection.vue` file?

[2020-07-16 22:51] #1038 closed

[2020-07-16 22:52] #673 closed

[2020-07-16 22:54] zackkrida commented on #1030
Ah I see, I didn't look at the actual implementation. That's interesting—yes we need to decide if we want to use that or create a vue version of the global header. I need to learn a little more about this and get back to you.

[2020-07-16 23:14] #1032 closed

[2020-07-16 23:28] abhisheknaiidu commented on #922
@zackkrida Is any working on this?

[2020-07-16 23:37] zackkrida commented on #922
@abhisheknaiidu me! You can see the progress here: #1050

Feel free to fork and work on any of the remaining issues in that PR. There are some todos in the text of the PR.

[2020-07-17 13:08] kgodey commented on #1030
The original plan was to add the global header to Vue Vocabulary and use it from there, but we'd still want to use the content from the WordPress API as part of it. The Vue Vocabulary plan pre-dated the WordPress API, so maybe we'd want to do things differently, I'm not sure.

[2020-07-17 14:58] zackkrida commented on #1049
This should be a part of the next api release, but has not been pushed to production yet: https://github.com/creativecommons/cccatalog-api/releases

[2020-07-20 14:44] AyanChoudhary commented on #488
Reopening since more work needs to be done.

[2020-07-20 14:47] zackkrida commented on #488
thanks @AyanChoudhary it auto-closed when i merged your last work!

[2020-07-20 21:24] zackkrida opened #1067 "Clarify 'Use' and 'License' filter behavior"
The current interaction between these two filters confuses me, and I could use some clarification to guide #1065. @kgodey you may be the best person to examine this in anna's absence.

<img width="349" alt="Screen Shot 2020-07-20 at 5 15 18 PM" src="https://user-images.githubusercontent.com/6351754/87987582-dda53980-caac-11ea-9a54-3d3b3c3006f9.png">

## Current behavior

- Selecting a 'use' filter

[2020-07-21 12:56] zackkrida opened #1069 "Pages lack `<h1>` tags"
**Note: This is currently blocked by https://github.com/creativecommons/vocabulary/issues/529**.

The vast majority of our pages do not use `<h1>`tags for the primary title. This is terrible for a11y and also SEO.

- Homepage ("Search for content to reuse" is `<h2>`): https://search.creativecommons.org/
- Single Result (Image name is `<h5>`): https://search.creativecommons.org/photos/0cdd50d3-e8ca

[2020-07-21 12:56] zackkrida commented on #1069
This is currently blocked by https://github.com/creativecommons/vocabulary/issues/529

[2020-07-21 13:47] AyanChoudhary commented on #488
Reopening, apparently github closes the issue even if you tag it with partially fixes.

[2020-07-21 13:51] zackkrida commented on #488
@AyanChoudhary I think you have to say 'Related to' to prevent the auto-close

[2020-07-21 14:13] kgodey commented on #488
I didn't realize that either.

[2020-07-21 14:29] kgodey commented on #1067
If various license checkboxes are clicked, the "use" filters should be disabled conditionally. e.g. if any NC license checkbox is clicked, then "Use commercially" should be disabled. If any ND license checkbox is clicked, then "Modify or adapt" should be disabled. This will ensure there are no contradictory filters.

Yes, both should talk to the API. They are searching the same thing but are aimed

[2020-07-21 14:37] zackkrida commented on #1067
Got it, thank you! Disabling the use filters _conditionally_ was the main piece i needed to unblock. Closing.

[2020-07-21 14:37] #1067 closed

[2020-07-21 15:40] zackkrida commented on #1049
No longer blocked :)

[2020-07-21 20:02] #1049 closed

[2020-07-21 20:05] #921 closed

[2020-07-22 01:19] #845 closed

[2020-07-22 15:30] #922 closed

[2020-07-22 15:30] #923 closed

[2020-07-22 20:37] #909 closed

[2020-07-23 00:05] #907 closed

[2020-07-23 00:06] zackkrida commented on #907
Last piece of this was closed by #1073

[2020-07-23 00:09] zackkrida commented on #1034
Done, plan outlined here #1042

[2020-07-23 00:09] #1034 closed

[2020-07-23 00:11] zackkrida commented on #736
@abhisheknaiidu you're welcome to tackle this _or_ @AyanChoudhary can include it in his accessibility work. Either works!

[2020-07-23 04:20] zackkrida commented on #689
Implemented in our A/B test of expanded filters. Will go live in the next release.

[2020-07-23 04:20] #689 closed

[2020-07-23 18:48] zackkrida opened #1075 "Switch from `axios` to `redaxios`"
Help decrease the size of our js bundle by switching to https://github.com/developit/redaxios, same api as axios at 1/5 the size.

Just need to confirm we're polyfilling fetch for IE11 support (we likely already are).

## Implementation

- [x] I would be interested in implementing this feature.

[2020-07-23 18:55] zackkrida opened #1076 "Idea: Generate social image previews for single images"
It would be really lovely to generate image previews for social media that showed the attribution as a watermark, and perhaps the cc search logo, instead of just showing a plain image:

<img width="634" alt="Screen Shot 2020-07-23 at 2 52 21 PM" src="https://user-images.githubusercontent.com/6351754/88326908-8a252c80-ccf4-11ea-819b-6cf024a3d800.png">

[2020-07-23 19:03] zackkrida opened #1077 "Better homepage social image"
The current social share / open graph image is, well, lacking.
Even one of the cc.org blog images would be preferable.

This might want to wait until we release all of the vocabulary versions of the sites though, so we can unify branding more.

A fun/useful project would also be to create an open-graph image generator for all cc-related products, something like this (from the company _Vercel_:) ht

[2020-07-23 19:06] zackkrida commented on #1076
Relates to the 'open graph image generator' idea expressed in #1077

[2020-07-23 19:44] zackkrida opened #1078 "Add 'all contributors' block to README"
This is a really nice way to showcase all of our contributors: https://github.com/all-contributors/all-contributors

[2020-07-23 21:51] zackkrida commented on #1030
I think we'll definitely want to continue to use the github api. the js to add the global header is pretty lightweight so i think it makes sense to use it for consistency's sake

[2020-07-24 02:00] dos077 commented on #1052
Hmm, was going to implement this, but looking at the code, this is the touch/mobile portion of the search filter module. If it's moved to a different component, the search filters component will be separated into two files, will be confusing for future maintenance.

IMO there should be one div that's styled according to screen size and the accessibility fixes should apply to the unified element. T

[2020-07-24 02:19] zackkrida commented on #1052
@dos077 FYI a generic `AppModal` component has been created already: https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/AppModal.vue

It has a default slot so any contents can be added inside.

Basically, that component just needs the additional a11y controls mentioned above, and then `<div class="modal">` here: https://github.com/creativecommons/cccatalog-frontend/b

[2020-07-24 02:36] dos077 commented on #1052
Reusable component is a good idea, but I still think hiding and showing two identical elements is not as efficient as just one element with responsive CSS. Anyway, since the component is already here, I agree it should be utilized then, just a bit of elbow grease.

[2020-07-24 11:03] rochisha0 opened #1081 "Collections cards should be buttons not hyperlink"
## Problem

Hovering on collections' titles creates an underline under their name. This makes it look less aesthetic. Moreover, The whole card isn't hyperlinked whereas only images and titles are.

## Possible fixes
The whole card is hyperlinked

## Implementation

- [x] I would be interested in implementing this feature.

![image](https://user-images.githubusercontent.com/45593458/88385073-507325

[2020-07-24 15:45] kgodey opened #1082 "Add disclaimer for meta search sources for which the filters do not apply."
We have built in meta search functionality on CC Search for audio, video, and images. To a large extent, this replicates the user experience available through old CC Search.

What was unclear at the time of building this is how many CC-licensed content providers do not support "Use" filters. We do want to allow for Use filtering for those who do, but we need to inform our users that not all source

[2020-07-24 16:06] annatuma commented on #1082
Added suggested language into the ticket description.

@panchovm @zackkrida feel free to suggest alternatives for language and placement.

[2020-07-24 16:13] panchovm commented on #1082
It looks great. My language suggestions are always odd haha.

[2020-07-24 17:56] AyanChoudhary commented on #1081
@rochisha0 we are in the process of redesigning this page, so we probably won't need to fix this. Still, you can wait for confirmation from @zackkrida

[2020-07-24 18:08] #1082 closed

[2020-07-24 18:19] zackkrida commented on #1081
Agreed, I'd like to see this change _if_ we keep the cards but they are going away, so I'm going to close this. If we end up keeping them for any reason I will create an issue on vocabulary and add you to it @rochisha0 . Thank you!

[2020-07-24 18:19] #1081 closed

[2020-07-24 20:01] zackkrida opened #1084 "Return to masonry-style layout"
Even with the current SSR implementation, images are loaded into the markup client-side. You can confirm this by viewing source (paste the following text into your browser's url bar) and observing there is no image markup:

`view-source:https://search.creativecommons.org/search?q=dogs`

The current layout preserves aspect ratio, which is nice, but can lead to large gaps of whitespace in the image

[2020-07-25 16:15] dos077 commented on #1084
I did the image grid redesign/code move from masonry to the flex grid (at least supposedly) code last time. The design idea was to make it like an older version of google image or the current [bing one](https://www.bing.com/images/search?q=kittens&form=HDRSC2&first=1&scenario=ImageBasicHover&cw=1117&ch=859)

Looks like some had change the grid css and added a .masonry-layout without understand how

[2020-07-25 18:05] brisibe commented on #1075
would love to work on this.

[2020-07-25 18:16] brisibe commented on #1075
I see issue had already being worked on by someone else. :slightly_smiling_face:

[2020-07-25 18:51] zackkrida commented on #1084
@dos077 I hugely appreciate this historical context! The only goals of this work are:

1. Preserve image aspect ratio
2. Uniform white space between rows

So you are saying you had a working masonry, flexbox-based layout merged here: https://github.com/creativecommons/cccatalog-frontend/pull/538 and it has been broken since?

That `.masonry-layout` class is in the code, but is not actually being u

[2020-07-25 19:33] zackkrida commented on #1084
@dos077 looks like it was broken by how img width/height was being detected (it wasn't!). Care to check out this PR? #1085

<img width="241" alt="Screen Shot 2020-07-25 at 3 22 44 PM" src="https://user-images.githubusercontent.com/6351754/88464870-2a618980-ce8c-11ea-99ce-b4e84427c1f3.png">

[2020-07-25 20:03] dos077 commented on #1084
Okay, I've found the issue. You are right, they have yet to revert back to masonry grid. Seems like the back-end is not sending height and width or the data processor is discarding those metas, AND the image is loading after the cell component is mounted. I have a fix and will submit a pull request later, currently looking at the filter list modal/aside component. That thing is a bug fests...

[2020-07-25 21:37] zackkrida commented on #1084
@dos077 i think the simplest is just to set the width/height on actual load of the image: https://github.com/creativecommons/cccatalog-frontend/pull/1085

The filters list isn't the cleanest implementation api design-wise, but we're not currently seeing bugs on https://ccsearch-dev.creativecommons.org/. Could you describe what you mean more?

[2020-07-25 23:17] dos077 commented on #1052
Okay, ended up making a lot more changes than I planed... Going to list them here as well as the pull request so everyone should get a chance to see it:

- AppModal:
  1.  remove close button, the close button is always inside the template content
  2. remove id prop, vue has its own dom management system, having an id that no one should call query on and may lead to duplicate warning is not a goo

[2020-07-26 02:16] dos077 commented on #1084
Yeah that fix works. I tested it with changing img src and it updates the dimension as well. Should works with place holders, or infinite scrolling. In that case server side meta is almost unnecessary. This should be merge ASAP.

[2020-07-27 12:25] annatuma commented on #1035
@zackkrida all logos have been uploaded now, so this is unblocked and can be worked on.

[2020-07-27 12:29] #1084 closed

[2020-07-27 12:53] #487 closed

[2020-07-27 14:45] #997 closed

[2020-07-27 14:46] #996 closed

[2020-07-27 14:59] zackkrida commented on #1051
@annatuma given the above context, could you confirm, do you think redirecting these to the homepage will be okay, or should i try to make urls like `https://search.creativecommons.org/search?source=animaldiversity` work without a search query?

[2020-07-27 17:10] annatuma commented on #1051
Perhaps we should redirect them to /collections for the time being, which will subsequently be redirected to the new /sources page when that is built (design not yet finalized). So, someone coming in to https://search.creativecommons.org/collections/met will just end up at https://search.creativecommons.org/collections, where they'll be able to see the Met listed as a collection (and in the future

[2020-07-27 17:19] zackkrida commented on #1051
@annatuma that sounds good to me, and i imagine we'd want to _remove_ these links entirely:

<img width="632" alt="Screen Shot 2020-07-27 at 1 18 50 PM" src="https://user-images.githubusercontent.com/6351754/88571510-c4037500-d00b-11ea-909d-a1d9177cf2f9.png">

[2020-07-27 17:48] annatuma commented on #1051
Sorry - missed that crucial step in the logic here - if we don't load results in CC Search with no search term, then both the current Collections page and future Sources page are less useful. They just become information lists, with no actionable ability if a user views them.

Is this functionality we need at the API level, in terms of filtering the Catalog without a query?

[2020-07-27 17:53] zackkrida commented on #1051
that's a great question—i know the front-end has a lot of protections and redirects in place to prevent executing a search without a query but i don't know at the api level.

[2020-07-27 18:01] zackkrida commented on #1051
cool, quick test @annatuma, the api _does_ allow you not to specify a url. So I can do everything we need, just need to wrestle the front-end into shape 👍

[code]

[2020-07-27 18:13] annatuma commented on #1051
OK super, I'm glad this isn't contingent on changes in any other code bases.

Given this, can we go with the original redirect approach then?

[2020-07-27 18:44] zackkrida commented on #1051
Yes, with the caveat that we need to think about what to show on /search when there is no query or collection filter applied.

We could either show the default results from the api, or some onboardng messaging.

I think the original idea of forcing a query is that /search shouldn't be used as an 'entrypoint' to cc search, but I think it's kind of inevitable that it is if we do the original approac

[2020-07-28 13:00] #1035 closed

[2020-07-28 14:07] zackkrida opened #1091 "Add new Smithsonian sub-providers to the 'Museums' list on `/collections`"
## Problem

[This ticket](https://github.com/creativecommons/cccatalog/pull/455) will provide new smithsonian subproviders to the api. We need to add them to the collections page.

New providers:

[code]

## Implementation

- [x] I would be interested in implementing this feature.

[2020-07-28 14:14] #1091 closed

[2020-07-28 22:20] manueldevjour commented on #1069
I can help with it if its possible.

[2020-07-28 22:48] zackkrida commented on #1069
Sure @manueldevjour but you will have to wait until _this_ issue is resolved: https://github.com/creativecommons/vocabulary/issues/529

[2020-07-28 23:44] manueldevjour commented on #1069
Cool @zackkrida hit me up at any moment for doing this

[2020-07-29 02:23] #1052 closed

[2020-07-30 18:51] #1051 closed

[2020-07-30 22:04] #1030 closed

[2020-07-31 10:52] annatuma opened #1099 "Fix Text on Reuse Tab for CC0 and PDM"
## Problem

When we implemented new license descriptions on the Reuse tab of the single result page in CC Search, we did not include the correct language for the public domain tools CC0 and PDM. This needs to be fixed.

## Description

The text that was requested for implementation is in [this Google Doc](https://docs.google.com/document/d/14NoqosLebbIIZFR9y7e0-qJsqHO1lelZwZl2J0MBDE4/edit).

For C

[2020-07-31 11:02] annatuma opened #1100 "Remove "License CC" from CC0 and PDM Modals on Filters"
## Problem

We are currently using license language for CC0 and PDM, which are actually legal tools and not licenses, on the informational modals in the filter side bar.

## Description

We need to remove "License CC" from the top line of the modal, leaving just the name of the tool. We also need to change the link to say "tool" and not "license". Screenshots indicate changes:

<img width="320" al

[2020-07-31 17:20] rochisha0 commented on #1100
Hey, @annatuma ! I will like to work on this issue.

[2020-07-31 17:54] zackkrida commented on #1100
thank you @rochisha0 !

[2020-07-31 17:55] zackkrida commented on #1100
@rochisha0 this issue: https://github.com/creativecommons/cccatalog-frontend/issues/1099
uses some of the same code, so it would be great to fix them at the same time. Thank you 😸

[2020-08-01 10:40] rochisha0 commented on #1100
Hey, @zackkrida! I cannot find Reuse tab in CCSerach to fix #1099.

[2020-08-01 10:48] AyanChoudhary commented on #1100
@rochisha0 we have integrated the i18n code into the codebase recently so it might throw you off. The relevant code sections which you are looking for are probably these:

1. https://github.com/creativecommons/cccatalog-frontend/blob/4a4e8c092e6b0dd9813a65d553fbbb8256007c68/src/components/ImageDetails/PhotoDetails.vue#L68
2. https://github.com/creativecommons/cccatalog-frontend/blob/4a4e8c092e6b0d

[2020-08-01 12:04] rochisha0 commented on #1100
Thank you so much, @AyanChoudhary !

[2020-08-03 12:54] abhisheknaiidu opened #1103 "Disable license-explanation tooltip when licenses are disabled"
## Description
Right Now, the license-explanation tooltips are not disabled, when we select any of the `use` options,

## Reproduction

1. http://localhost:8443/search?q=hat&license_type=commercial
2. Select any of the licence
3. See error.

## Expectation
Tool-tip should be disabled

## Resolution

- [x] I would be interested in resolving this bug.

[2020-08-03 14:29] #1103 closed

[2020-08-03 15:50] #1099 closed

[2020-08-03 15:50] #1100 closed

[2020-08-03 17:05] zackkrida opened #1106 "[Meta] A11y keyboard control + focus state issues"
## Problem

There are a number of issues surrounding modals and some other clickable components, some don't have an on-focus indicator, some don't have trap focus and some of the clickable components can't be pressed using the return(enter) key.

## Description
1. Some buttons don't have an on-focus indicator:

![CC Search - Brave 05-08-2020 18_44_31](https://user-images.githubusercontent.com/4579

[2020-08-03 20:06] kgodey commented on #1042
Reopening since not everything in the meta ticket is done.

[2020-08-04 19:38] zackkrida opened #1108 "Migrate to Nuxt.js"
_Immediately following this line is an assessment of Nuxt, which concludes that we should migrate cc search. Below that analysis is the original message outlining the issue._

# SSR Considerations (Migrating to Nuxt.js)

Our current SSR implementation works well, and follows the [official Vue.js SSR Guide](https://duckduckgo.com/?t=ffab&q=vue+ssr&ia=web), but it does have a few issues.

1. The sit

[2020-08-04 19:44] zackkrida commented on #1069
This will be unblocked next week by the latest update to https://github.com/creativecommons/vocabulary
the way to fix things will be going from `<h2>Lorem ipsum dolor set amet</h2>` to `<h1 class="title is-2">Lorem ipsum dolor set amet</h1>`

[2020-08-04 20:13] #1042 closed

[2020-08-05 12:08] AyanChoudhary commented on #944
reopening, this is still pending.

[2020-08-05 12:42] chetas411 commented on #1069
So are these classes added in the code so that I can use them to fix this issue? @zackkrida

[2020-08-05 12:47] zackkrida commented on #1069
They will be added next week, but you can write your code with them now and I'll just wait to merge your code until next week!

[2020-08-05 13:40] AyanChoudhary opened #1142 "Wrong alignment of on-focus indicator for filter tabs"
## Description

The on-focus indicator for the close button in filter-tabs is placed incorrectly. **Note:** This should be fixed by implementing the [new `removable tag` component in vocabulary](https://cc-vocabulary.netlify.app/?path=/story/elements-buttons--removable-tag).

## Reproduction

1. Use the keyboard to navigate to the filter tabs.
2. Press tab to focus on the x button
3. See error.

#

[2020-08-06 18:18] AyanChoudhary opened #1117 "Change logo display markup in the footer"
## Problem

Change logo display markup in the footer.

## Description

Currently we use an svg with a ```<use>``` tag to display the logo, but this results in a reduced accessibility score as that element does not have a useful aria-label. The common practices of setting ```aria-role="img"``` and providing a title also don't work in this scenario.

Also it is not recommended to use svg with ```<us

[2020-08-06 18:24] AyanChoudhary opened #1118 "Proper ordering of <h> tags in the pages"
## Problem

We need to have a proper ordering of the ```<h>``` tags. Currently, we have an ```<h5>``` tag in the footer and an ```<h1>``` or ```<h2>``` tag in the page. Ideally to satisfy accessibility requirements we need to have the ```<h>``` tags in a definite order i.e. an ```<h5>``` tag should have preceding ```<h1> ... <h4>```tags.

## Additional context

This is actually reducing our access

[2020-08-07 07:50] AyanChoudhary commented on #999
All the work involving this has been completed in #1068 and #1072

[2020-08-07 07:50] #999 closed

[2020-08-07 07:53] AyanChoudhary commented on #1000
this still needs work to be done upon

[2020-08-07 08:04] AyanChoudhary commented on #1000
@zackkrida I found this [tool](https://github.com/GoogleChrome/lighthouse-ci) for lighthouse ci which provides inbuilt features for comparing scores against another version of the site and matches our use case.

[2020-08-07 15:17] zackkrida opened #1124 "Update to latest version of Vocabulary"
Update cc search to the latest version of vocabulary. Should fix _some_ visual issues.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-07 15:18] zackkrida opened #1125 "Add subtitle to homepage below "Search for content to reuse""
Add a subtitle below "Search for content to reuse" giving some context on what can be search, # of images, etc. Will defer to @annatuma for copy suggestions.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-07 15:26] kgodey opened #1126 "Research for interactive 3D models on the frontend"
## To Do

- [ ] Compare various 3D rendering JavaScript libraries
- [ ] Review possible catalog api changes and make appropriate tickets
- [ ] Explore requirements to make 3d its own content type in the front-end (with its own tab)

[2020-08-07 16:00] annatuma commented on #1125
I suggest "Browse over 500 million images, available for reuse"

And then we can expand that to include other content types as they become available :)

[2020-08-10 19:38] zackkrida commented on #722
Hi @Mahelaa going to close this for now. We do not want to introduce the overhead of a custom `fragments` implementation. I would use `<span>` tags for these for now—thank you!

[2020-08-10 19:38] #722 closed

[2020-08-10 19:41] zackkrida commented on #483
I am going to close this now, as the only functionality left in this store is searches and image details which are fairly tightly coupled. _If_ we are to do a bigger refactor of our loading in the future, let's do it on the basic of bugs/user-facing issues.

[2020-08-10 19:41] #483 closed

[2020-08-10 20:03] #1124 closed

[2020-08-10 20:07] zackkrida commented on #1000
Closing as we will implement [lighthouse ci](https://github.com/GoogleChrome/lighthouse-ci) in the future for this

[2020-08-10 20:07] #1000 closed

[2020-08-10 20:09] zackkrida opened #1130 "Implement Lighthouse CI"
We will implement [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci) to get some CI on front-end performance and a11y.

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-10 20:11] zackkrida commented on #1125
Fixed by #1129

[2020-08-10 20:11] #1125 closed

[2020-08-11 14:20] zackkrida opened #1132 "Broken Links for tools"
Our non-license tools `cc0` and `pdm` have incorrect links in the license info popups.

<img width="1274" alt="Screen Shot 2020-08-13 at 11 38 39 AM" src="https://user-images.githubusercontent.com/6351754/90155842-c844c780-dd59-11ea-96bd-3e0eb3ecf2ce.png">

The links should be:

- pdm creativecommons.org/publicdomain/mark/1.0
- cc0 creativecommons.org/publicdomain/zero/1.0

[2020-08-11 14:24] kgodey commented on #1132
Please verify URLs with @TimidRobot

[2020-08-11 15:53] annatuma commented on #1132
I believe linking to the summary pages (equivalent type of page as license deeds) is in fact the correct approach, and what we're currently doing:
https://creativecommons.org/publicdomain/mark/1.0/
https://creativecommons.org/publicdomain/zero/1.0/

I'll surface this with @sarahpearson too.

[2020-08-11 16:26] sarahpearson commented on #1132
Not sure of the full context here, but those links you included are correct, @annatuma.

[2020-08-11 17:39] annatuma opened #1133 "Change to two Filter names"
We want to change two Filter names in the filter side bar.

1) "Licenses" should become "License or Public Domain", opting for singular and more correctly including the public domain tools (CC0 and PDM), which are not technically licenses.

2) "Sources" should become "Source", in keeping with singular across all other filter names.

<img width="324" alt="filter heading changes" src="https://user-i

[2020-08-11 20:40] rochisha0 commented on #1133
I'd like to work on this issue @annatuma !

[2020-08-11 21:18] zackkrida commented on #1133
Go for it @rochisha0 you can work on issues without asking anytime 😄

[2020-08-12 01:05] #1133 closed

[2020-08-12 10:52] annatuma opened #1135 "Make dynamic heading in Reuse tab and remove License info from Info tab"
We're making two changes to the contents of tabs on the Single Result page:

1. On the Reuse tab, we currently have the heading "License", before we describe the license or legal tool applied to the work being viewed. This is technically incorrect in cases of CC0 and PDM. We'd like to dynamically change this heading to be "Public Domain" if the license applied to the content is CC0 or PDM. Therefo

[2020-08-12 10:57] annatuma opened #1136 "Language Fixes for Credit the Creator tool for CC0 and PDM"
We need to make changes to the language we automatically generate in the Credit the Creator tool, in cases where the work is marked with CC0 or PDM.

**Rich Text and HTML**
Currently we say:
.... is licensed under CC0 1.0/PDM 1.0

Update this to say:
... is marked with CC0 1.0/PDM 1.0

**Plain Text**
Currently we say:
....  is licensed under CC0 1.0/PDM 1.0. To view a copy of this license, visit h

[2020-08-12 11:06] annatuma opened #1137 "Do not show Provider when same as Source"
On the Information tab of our Single Results Page, we include information on both Provider and Source. In the majority of cases, the Provider and the Source are the same, and therefore including the Provider information there is not useful. The inclusion of the Provider information is only warranted for transparency, when the Source was pulled from an aggregator institution or service. If we are d

[2020-08-12 12:17] #1135 closed

[2020-08-12 13:17] chetas411 commented on #1069
@zackkrida  can u review the PR now ?

[2020-08-12 13:56] annatuma opened #1143 "[Bug] Audio and Video Meta Search load Image Results"
## Bug Description

1. When applying a Use filter while in the Audio or Video meta search tabs, the Image results for the same query are loaded.  Instead, the Use filter(s) should remain selected, and should apply to the Meta Search source that the user clicks on. (This does appear to be working).

![meta search filter bug](https://user-images.githubusercontent.com/3051816/90023317-206cc280-dca3-1

[2020-08-12 13:57] #1137 closed

[2020-08-12 15:38] annatuma commented on #1143
Whoops, my bad! Getting my GitHub tabs mixed up. (Sure hope I didn't do this for all the other issues I just created, will check).

[2020-08-12 18:15] #1069 closed

[2020-08-12 18:30] #1136 closed

[2020-08-13 09:57] annatuma opened #1147 "Source is missing in "Report this content" flow"
## Description

After a user goes through the "Report this content" flow, we display a message encouraging them to report the content at the content's source. Currently, that source is blank. This was not the case when this feature was launched, so this is a bug that has been introduced since.

## Reproduction

1. Go to a single result page, e.g. https://search.creativecommons.org/photos/82be00eb-

[2020-08-13 15:18] kgodey commented on #1132
Should we close this?

[2020-08-13 15:34] #1147 closed

[2020-08-13 15:40] zackkrida commented on #1132
@kgodey No, there are still incorrect links, I just updated the ticket to indicate where.

[2020-08-13 15:45] zackkrida commented on #631
Hi @Mahelaa, we are going to hold off on implementing "skeleton ui" for now. If/when we add it to our design language I will reach out to you. Thanks!

[2020-08-13 15:45] #631 closed

[2020-08-13 15:52] annatuma commented on #728
After internal discussion on this, we've decided not to move forward with expanding social media icon son the Share tab, but are likely to end up removing that tab entirely in the future, when we reimagine the single results page. The usage rate of social media sharing of images from CC Search is so low it doesn't warrant built-in support.

[2020-08-13 15:52] #728 closed

[2020-08-13 15:53] annatuma commented on #442
We're not going to move forward with this feature in the immediate future, and perhaps not ever. Closing this out for now. If we do this at some point we'll start fresh with an outline of what we're thinking and the value it'll provide to users.

[2020-08-13 15:53] #442 closed

[2020-08-13 17:01] zackkrida commented on #610
Hi @hemanth-hk, if you still have an interest in working on this it should be ready for you to work on!

[2020-08-13 17:04] zackkrida commented on #765
Hi @Albaalah, I agree with you that we should lazy load routes. The biggest benefit would be reducing the initial page load of the site, which is a significant factor in SEO and user bounce.

I am in the middle of evaluating [some changes to our SSR approach](https://github.com/creativecommons/cccatalog-frontend/issues/1108), after that work is completed I will have an answer for you on how we sho

[2020-08-13 17:24] #506 closed

[2020-08-14 13:33] #1132 closed

[2020-08-14 13:58] #1053 closed

[2020-08-14 14:30] neeraj-2 commented on #1142
Can i work on this issue

[2020-08-14 14:51] AyanChoudhary commented on #1142
Yes go on ahead @neeraj-2

[2020-08-14 16:52] #1143 closed

[2020-08-15 05:18] Aakash2408 commented on #1078
Can i work on this?

[2020-08-15 05:20] Aakash2408 commented on #1118
Hey @AyanChoudhary  , @kgodey  can you explain a bit more what changes we need in <h> tags?

[2020-08-15 07:25] neeraj-2 commented on #1142
![allignment_after_change](https://user-images.githubusercontent.com/56186425/90307704-771e0a80-def6-11ea-8c85-b71666fa12c3.PNG)
I have attached screenshot ,after changing code

[2020-08-15 15:16] Aakash2408 commented on #1078
@all-contributors please add @Aakash2408  for adding all contributors

[2020-08-15 15:22] Aakash2408 commented on #1078
@zackkrida  the bot tells to use the above command to add the contributor to the readme but it doesn't work the ways they have shown on the website
![Screenshot from 2020-08-15 20-49-01](https://user-images.githubusercontent.com/47134609/90315399-e3216280-df38-11ea-8b39-5fc26b1bf5e8.png)

[2020-08-15 15:26] Aakash2408 commented on #1078
The bot will only work when someone from authors can install the bot for this original repository and then these pull requests will be created by the Bot . This can't be done on the forked repositories.

[2020-08-17 16:11] #1142 closed

[2020-08-17 17:42] AyanChoudhary commented on #1118
@Aakash2408 The a11y requirements state that we need to have a proper hierarchy of h tags, but most of our pages only have an ```<h1>``` or at most have a level hierarchy till ```<h2>``` tags. We currently have an ```<h5>``` tag in our footer [here](https://github.com/creativecommons/cccatalog-frontend/blob/0d7b5926db07dafd42ad0a95c3ae43b5b6957ff2/src/components/FooterSection.vue#L150).

What we n

[2020-08-17 17:46] AyanChoudhary commented on #736
@zackkrida I guess we have covered this issue and still since it is not conventional for people to use tabs for navigating in a mobile device, it makes sense to close this issue. Over to you for further actions.

[2020-08-17 17:47] #736 closed

[2020-08-17 17:52] AyanChoudhary commented on #944
@zackkrida even this is done, so we can close this.

[2020-08-17 17:52] #944 closed

[2020-08-17 18:22] zackkrida commented on #765
@Albaalah I am going to close this ticket—however we move forward (Nuxt.js _or_ keeping our current SSR, we will switch to code-splitting by route, and i'll create a new ticket if necessary. Thank you!

[2020-08-17 18:22] #765 closed

[2020-08-17 18:36] #1075 closed

[2020-08-17 18:37] zackkrida commented on #1075
Decided not to implement, savings was minimal and there were some compat issues

[2020-08-17 20:23] zackkrida opened #1155 "Plain text attribution typos for tools"
## Description

Anything marked with CC0 or PDM has two typos in the "Plain text" attribution tab:

1. Says "licensed" instead of "marked"
2. Says "to the terms" instead of "to view the terms"

You may view an adorable example here: https://search.creativecommons.org/photos/44874d17-45db-48d2-ab5d-fff03fb96a30

<img width="479" alt="Screen Shot 2020-08-17 at 4 20 42 PM" src="https://user-images.gi

[2020-08-17 21:17] zackkrida opened #1157 "[Meta] 3D Model Support"
To bring 3d to cc search, there a few points to consider:

- storing/reading model data
- new api structure for different data types (will also apply to audio, video, etc.)
- choosing a model viewer(s)

## Storing Data

[needs ticket work]

To render 3d models we would need an endpoint similar to our image proxy which provides the file of each 3d model.

## New API Structure

[needs ticket work]

[2020-08-17 21:17] zackkrida commented on #1126
Closed in favor of https://github.com/creativecommons/cccatalog-frontend/issues/1157

[2020-08-17 21:17] #1126 closed

[2020-08-18 00:11] zackkrida commented on #1157
@annatuma key takeaways are:

- to use the sketchfab viewer, a model has to be saved on sketchfab. it can't be used with any arbitrary 3d model data.
- the sketchfab viewer + api lets us show 3d models for sketchfab-hosted models without any changes to the catalog api.
- we have to make api changes to show 3d models for non sketchfab models and/or to use the 'Vue 3D Model' library for some or all

[2020-08-18 02:41] avats-dev commented on #1155
Can I work on this?

[2020-08-18 03:22] zackkrida commented on #1155
Sure @avats-dev

[2020-08-18 03:27] Aakash2408 commented on #1118
@AyanChoudhary  so we need to change every <h> tag into any div or span but keeping the styling like font size keeping the same?

[2020-08-18 04:30] avats-dev commented on #1155
I think I have to edit this [here](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/ImageDetails/CopyLicense.vue).
Can you please explain what this line means, specifically what `isTool ? a : b` means?
https://github.com/creativecommons/cccatalog-frontend/blob/9735f560364519c4e8a7b35bcad1ae2937dcd7bb/src/components/ImageDetails/CopyLicense.vue#L118

[2020-08-18 05:52] AyanChoudhary commented on #1118
No, just the <h5> in the footer needs to be changed.

[2020-08-18 06:11] avats-dev commented on #1155
Opened the PR #1159 , @zackkrida feel free to review and suggest any edits.

[2020-08-18 06:56] Aakash2408 commented on #1118
ok ! @AyanChoudhary  Can I take this?

[2020-08-18 07:20] AyanChoudhary commented on #1118
Sure! Go ahead 👍

[2020-08-18 08:46] Aakash2408 commented on #1118
@AyanChoudhary  can you kindly tell me the location of code  I mean in which branch it is-- develop or master and where?

[2020-08-18 09:00] rochisha0 commented on #1118
@Aakash2408 `develop` is the main branch.

[2020-08-18 09:11] Aakash2408 commented on #1118
https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/FooterSection.vue Line 150  .It looks this is the only h5  in the footer

[2020-08-18 09:37] Aakash2408 commented on #1118
Hey @rochisha0  @AyanChoudhary   @kgodey
When I try to run the project locally after npm install  and when I run the command npm run dev
![Screenshot from 2020-08-18 15-04-57](https://user-images.githubusercontent.com/47134609/90497135-5ce96400-e164-11ea-916c-87371741fa9e.png)
Do anyone have any idea what is happening?

[2020-08-18 09:49] rochisha0 commented on #1118
Try merging it with the upstream and repeat the process @Aakash2408

[2020-08-18 10:14] annatuma commented on #1157
Great, thanks for the preliminary research. Let's see what comes from our call with Sketchfab, and we can go from there.

[2020-08-18 10:33] AyanChoudhary commented on #1118
@Aakash2408 try removing node_modules and re run `npm install` that should fix it

[2020-08-18 10:55] annatuma opened #1160 "Change placeholder text on search bar"
## Problem

Our search bar currently has placeholder text that says "Search all images". This is potentially confusing if a user tabs to a different content type, like Audio or Video, where we offer meta search now.

## Description

We should:
- Update the placeholder text in the Search Bar on the homepage to say "Search all content"
- Dynamically update the placeholder text in the Search Bar depe

[2020-08-18 10:55] annatuma commented on #1160
@zackkrida and @panchovm (or anyone else), what's your preference here regarding the placeholder text? Should we have none, or edit the copy?

[2020-08-18 11:40] annatuma opened #1161 "Search Query Not Dynamically Inserted in Meta Search"
## Description

When a user enters a search query on the homepage of CC Search, that query is used to construct the outbound URLs of the source buttons for Meta Search.

## Reproduction

1. Enter any query on CC Search
2. Click on Audio or Video
3. Hover over any source to see the outbound URL if clicking on it
4. Enter a different query in the search bar
5. Hover over, or click on, any search,
6.

[2020-08-18 11:44] rochisha0 commented on #1160
I'll like to work on this issue.

[2020-08-18 12:56] zackkrida commented on #1160
@annatuma We use the placeholder "I would like to see" on the homepage—maybe we unify and use it everywhere?

Otherwise, I think we'd want it to be dynamic: "Search all images", "Search all audio" etc.

[2020-08-18 13:02] annatuma commented on #1160
Good point in that it differs currently. "I would like to see" doesn't really work for audio, so we'll need to change it on the homepage.

Perhaps "Search all content" on the homepage, and then dynamic for content type on the results pages?

[2020-08-18 14:03] zackkrida commented on #1160
@annatuma I like that!

[2020-08-18 14:07] zackkrida commented on #1161
@annatuma I will fix this today. The behavior when I launched meta search was that hitting the 'search' button would keep you on whatever tab you were on, so users could _at least_ submit more searches. That behavior has regressed. I'll fix two things:

1. Search button will preserve current tab
2. Meta urls will always reflect current search bar contents

[2020-08-18 14:10] iamananya commented on #964
I wanted to ask that if the issue is still open can I work on it??

[2020-08-18 14:15] zackkrida commented on #964
Hi @iamananya sure, you may work on this. Thank you!

[2020-08-18 15:22] annatuma commented on #1160
Awesome. In that case, @rochisha0 you're welcome to dive into this issue. I'll update the description too.

[2020-08-18 15:47] annatuma opened #1162 "Add Vimeo to Video Meta Search"
###  Description
Vimeo supports searching by CC license. We should include them in Meta Search.

They don't allow filtering by All CC licenses, or multiple license at once - only by individual licenses. As such, we need to settle on what the default CC license filter we want to apply to our search queries is.

I suggest we go with CC BY, which means that if both **Use** filters are checked, the re

[2020-08-18 15:54] Aakash2408 commented on #1118
@AyanChoudhary  @kgodey  kindly review the Pull Request

[2020-08-18 16:08] zackkrida commented on #1162
@annatuma I agree with your thoughts on CC BY!

[2020-08-18 18:00] #1118 closed

[2020-08-18 18:03] P1YU5H-50N1 commented on #1162
Can I help?

[2020-08-18 18:15] panchovm commented on #1160
I like that too. Agree

[2020-08-18 18:16] zackkrida commented on #1162
Sure @P1YU5H-50N1, to get you started in the right direction, you'd want to add vimeo to the JavaScript object here: https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/utils/getLegacySourceUrl.js

[2020-08-18 18:48] #1155 closed

[2020-08-18 19:39] zackkrida commented on #945
This will depend on our possible transition to nuxt.js, so waiting and marking as blocked.

[2020-08-18 20:41] #1160 closed

[2020-08-19 05:47] P1YU5H-50N1 commented on #1162
Thanks for the guidance @zackkrida ! I am on it.

[2020-08-19 13:07] #964 closed

[2020-08-19 14:41] #1162 closed

[2020-08-19 16:40] zackkrida opened #1168 "[Meta] Add Issue Template for Meta search suggestions"
Create a new issue template for suggestions of meta search providers.

- Name
- URL
- Type (video|audio|image)
- Supports use filtering? (yes|no|don't know)|

## Implementation

- [x] I would be interested in implementing this feature.

[2020-08-19 21:32] rochisha0 opened #1169 "Extra spaces in CC Search Guide"
## Description

There is an extra space after operator definition and it's example.

## Reproduction

1. Go to https://ccsearch.creativecommons.org/search-help
2. Notice the extra space between the example and the definition of operator

## Expectation
This extra space looks odd and is confusing, and it becomes less evident as to which operator the example belongs.

## Screenshots

![image](https:

[2020-08-19 22:29] zackkrida commented on #1169
Go ahead and work on this—thanks @rochisha0!

[2020-08-20 12:58] annatuma opened #1171 "Create Sources page"
We want to create a new page called "Sources" on CC Search. [Here is the design](https://www.figma.com/file/y09nZth7u1a75xO9sLtjcw/Mockup---S5-(Source-and-provider)?node-id=1476%3A0).

Note that the "suggest a source" button should end up loading a template in the /cccatalog repo for a new source suggestion. That hasn't been released yet (has been merged, though), so if we create the Sources page

[2020-08-20 13:07] rochisha0 commented on #1171
Hey @annatuma ! I'll like to work on this issue?

[2020-08-20 16:35] #1169 closed

[2020-08-20 16:54] zackkrida commented on #940
We will fix this via a migration to Nuxt to handle our routing configuration. Marking this as blocked until then.

[2020-08-20 17:46] zackkrida commented on #505
I'm inclined to think this would be it's own project that uses the search api. I'm not sure it would ultimately live in this repository but the issue can stay here for now.

[2020-08-20 19:34] Aakash2408 commented on #1171
Hey , Can I work on this?

[2020-08-20 19:35] Aakash2408 commented on #1117
Hey @AyanChoudhary  Can I take this?

[2020-08-20 22:25] zackkrida commented on #1117
@Aakash2408 please do!

[2020-08-20 22:28] zackkrida commented on #1171
@Aakash2408 in general, anyone can work on issues without asking! It _is_ helpful if you make a [draft pull request](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests#draft-pull-requests) so we know what's being worked on for bigger PRs.

[2020-08-21 05:23] Aakash2408 commented on #1171
@zackkrida  ok sure i will look into it and make a layout.But what content will be posted on sources page.

[2020-08-21 05:26] Aakash2408 commented on #1171
@zackkrida ok ok i will see the design first and then will start working :)

[2020-08-21 05:38] Aakash2408 commented on #1171
@zackrida ok i want to work on this and I will start making the page today onwards .
      I will start with the Navbar and footer today  and will create a pull request  afterwards. Is it ok?

[2020-08-21 06:01] rochisha0 commented on #1171
@zackkrida and @Aakash2408 I have already started working on this.

[2020-08-23 19:37] #1161 closed

[2020-08-24 15:11] annatuma opened #1177 "Remove Collections page, redirect to Sources"
We want to remove the Collections page:
https://search.creativecommons.org/collections

The Collections URL should be redirected to the forthcoming /sources page, which is already live in the dev environment:
https://ccsearch-dev.creativecommons.org/sources

We will also fix test and whitespace wrapping on the "sources" table here.

[2020-08-24 15:13] annatuma opened #1178 "Make table on Sources page sortable"
We'd like to make the table on the Sources page sortable by its headers, allowing users to see Sources in alphabetical order (default sort is A to Z), or sorting by number of items (largest to smallest, and smallest to largest).

Sources page is currently live in dev:
https://ccsearch-dev.creativecommons.org/sources

[2020-08-24 15:21] annatuma opened #1179 "Changes to Nav structure"
We'd like to change the Nav structure on CC Search to have a couple of items that show sub-items, and a couple that are top level only.

Structure should be as follows:
- About (parent item)
-- Our Story: https://search.creativecommons.org/about
-- Sources: https://search.creativecommons.org/sources
-- The Licenses (external link icon): https://creativecommons.org/about/cclicenses/

- Resources (p

[2020-08-24 15:27] kgodey commented on #1168
All source suggestions should happen in https://github.com/creativecommons/cccatalog

[2020-08-24 15:27] #1168 closed

[2020-08-24 15:30] annatuma opened #1180 "Create Meta Search explainer page"
We'd like to create a new page on CC Search called Meta Search. It should be a sub-page of the About navigation item.

[Here is the text content for the page](https://docs.google.com/document/d/1qK3Gczmb9NsS6dgXDbA1G3KzJ_pcFE1AtrOZRVv6bPo/edit).

We also reference three GIFs in the article, they can be accessed via:

Meta Search - Images - Cars example: https://drive.google.com/file/d/1zFHJt9stxHW

[2020-08-24 15:30] kgodey commented on #463
We're removing this page entirely. https://github.com/creativecommons/cccatalog-frontend/issues/1177

[2020-08-24 15:30] #463 closed

[2020-08-24 18:27] #1177 closed

[2020-08-24 23:54] #1178 closed

[2020-08-25 00:42] #1106 closed

[2020-08-25 00:45] zackkrida commented on #610
Fixed by #1182

[2020-08-25 00:45] #610 closed

[2020-08-25 00:48] zackkrida commented on #488
Everything in this ticket is done, so I'm going to close. We have some other open a11y issues but this one is no longer needed. Nice work everyone!

[2020-08-25 00:48] #488 closed

[2020-08-25 00:52] zackkrida commented on #1077
Update: I created a prototype!

app: https://cc-og-image.vercel.app/
example: https://cc-og-image.vercel.app/Now%20accepting%20**translations**.png?theme=light&md=1&fontSize=100px&images=https%3A%2F%2Fcc-vocabulary.netlify.app%2Flogos%2Fproducts%2Fsearch.svg%23search&images=https%3A%2F%2Fcdn-txweb.transifex.com%2Fwp-content%2Fthemes%2Ftransifex%2Fassets%2Fdist%2Fsvg%2Flogo-blue-header.svg&heights=

[2020-08-25 02:52] zackkrida commented on #1117
Because this logo isn't significant (we don't _need_ screen reader users to know it exists), we can use the following fixes:

- [ ] `focusable="false"` on the svg tag
- [ ] `aria-hidden="true"` on the use tag

[2020-08-25 14:05] #1179 closed

[2020-08-25 15:26] zackkrida opened #1184 "CC Contact info shows up twice in footer"
Please remove the second, duplicated version of cc's contact info in the site footer (in the red box here):

<img width="343" alt="Screen Shot 2020-08-25 at 5 25 57 AM" src="https://user-images.githubusercontent.com/6351754/91194039-85f18380-e693-11ea-8612-6a17fe6a1de0.png">

[2020-08-25 16:25] TimidRobot opened #1185 "use "Safer Browsing" instead of "Safe Browing""
## Problem
We are not able to provide *Safe Browsing*. We do our best, which will always fall short as content is constantly changing, etc.

For a corollary, see: [What’s the difference between “safe sex” and “safer sex”?](https://www.plannedparenthood.org/learn/teens/ask-experts/what-is-the-difference-between-safe-sex-and-safer-sex).

## Description
use ***Safer Browsing*** instead of *Safe Brows

[2020-08-25 16:59] #1184 closed

[2020-08-25 17:10] zackkrida commented on #1185
I think this is a thoughtful and welcome addition, _especially_ knowing the reliability of our mature content filtering.

[2020-08-26 13:02] annatuma commented on #1185
Great suggestion, thanks @TimidRobot. Let's implement this.

FYI to @panchovm that this language will be changing (as it exists on future mockups).

Lining up for the next sprint, unless a community member can tackle this sooner.

[2020-08-26 13:04] annatuma opened #1187 "Fix Smithsonian link on Sources page"
We need to update a link on the Sources page. The link to the Smithsonian Institution should direct to: `https://www.si.edu/`

[2020-08-26 13:11] panchovm commented on #1185
Perfect. Thanks @TimidRobot and good article as well. I will update the mockups to ensure using it correctly in the future.

[2020-08-26 13:46] zackkrida commented on #1187
@annatuma Noted regarding the Smithsonian link—could you confirm that the new source button is incorrect? It's going to the right place for me:

<img width="1448" alt="Screen Shot 2020-08-26 at 3 42 20 AM" src="https://user-images.githubusercontent.com/6351754/91311288-a0d4fe00-e74e-11ea-960a-afc802044641.png">

[2020-08-26 14:43] #1185 closed

[2020-08-26 14:52] annatuma opened #1189 "Expand Web Monetization to All Pages on CC Search"
At the end of June, we rolled out web monetization to all pages on CC Search, with the exception of single result pages.

After consulting with Product Counsel and other stakeholders at the organization, we have decided to move forward with a full rollout on CC Search.

Please reference the earlier ticket (https://github.com/creativecommons/cccatalog-frontend/issues/1014) and pull request (https:/

[2020-08-26 15:17] annatuma commented on #1187
I don't know what I saw that looked wrong earlier today, but it is indeed correct. Sorry about that!

[2020-08-26 16:14] zackkrida opened #1190 "Update donate icon in footer button"
The icon in the footer donate button needs to be updated to use the `cc-letterheart-filled` icon.

Original Issue: creativecommons/vocabulary#589

[2020-08-26 18:41] StTronn commented on #1190
Hey @zackkrida Is it up for grabs? I have looked at the original issue and the FooterSection seems like a quick fix.

[2020-08-26 18:44] zackkrida commented on #1190
Sure @StTronn! One tip—you'll need to update vocabulary with `npm install @creativecommons/vocabulary@latest` to have access to the `cc-letterheart-filled` icon class.

[2020-08-26 18:59] #1189 closed

[2020-08-26 20:26] StTronn commented on #1190
@zackkrida  Thanks for the quick tip saved me a lot of time. I have made pull req #1192 added screenshot here as well. Sorry If I had messed your commit guidelines, would create a new pull req quickly with a single commit message.

![Screenshot from 2020-08-27 01-24-29](https://user-images.githubusercontent.com/42781659/91352291-43e94e80-e807-11ea-88dc-ff08574f3222.png)

[2020-08-26 20:26] #1190 closed

[2020-08-27 09:25] megha070 commented on #1187
@zackkrida I would like to take this up.

[2020-08-27 16:29] AlexARNcode commented on #1187
Hi, is this issue solved then?

[2020-08-27 17:21] zackkrida commented on #1187
@AlexARNcode multiple people are encouraged to work in issues and make prs 😀 you can try if you like

[2020-08-27 18:18] AlexARNcode commented on #1187
But I mean : It looks like this specific problem isn't really a problem, i.e this

?

[2020-08-27 18:41] zackkrida commented on #1187
this is the part that still needs to be done @AlexARNcode

[2020-08-27 21:50] #1187 closed

[2020-08-31 08:52] rochisha0 commented on #1180
Can I take this issue?

[2020-08-31 14:04] kgodey commented on #1180
go ahead!

[2020-09-01 17:42] #1180 closed

[2020-09-03 14:38] annatuma opened #1199 "Add Donation Banner to top of CC Search"
We'd like to add a Donation banner to the top of CC Search, to help drive community support for the project.

[Design](https://www.figma.com/file/y09nZth7u1a75xO9sLtjcw/Mockup---S5-(Source-and-provider)?node-id=1606%3A0).

The "Yes..." button should link to this form: https://www.classy.org/give/297881/#!/donation/checkout

The "Not Today" button and the "X" should close the banner.

We should sho

[2020-09-03 16:50] neeraj-2 commented on #1130
Can ,i work on this?But ,please guide me what exactly we need to do?

[2020-09-05 13:11] neeraj-2 commented on #1117
I tried the same as @zackkrida said:I got this:the first screenshot is showing the performance before change and second screenshot is having increased performance as per lighthouse report ,i just changed
1.focusable="false" on the svg tag and
 2.aria-hidden="true" on the use tag
![lighthouse_report_before_change](https://user-images.githubusercontent.com/56186425/92305698-31110f80-efa7-11ea-98a6-c

[2020-09-05 13:12] neeraj-2 commented on #1117
so,is it the same what we required in this issue or something else,please let me know!

[2020-09-08 15:01] kgodey opened #1201 "Create "Support Us" page"
We'd like to create a new page on CC Search called "Support Us".

It should be linked from the top nav, on the far right.

[Page mockup](https://www.figma.com/file/y09nZth7u1a75xO9sLtjcw/Mockup---S5-(Source-and-provider)?node-id=1585%3A4340)

[Text content including link information](https://docs.google.com/document/d/1pOllcRm9PkI-ZSztdLXclXVVa5wRTVPl9XVS5fpG6UA/edit?usp=sharing).

Please note tha

[2020-09-08 15:04] zackkrida opened #1202 "Launch i18n + new header"
[ticket work required]

[2020-09-08 15:10] zackkrida opened #1203 "Move meta search from about to resources tab"
Move the `meta search` menu item from the `about` to the `resources` header dropdown.

## Resolution

- [x] I would be interested in resolving this bug.

[2020-09-08 15:59] zackkrida commented on #1130
Hi @neeraj-2, this actually needs to be done by CC staff, since there's some edits to the repo configuration needed.

[2020-09-08 19:12] rochisha0 commented on #1203
If it's available, I'll like to work on this

[2020-09-08 19:47] neeraj-2 commented on #1203
Me too,but explain a little bit more about the expected behavior.

[2020-09-09 05:53] ritiktaneja commented on #1203
I would like to work on this issue.

[2020-09-09 10:03] annatuma commented on #1199
@zackkrida this is ready to go. I've also marked it as "help wanted" in case someone from the community wants to help out.

[2020-09-09 10:05] annatuma opened #1205 "Fix text under Search bar on homepage"
Under our Search bar, we currently say:
All our content is under Creative Commons licenses. Learn more about CC licenses.

We'd like to update this text to say:
All our content is under Creative Commons licenses or in the public domain. Learn more about CC licenses and tools.

The link should remain the same.

[2020-09-09 10:06] annatuma commented on #1205
@zackkrida I remember discussing this, but didn't see a ticket for it yet. If this is a duplicate please just close it.