[2018-07-09 12:32] sebworks opened #1 "Create mock search UI"

[2018-07-11 13:04] sebworks opened #2 "Create JS API layer"

[2018-07-11 13:04] sebworks opened #3 "Create HTML and CSS for search components"

[2018-07-11 13:09] sebworks opened #4 "Add front-end build process"

[2018-07-11 13:10] sebworks opened #5 "Configure repo testing process for Travis"

[2018-07-11 13:15] sebworks opened #6 "Create JS for search components"

[2018-07-16 11:05] sebworks opened #7 "Create Vue.js structure"

[2018-07-16 13:45] sebworks commented on #1
The files can be previewed on UXPin: https://preview.uxpin.com/99fdc918db3bdbfc388130aed50d6c64052c8685. ### **The highly subject to change.**

![0-homepage-0-wide-1440-89823872-1531745227](https://user-images.githubusercontent.com/1696212/42761835-adbc1144-88dc-11e8-98cc-e0864d4d339f.png)
![3-browse-0-wide-1440-90112388-1531746528](https://user-images.githubusercontent.com/1696212/42761836-ae3cc6

[2018-07-17 16:18] sebworks commented on #7
Initial structure was created and pushed to the repo using Vue.js.

[2018-07-18 13:22] sebworks opened #8 "Explore Lists UX Curation and Sharing"
After searching, users need the capability to quickly curate and share lists.

## Notes

Need to explore how other sites handle sharing on other content curation platforms.

 ## Screenshots

Submitted from @pa-w
![image from ios](https://user-images.githubusercontent.com/1696212/42883971-17ba330c-8a6b-11e8-9056-6b2f5781c2d3.png)

[2018-07-18 14:18] sebworks opened #9 "Modify data model to track image views"
In order for the UI to display metrics such as "trending" and "popular", we need to track image views via the data model.

@aldenstpage

[2018-07-18 16:49] sebworks commented on #5
All PRs on the [repo](https://github.com/creativecommons/cccatalog-frontend) will now run unit tests on Travis. There is an issue on the acceptance tests which will need to be fixed in a separate issue.

[2018-07-19 15:54] sebworks commented on #2
Done in #11.

[2018-07-20 16:55] sebworks commented on #8
These were interesting ideas surrounding sharing and curation that I discovered:

### Pinterest ###

Single image sharing which is occurring on the search results page.

<img width="439" alt="screen shot 2018-07-20 at 12 28 07 pm" src="https://user-images.githubusercontent.com/1696212/43013901-6a031300-8c18-11e8-871b-8ad7ceee3aee.png">

&nbsp;
&nbsp;
&nbsp;

List sharing which is apart from the se

[2018-07-20 17:04] sebworks commented on #8
This is the mock UI with a sharing toolbar on the bottom.  It can be accessed from this link https://app.uxpin.com/edit/7630349#?id_page=90425999
<img width="395" alt="screen shot 2018-07-20 at 1 02 34 pm" src="https://user-images.githubusercontent.com/1696212/43015329-67f9cc16-8c1d-11e8-9503-302bc38a37c4.png">
<img width="321" alt="screen shot 2018-07-20 at 12 59 13 pm" src="https://user-images.g

[2018-07-20 17:06] sebworks commented on #4
Closing this issue because it never was necessary. The vue-cli automatically sets up a build process.

[2018-07-20 17:06] #4 closed

[2018-07-20 17:08] #8 closed

[2018-07-20 17:08] #7 closed

[2018-07-20 17:08] #2 closed

[2018-07-20 17:08] #5 closed

[2018-07-20 17:09] #1 closed

[2018-07-23 15:57] pa-w commented on #1
Excellent work! @sebworks

[2018-07-24 15:02] sebworks opened #13 "Create HTML, CSS, and JS for Homepage"

[2018-07-24 15:02] sebworks opened #14 "Create HTML, CSS, JS for image detail page"

[2018-07-24 15:03] sebworks opened #15 "Create HTML, CSS, JS for browse page"

[2018-07-24 15:04] sebworks commented on #3
This task is composed of the following tasks:

#15
#14
#13

[2018-08-02 14:09] sebworks opened #17 "Create HTML, CSS, and JS for Search Grid"

[2018-08-02 14:10] sebworks opened #18 "Create HTML, CSS, and JS for Share Bar"

[2018-08-02 14:11] sebworks commented on #15
This task is composed of the following tasks:

#18
#17

[2018-08-02 14:12] #13 closed

[2018-08-15 20:34] #18 closed

[2018-08-15 20:34] #17 closed

[2018-08-15 20:35] #15 closed

[2018-08-15 20:35] #14 closed

[2018-08-15 20:35] #6 closed

[2018-08-15 20:35] #3 closed

[2018-08-16 18:03] sebworks opened #28 "Improve image loading time when searching"

[2018-08-16 18:40] sebworks opened #29 "Increase unit test code coverage to 90%"

[2018-08-20 15:17] sebworks opened #30 "Add the ability to edit / remove items for an existing list"
Add the ability to edit / remove items for an existing list

[2018-08-20 15:17] sebworks opened #31 "Add the ability to add images to lists across all search results"

[2018-08-21 13:50] sebworks opened #32 "Feedback from user testing"
- [x] The header background image is cool, but I feel it's a little too visually intricate and is hiding the search box.
- [x] Load times are very long on individual images and not all of the grids are populating at roughly the same speed – v slow.
- [x] I'm not sure why "Top Categories" would be useful to a user unless they can filter or know the source on it? The images in the categories feel pr

[2018-08-23 17:07] janeatcc opened #37 "License filter order and presentation"
The order in the license filter dropdown seems random. Any reason why this is so and not in order of most liberal to most restrictive?

Also, the filter is all lower case initials, e.g. "by-nc-nd" without any explanation. Maybe better to experiment to see what resonates with users... do users understand the initials? Would it be better if it read "CC BY-NC-ND" for example? or alternatively, "Attri

[2018-08-23 17:10] janeatcc opened #38 "License types filter order and presentation"
The categories could be more specific, e.g. "commercial" should be "commercial use allowed". "Modification" should be "modification" allowed. Also, what if people want both commercial and modification allowed? A dropdown doesn't allow that.

"all-cc" could be written "All Creative Commons" to be clearer. See Flickr's search interface filters at https://www.flickr.com/search/?text=cat.

In general,

[2018-08-23 17:12] janeatcc opened #39 "Provider filter"
Should be capitalized.

Will there eventually be a place listing all the providers and who they are? I don't recognize some on the list and not sure I would choose geographdfdk without know what it was..

[2018-08-27 19:48] janeatcc opened #40 "change front page image"
replace https://pixabay.com/en/agriculture-rice-plantation-thailand-1807581/ with a non pixabay (but similar aesthetic!) image :)

[2018-08-28 16:59] aldenstpage opened #41 "Release front end to AWS for production"

[2018-08-29 15:37] sebworks commented on #40
Fixed in #Editing homepage image #43

[2018-08-29 15:37] #40 closed

[2018-08-29 15:40] sebworks commented on #39
I updated the filters with the names of the providers:
<img width="304" alt="screen shot 2018-08-29 at 11 39 07 am" src="https://user-images.githubusercontent.com/1696212/44798769-5ed54980-ab80-11e8-8199-de50981a5661.png">

Let me know if this will suffice.

[2018-08-30 19:38] #41 closed

[2018-09-04 14:34] sebworks opened #48 "Home page issues"
- [ ] Add a header - could be the CC site orange header or a transparency w/ link
- [ ] Add a feedback link (see prototype - ideally ask the same questions so we can compare data)
- [ ] Wallpaper image - should have complete attribution: “Title” by AUTHOR, via SOURCE, licenced CC X

Top images
- [ ] The vertical space between the images seems odd
- [ ] The roll-up script should show the correct at

[2018-09-04 14:41] sebworks opened #49 "Browse page issues"
- [x] Add a header (see main page issue)
- [ ] The roll-up script should show the correct attribution (see above) and use the CC icons if possible as well
- [x] Tooltip should appear when mousing over circle+ to say “add to list”
- [x]  Letterbox image format often crops the images so much that you can’t select one without clicking into it. That adds lots of clicks to the user to find the image th

[2018-09-04 14:43] sebworks opened #50 "Image Detail page issues"
- [x] License format should be CC BY, not CC by, also the photo attribution, and the output HTML, and the one click attribution
- [x] Use the CC icons on the detail page to show license type as well
- [x] When I click zoom on the image, I get a different image:
- [ ] I don’t know what that little pop-up navigator thing is, but it’s confusing. I’d remove it.
Issue: No download link to get the image

[2018-09-16 20:59] benadida opened #61 "clicking on the image in the detail page brings up the wrong image in the lightbox"
It looks like it brings up the first "related" image?

[2018-09-16 21:33] benadida opened #62 "HTML page title says cccatalog-frontend, could use a more human readable title"

[2018-09-16 21:37] benadida opened #63 "would be nice to have an easy back-to-search-results button from detail page rather than having to use browser back button"

[2018-09-17 21:31] sebworks commented on #61
Closed in #64

[2018-09-17 21:31] #61 closed

[2018-09-17 21:31] sebworks commented on #62
Closed in #64

[2018-09-17 21:31] #62 closed

[2018-09-17 21:31] sebworks commented on #63
Closed in #64

[2018-09-17 21:31] #63 closed

[2018-09-17 21:34] sebworks commented on #50
I think it would make sense to use the icons on the image detail page, but not so much on the rollover. We can discuss it though.

Issue: No download link to get the image, or clear link to go to the source site. Have to intuit to click on the right link in the detail information.

This is a good point, and we probably need to provide some user help in the form tooltips or the like.

[2018-09-17 21:38] janeatcc opened #65 "Change "ADD TO LIST" text in pop-up"
This needs to be changed before release Wed. Please change the text "ADD TO LIST" to read "ADD TO PUBLIC LIST" in list pop-up

[2018-09-17 23:00] sebworks commented on #65
Closed in #65.

[2018-09-17 23:00] #65 closed

[2018-09-17 23:05] sebworks commented on #49
I don't think we have the space to display the full attribution on the rollover.  I think we can add the icons to the image detail page, though.

I think Alden adjusted the script as requested, I'll add a `author names` text box to the filters.

This is a good idea for desktop, but it won't work on mobile. I'll add it for the desktop.

Yeah, some images are being cropped to maintain their aspect r

[2018-09-17 23:08] sebworks commented on #48
I'm going to leave this as-is for now, I think it's a personal preference.

The issue is the amount of visual space required to display the whole attribution.

yes, all the images on the homepage are curated.

The footer is pretty close to the existing footer, with the exception of the layout, icons, and disclaimer. The icons were removed by request.

[2018-09-18 18:42] janeatcc opened #68 "Add this text to lists page (or where otherwise appropriate)"
"We've migrated to public lists. Looking for a private list you created with your CC ID? Shoot us an email at info@creativecommons.org and we are happy to retrieve it for you."

http://ccccatalog.herokuapp.com/lists

cc: @pa-w

[2018-09-18 18:42] janeatcc commented on #68
This needs to be done before release!

[2018-09-18 18:43] janeatcc opened #69 "give jane access to categorize and add assignees to issues on this repo"
thanks!

[2018-09-19 11:40] sebworks commented on #69
@janeatcc, access granted.

[2018-09-19 11:40] #69 closed

[2018-09-19 16:28] sebworks commented on #68
Fixed in #70

<img width="1405" alt="screen shot 2018-09-19 at 12 28 31 pm" src="https://user-images.githubusercontent.com/1696212/45767208-8fe8ed00-bc07-11e8-9315-17de1bede3b0.png">

[2018-09-19 16:28] #68 closed

[2018-09-19 16:29] janeatcc opened #71 "post front end release notes somewhere"
and provide link to Jane to add to blog post

need this prior to release

[2018-09-19 18:28] sebworks commented on #71
I've added release notes:

https://gist.github.com/sebworks/7a6f8ddce88a2377624165cfc32e56f5

[2018-09-20 15:22] janeatcc opened #74 "CC0 photos don't filter when selecting CC0 for the Met"
e.g. http://ccccatalog.herokuapp.com/photos/9676915

Reads: CC CC 1.0

[2018-09-20 16:34] #71 closed

[2018-09-25 13:02] sebworks commented on #74
This has been resolved.

[2018-09-25 13:02] #74 closed

[2018-09-25 14:29] gargargarrick commented on #38
While it is a music site rather than a photo search engine, I might look to [Free Music Archive's search](http://freemusicarchive.org/search) for another good example. It uses checkboxes rather than a binary dropdown, so one can select multiple specific licenses or license categories. (I think allowing for both is useful -- I generally know the particular license I need, but not everyone does, and

[2018-09-25 20:19] janeatcc opened #75 "Replace /about page text"
Replace current text at http://ccccatalog.herokuapp.com/about with the following, and also [insert symbol] with the Clarifai symbol below.

There is no larger compendium of shared human knowledge and creativity than the Commons, including over 1.4 billion digital works available under CC tools. Despite the tremendous growth of the Commons, and the widespread use of the CC licenses and public domai

[2018-09-26 15:00] sebworks commented on #75
Closed in #76

[2018-09-26 15:00] #75 closed

[2018-09-26 15:15] mzeinstra opened #77 "Change url when filtering to allow sharing of search questions"
Applying filters to a search does not actively change the url of the search. Adding this feature would be good for sharing URIs with friends.

[2018-09-26 15:53] mzeinstra opened #78 "URI with filtering options does not load correctly"
This is a bug
Steps to reproduce
1. Go to https://ccsearch.creativecommons.org
2. Search for cats (because that is what the internet is for of course)
3. Filter on CC BY-NC licenses
4. Change 'cats' to 'cat' and search again, notice that the address bar now states, also note that are no search results:
''''
https://ccsearch.creativecommons.org/search?q=cat&provider=&li=by-nc&lt=
''''
5. copy that

[2018-09-26 20:02] janeatcc opened #79 "command tab in mac doesn't open in new tab"
when clicking on a search result hitting command on a mac does not open search result in new tab (works on other links). this is true across browsers (safari, chrome)

[2018-10-01 21:07] sebworks commented on #78
@mzeinstra, thank you for creating this issue.  It should now be closed.

[2018-10-01 21:07] #78 closed

[2018-10-01 21:11] sebworks commented on #77
@mzeinstra, thank you for creating this issue. It should now be closed.

[2018-10-01 21:11] #77 closed

[2018-10-01 21:16] sebworks commented on #37
@janeatcc, the licenses are now listed in alphabetical order. Please let me know if that works. If you have more precise ideas about the language then please let me know.

[2018-10-01 21:16] #37 closed

[2018-10-01 21:19] sebworks commented on #38
@gargargarrick , thanks for the feedback. I've updated the filters with new text, please let me know if that works.

[2018-10-02 06:40] mzeinstra opened #82 "Filtering on CC BY shows other licenses as well"
Steps to reproduce

1. go to https://ccsearch.creativecommons.org/search?q=Cat&provider=500px&li=by&lt=
(notice I filtered on CC BY)
2. Click on an image
(Notice that other more restrictive license applies, you might have to try a few images)

When filtering on CC BY I expect only getting those images that are licensed as such.

[2018-10-02 13:15] sebworks opened #83 "Add provider images on rollover overlay"
Add provider images on rollover overlay

[2018-10-02 13:21] sebworks opened #84 "Modify about page to use API"
Modify about page to use api for displaying provider statistics.

[2018-10-02 13:22] sebworks opened #85 "Create generic layout for photo attribution product"
Create generic layout for photo attribution product

[2018-10-02 15:05] aldenstpage commented on #82
Hi Maarten, thanks for the report! Your query should work correctly now.

Fixed in API v0.16.1

[2018-10-02 15:05] #82 closed

[2018-10-02 19:20] sebworks commented on #85
This is deployed: https://cc-watermark.herokuapp.com/

[2018-10-02 19:20] #85 closed

[2018-10-02 19:22] mzeinstra opened #87 "CC0 3.0 does not exist"
Seems like a fault in the dataset (also unsure if I should post it here).

1. Go to https://ccsearch.creativecommons.org/photos/9540075
2. Notice the CC0 3.0 sign on the right.
There is no cc0 3.0 there is only 1.0

For bonus points:
3. Click on CC link
Notice that this is a 404, of course.

[2018-10-03 13:10] sebworks opened #88 "Photo zoom doesn't work in some scenarios"
On the image detail page, the photo zoom isn't working in some scenarios.

[2018-10-03 15:17] sebworks commented on #38
this issue is now resolved.

[2018-10-03 15:17] #38 closed

[2018-10-03 16:59] janeatcc opened #90 "license icons need spacing on image page"
see https://ccsearch.creativecommons.org/photos/423611. no space between cc and attribution man icon, for example.

[2018-10-03 17:18] janeatcc opened #91 "mirror footer from cc.org"
footer should be footer from https://creativecommons.org but with current cc search disclaimer text and sans the text "Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license," also sans text "Website by Affinity Bridge," and sans the search box,

[2018-10-03 17:25] janeatcc opened #92 "tooltip should appear when hovering over "+" to read "Add to public list""
e.g. on results page without having to click on +

[2018-10-03 17:27] #92 closed

[2018-10-03 17:27] #91 closed

[2018-10-03 17:36] janeatcc opened #93 "go back to old filter layout"
the additional drop-down is another extra step. did we change it to this for a reason?

[2018-10-03 17:39] janeatcc opened #94 "license filter order should be most open to least open"
CC0
Public Domain Mark
CC BY
CC BY-SA
CC BY-NC
CC BY-ND
CC BY-NC-SA
CC BY-NC-ND

[2018-10-03 17:41] janeatcc opened #95 ""All Public Domain (PD)" filter should be added"
above "CC-licensed works only"

[2018-10-03 17:41] janeatcc opened #96 "Collection filter should be check boxes"
So users can select more than one at at time

[2018-10-03 17:41] janeatcc opened #97 "CC license filter should be checkboxes"
So user can select more than one at at time

[2018-10-03 17:42] janeatcc opened #98 "License types filter should be checkboxes"
So user can select more than one at at time

[2018-10-03 17:43] #96 closed

[2018-10-03 17:43] #97 closed

[2018-10-03 17:43] #98 closed

[2018-10-03 17:44] #93 closed

[2018-10-03 17:56] janeatcc opened #99 "Sources on image page should be capitalized"
and formatted like the providers have them

e.g. “Flickr” vs “flickr”
e.g. "DigitaltMuseum" vs "digitaltmuseum"

[2018-10-04 21:42] sebworks commented on #99
Closed in #100

[2018-10-04 21:42] #99 closed

[2018-10-04 21:42] sebworks commented on #95
Closed in #100

[2018-10-04 21:42] #95 closed

[2018-10-04 21:43] sebworks commented on #94
Closed in #100

[2018-10-04 21:43] #94 closed

[2018-10-04 21:43] sebworks commented on #90
Closed in #100

[2018-10-04 21:43] #90 closed

[2018-10-04 21:43] sebworks commented on #87
Closed in #100

[2018-10-04 21:43] #87 closed

[2018-10-04 21:44] sebworks commented on #84
Closed in #100

[2018-10-05 06:44] mzeinstra commented on #87
Issue should not be closed in my opinion.

1. Go to https://ccsearch.creativecommons.org/photos/9540075
2. Notice the CC0 3.0 sign on the right.
There is no cc0 3.0 there is only 1.0

CC0 3.0 should never appear on ccsearch.

Only bonus points have been solved ;)

[2018-10-05 07:41] mzeinstra opened #101 "License tags should probably be filtered out or be a special category"
When you find an image (https://ccsearch.creativecommons.org/photos/16136571 for example) and what to explore further using the tags there should be a special category or filtering of all common names of CC licenses.

When you click on a tag for, example CC0, you expect to find more cc0 material. However that tag also appears on non cc0 licensed material. This is confusion to the end-user.

[2018-10-05 17:20] janeatcc opened #102 "search returning photos that no longer exist on flickr"
e.g. https://ccsearch.creativecommons.org/photos/fc83df33-7855-41b5-8026-a62d6270731b

![screenshot_20181006-082459](https://user-images.githubusercontent.com/1696212/46557011-76f26400-c8b6-11e8-8b37-862dca0c4ab2.png)

[2018-10-05 19:05] sebworks opened #103 "Provide multiple search grid options"
Currently, the images in the search grid are displayed at a maximum height of 200px. The images are then centered and cropped horizontally / vertically. This causes certain images, particularly those with images of faces, to be cropped in an undesired fashion. We will offer three options:

- Landscape (currently offered): will add option to display full image.
- Detail view: displays all of image

[2018-10-05 19:42] sebworks opened #104 "Add social sharing icons on Photo detail page"
Add social sharing icons on Photo detail page

[2018-10-05 20:53] janeatcc opened #105 ""Copy to text" should include link to license"
e.g. for https://ccsearch.creativecommons.org/photos/d2294e00-ca9d-44ba-8cb8-32a171bfb8d2

copy to text attribution reads:

"Hats from Shmails - Thanks!" by Guy H is licensed under CC BY 2.0

can it be:

"Hats from Shmails - Thanks!" by Guy H is licensed under CC BY 2.0:  https://creativecommons.org/licenses/by/2.0/

[2018-10-05 20:55] janeatcc opened #106 ""Copy to wordpress" button or similar"
We should discuss this one, but I thought it was interesting in terms of user feedback and could be an enhancement down the line.

Is this significantly different from html?

[2018-10-05 21:06] janeatcc opened #107 "Clicking on any "top images" from home page yields blank photo page"
e.g. try clicking on the record photo on home page takes you to https://ccsearch.creativecommons.org/photos/15514496

blank white space in place of image

[2018-10-05 21:30] janeatcc opened #108 "search results sometimes return 404 thumbnail but image actually exists"
e.g. https://ccsearch.creativecommons.org/search?q=tower%20bridge%20tv

https://ccsearch.creativecommons.org/photos/7691306b-94b9-4d47-8531-a91705b95e67

http://www.geograph.org.uk/photo/2979983

[2018-10-08 11:37] sebworks commented on #105
I think that is why we created the copy to HTML; it includes the link as follows:

`<a href="https://www.flickr.com/photos/scottfeldstein/233329571">"Milwaukee Art Museum"</a> by <a href="https://www.flickr.com/people/scottfeldstein/">scott feldstein</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0"> CC BY 2.0 </a>`

[2018-10-08 16:40] sebworks commented on #107
Fixed in #109

[2018-10-08 16:40] #107 closed

[2018-10-08 16:40] sebworks commented on #108
Fixed in #109

[2018-10-08 16:40] #108 closed

[2018-10-08 16:58] janeatcc commented on #105
Yes, the user feedback was that since we encourage adding a link to
licenses for offline texts (see "This work is licensed under the Creative
Commons Attribution 4.0 International License. To view a copy of this
license, visit http://creativecommons.org/licenses/by/4.0/." text for
offline choice in https://creativecommons.org/choose/), we should do the
same for plain text since many downstream use

[2018-10-12 20:13] janeatcc opened #111 "change "top images" text on home page to"
"Staff picked" or similar

[2018-10-12 20:16] janeatcc commented on #111
Actually change to "Staff picks"

[2018-10-12 20:44] sebworks commented on #49
I've added the ability view the total image in the grid. This gives the user the option to control their experience.

[2018-10-12 22:24] janeatcc opened #112 "add pixel dimensions for downloading of image"
So users are aware of the image dimensions. Perhaps add this when a download button is added?

e.g. on photo page: https://ccsearch.creativecommons.org/photos/9bd1ee7e-58a5-4c78-9a64-41a10eb50675

[2018-10-15 13:55] sebworks commented on #112
Closed in #113

[2018-10-15 13:55] #112 closed

[2018-10-15 13:56] sebworks commented on #111
@janeatcc, it seems odd to call it `Staff picks`. I think top pics makes sense, maybe we should base more on images with have the most likes from the providers.

[2018-10-15 15:37] janeatcc commented on #111
Oh I like "top picks" -- that works.

On Mon, Oct 15, 2018 at 6:56 AM, Steven B. <notifications@github.com> wrote:

--
Jane Park
Director of Product & Research
@CreativeCommons
@janedaily

Get updates: https://us.e-activist.com/page/6747/subscribe/1
<https://creativecommons.org/about/contact/newsletter/>
Invest in the commons: https://donate.creativecommons.org/

[2018-10-18 13:30] sebworks commented on #83
@janeatcc, provider images are just the various sources of the images (e.g., flickr, 500px, etc...).

[2018-11-07 19:30] TimidRobot opened #116 "Google Analytics is not configured for SPA"
- 2018-09-23: cccatalog-frontend was updated to be a single page app (SPA) and was deployed without Google Analytics.
- 2018-10-01: Google Analytics was added back, but it was configured for a traditional site with full page loads.
- Now: cccatalog-frontend needs to be updated for Single Page Application Tracking per [Single Page Application Tracking  |  Analytics for Web (analytics.js)  |  Google

[2018-11-08 22:55] janeatcc opened #117 "No way to add image to list from image page"
One can only add an image to list from the search results page, but not the actual image page: https://ccsearch.creativecommons.org/photos/bffe419e-812d-4a57-871c-e8ef53ca997a

[2018-11-19 16:26] aldenstpage opened #118 "Thumbnails aren't displayed properly"
https://i.imgur.com/ZnF1lrD.jpg

The new Flickr data has tiny thumbnails, which we don't display properly.

Additionally, these thumbnails are too small to be of any use to us. We need to generate our own or pull higher resolution thumbnails from upstream.

[2018-11-19 17:31] aldenstpage opened #119 "Frontend always points at production regardless of configuration passed to it"

[2018-11-27 14:41] aldenstpage opened #120 ""source" link is sometimes treated as an internal route rather than an external link in image detail views"
Image detail view source links sometimes route users to a non-existent page within CC Search.

Sometimes, links in our database include the protocol (e.g. https://), and other times it does not. When the protocol is included, the user will be correctly routed, and when it is missing, they will be routed to the non-existent internal page.

Example where the source link works correctly:
https://ccse

[2018-11-27 17:07] aldenstpage commented on #120
I discussed this with @sclachar and we have decided that the best way forward is to handle it outside of the database layer. The incomplete URLs are from upstream content partners.

I'm going to patch the API so it always returns results with a protocol in the 'source' link.

[2018-11-28 17:06] aldenstpage opened #121 "'404' placeholder should be replaced with a nicer looking "image not available" picture"
The 404 placeholder shows up in situations where the image has not actually 404'd, such as when an HTTP image is blocked, or any other situation where the browser fails to render an image. It's also not very attractive from a design perspective.

[2018-11-30 17:58] aldenstpage opened #122 "Remove Halloween images"

[2018-11-30 18:20] aldenstpage opened #123 "Improve related image results on photo detail page"
It looks like related images are generated from a search of the first tag in the image. At a minimum, this should reuse the user's search query instead of a random tag.

We could also off-load this functionality to the backend and develop an /image/{id}/related endpoint if we need something more sophisticated than that. I'll bring this up during our standup on Monday.

[2018-11-30 18:43] aldenstpage opened #124 "Lists get deleted on the API layer but are not removed from LocalStorage, causing the non-existent list to get stuck in the user's List page."

[2018-11-30 18:45] aldenstpage commented on #102
This should only happen in exceptional circumstances now that we filter dead links from search results.

[2018-11-30 18:45] #102 closed

[2018-12-03 22:12] janeatcc commented on #50
Noting that we receive feedback from an additional user that right click to download was not intuitive, especially on Macs. So additional emphasis to adding a download button to download image.

[2018-12-05 18:23] janeatcc opened #125 "CC search does not work on old version of Chrome"
Not sure if we care about browser versions this old, but CC search beta does not work on

Google Chrome | 49.0.2623.112

[2018-12-05 19:56] aldenstpage opened #126 "Search result images should show titles in alt text"
CC Search is not very accessible to users with screenreaders. The lowest hanging fruit is to use alt text in images in our search results.

[2018-12-14 22:47] kgodey commented on #116
@TimidRobot the changes @aldenstpage and I made do not affect search, if that's an issue, I'll have to fix that separately. What we did sends Google Analytics a new pageview when someone navigates to a single image's detail page, which previously wasn't getting counted a new pageview.

If you look at the "CC Search Beta (Prod)" project in Google Analytics and navigate to Behavior > Site Content ([

[2018-12-17 17:14] kgodey commented on #116
Thanks for the info!

[2018-12-17 20:38] zackkrida commented on #116
Hi there,

I saw this issue and wanted to chime in—there is a `to.fullPath()` method that would be useful in this case. The whole `router.afterEach()` call would look like this:

[code]

This sends google the full path, including any query params:

![screen shot 2018-12-17 at 3 35 29 pm](https://user-images.githubusercontent.com/6351754/50113998-7c065480-0211-11e9-8877-f7a4eef21800.png)

This us u

[2019-01-05 00:20] kgodey opened #132 "Make project more approachable for outside contributors (miscellaneous tasks)"
- [x] Fix the tests.
- [x] Update any other existing documentation not covered in other issues.
- [x] Clean up open issues and branches.
- [x] Curate a list of good first issues and things we want help with.
- [x] Create a good issue template (not PR template, that's covered elsewhere)

[2019-01-09 09:55] brenoferreira commented on #126
Did #131 solve this or are there still images without the `alt` attribute set?

[2019-01-09 11:52] brenoferreira commented on #124
Hi @aldenstpage

I couldn't reproduce this. Do you still experience this issue? If so, could you provide a step-by-step of how to reproduce this bug?

Thank you

[2019-01-09 15:04] aldenstpage commented on #124
I tried to reproduce the issue again and didn't succeed. I'm going to close this for now, I'll let you know if I figure out what conditions lead to this. Thanks!

[2019-01-09 15:04] #124 closed

[2019-01-09 16:18] brenoferreira opened #136 "Back to search results doesn't navigate back after clicking on related images"
How to reproduce

1 - Go to search results page, eg: https://ccsearch.creativecommons.org/search?q=landscapes
2 - Click on any image to view details
3 - Scroll down to "Related Images" and click on any to view its details
4 - Click on `« Back to search results` link on the top left corner

User is then taken to the details of the first photo, instead of taken back to the image results page.

What

[2019-01-09 19:41] aldenstpage commented on #126
#131 solved it

[2019-01-09 19:41] #126 closed

[2019-01-10 16:04] kgodey commented on #116
This is fixed by #135.

[2019-01-10 16:04] #116 closed

[2019-01-10 18:03] janeatcc commented on #122
Can we bump this up in priority to be in the next release? (17 Jan)

[2019-01-10 18:36] brenoferreira commented on #122
I think we can. Do we replace the images with new ones with any other theme? Or do we just remove them?

[2019-01-10 20:34] janeatcc commented on #122
I think we should replace them with public domain images for the PD day launch. And then we can revisit after this sprint whether to get rid of a "top picks" section entirely.

[2019-01-14 10:14] brenoferreira commented on #122
Sounds good.

I found these ones in our catalog licensed under CC PDM 1.0. How do you like them?

https://ccsearch.creativecommons.org/photos/2b091d94-e72f-46a8-a1b2-ab23ab9ceedf
https://ccsearch.creativecommons.org/photos/740aec57-acaa-4734-92b4-61bc967fecb9
https://ccsearch.creativecommons.org/photos/fb1b5814-e0b4-4fe4-9f57-7cd3b5096404
https://ccsearch.creativecommons.org/photos/ea89aea5-c51d-4

[2019-01-14 11:43] brenoferreira commented on #79
Fixed in #137

[2019-01-14 11:43] #79 closed

[2019-01-14 15:57] janeatcc commented on #105
Remove html part of link. "Copy to text" should just include link and not thew html tags (b/c that's copy to html and this is just for plain text, e.g. To view
 a copy of this license, visit: https://creativecommons.org/licenses/by/2.0/.

[2019-01-14 15:59] janeatcc opened #138 "surface somehow that "copy" attribution has happened"
I agree with this. I feel like previously there was some kind of hover tag that surfaced that the attribution had been copied? Can we explore getting something like that back, or another visual indicator?

[2019-01-14 16:31] brenoferreira commented on #138
This has been fixed in #129 and will be featured in the next release

[2019-01-14 17:18] janeatcc opened #139 "Add Cleveland Museum of Art to search filters"
Add "Cleveland Museum of Art" to search filters on front-end in time for release tomorrow of CMA images

[2019-01-14 18:44] janeatcc commented on #122
I think they are great... I guess the USA references make sense, too, given that it is PD day in the U.S. But I wonder if there are images that are more representative of the diversity in the U.S.? If not, what is here is fine.

[2019-01-14 18:46] janeatcc opened #140 "404 images appearing on search results page and image page"
e.g. https://ccsearch.creativecommons.org/search?q=mountain&provider=&li=cc0,pdm&lt=

[2019-01-14 19:04] aldenstpage commented on #140
It's a data issue, some of these links are insecure HTTP, which we cannot display. The MET image servers support HTTPS, so my suggestion is that the MET data should be updated upstream to use HTTPS. @sclachar, what do you think?

If this isn't an attractive option for whatever reason, we can plan time next sprint for me to implement an HTTPS image proxy.

[2019-01-15 16:37] little-wow opened #141 "Menus disappear too quickly"
![cc-search-menus](https://user-images.githubusercontent.com/7093838/51194782-c5ea6500-18b9-11e9-9269-82fcf187b47b.gif)

This may be a preference rather than a UX issue, but if you scroll down to the end of the "Select source" menu, the menu disappears, which makes it hard to click on.

[2019-01-15 17:09] janeatcc commented on #141
Seems like a bug. Having @brenoferreira take a look when he can!

[2019-01-15 22:53] janeatcc commented on #84
These seems to be broken as with today's release this page did not update. @aldenstpage can you advise?

[2019-01-15 22:54] janeatcc commented on #84
e.g. I don't see Cleveland in there

[2019-01-15 23:02] janeatcc opened #144 "hard code names of providers not currently listed at /about"
see http://api.creativecommons.engineering/statistics/image and https://ccsearch.creativecommons.org/about

We need this in time for CMA's 23 jan launch, so we should release this thur.

[2019-01-15 23:02] janeatcc commented on #144
CMA should be listed as Cleveland Museum of Art (full name at http://www.clevelandart.org).

[2019-01-15 23:06] kgodey commented on #141
@janeatcc should we add this to the current sprint?

[2019-01-15 23:30] janeatcc commented on #141
Only if Breno has time. This isn't as urgent and can be after this next sprint. I just tested it and it works, just disappears too quickly

[2019-01-15 23:36] kgodey commented on #141
Let's leave it out for now.

[2019-01-16 10:59] #122 closed

[2019-01-16 12:40] brenoferreira commented on #84
@aldenstpage @sclachar it would be nice to have the web page address in the DB table too. But while that's not done, I'll just do a quick update and manually add those to the about page

[2019-01-16 16:11] #139 closed

[2019-01-16 16:12] brenoferreira commented on #144
Fixed in #146

[2019-01-16 16:12] #144 closed

[2019-01-16 16:19] #136 closed

[2019-01-16 17:40] janeatcc commented on #83
Let's make sure to add Cleveland as part of this next release.

[2019-01-16 17:54] little-wow opened #147 "There are results for an image, but there are no results there"
<img width="1439" alt="screen shot 2019-01-16 at 10 30 59 am" src="https://user-images.githubusercontent.com/7093838/51268331-dff57780-198d-11e9-9cb0-e1b1223fcc8a.png">

Bummer!

[2019-01-17 15:17] aldenstpage commented on #147
Mismatches in result count and actual results are caused by broken link filtering. The app checks that every image exists before displaying the search results. These images were either deleted, moved, or did not load quickly enough. I'll take a look at the reason these particular images are broken (maybe we need to give them more time to load before filtering them). I'll also change things so the

[2019-01-17 17:21] janeatcc commented on #83
Add Thingiverse (https://thingiverse.com) and World register of marine species (http://www.marinespecies.org) logos for overlay for next Wed release

[2019-01-17 17:32] janeatcc opened #150 "change name on image page to "Cleveland Museum of Art""
Currently reads as Clevelandmuseum, see https://ccsearch-dev.creativecommons.org/photos/c2b76ad0-e06d-4e3a-b8e5-fd702fe9972a

[2019-01-17 17:34] janeatcc opened #151 "filter by "the met" returns images with wrong logo overlay"
see https://ccsearch.creativecommons.org/search?q=horse&provider=met&li=&lt=

these images are by the met when you click through, but currently has mccord museum logo on overlay

[2019-01-17 17:36] janeatcc opened #152 "no creator listed for CMA images"
e.g. https://ccsearch-dev.creativecommons.org/photos/354e92de-9cdc-4c89-9cfa-614f654a2538

Is this because they didn't list any in metadata, or somehow structured it differently in API?

[2019-01-17 17:38] aldenstpage commented on #152
It's because we don't have the Creator in our database for these works. Take a look at the raw data here http://api.creativecommons.engineering/image/354e92de-9cdc-4c89-9cfa-614f654a2538

[2019-01-17 17:42] janeatcc commented on #147
This is also happening with a search for images on Thingiverse: https://ccsearch-dev.creativecommons.org/search?q=horse&provider=thingiverse&li=&lt=

[2019-01-17 17:45] janeatcc opened #153 "cc pdm logo disappears on front page images - black on black"
see https://ccsearch-dev.creativecommons.org/ first two images

[2019-01-17 17:46] janeatcc commented on #153
middle two images has white icon -- the other images below and above that should as well so it appears on rollover

[2019-01-17 18:08] janeatcc commented on #150
this should be resolved now with the table issue right @aldenstpage ?

[2019-01-17 18:28] janeatcc opened #154 "French accent in title doesn't show up on image pages"
see https://ccsearch-dev.creativecommons.org/photos/9ee73b56-ca58-4069-99ea-c9f90889dade

https://ccsearch-dev.creativecommons.org/photos/36880021-df93-4654-8954-4a053427ed96

[2019-01-17 18:35] aldenstpage commented on #150
I need to update the API to make use of this table, it won't be ready this week

[2019-01-17 18:59] sclachar commented on #152
Some images do not specify a creator. Here is an example of an image with that info: https://ccsearch-dev.creativecommons.org/photos/fcaae643-fbe2-407f-ae9a-53acb020cb88

[2019-01-17 19:03] sclachar commented on #152
@janeatcc and @brenoferreira should we display a generic placeholder text for images without a creator listed?

[2019-01-17 19:05] kgodey commented on #152
I think we could skip showing the "Creator" label if there is no creator listed.

[2019-01-18 01:13] janeatcc opened #155 "image runs over into clarifai tags on image page"
see https://ccsearch.creativecommons.org/photos/fe2b2152-2238-4d10-8980-d67f9f2fccde for example

[2019-01-18 03:39] aldenstpage commented on #147
Hi @janeatcc, @brenoferreira, I took a quick look at the Thingiverse example and it looks like an error on the frontend is preventing the search response from rendering. Looking in the browser console, the API appears to return some images, see [here](http://api.creativecommons.engineering/image/search?q=horse&provider=thingiverse&li=&lt=).

This is what I see in the network console:
[code]

This

[2019-01-18 12:58] brenoferreira commented on #147
@aldenstpage this Thingiverse bug you mention seems to be a different problem. I'll try to find what's causing this and will file a separate issue. Thanks for spotting this :)

[2019-01-18 13:12] brenoferreira commented on #154
@aldenstpage This seems to be an issue on the response encoding, as seen in the response here: https://api.creativecommons.engineering/image/9ee73b56-ca58-4069-99ea-c9f90889dade.

[2019-01-18 13:39] brenoferreira opened #156 "Home page Top Category label background wrong width"
At the home page, under Top Categories, the label for each category has a gray background that has the wrong width value, making it look strange when its width is greater than, or less than the width of the image. See GIF below:

![label bug](https://user-images.githubusercontent.com/707019/51390180-b7988500-1b15-11e9-9e38-ecf3441fe9af.gif)

[2019-01-18 14:00] brenoferreira commented on #152
Maybe show a "Not Available" instead of just hiding it?

[2019-01-18 14:12] TimidRobot opened #157 "Footer and Infinite Scroll are not compatible"
The footer has a lot of important information in it.

Once a user searches, the footer is no longer accessible due to infinite scroll.

[2019-01-18 15:31] janeatcc commented on #157
I think this is fine as footer is available on home, about and lists. But I will also check to see if there are any other concerns around this for us.

[2019-01-18 16:15] #105 closed

[2019-01-18 21:32] janeatcc commented on #157
assigning to myself to discuss as a design choice w/team for after this sprint

[2019-01-22 13:04] brenoferreira commented on #138
@janeatcc can I close this?

[2019-01-22 17:35] janeatcc commented on #147
same thing happening for thingiverse: https://ccsearch.creativecommons.org/search?q=cat&provider=thingiverse&li=&lt=

[2019-01-22 17:36] janeatcc commented on #147
same for WORMS: https://ccsearch.creativecommons.org/search?q=fish&provider=WoRMS&li=&lt=

keeps happening for all providers really?

[2019-01-22 17:38] janeatcc commented on #138
yep! closing

[2019-01-22 17:38] #138 closed

[2019-01-22 18:26] little-wow opened #168 "Allow users to choose providers from front page"
It's frustrating to have one big search box and not be able to choose providers – I generally don't want to search everything and want to choose a few providers.

[2019-01-22 18:28] little-wow opened #167 "Better browse capabilities"
I often want to popular browse images from providers, but can't.

It would be great to be able to browse (and analytics back me up on this – on the old interface, many users submitted empty strings to be able to browse).

This is particularly helpful for huge art collections, like the Met.

[2019-01-22 19:36] #152 closed

[2019-01-22 19:37] #153 closed

[2019-01-22 19:37] #156 closed

[2019-01-23 12:45] brenoferreira commented on #151
This was fixed in #161

[2019-01-23 13:47] brenoferreira opened #164 "Filters aren't applied when clicking on "Back to search results""
How to reproduce:

* Go to home page
* Search for "people"
* Apply filter for "Cleveland Museum of Art" provider
* Click on any image in the results to see its details
* Click on `Back to search results`
* The provider filter isn't applied and it shows results for all providers.

[2019-01-23 15:10] little-wow opened #165 "Add metatags for social integration"
Social sharing is sad right now because the metatags haven't been added: https://twitter.com/creativecommons/status/1088090712497967104

This impacts SEO as well: https://www.wordstream.com/meta-tags

[2019-01-23 15:24] little-wow opened #166 "Need ability to search author or artist on Cleveland Art"
I think you can only search by title on the Cleveland Museum API.

See:

![img_d05cea2b16ec-1](https://user-images.githubusercontent.com/7093838/51616907-1df81b80-1ef9-11e9-8576-8ded0d0d6f47.jpeg)
![img_3bb0da964b73-1](https://user-images.githubusercontent.com/7093838/51616908-1df81b80-1ef9-11e9-9e74-539e31dc151d.jpeg)

[2019-01-23 15:41] #151 closed

[2019-01-23 16:19] janeatcc commented on #140
This is still happening, fyi.

https://ccsearch.creativecommons.org/search?q=horse&provider=met,clevelandmuseum&li=&lt=

the image in question: https://ccsearch.creativecommons.org/photos/00c4d25a-dc4f-4097-90a5-9748388e3105

[2019-01-23 16:39] janeatcc commented on #166
yes, currently the algorithm only searches tags + title. something for us to discuss for next sprint on changing this up

[2019-01-23 16:51] aldenstpage commented on #166
We used to include creator names in the search API, but it generally led to poor quality search results.

It's possible to filter results by creator right now using the `creator` parameter (currently unused by the frontend). ex: http://api.creativecommons.engineering/image/search?q=dancer;creator=degas . This is of limited usefulness because you still need to include a `q`uery string; you can't ju

[2019-01-23 17:00] aldenstpage commented on #154
@sclachar Can you check that the Cleveland Museum of Art has been encoded in utf-8 correctly? It's correct on the [source page](http://clevelandart.org/art/1954.732), but escaped in our database.

[2019-01-24 22:58] janeatcc commented on #166
Can we only search across creator fields from some providers, e.g. from museums?

[2019-01-25 01:53] kgodey opened #169 "Add the ability to scroll to the top of the page, when infinite scroll is enabled"
Issue copied from checklist in #32.

[2019-01-25 01:54] kgodey opened #170 "Strip whitespace from the queries"
Issue copied from #32.

[2019-01-25 01:54] kgodey commented on #32
I made #169 and #170 for the remaining issues here and I'm closing this issue.

[2019-01-25 01:54] #32 closed

[2019-01-25 01:55] kgodey opened #171 "Browse page issue: The roll-up script should show the correct attribution and use the CC icons if possible as well"
Issue copied from #49.

[2019-01-25 01:56] kgodey commented on #49
I made #171 to track the remaining todo on this issue, closing this one.

[2019-01-25 01:56] #49 closed

[2019-01-25 01:57] kgodey opened #172 "Fix remaining Image Detail page issue"
I don’t know what that little pop-up navigator thing is, but it’s confusing. I’d remove it.
Issue: No download link to get the image, or clear link to go to the source site. Have to intuit to click on the right link in the detail information.

---

Issue was copied from #50.

[2019-01-25 01:57] kgodey commented on #50
Made #172 to track remaining item, closing this.

[2019-01-25 01:57] #50 closed

[2019-01-25 02:00] kgodey opened #173 "Improve project setup experience"
- [x] Provide Docker option for running locally.
- [x] Make sure README is fully up-to-date.
- [x] Describe how to run the project locally and verify that the steps work.
- [x] Describe how to run the tests.
- [x] Include sample data for local development.

[2019-01-25 02:02] kgodey opened #174 "Document project's high-level structure and workflow"
- [x] Document project maintainers, status, and goals
- [x] Document code layout
- [x] Document list of pages
- [x] Document actions user can take

[2019-01-25 02:06] kgodey opened #175 "Create contribution guidelines for project"
- [ ] Add CODEOWNERS file
- [ ] Add code of conduct ([Contributor Covenant](https://www.contributor-covenant.org/version/1/4/code-of-conduct))
- [ ] Remove custom issue/pull request templates
- [ ] Add code style guidelines
- [ ] Add test coverage guidelines
- [ ] Add performance guidelines
- [x] Add supported browsers list (probably add this to creativecommons.github.io and link here)

[Github in

[2019-01-25 02:08] kgodey commented on #132
I split this issue up into a couple of others for easier tracking – see #173, #174, #175. @brenoferreira feel free to split up more if needed. This issue still tracks a few miscellaneous todos.

[2019-01-28 10:33] #117 closed

[2019-01-28 18:55] aldenstpage commented on #147
Fixed in cccatalog-api v0.20.3; the count is zero.

[2019-01-28 18:55] #147 closed

[2019-01-29 14:25] brenoferreira commented on #173
@kgodey what did you intend to be added with `sample data for local development`?

[2019-01-29 19:40] kgodey commented on #173
@brenoferreira if we want people developing locally not to connect to our development or production API server (or if our API is not accessible for some reason), we may want to provide a JSON file with sample data or maybe a mock API that they can use to have some data to display locally.

If you don't think we need that, just add instructions on what API URL should be used for local development i

[2019-01-30 15:53] brenoferreira opened #179 "Replace Puex as state management library"
The state management library we use https://github.com/egoist/puex is deprecated and no longer maintained. We should move to something else, like [Vuex](https://github.com/vuejs/vuex)

[2019-01-31 20:57] chicocvenancio commented on #140
I'm not sure this is a protocol issue. https://ccsearch.creativecommons.org/photos/cf58cccf-2aed-46a6-92e2-18591a1cf2cd is pointing to (404) https://images.metmuseum.org/crdimages/ap/web-large/246958.jpg while https://www.metmuseum.org/art/collection/search/10411 points to (200) https://images.metmuseum.org/CRDImages/ad/original/246958.jpg

[2019-01-31 21:07] janeatcc commented on #140
This may have to do with the duplicates we checked and removed. @sclachar what do you think?

[2019-02-01 23:22] janeatcc opened #181 "Creator name is weirdly formatted and not linked/clickable"
See for example: https://ccsearch.creativecommons.org/photos/966cfb20-5071-42d4-a70b-3faf961be5fc

Clicking on creator yields nothing as well

[2019-02-07 16:17] kgodey commented on #173
We don't need sample data since we just point to the API URL, closing this.

[2019-02-07 16:17] #173 closed

[2019-02-07 16:25] brenoferreira opened #182 "Improve test coverage"

[2019-02-13 18:49] aldenstpage commented on #123
There should be a backend API endpoint for this. We can use Elasticsearch's "More Like This" query. https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html

[2019-02-14 15:56] aldenstpage commented on #140
Fixed in API v0.23.0

[2019-02-14 15:56] #140 closed

[2019-02-15 18:26] janeatcc opened #184 "clicking back to search results takes user back to top of list vs place they left off"
"I've been finding that when I search in CC Search and then go "back to results" it takes me back seemingly to the top of the whole list and I have to find where I was before, which is a bit tedious" --@evarogers

[2019-02-15 18:56] kgodey commented on #140
@aldenstpage @janeatcc is there a separate issue to track the issue from @chicocvenancio's comment above?

[2019-02-19 21:21] aldenstpage commented on #140
@kgodey That result is broken due to an edge case. It looks like @chicocvenancio's image originally worked, and was cached as a valid image link. The cache has a TTL of 30 days to minimize repeated validation of images; this works well in most cases but will result in 404'd image sneaking through if it was deleted less than 30 days ago since it was last validated.

[2019-02-19 22:44] janeatcc opened #186 "test front end in ccsearch-dev first for any feature, starting with advanced search filter for creator and tags"

[2019-02-19 22:52] kgodey commented on #140
It might be good to have a way for users to manually report 404'd images so that we could automatically re-check the link and remove from the cache as needed. @janeatcc what do you think?

[2019-02-19 22:56] janeatcc commented on #140
I think this is a good idea. Was also talking to Sarah about having a way for people to log issues from front page of cc search that is specific to search and not info@, but also not a generic blue feedback form tab. I think we should implement one thing that is a way to log issues specific to cc search for this kind of thing and other errors. Kriti, let's add this to our 1:1 and figure out best w

[2019-02-20 19:01] aldenstpage commented on #140
I stand corrected; @chicocvenancio's image is erroneously included in the search results because the MET servers return the wrong status code for the image.

[code]

That should return a `404 Not Found` or `301 Moved Permanently`, not `200 OK`. The server can't delete the image preemptively when an incorrect status code is returned from the provider.

[2019-02-20 19:13] aldenstpage commented on #140
I opened creativecommons/cccatalog-api#197 to address this

[2019-02-20 20:01] kgodey commented on #140
Since the problem here wouldn't be solved by un-caching, we can revisit the cache TTL if/when broken links become an issue. I like Jane's idea of an easy way to report bugs or issues and hopefully we'll get reports of broken links through that if they become a problem.

[2019-02-20 21:55] #186 closed

[2019-02-21 17:01] #166 closed

[2019-02-22 17:13] janeatcc commented on #154
this is still a bug, fyi: https://ccsearch.creativecommons.org/photos/08a3475d-eb78-4fc6-ac46-33d3ac63d608

[2019-02-22 17:20] janeatcc opened #187 "add attribution button to google analytics"
so clicks of both "copy to text" and "copy to html" show up in Google analytics

[2019-02-22 18:45] mmoreshead opened #188 "Top nav search box returns nothing"
Steps to reproduce:

Go to CC Search
Go to Lists or About
Use the search in the top right hand side to search for something
It goes to the search results page but there's nothing there
Not even a "this search returned 0 results message"
The thing I originally typed in the search is lot populated in the top search either.

So I fully quit my browser (firefox) and opened a new session.
Same results

[2019-02-22 18:52] brenoferreira commented on #164
This was fixed in #185

[2019-02-22 18:52] #164 closed

[2019-02-22 19:07] mmoreshead opened #189 "\xe9 appearing in result titles and/or creators"
See this result: https://ccsearch.creativecommons.org/photos/d1fa32e1-be78-4f22-8775-6177c9420450

Creator is: Jos\xe9 Guadalupe Posada  which I suspect is likely supposed to be José,

Browser: Firefox 65.0.1

[2019-02-22 19:20] janeatcc commented on #189
This bug is similar to https://github.com/creativecommons/cccatalog-frontend/issues/154 but that one was with CMA and this is The Met

[2019-02-22 20:24] kgodey commented on #189
This is an API issue. Moving to the API repo cc @aldenstpage.

[2019-02-25 13:50] chicocvenancio opened #191 "License type filters work with an "or" logic"
Right it seems it is imposible to filter for licenses that allow both commercial use and modifications.  https://ccsearch.creativecommons.org/search?q=nature&provider=&li=&lt=commercial,modification&searchBy

Will show images that licenses allow either commercial use **or** modification.

Not sure if this logic would also apply to the other two categories `all` and `all-cc` but perhaps there shoul

[2019-02-25 17:15] janeatcc commented on #191
This is a bug, thanks for catching!

[2019-02-25 18:35] brenoferreira opened #192 "Fix encoding on Photo Details page"
Decode the data on the front-end, so that if any data comes encoded in the API results, users won't see strange characters on the page.

Link to original issue https://github.com/creativecommons/cccatalog/issues/107

[2019-02-25 18:45] brenoferreira opened #193 "Add Google Form link on lists page asking people whether they care if we remove it"

[2019-02-25 18:47] brenoferreira commented on #181
Related to #192

[2019-02-25 18:48] brenoferreira commented on #155
Does this still reproduce @janeatcc

[2019-02-25 19:25] janeatcc commented on #193
Assigning this to myself first

[2019-02-25 19:26] janeatcc commented on #155
nope, closing

[2019-02-25 19:26] #155 closed

[2019-02-26 17:22] janeatcc opened #194 "CC0 text on image page"
CC0 reads "CC CC0 1.0" on image pages, e.g. https://ccsearch.creativecommons.org/photos/6a93f964-786d-4dbd-8925-df30ef611656

Should read "CC0 1.0"

[2019-02-27 17:56] kgodey commented on #194
Moving this to the active sprint since @brenoferreira fixed it.

[2019-02-27 17:58] pratikmishra356 commented on #188
Hi I want to work on this issue can anyone please guide me in which file or section I should look for this.

[2019-02-27 18:24] janeatcc commented on #193
Please update /lists page with the text and link to Google form, all finalized. Thank you!

https://docs.google.com/document/d/1PHUiDotr-SPtlaIRPVxnewAzW8nV6UlXXwsQL1kWKY4/edit#

[2019-02-28 17:17] #187 closed

[2019-02-28 17:18] SingularReza commented on #188
I solved this bug, can I submit a PR?

[2019-02-28 17:32] #193 closed

[2019-02-28 17:44] SingularReza commented on #169
I am working on this issue

[2019-02-28 18:08] nishantsethi commented on #104
Hi, I would like to work on this

[2019-02-28 18:12] catherinehoang commented on #170
Hi! I'd like to work on this issue.

[2019-03-01 06:39] pratikmishra356 commented on #165
Hi, I am working on this issue.

[2019-03-01 16:35] VatsalSin commented on #192
I am working on this issue

[2019-03-02 05:56] VatsalSin commented on #184
Working on it.

[2019-03-03 06:45] VatsalSin opened #203 "Clicking on image tags not working as expected"
-> Expected Behavior :- When we click on image tag, we must get search results for the respective tag.

-> Current status:- When we click on the image tag the URL in the URL bar changes accordingly but the search results are not updated.

-> For instance when I click on tag "nature" from some image of "city" we get following:-

![screenshot 55](https://user-images.githubusercontent.com/33460761/53

[2019-03-03 06:50] VatsalSin commented on #203
I have figured out the problem can I submit the pull request for the same

[2019-03-06 13:16] #170 closed

[2019-03-06 22:51] catherinehoang commented on #172
Hi, I'd like to work on this

[2019-03-07 14:43] brenoferreira commented on #188
@SingularReza absolutely!

[2019-03-07 14:46] SingularReza commented on #188
@brenoferreira the test is failing and I couldn't get a solution for it. I think it has something to do with the action being in a mounted hook. Please check my PR

[2019-03-08 13:57] #192 closed

[2019-03-08 17:17] pratikmishra356 commented on #169
I had solved this issue and will soon raise a PR

[2019-03-08 17:30] #182 closed

[2019-03-08 20:45] brenoferreira opened #207 "Add link to download watermark with attribution"
Add a link in the photo details page that lets users download the image inside a frame containing the proper author attribution and license.

Link to the API issue https://github.com/creativecommons/cccatalog-api/issues/209 and PR https://github.com/creativecommons/cccatalog-api/pull/214

[2019-03-08 22:53] janeatcc opened #210 ""undefined undefined" and no photo shows for a period of time"
resolves after ten seconds or so https://ccsearch.creativecommons.org/photos/4f0345b0-5f0e-42f5-860c-698d9621fe88 looked like below before it did

![undefined bug](https://user-images.githubusercontent.com/6394777/54060538-e9db7000-41b1-11e9-8b80-aba325f0bc8d.png)

[2019-03-08 23:09] aldenstpage commented on #210
It was a temporary issue while some database maintenance related to the
release was in progress

On Fri, Mar 8, 2019, 5:53 PM Jane <notifications@github.com> wrote:

[2019-03-08 23:14] janeatcc commented on #210
k

[2019-03-08 23:14] #210 closed

[2019-03-10 18:02] viditvarshney commented on #165
close this issue if this is done

[2019-03-10 21:19] kgodey commented on #165
@brenoferreira I saw something about this not working on Slack, could you update the issue with those details or close?

[2019-03-11 16:13] kgodey opened #215 "Add feature flag to CC Search to hide in-development features"

[2019-03-11 18:18] janeatcc commented on #165
need to deploy on dev first before we merge

[2019-03-11 18:21] janeatcc commented on #106
would love to see your solution! currently not being worked on by anyone, so go ahead. we would not deploy before discussing and reviewing though, as we haven't decided 100 percent if we would add this.

[2019-03-11 18:39] aldenstpage commented on #215
So I think the way to go about this is to introduce a configuration file in the Vue code, like `src/features.json` or wherever you think it's most appropriate, with something like...
[code]

In the deployment code, I'll overwrite this file with deployment-time settings from environment variables. Once @breno figures out the right place and format for the configuration I'll set update the deploymen

[2019-03-11 22:06] dhruvkb commented on #106
I've submitted the PR although it is still in a draft stage. I am yet to remove the `clipboard` pacakage from the `package.json` file after which the PR will no longer be WIP.

[2019-03-11 23:14] dhruvkb commented on #103
I think the image grid would look particularly great in a [masonry layout](https://masonry.desandro.com/) like that of Pinterest. Are you working on this @sebworks?

[2019-03-12 01:12] dhruvkb commented on #28
Hello @sebworks I would like to work on this issue if you could help me a little bit.

Can you give me some pointers into what aspects of the image delivery we would like to optimise? I have many divergent ideas and would gladly appreciate if you could help focus my efforts on some bottlenecks of the process by pointing them out.

[2019-03-12 01:18] dhruvkb commented on #9
This issue seems very closely linked to creativecommons/cccatalog-api#102. The changes to the model required in the case of this issue are akin, to some extent, to the ones that would be needed to make this feature possible.

[2019-03-12 03:05] kgodey commented on #28
tagging @brenoferreira in case he has something to add

[2019-03-12 03:06] kgodey commented on #103
No one is currently working on this but tagging @janeatcc and @brenoferreira so that they can confirm that it should be worked on since the issue isn't marked "help wanted" or "good first issue".

[2019-03-12 19:03] kgodey commented on #119
Fixed by https://github.com/creativecommons/ccsearch-infrastructure/pull/30 (private repo).

[2019-03-12 19:03] #119 closed

[2019-03-12 20:44] dhruvkb commented on #181
Although the creator name now appears correctly, the anchor tag on the creator name still points to null. This is not a frontend issue however, because the `cccatalog-api` models do not have a model field for storing the link to the creator profile and thus will not be able to supply that via the API.

[2019-03-12 21:07] dhruvkb commented on #181
PR #219 addresses the linking in the creator name. Kindly review and let me know if it addresses the issue adequately.

[2019-03-13 08:40] dhruvkb commented on #203
@VatsalSin are you still working on this problem? If not, can I take it up?

[2019-03-13 19:25] janeatcc opened #222 "no data showing even though it says there are photos"
see https://ccsearch.creativecommons.org/search?q=galium&provider=floraon&li=&lt=&searchBy

[2019-03-13 19:26] janeatcc commented on #222
<img width="1130" alt="screenshot_55" src="https://user-images.githubusercontent.com/6394777/54308398-2e3c8680-458b-11e9-9d73-886ca84e7ae1.png">

[2019-03-13 19:34] aldenstpage commented on #222
The problem is that every Flora-On image link in our database is invalid, which causes them to be automatically filtered out on the front end. See the `url` properties in this search query with dead link filtering disabled: https://api.creativecommons.engineering/image/search?q=galium&provider=floraon&filter_dead=False

[2019-03-13 19:39] janeatcc opened #223 "improving search results"
This is more of a general issue around improving search results. For example, it is really difficult for me to replicate any search result for London Natural History Museum, even if I use terms from the title and page of where this image exists under CC0 on the platform: http://data.nhm.ac.uk/dataset/collection-specimens/resource/05ff2255-c38a-40c9-b657-4ccb55ab2feb/record/8304314.

This could b/c

[2019-03-13 19:41] aldenstpage commented on #222
I deleted my previous inaccurate comment. The links lead to images, BUT they all lead to redirects, which causes the broken image filter to hide them.

[code]

All of the links need to be updated to the fully qualified URL (with *https://* ) to display these images.

[2019-03-13 22:46] janeatcc commented on #207
Separate out into two checkboxes like on thttps://ccccatalog.herokuapp.com/photos/a5fdc359-4196-4446-9ee9-1b1d2fae0625

Placeholder text for (?) pop-ups for each option is as follows:

“Include attribution in frame” (?) --> pop-up: "This option frames the image in white with a plain text attribution beneath."
“Embed attribution metadata” (?) --> pop-up: "This option embeds CC license metadata in t

[2019-03-14 00:48] janeatcc commented on #103
Yes.. this is in reference to results page right? https://ccsearch.creativecommons.org/search?q=cat&provider&li&lt&searchBy

Right now we have a checkbox that doesn't make sense to most people "contain image" so this would be a good issue to work on.

[2019-03-14 04:17] dhruvkb commented on #103
Can I take it up and start working on it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-14 05:53] janeatcc commented on #103
I am good with it as long as @brenoferreira is!

[2019-03-14 08:56] kgodey commented on #223
This should be an issue on the API repository since the frontend doesn't handle searching through the data.

[2019-03-14 16:27] janeatcc commented on #223
I don't have permissions to transfer, can you please? Thanks!

[2019-03-14 16:47] alishamohanty opened #224 "In mobile view (S - 320px) the title "<number> <photo-name-searched> Photos" is partially hidden when searched for a picture."
**Describe the bug**
When the screen size is changed to Mobile (S - 320px ) the page showing the searched results of photos having the title "<some-number> <searched-name- of-photo> Photos" gets partially viewed.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Home Page'
2. Search for a picture For example ''Galium"
3. The page saying the little "xx Galium Photos" is partially visibl

[2019-03-14 23:58] VatsalSin commented on #203
I am working on this. Sorry for late reply. I was busy due to exams.

[2019-03-15 17:04] dhruvkb commented on #181
@janeatcc, you might want to close this issue.

[2019-03-15 18:04] #181 closed

[2019-03-15 18:05] #154 closed

[2019-03-15 18:28] kgodey opened #228 "Filter UI shouldn’t be a dropdown"
Filter UI should be more like: https://web.archive.org/web/20180212202615/https://ccsearch.creativecommons.org/

[2019-03-15 18:29] kgodey opened #229 "Improvements to CC Search UI"
- [x] Change home page image
- [x] Improve UI of CC Search to make it look like CC homepage

[2019-03-15 18:30] brenoferreira opened #230 "Remove lists from UI"
Remove all code and API calls related to lists

[2019-03-15 18:31] kgodey opened #231 "Add new tab for feedback"

[2019-03-15 18:31] kgodey commented on #231
@janeatcc please edit the issue with details.

[2019-03-15 18:34] #88 closed

[2019-03-15 18:34] kgodey commented on #88
We don't have zoom any more.

[2019-03-15 18:35] kgodey commented on #125
@janeatcc can you provide more details about what doesn't work?

[2019-03-15 18:38] kgodey commented on #101
Assigning to @brenoferreira to investigate and add more details to the issue.

[2019-03-15 18:39] kgodey commented on #118
@aldenstpage is this still an issue?

[2019-03-15 18:40] kgodey commented on #121
@aldenstpage is this still an issue?

[2019-03-15 18:44] alishamohanty commented on #224
Can you assign the task to me @brenoferreira?

[2019-03-15 18:55] brenoferreira opened #232 "Improve test coverage for components"
Write unit tests for the [components](https://github.com/creativecommons/cccatalog-frontend/tree/master/src/components) and [pages](https://github.com/creativecommons/cccatalog-frontend/tree/master/src/pages).

There are already [some components with unit tests](https://github.com/creativecommons/cccatalog-frontend/blob/master/test/unit/specs/components/photo-details.spec.js), please use them as g

[2019-03-15 18:58] #28 closed

[2019-03-15 18:59] kgodey commented on #84
This is fixed.

[2019-03-15 18:59] #84 closed

[2019-03-15 19:05] kgodey commented on #224
Go ahead and work on it @alishamohanty.

[2019-03-15 19:06] kgodey commented on #28
@dhruvkb we don't have any defined criteria for what we want to improve so we've closed the issue. If you have any ideas you want to implement, please open a new GitHub issue with the details and we'll discuss.

[2019-03-15 22:34] sudharsana-kjl commented on #232
Hi! Can I work on this issue?

[2019-03-16 00:23] geekayush opened #235 "Missing Favicon"
Favicon is missing from the CC Search.

**Describe the solution you'd like**
Add the missing CC icon ( cccatalog-frontend/src/assets/cc_icon.svg ) in index.html ( cccatalog-frontend/index.html )

@brenoferreira Can I work on this issue?

[2019-03-16 10:17] kgodey commented on #232
Go ahead, could you post what components you'll be writing tests for in this issue?

[2019-03-16 13:43] geekayush opened #236 "About table overflows in mobile devices"
**Describe the bug**
The 'Providers' table in the 'About CC Search' section overflows the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://ccsearch.creativecommons.org/about'
2. Change to the mobile view
3. Scroll down to 'Providers table'
4. See error

**Expected behavior**
The table should not overflow the page after getting populated.

**Screenshots**
![localhost_8443_

[2019-03-16 18:13] dhruvkb commented on #229
Instead of just changing the homepage image to something different, it could be wonderful if it displayed a new image from the CC repertoire on every visit or every day.

Even though @brenoferreira has been assigned to this issue, can I work on some aspects of this such as matching the CC search header and footer to the CC homepage?

[2019-03-17 03:36] #118 closed

[2019-03-17 06:13] sudharsana-kjl commented on #232
I'd like to write tests for HeaderSection, PhotoTags, ShareList, CopyButton

[2019-03-18 00:19] VatsalSin commented on #232
Hey @sudharsana-kjl, I was working on a issue related to image tags and hence have already added tests for PhotoTags in PR #226 to test the changes made .

[2019-03-18 05:21] kgodey commented on #232
That sounds good, I'll remove the "in progress" tag in case someone else wants to work on tests for other components.

[2019-03-18 06:56] kgodey commented on #175
I updated the issue description based on the new GitHub repo guidelines in our internal wiki.

[2019-03-18 08:37] mzeinstra commented on #101
My link and example no longer works.

Steps to reproduce:
Search for CC0 on CCSearch.
Hover over images and you will find images that are not licensed under CC0

see image attached:
![image](https://user-images.githubusercontent.com/5627431/54517251-70860f00-4961-11e9-8ddc-465727ad718a.png)

[2019-03-18 11:08] brenoferreira commented on #229
@dhruvkb we prefer if you choose another issue and refrain from on issues that are assigned to a project, in this case the `Active Sprint`

[2019-03-18 11:18] dhruvkb commented on #229
@brenoferreira I had not noticed the project, I'm so very sorry.

[2019-03-18 12:41] brenoferreira opened #240 "Run ES Lint during CI build"
Run ESLint during CI build to catch errors before PRs get merged to master

[2019-03-18 13:09] #240 closed

[2019-03-18 13:15] #215 closed

[2019-03-18 23:29] janeatcc commented on #125
I think it doesn't even load on the user's browser. However, I told the user it was a very old version of Chrome and that they should try another browser (they also can't update Chrome due to their OS). So we can close this if it's too old of a browser version for us to worry about.

[2019-03-19 17:07] #230 closed

[2019-03-20 21:55] #203 closed

[2019-03-20 21:58] brenoferreira commented on #188
Fixed in #234

[2019-03-20 21:58] #188 closed

[2019-03-21 19:32] amazzoccone commented on #179
How complex is this refactor? It would be cool to contribute on this 👍.

[2019-03-21 21:31] janeatcc opened #244 "Embed Bug Report form in Feedback tab on CC Search"
**Feature Description**
We'd like to make an update to our Feedback page on CC Search. The page is split into two sections: Feedback and Report a Bug. The Feedback section has an embedded Google Form. We'd like to add a second embedded form to the Report a Bug section.

Link to form to embed: https://docs.google.com/forms/d/e/1FAIpQLSeSN1AIG8LrdgIdKpBj4IlPDhu6T5ndZ7z_QcISBu-ITCU0Yw/viewform

Let's

[2019-03-21 21:59] janeatcc commented on #231
@brenoferreira can you create a Feedback tab with the details at the doc I emailed you, titled "user feedback tab for cc search"?

Some elements may depend on these issues:
https://github.com/creativecommons/tech-support/issues/80
https://github.com/creativecommons/tech-support/issues/66

I'd like to see it up on staging (or dev) before we push to production. Thanks!

[2019-03-21 22:39] janeatcc commented on #207
Did the new placeholder text get deployed?

[2019-03-22 16:44] kgodey commented on #244
The email address this should go to has been updated from ccsearch@ to support-search@.

[2019-03-22 21:55] dhruvkb commented on #103
@janeatcc @kgodey I raised a PR for this issue a week ago. Looking for reviews and, if all goes well, a merge.

[2019-03-23 00:26] dhruvkb opened #245 "The top categories section on the homepage does not scale with width"
The 'Top Categories' section on the homepage contains 4 hardcoded categories. When surfing on an ultrawide monitor, the section ends up looking like this:
![image](https://user-images.githubusercontent.com/16580576/54859122-80ba3780-4d2f-11e9-8390-8b33ea5e3a64.png)

This issue affects all computer browsers, does not affect smartphones.

One solution could be adding some more categories and display

[2019-03-23 00:44] dhruvkb opened #246 "Images in 'Top Picks' are poorly cropped"
The section 'Top Picks' consists of a mosiac of images that are hardcoded. On a regular display the page looks like so:
![image](https://user-images.githubusercontent.com/16580576/54859247-ff63a480-4d30-11e9-8d77-a0fd710dd7da.png)

First and foremost, I would love to see these images change with time. CC contains a huge collection of wonderful images and we have chosen to display a select 7 of the

[2019-03-24 12:57] chihongya commented on #103
。

[2019-03-24 17:10] ayushshivani commented on #224
@kgodey can I work on this issue?

[2019-03-25 11:51] dhruvkb opened #250 "Image download button animation not right"
**Describe the bug**
This is a design issue. The animation on hovering over the download button is a bit uncanny. There is a color shift towards a lighter green and the white text turns black. This gives a weird look to the entire process:
![image](https://user-images.githubusercontent.com/16580576/54917453-db1aea00-4f21-11e9-8305-20693e0e90ae.gif)

**Expected behavior**
Regular buttons animate in

[2019-03-25 13:29] brenoferreira opened #251 "Enable feature flag for Masonry layout"
Setup a feature flag for the Masonry Layout implemented in #225 to hide it in production before testing its behaviour in the dev environment

[2019-03-25 15:04] TheCelestial25 commented on #29
I would like to work on this if permitted. Any directions?

[2019-03-25 18:44] kgodey commented on #29
Go ahead @TheCelestial25. There's a similar issue here: https://github.com/creativecommons/cccatalog-frontend/issues/232, just post the areas you're working on either here or on that issue so that no one else duplicates that work.

[2019-03-26 02:51] kgodey opened #253 "Inject meta tag for Content-Security-Policy into page for production builds"
The meta tag for `Content-Security-Policy` was removed in https://github.com/creativecommons/cccatalog-frontend/pull/252 in order to allow running the site in non-HTTPS mode locally. It should be added back, but only to production builds.

**Resources**
- [Stack Overflow: How to inject custom meta tags in html-webpack-plugin?](https://stackoverflow.com/questions/43018983/how-to-inject-custom-meta-

[2019-03-26 03:39] kgodey commented on #165
This is still an open issue, latest PR plus discussion is here: https://github.com/creativecommons/cccatalog-frontend/pull/214. Please post here if you want to work on it since @sgrepos is busy.

[2019-03-26 03:58] pratikmishra356 commented on #165
Yes, I will  resolve this issue

[2019-03-26 04:06] kgodey commented on #165
@pratikmishra356 okay, I've marked as "in progress". Let me know if you have any questions about my comments on https://github.com/creativecommons/cccatalog-frontend/pull/214.

[2019-03-26 04:20] kgodey commented on #179
@amazzoccone it seems fairly straightforward since the APIs are compatible, are you working on this?

[2019-03-26 04:37] pratikmishra356 commented on #253
As I am looking on issue #165,
I will work on this issue.

[2019-03-26 04:38] kgodey commented on #125
our list of supported browsers includes Chrome 22 and up (list is on https://creativecommons.github.io/contributing-code/) so this seems relevant. whoever works on it needs to investigate and document the issues before they fix it.

[2019-03-26 04:39] kgodey commented on #253
added "in progress" label, thanks @pratikmishra356

[2019-03-26 15:29] TheCelestial25 commented on #29
Ma'am, I went through the repository and found that many tests are fixed in a recent PR. I will try to write tests for SearchGridCell, SearchGridForm, SearchGridFilter and PhotoDetailsPage which are not yet present. Thanks!

[2019-03-26 16:59] kgodey opened #254 "Allow CC Search to be added to web browsers as a search engine"
**Is your feature request related to a problem? Please describe.**
This is a feature request originally made in https://github.com/creativecommons/creativecommons.org/issues/674 for old Search, moving it here since we're deprecating old Search.

**Describe the solution you'd like**
You should be able to add CC Search as an in-browser search engine in Chrome, Firefox, and other browsers that suppor

[2019-03-26 21:45] dhruvkb commented on #254
I would very much like to work on this issue.

[2019-03-26 21:50] kgodey commented on #254
Go ahead!

[2019-03-27 02:29] janeatcc opened #256 "Update tooltip language on CC watermark"
Tooltips for each should read as follows on dev:

“Include attribution frame” (?) --> pop-up: "This option frames the image in white with a plain text attribution beneath."
“Embed attribution metadata” (?) --> pop-up: "This option embeds attribution and CC license metadata in the image file using XMP."

[2019-03-27 04:12] kgodey commented on #29
Sounds good!

[2019-03-28 10:30] #228 closed

[2019-03-28 23:07] catherinehoang commented on #232
Hi! I'm working on tests for LicenseIcons and HomePage

[2019-03-29 01:45] janeatcc commented on #165
Let's remember to make this live only in the dev branch and not push to prod yet. Sarah and I still need to review and test. Thanks!

[2019-03-29 05:46] TheCelestial25 commented on #29
@kgodey Ma'am I tried writing tests for two components which are remaining but there was an issue while setting up the environment so it was cumbersome to test those changes online. I will continue to work on this but I request you to remove the "in progress" label so that it would be open and other interested people can work and the results would come faster. Thought informing you will be good. T

[2019-03-29 17:14] kgodey commented on #29
Thanks for the update! Please open a new issue describing the TravisCI behavior; we can investigate and see if it's a bug in our code or the expected result.

[2019-03-30 05:25] TheCelestial25 commented on #29
@kgodey Ma'am this time while I tried to replicate the behavior, the tests passed instead of stalling. Maybe there was an issue with TravisCI when I first encountered the issue. Also, ma'am I wanted to ask is it ideal behavior that TravisCi runs the unit tests written in unmerged PRs because any unit test until approved by you or other mentors has chances for error? If it is not, I would open an i

[2019-03-30 06:26] kgodey commented on #29
Yes, TravisCI should be running on unmerged PRs – we do not want to merge PRs unless all the tests are passing, it helps us verify that nothing broke because of the changes in that PR. If there are failing tests, they need to be fixed before we can merge the PR.

Also there is no need to call me ma'am. :)

[2019-03-30 06:39] TheCelestial25 commented on #29
Thanks, I was talking about running the TravisCI tests by including the unit test changes in that PR. If someone adds a new unit test, should that be run before merging?

[2019-03-30 08:56] kgodey commented on #29
Thanks, for the kind words!

New unit tests should absolutely be run before merging – the `master` branch of the repository is supposed to always be a stable version that can be deployed to production [1], so only code that is fully working should be merged in. Ideally every pull request will include newly written tests to cover the change in functionality and those new tests need to pass in order

[2019-03-30 09:15] TheCelestial25 commented on #29
Thanks for the information! Fingers crossed, I look forward to learn a lot here. :)
Regards to the overhead you mentioned. Does the absence of a bot make things tedious for the mentors here, like assigning issues to people and adding labels?

[2019-03-30 10:57] kgodey commented on #29
I think our team is small enough that there's not a lot of tedious work associated with those kinds of tasks. We do actually have a couple of bots/scripts doing some of that work.

[2019-03-30 11:13] TheCelestial25 commented on #29
Thanks for the reply!

[2019-03-30 17:51] manyaagarwal commented on #169
Is this issue still open? If so, can I work on it?

[2019-03-30 18:14] manyaagarwal commented on #123
Can I work on this issue?

[2019-04-01 14:26] little-wow opened #263 "Pixelated search results"
<img width="1350" alt="Screen Shot 2019-04-01 at 10 24 37 AM" src="https://user-images.githubusercontent.com/7093838/55335107-80751700-5468-11e9-9f7e-dccaa36c241b.png">

[2019-04-01 16:29] #251 closed

[2019-04-01 19:01] aldenstpage commented on #123
Absolutely!

[2019-04-01 22:57] janeatcc commented on #103
<img width="1385" alt="Screen Shot 2019-04-01 at 3 55 47 PM" src="https://user-images.githubusercontent.com/6394777/55364744-b7622180-5496-11e9-9171-75b9aac5fc30.png">

When you click "prevent overscaling" and then unclick it, it results in the above, images together with no white spacing

[2019-04-01 23:00] janeatcc commented on #244
This should happen this week @brenoferreira

[2019-04-01 23:00] janeatcc commented on #231
This should happen this week @brenoferreira

[2019-04-01 23:30] kgodey commented on #103
@janeatcc can you create a new issue for that?

[2019-04-01 23:33] janeatcc opened #264 "multiple image grid bug"
<img width="1385" alt="Screen Shot 2019-04-01 at 3 55 47 PM" src="https://user-images.githubusercontent.com/6394777/55364744-b7622180-5496-11e9-9171-75b9aac5fc30.png">

When you click "prevent overscaling" and then unclick it, it results in the above, images together with no white spacing

_Originally posted by @janeatcc in https://github.com/creativecommons/cccatalog-frontend/issues/103#issuecomm

[2019-04-01 23:34] kgodey commented on #103
I'm going to close this issue since the work is done (other than addressing the bug above).

[2019-04-01 23:34] #103 closed

[2019-04-02 04:38] dhruvkb commented on #263
Hello @little-wow, this is the result of a tradeoff between a filled masonry layout grid and a grey-area padded one. These thumbnails must have been very small in dimension, particularly width, and were therefore stretched out to fill the width of the column. If the results appear pixelated, try checking the option at the top right corner:
- [x] Prevent overscaling

This should return them to thei

[2019-04-02 04:55] dhruvkb commented on #264
For anyone attempting to solve this issue, _myself included_, I've managed to locate the cause of the issue. Clicking the checkbox triggers a styling change on the cell components who take a small amount of time to recalculate their new height. Meanwhile the call to `$redrawVueMasonry()` gets executed with only a subset of cells having completed this recalculation, causing incorrect alignment.

A

[2019-04-02 10:59] little-wow commented on #263
Okay, thanks, that worked, but I don't think that's intuitive as a design function for a few reasons:
1. As an average user, I'm not sure what overscaling means without a few seconds of thought
2. It's all the way to the right and not within my field of vision. I'd suggest maybe moving it up closer to the search results.

[2019-04-02 13:13] dhruvkb commented on #263
@little-wow now that you've experienced the option, what according to you would be a better label for the checkbox? That could be a start.

If the checkbox itself is confusing for the average user, I'd love to work on the issue but with concrete ideas from a UX designer as I have zero experience in the field.

[2019-04-02 13:33] little-wow commented on #263
Maybe try "scale images to box" and move the checkbox closer to the # of search results. @brenoferreira what do you think?

[2019-04-02 18:44] alishamohanty commented on #224
@brenoferreira now you can close the issue :)

[2019-04-02 19:06] #224 closed

[2019-04-02 21:07] soccerdroid opened #265 "Make whole categories of "Get Involved" clickable"
In the [Get Involved](https://network.creativecommons.org/get-involved/) page, I was expecting to be able to click in any part of a given category to see more about it. Instead, I had to move around my mousse until I realized there was a link when hovering over a specific word/spot. I was about to leave the page! The word is not out/underlined, nor it has a different color. This happens in all the

[2019-04-02 21:15] kgodey commented on #265
Thanks for filing this! I'm transferring it to the repository associated with the CC Global Network website.

[2019-04-03 05:35] chihongya commented on #103
。

[2019-04-03 05:40] kgodey commented on #172
I'm closing this issue since we have a download link now.

[2019-04-03 05:40] #172 closed

[2019-04-03 05:41] kgodey commented on #246
We're working on a redesign of the homepage which removes that section entirely so I'm going to close this ticket. Once the homepage redesign has shipped, feel free to open a new ticket if you have suggested improvements.

[2019-04-03 05:41] #246 closed

[2019-04-03 12:53] brenoferreira opened #266 "Add feature flags for social sharing buttons"
Implement feature flags for the social sharing buttons so that they remain disabled in production, at least until #165 is done

[2019-04-03 15:53] #256 closed

[2019-04-03 16:12] KhalidRmb commented on #263
HI! I'm new to CC and would like to work on this. @little-wow May I?

[2019-04-03 17:26] kgodey commented on #263
Go ahead!

[2019-04-04 09:12] #266 closed

[2019-04-04 16:47] pitu367 commented on #263
Hi

[2019-04-04 19:11] janeatcc commented on #165
Here's a test tweet: https://twitter.com/testaccountcc21/status/1113820480916480006.

Questions:
- Are the social metatags in there? If so, how can I see what they are?
- Can we add attribution into the social metatags, or are the metatags purely to display the link and image in Twitter?
- Is this true of FB and Pinterest as well?

[2019-04-04 19:12] janeatcc opened #269 "Social sharing for Pinterest does not yield image in preview"
See attached screenshot in test Pinterest post.

![pinterest test](https://user-images.githubusercontent.com/6394777/55581903-eb298b00-56d2-11e9-87b8-843d8ffdd32b.png)

[2019-04-04 19:14] janeatcc opened #270 "Social sharing for FB does not yield image preview"
See test post screenshots, also link to public test post here: https://www.facebook.com/creata.holmes.5/posts/109861736865359

![Fb test 1](https://user-images.githubusercontent.com/6394777/55581951-12805800-56d3-11e9-9eec-c7023e5811df.png)

![FB test 2](https://user-images.githubusercontent.com/6394777/55581963-1b712980-56d3-11e9-87c4-eb8cd9978e4f.png)

[2019-04-04 19:15] kgodey commented on #269
@janeatcc this is a known issue tracked in https://github.com/creativecommons/cccatalog-frontend/issues/165

[2019-04-04 19:16] kgodey commented on #270
This is a known issue tracked in https://github.com/creativecommons/cccatalog-frontend/issues/165

[2019-04-04 19:17] janeatcc opened #271 "Change language for social sharing buttons"
Keep link to provider (e.g. Flickr page hosting image) as the main link.

But the default suggested language for social media sharing needs to do a couple things:
- Make user aware of CC Search as a product
- Include reference to relevant CC social media account

So change to something like, "I found an image through CC search @creativecommons: [image link]”

Open to suggestions for tweaks!

[2019-04-04 19:18] janeatcc commented on #271
#165

[2019-04-04 19:21] janeatcc commented on #165
Additional question: When a user clicks on a social sharing button, are we simply sending them to the social media site to login with suggested language and social metatags? Or is there anything else that happens in the interim, e.g. logging into our platform in anyway or us hosting any data?

[2019-04-04 19:23] janeatcc commented on #269
Ok I didn't see any references to Pinterest image preview in that issue, which is why I created a new one. We can keep track of all of it in that issue if preferred.

[2019-04-04 19:23] janeatcc commented on #270
Same comment re FB image preview -- no mention in that other issue.

[2019-04-04 19:25] kgodey commented on #270
It's mentioned in the pull request: https://github.com/creativecommons/cccatalog-frontend/pull/214

[2019-04-04 19:27] janeatcc commented on #270
Thought that was just for Twitter. It works for Twitter but not FB or Pinterest

[2019-04-04 19:30] kgodey commented on #270
I thought I had mentioned it, I did test it locally. Let's keep the issue open and we can close it if it gets fixed by the other issue.

[2019-04-04 19:32] little-wow commented on #165
On the test tweet: this is showing the Flickr website, which has baked in Metadata already.
Do you want to send users to the CC Search site or to the original image?

I'm not sure if the social sharing buttons issues //open graph metadata tags for rich snippets are conflating two separate issues?

[2019-04-04 19:32] kgodey commented on #269
That makes sense. Let's keep this issue open and we can close it if it gets fixed by the other issue.

[2019-04-04 19:35] janeatcc commented on #165
We want to send them to the Flickr website.

I don't know -- but I'll let @brenoferreira and others read the question first before moving it to another issue (there is no issue around buttons, only an approved PR right now)

[2019-04-05 00:07] dhruvkb commented on #235
@geekayush since the homepage of Creative Commons has a [favicon](https://creativecommons.org/favicon.ico), CC Search should have one too. I think you should send a PR solving this issue.

[2019-04-05 16:15] #207 closed

[2019-04-05 16:37] #104 closed

[2019-04-05 16:38] brenoferreira commented on #106
Doesn't the "Copy Rich Text" attribution button solve this @janeatcc?

[2019-04-05 16:44] #171 closed

[2019-04-05 16:45] kgodey commented on #167
Duplicate of #168, closing.

[2019-04-05 16:45] #167 closed

[2019-04-05 16:51] aldenstpage commented on #121
It's still an issue. I rewrote the title and description with some additional details.

[2019-04-05 17:08] kgodey commented on #236
@geekayush do you still want to work on this?

[2019-04-05 17:10] kgodey commented on #253
Removing "in progress" tag since there has been no update for 7+ days.

[2019-04-05 17:12] kgodey commented on #165
Removing "in progress" tag since there has been no update for 7+ days.

[2019-04-05 17:30] kgodey opened #272 "Create develop branch and auto-deploy it to a staging environment"
We're going to use a `develop` branch to merge new features in and use a `master` branch only for stable tested releases. This will allow us to merge contributor PRs with more confidence.

[2019-04-05 18:58] sgrepos commented on #121
I'd like to work on this issue

[2019-04-05 19:02] kgodey commented on #121
Go ahead.

[2019-04-05 19:06] geekayush commented on #236
@kgodey Yes. I will submit a PR soon.

[2019-04-05 19:06] geekayush commented on #235
@dhruvkb Okay!

[2019-04-05 20:38] geekayush commented on #250
@brenoferreira @kgodey

How about:
- Giving it rounded corners as that of the above buttons
- Keeping the text color white
- Giving a slightly darker green color on hover
![Screenshot from 2019-04-06 02-01-51](https://user-images.githubusercontent.com/22499864/55655060-bae80680-5810-11e9-9b0b-219abfde1928.png)

[2019-04-05 21:09] geekayush commented on #235
@dhruvkb @kgodey
[https://creativecommons.org](https://creativecommons.org/) uses these favicons as well as an apple touch icon. I believe it might be better to add these to CC Search. What do you people say?
![Screenshot from 2019-04-06 02-31-13](https://user-images.githubusercontent.com/22499864/55656371-4c0cac80-5814-11e9-850e-29788f48bfa1.png)

[2019-04-05 21:11] janeatcc commented on #106
Yes.

[2019-04-05 21:11] #106 closed

[2019-04-06 00:05] farouski commented on #271
I am interested in this but I have some questions? Would you want this text to change the Plain Text and Rich Text output on the catalog? Or would you like the HTML one to be changed as well? Or am I completely lost on what you are looking for.

Looking forward to contributing on this,
Faris M.

[2019-04-06 00:29] janeatcc commented on #271
This is regarding the social sharing buttons that are currently only live in the dev site. See https://github.com/creativecommons/cccatalog-frontend/issues/165

[2019-04-06 03:05] farouski commented on #271
Ran into some small hiccups, getting it working on my local computer, (there were some issues with running it using npm both on my mac and my laptop using arch, but I got it working using docker, I will open an issue for this later). I also had to set the flag to enable social media sharing. Will attempt to solve this :)

[2019-04-07 06:54] dhruvkb commented on #271
@farouski CC does not practice assigning of issues so you should start working on it now and submit a PR as soon as you're ready.

Also since the `Dockerfile` does very little apart from `npm install` the only plausible reason for it to not work outside of Docker that I can think of is a [Node version](https://github.com/creativecommons/cccatalog-frontend/blob/8d186a3fb7ac4c33adc89f3a3e556bb7a807e

[2019-04-07 11:37] farouski commented on #271
@dhruvkb I saw on the guidelines, to wait to be assigned. I have already completed this work, but I guess I might as well submit my PR right? I will also look into the npm differences. Thanks a lot for your help :)

[2019-04-07 17:38] dhruvkb commented on #271
@farouski If someone else is assigned to an issue or if it has the 'In progress' label, you should probably wait for the other person to either solve it or be inactive for atleast a week. But seeing as no one is assigned and that 'Good first issue' is meant to introduce new people such as yourself to the codebase, your PR is more than welcome.

[2019-04-08 13:46] #236 closed

[2019-04-08 22:27] kgodey commented on #235
I'll defer to @brenoferreira

[2019-04-09 07:50] brenoferreira commented on #235
You're welcome to open a PR :)

[2019-04-09 07:51] brenoferreira commented on #271
#274 fixed this

[2019-04-10 00:00] janeatcc opened #277 "copy attribution buttons don't copy on safari"
Version 12.0.2 (14606.3.4)

tried all three buttons and none of them work

[2019-04-10 12:47] elharony commented on #277
We are using the `document.execCommand('copy');` command and it's not supported in `Safari`.
I submitted a PR, hope it fixes the problem! 👍

[2019-04-11 12:02] brenoferreira commented on #231
Fixed in #278

[2019-04-11 12:02] #231 closed

[2019-04-11 15:08] janeatcc opened #280 "remove blue feedback tab on right"
once you add feedback tab on top :)

[2019-04-11 15:56] brenoferreira commented on #280
This is done in #278 :)

[2019-04-11 15:56] #280 closed

[2019-04-11 18:45] janeatcc commented on #165
Reminder to keep this feature flagged for now.

[2019-04-12 08:37] sgrepos commented on #121
@kgodey Unfortunately it's been a busy week and I haven't gotten the chance to work on this. Please remove the in progress label so someone else can work on it.

[2019-04-15 08:22] ashikmeerankutty commented on #121
![image_not_available](https://user-images.githubusercontent.com/10515204/56117400-9a911800-5f85-11e9-878b-3f998609a6c8.jpg)
 How about replacing the current image with this one ?

[2019-04-15 16:48] kgodey commented on #132
This is all done or covered by #174 and #175.

[2019-04-15 16:48] #132 closed

[2019-04-16 14:30] TheCelestial25 commented on #253
May I work on this issue?

[2019-04-16 15:26] kgodey commented on #253
Sure, go ahead.

[2019-04-16 17:58] kgodey opened #283 "Move automated tests from Travis CI to Circle CI"
Per the decision in a previous engineering meeting.

[2019-04-17 05:42] dhruvkb commented on #283
Can I take this up? It seems like an interesting task.

[2019-04-17 05:44] dhruvkb commented on #264
Since no better or more elegant solution has come up in the last two weeks, I'll send in a PR with the solution described above.

[2019-04-17 06:36] kgodey commented on #283
Sure, go ahead

[2019-04-17 06:37] kgodey commented on #283
Let me know if you run into any permission errors, I'll help fix them.

[2019-04-17 14:37] janeatcc commented on #271
Can we change "CC search" to "CC Search"? Small nit, but I'd like to make the Search more prominent in the text, esp since we're not linking back to the platform for this deploy.

Also, this text does not pop up for the FB option when I tested it. Should also read "I found an image through CC Search @creativecommons: https://www.flickr.com/photos/biodivlibrary/9240505252" for FB as well, currently

[2019-04-17 14:37] janeatcc commented on #271
Once the above changes have been made, we can push to prod and turn off feature flag.

[2019-04-17 18:35] janeatcc opened #284 "loading error when filtering by certain providers"
see attached that results from this search: https://ccsearch.creativecommons.org/search?q=natural%20history&provider=museumsvictoria&li=&lt=&searchBy

![museums victoria filter error](https://user-images.githubusercontent.com/6394777/56312404-e9b18700-6104-11e9-9d17-a55b006f9a21.png)

[2019-04-18 00:43] farouski commented on #271
I will attempt to see if I can get this done :)

[2019-04-18 07:19] #175 closed

[2019-04-18 19:03] janeatcc commented on #194
This is still happening: https://ccsearch.creativecommons.org/photos/ac1d6d17-1803-4c0c-9a5c-086f2b4a4c7f

[2019-04-18 19:08] janeatcc opened #285 "remove categories on home page for flip"

[2019-04-18 19:30] janeatcc opened #286 "change url for legacy cc search on flip"
to oldsearch.cc.org or something

[2019-04-18 19:31] janeatcc opened #287 "create header and link to old cc search on flip"
with the following text:

“Looking for the old CC Search portal? Go [here].”

[2019-04-18 19:33] janeatcc opened #288 "Replace header text legacy CC search"
With: “Try new CC Search for images [here].”

[2019-04-18 19:38] janeatcc opened #289 "remove Clarifai logos from tags for flip"

[2019-04-18 19:39] janeatcc opened #290 "update /about page"
including removing Clarifai logo and blurb. Jane will provide updated text here before reassigning to Breno

[2019-04-18 19:42] janeatcc opened #291 "update default language about CC Search that pops up on third party sites"
eg. https://www.facebook.com/creata.holmes.5/posts/109861736865359
“The public beta of a new Creative Commons search tool, meant for testing and feedback. For the legacy search tool, please visit …”

Update to:

"A new Creative Commons search tool for creators seeking to discover and reuse free resources with greater ease and confidence."

[2019-04-18 19:44] janeatcc opened #292 "Update user feedback page text"
Remove ‘beta’ at https://ccsearch.creativecommons.org/feedback so it reads: “Thank you for using CC Search!”

[2019-04-18 19:47] janeatcc opened #293 "Hide 500px on front end"
everywhere it occurs, including:

/about
search results
provider drop-down

[2019-04-18 19:56] janeatcc opened #295 "change license types filter"
Change to "I want something that I can..."
- use for commercial purposes
- modify or adapt

- "use for commercial purposes" includes all PD content + non-NC licenses
- "modify or adapt" includes all PD content + non-ND licenses

[2019-04-18 19:56] janeatcc opened #296 "change order of filters"
So it's
I want something that I can... (change according to issue https://github.com/creativecommons/cccatalog-frontend/issues/295)
All Licenses
All Providers
Search by Creator

[2019-04-18 20:00] janeatcc opened #297 "filter drop-down for home page"
Adding to the home page the same filter UI that's available in the search results page

[2019-04-18 20:02] janeatcc opened #298 "update legal disclaimer"
Jane and Sarah will reassign with draft

[2019-04-18 20:14] janeatcc opened #299 "license NULL text shows up on image page"
See: https://ccsearch.creativecommons.org/photos/5a12583c-8f12-4bf6-b202-25e6089941e9

"CC BY-NC-SA NULL"

[2019-04-18 20:15] janeatcc commented on #194
Here, too: https://ccsearch.creativecommons.org/photos/f8fd15c0-3545-4482-b75d-46950bcd8fa4

[2019-04-18 20:19] janeatcc opened #312 "Hide NYPL on front end for flip"
See https://ccsearch.creativecommons.org/photos/25f499b7-ec62-42ca-8723-2721b60492ea and https://digitalcollections.nypl.org/items/b86eea80-c6b7-012f-5df3-58d385a7bc34#/?uuid=510d47d9-51e2-a3d9-e040-e00a18064a99 for example.

Can't find CC0 on image at provider.

[2019-04-18 20:23] janeatcc opened #300 "search for anything under Museums Victoria returns zero results"
even if you search for specific terms from https://collections.museumvictoria.com.au/specimens/1045165

which should be under CC BY

e.g. try searching for "specimen" or "tiger" or anything.

[2019-04-18 20:29] janeatcc opened #301 "error fetching images from mccord museum"
![mccord museum error](https://user-images.githubusercontent.com/6394777/56389254-eccc7600-61dd-11e9-9cdf-2237c713fab6.png)

happens for every other search term I input

[2019-04-18 20:30] janeatcc opened #302 "search for relevant key terms under mccord museum returns no results"
e.g. see http://collections.musee-mccord.qc.ca/en/collection/artifacts/M977.51

I search for "red lake" which should return something but it doesn't https://ccsearch.creativecommons.org/search?q=red%20lake&provider=mccordmuseum&li=&lt=&searchBy

[2019-04-18 20:37] janeatcc opened #303 "search for any key term in flora-on returns zero results"
Search for any word on https://flora-on.pt/#/haXal

at https://ccsearch.creativecommons.org/search?q=vicia&provider=floraon&li=&lt=&searchBy

[2019-04-18 20:38] janeatcc opened #304 "search for relevant key term on EOL returns zero results"
see https://eol.org/pages/491995

and https://ccsearch.creativecommons.org/search?q=octopus&provider=eol&li=&lt=&searchBy

[2019-04-18 20:43] janeatcc commented on #301
same error for animal diversity web

<img width="1171" alt="animal diversity web errror" src="https://user-images.githubusercontent.com/6394777/56390040-dfb08680-61df-11e9-8e14-29024ba30932.png">

[2019-04-18 20:45] janeatcc opened #305 "relevant search term doesn't yield results for animal diversity web"
see https://animaldiversity.org/accounts/Chrysemys_picta/pictures/collections/contributors/steve_hinshaw/DSC_0534/

and https://ccsearch.creativecommons.org/search?q=turtle&provider=animaldiversity&li=&lt=&searchBy

[2019-04-19 00:19] kgodey commented on #271
Marked as in progress.

[2019-04-19 04:34] dhruvkb commented on #289
@janeatcc is this the expected result?
![image](https://user-images.githubusercontent.com/16580576/56405578-7b96cc80-628a-11e9-834d-7ea445ae5789.png)

Also, what's "flip"?

[2019-04-19 04:57] dhruvkb commented on #299
It appears that our API does not have license version information for this image at hand
[code]

While this is a scraping issue _for this image, in particular at least,_ because the source mentions 4.0 explicitly, what version should we assume if none is specified? Is the latest license version, 4.0, backwards compatible with past licenses?
![image](https://user-images.githubusercontent.com/165805

[2019-04-19 15:45] janeatcc commented on #289
hi @dhruvkb this is going to go into the next sprint. we're flipping cc search beta to be the default at search.cc.org on 30 April.

above but with the "tag by Clarifai" removed.

we'll note whether this one is open for community contribution during our sprint planning meeting in the next hour! :)

[2019-04-19 16:07] #229 closed

[2019-04-19 16:07] #174 closed

[2019-04-19 16:19] janeatcc opened #308 "make source prominent"
on image page. Jane will get back to Breno

[2019-04-19 16:20] janeatcc opened #309 "streamline attribution options"

[2019-04-19 16:22] janeatcc opened #310 "implement reuse metrics"

[2019-04-19 17:28] kgodey commented on #289
@dhruvkb marking this as in progress since you seem to be working on it.

[2019-04-19 17:50] kgodey commented on #291
This is done already.

[2019-04-19 18:03] kgodey commented on #293
This is done.

[2019-04-19 18:03] #293 closed

[2019-04-19 20:33] janeatcc commented on #291
Can we actually update it to ""A new Creative Commons search tool for creators seeking to discover and reuse free resources with greater ease." deleting the 'and confidence' part? thanks.

[2019-04-19 20:47] janeatcc opened #314 "hide IHA holiday ads provider"
on /about
on provider list
on search results

[2019-04-19 21:06] janeatcc commented on #308
Confirm we will go with your plan from Wed! :)

[2019-04-19 22:08] kgodey opened #315 "Implement the functionality of legacy CC Search."
**Is your feature request related to a problem? Please describe.**
We would like to decommission legacy CC Search (https://oldsearch.creativecommons.org/) as soon as possible but it does offer some functionality that the new CC Search does not – the ability to search CC licensed works that are not images. We would like to integrate that functionality into the current site.

**Describe the solution

[2019-04-19 22:45] #288 closed

[2019-04-19 22:45] kgodey commented on #288
Done in https://github.com/creativecommons/search/pull/14

[2019-04-20 05:49] elharony commented on #296
Hi @janeatcc ,

So, you need to re-order the filter, and the new order should be (Left to right):
- All Licences
- All License Types
- All Providers
- Search by Creator

Is that correct? I noticed that you didn't mention the `All Licenses Types` so I just put it after the `All Licenses`.

[2019-04-22 18:28] kgodey commented on #296
@elharony the "All License Types" should be replaced by "I want something I can..." as described in https://github.com/creativecommons/cccatalog-frontend/issues/295

[2019-04-22 19:59] janeatcc commented on #296
Hi @elharony it should be what @kgodey said and this is the order from left to right:

"I want something that I can..." (change according to issue #295)
All Licenses
All Providers
Search by Creator

[2019-04-22 20:54] amazzoccone commented on #179
@kgodey actually not, but i could make a PR with a reference to this issue, it's ok?

[2019-04-22 21:25] kgodey commented on #179
Sure, go ahead!

[2019-04-22 21:48] ahmedkrmn opened #318 "Two providers are missing in the Providers table on the About page"
The `/statistics/image` endpoint of the of the CC Catalog API returns 11 different providers. The providers list on the CC Search About page only shows 9 them.

![Screenshot (120)](https://user-images.githubusercontent.com/20889958/56533716-85edea80-6558-11e9-8c1b-3c4e2ce4de34.png)
Both "500px" and "Museums Victoria" are missing

The issue seems to be caused because these two providers aren't list

[2019-04-22 22:58] janeatcc commented on #168
Closing bc this is covered in https://github.com/creativecommons/cccatalog-frontend/issues/297

[2019-04-22 22:58] #168 closed

[2019-04-23 02:05] elharony commented on #296
Thanks, @kgodey & @janeatcc !
Now I understand it, will fix both issues today.

[2019-04-23 09:38] #314 closed

[2019-04-23 10:22] #296 closed

[2019-04-23 15:30] janeatcc commented on #291
@brenoferreira confirming that we deleted the "and confidence" part tho? :)

[2019-04-23 15:31] janeatcc commented on #291
never mind!

[2019-04-23 15:31] #291 closed

[2019-04-23 15:52] janeatcc commented on #298
Current disclaimer is yellow box at bottom below footer and reads:

Discussing changes today and will assign by EOD

[2019-04-23 15:55] janeatcc opened #326 "add image reuse survey to image page w attribution options"
Jane will assign to breno once this is final w/streamlined options

[2019-04-23 15:56] janeatcc commented on #309
during tomorrow's review, let's make sure this has

- GA referral links
- Html embed
- place for Image reuse survey

[2019-04-23 16:07] #285 closed

[2019-04-23 17:30] kgodey commented on #318
500px was removed on purpose, see https://github.com/creativecommons/cccatalog-frontend/issues/293. We will be hiding those images from the API as well, it just hasn't deployed yet.

I'm not sure about Museums Victoria, @janeatcc would know.

[2019-04-23 18:49] janeatcc opened #327 "no data result for Museums Victoria filter when it says 170 photos are avail"
https://ccsearch.creativecommons.org/search?q=vase&provider=museumsvictoria&li=&lt=&searchBy

![museums victoria bug](https://user-images.githubusercontent.com/6394777/56607608-d21f4600-65bd-11e9-96fe-1dde2c5c090f.png)

[2019-04-23 18:50] janeatcc commented on #318
Museums Victoria should not be missing AFAIK. @sclachar can you confirm?

[2019-04-23 21:34] janeatcc opened #328 "image grid search results -- explore whether this meets accessibility standards"
got feedback that this may cause motion sickness for a user. let's revisit post flip as part of backlog.

[2019-04-23 21:35] janeatcc opened #329 "add donate button"
in some form, post flip and post discussion

[2019-04-23 21:42] janeatcc commented on #298
We are going to remove the disclaimer in the footer and make a place for it with a tooltip on the image page somewhere. @brenoferreira can you take a look at the google doc I send in email and see where it might go? It should be there as a default, perhaps where the image reuse survey is to go.

[2019-04-23 21:47] dhruvkb commented on #328
Animations such as images sliding in and shuffling to rearrange can be eliminated fairly easily using
`transition-duration="0s"` instead of `transition-duration="0.3s"` (present value) in the `SearchGrid` component. The more important problem is to develop a user-friendly UX to allow them to opt-out of this animation.

[2019-04-23 21:48] janeatcc opened #330 "change CC licenses link on new home page to this one"
please change to: https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/

[2019-04-23 21:57] janeatcc commented on #330
never mind don't do this after all

[2019-04-23 21:57] #330 closed

[2019-04-23 22:38] janeatcc commented on #309
Please see email :)

[2019-04-23 22:38] janeatcc commented on #326
Please see email :)

[2019-04-24 08:41] brenoferreira commented on #327
This seems to be a bug on the API. Mind if I move this to the API repo @aldenstpage ?

[2019-04-24 08:53] #283 closed

[2019-04-24 09:27] brenoferreira commented on #318
@ahmedkrmn you seem to be running on `localhost` which talks to the DEV api. That API has a dataset that's for testing purposes and might not contain data from all the providers available in the production API. Am I correct @aldenstpage ?

The Museum Victoria [is listed](https://github.com/creativecommons/cccatalog-frontend/blob/master/src/api/ImageProviderService.js#L73) on the `PROVIDER_NAME_LOO

[2019-04-24 09:30] #312 closed

[2019-04-24 09:43] ahmedkrmn commented on #318
@brenoferreira Changed to config file to use the main API, everything is now listed as expected. The bug has to do with the DEV API then.
Shall I close this issue?

[2019-04-24 16:11] kgodey commented on #318
Thanks @ahmedkrmn. I'll close it.

[2019-04-24 16:11] #318 closed

[2019-04-24 17:45] #287 closed

[2019-04-25 11:46] ahmedkrmn opened #333 "Display issues on small screens"
- On screens with width <= 401 pixels, the **About** and **Feedback** page buttons are shifted down the navigation bar. They are still clickable.

**_Home page:_**

![home](https://user-images.githubusercontent.com/20889958/56733109-7f7d8f80-675f-11e9-9d26-8f24c93ab6ea.gif)

---

**_Feedback page:_**

![feedback](https://user-images.githubusercontent.com/20889958/56732880-e0f12e80-675e-11e9-8955-e

[2019-04-25 15:47] janeatcc opened #334 "hide EOL on front end"
on /about
in search results
in provider drop-down

referencing this issue: https://github.com/creativecommons/cccatalog/issues/148

[2019-04-25 15:52] janeatcc commented on #295
But we should also have it be where a user can click both options, in that case the following results should show --

content that is under PD + non-NC + non-ND licenses, so only content under:

CC0
PDM
CC BY
CC BY-SA

re-opening until we can confirm this is the case

[2019-04-25 15:55] brenoferreira commented on #333
Thanks for pointing this out. I fixed some of these issues on #323

[2019-04-25 16:36] #309 closed

[2019-04-25 16:37] #333 closed

[2019-04-25 16:38] #277 closed

[2019-04-25 17:00] janeatcc opened #335 "Hide Mcccord on front end for now if issue isn't resolved in time"
See https://github.com/creativecommons/cccatalog-api/issues/274

if that isn't resolved in time for flip, please hide on front end:

/about
in search results
in provider drop-down

[2019-04-25 17:02] janeatcc opened #336 "add these providers on front end"
- Svg silh
- Thorvaldsen museum

these providers will be in after ingestion job:
- Rawpixels
- Capl

make sure they are in provider drop-down and /about
deploy to dev so we can test searches before flip

[2019-04-25 18:21] janeatcc commented on #298
reopening bc we still have final changes I'll send along

[2019-04-25 18:25] janeatcc commented on #326
hey @brenoferreira you're still working on adding this, right?

[2019-04-25 18:27] janeatcc opened #337 "svg icons collecting same data as buttons?"
@aldenstpage can you confirm this is the case? eg. see new html embed in dev: https://ccsearch-dev.creativecommons.org/photos/222394df-46ae-4c3e-9a06-dfa02afecdcf

[2019-04-25 21:43] kgodey commented on #123
@brenoferreira as a short term fix, could you updated the related images API call to use the image search endpoint with the original search term instead of looking for images with the same first tag?

I made a separate issue for the longer term fix of adding a related images endpoint to the API: https://github.com/creativecommons/cccatalog-api/issues/286

[2019-04-25 21:50] kgodey commented on #335
@janeatcc Alden and I discussed and we can't resolve the McCord issue in time for the flip because reindexing the data would take too long.

[2019-04-25 21:51] janeatcc commented on #335
ok then let's hide

[2019-04-25 23:41] janeatcc opened #338 "change attribution buttons text in dev"
Button for rich text should read: "Copy rich text"
Hover-over text: keep as is

Button for html should read: "Copy HTML"
Text above html: "Copy the HTML below to embed the attribution in your web page"
Hover-over text: keep as is

[2019-04-25 23:46] janeatcc opened #339 ""verify at source - Flickr" change on dev"
Change to "Verify at the source: Flickr"

And can only the source, e.g. Flickr, be hyperlinked?

The dash "-" makes it seem like an afterthought.

[2019-04-25 23:56] janeatcc opened #340 "change to text on feedback tab"
"Thank you for using CC Search! We welcome your ideas for improving the tool below. To report a bug, [click here]. To provide regular user feedback, join the #cc-usability channel on CC Slack."

"To report a bug, [click here]." is the addition with @kgodey's suggestion from Slack that it just link to header down on the page "Report a bug"

[2019-04-26 04:33] janeatcc commented on #298
please update with final text in [google doc](https://docs.google.com/document/d/1R7FcGjiwE9y_nz0hQy8k7yisdgh9V23rva3enoqJd6c/edit#) sent in email -- not open to public.

[2019-04-26 04:34] janeatcc commented on #290
please update with final text in [google doc](please update with final text in [google doc](https://docs.google.com/document/d/1R7FcGjiwE9y_nz0hQy8k7yisdgh9V23rva3enoqJd6c/edit#) sent in email -- not open to public.) sent in email -- not open to public.

[2019-04-26 12:05] #336 closed

[2019-04-26 12:08] #334 closed

[2019-04-26 12:08] #335 closed

[2019-04-26 13:03] ahmedkrmn opened #343 "Overlapping images after "Prevent Overscaling" is unchecked"
After checking the "Prevent overscaling" option and unchecking it again, the search results overlaps. Here's a gif that shows the bug.

![prevent overscalling2](https://user-images.githubusercontent.com/20889958/56808644-42ce9880-6832-11e9-82b4-f27e157c7915.gif)

Tested on: Chrome & Edge

[2019-04-26 14:20] #340 closed

[2019-04-26 14:21] #298 closed

[2019-04-26 14:58] janeatcc commented on #299
This is a non-critical bug I'm moving to backlog for us to deal with.

We can't supplement with license version manually b/c there is more than one license and the site's terms don't specify for more than one license. See: https://github.com/creativecommons/cccatalog/issues/149. And

[2019-04-26 15:00] janeatcc commented on #343
This is a duplicate of https://github.com/creativecommons/cccatalog-frontend/issues/264 so closing but referencing there bc it's a great gif :)

[2019-04-26 15:00] #343 closed

[2019-04-26 15:00] janeatcc commented on #264
See https://github.com/creativecommons/cccatalog-frontend/issues/343

[2019-04-26 19:33] janeatcc commented on #337
Are we collecting analytics on https://ccsearch-dev.creativecommons.org/static/img/cc-by_icon.svg ?

[2019-04-26 19:38] aldenstpage commented on #337
It needs to be embedded somehwere for me to test it - let's see
![cc-by](https://ccsearch-dev.creativecommons.org/static/img/cc-by_icon.svg)

[2019-04-26 19:51] aldenstpage commented on #337
Yes, we can see where the images are embedded

[2019-04-26 19:51] #337 closed

[2019-04-26 19:55] janeatcc commented on #338
Change text above HTML to:

"Copy the HTML below to embed the attribution with license icons in your web page"

[2019-04-26 19:56] janeatcc commented on #338
Also change hover-over text to: "Copy the HTML to embed the attribution with license icons in your web page"

[2019-04-26 20:59] janeatcc opened #345 "wrong url for CC0"
see https://ccsearch-dev.creativecommons.org/photos/75abec02-d1db-4d5f-90ee-cece6c2491ba

wrong url for cc0 in linked text, should be https://creativecommons.org/publicdomain/zero/1.0/?ref=ccsearch

[2019-04-26 21:01] janeatcc opened #346 "GA referral links are the same but should be different?"
GA referral links should be different for rich text attribution vs html attribution in order for us to track which was used, right @aldenstpage ?

see https://ccsearch-dev.creativecommons.org/photos/75abec02-d1db-4d5f-90ee-cece6c2491ba for example

both attributions use "?ref=ccsearch" but should be something like:

Rich text: https://creativecommons.org/licenses/by/4.0/?ref=ccsearch&atype=rich
Ht

[2019-04-26 21:42] aldenstpage commented on #346
That's right, if you want to track different attribution types the referer query string will have to be different

[2019-04-26 22:03] janeatcc commented on #346
ok @brenoferreira please change Monday :)

[2019-04-27 22:07] elharony commented on #295
Hi @janeatcc ,

I believe @brenoferreira fixed it. Didn't he?

[2019-04-27 23:29] elharony commented on #345
Hi @janeatcc ,

I reviewed this bug, and I've found the root of this issue & submitted a PR to solve it.
Looking forward to @brenoferreira 's review! 📝

[2019-04-28 01:22] elharony commented on #339
Did @brenoferreira fix it? If not, please let me know, and I will fix it today.

[2019-04-28 01:23] elharony commented on #339
Hi @janeatcc ,
Did @brenoferreira fix it? If not, please let me know, and I will fix it today.

[2019-04-29 15:18] janeatcc commented on #295
Yes! Thank you.

[2019-04-29 15:18] #295 closed

[2019-04-29 16:27] #289 closed

[2019-04-29 16:45] #339 closed

[2019-04-29 16:45] #338 closed

[2019-04-29 16:46] #346 closed

[2019-04-29 16:49] #123 closed

[2019-04-29 17:55] janeatcc commented on #290
fix typo -- add space "strategy and roadmap for CC Search hereand" so it reads "strategy and roadmap for CC Search here and" while retaining link

[2019-04-29 17:59] janeatcc opened #352 "html embed icons show up vertically"
see https://creativecommons.org/?p=55881&preview=true

cc staff has to be logged into WP to see.

[2019-04-29 18:01] janeatcc opened #353 ""copy rich text" copies icons as well but shows dots in progress on paste"
see https://docs.google.com/document/d/1HTJdlw7VQ-4D0KsHLDYoutndI8uMmizyOer4dVcmfTY/edit for example

either have it not copy icons or something?

[2019-04-29 18:06] janeatcc commented on #310
this is done I think

[2019-04-29 18:06] #310 closed

[2019-04-29 18:07] janeatcc commented on #308
Need to add logos to info tab, but this can wait til after flip

[2019-04-29 18:31] janeatcc commented on #290
also need a space here "For more details, read theCC Terms of Use." between the and terms of use

[2019-04-29 19:06] janeatcc commented on #352
![image](https://user-images.githubusercontent.com/6394777/56920115-3edf8800-6a77-11e9-8070-2a7999f9884c.png)

[2019-04-29 19:15] janeatcc commented on #352
@kgodey can you tag Hugo in this issue? I can't find him in my list. @brenoferreira thinks it has to do with cc wp styles, so we're going to diagnose this post-flip

[2019-04-29 19:18] kgodey commented on #352
Added, @hugosolar did not have write permissions to this repository but that's fixed now.

[2019-04-29 20:29] hankolsen commented on #297
I'm interested in taking a look at this!

[2019-04-29 21:01] kgodey commented on #297
go ahead @hankolsen

[2019-04-29 21:07] janeatcc opened #354 "mobile interface bug for android"
On Firefox for Android (tested in version 62 & 66.02), the main CC logo overlaps the text above it.

(can wait til after flip)

![Screenshot_20190430-072929](https://user-images.githubusercontent.com/6394777/56927103-262b9e00-6a88-11e9-8701-c18d7d55c4ad.png)

[2019-04-30 03:22] hugosolar commented on #352
Sorry but I don't have context about this, but this code is generated by cc-search?
I think the problem isn't cc.org's styles because all img elements are displayed as a block and that's fine for most of the content unless you specify right or left alignment.
If each icon element could have a `display: inline-block;` property it will fix the alignment issue

<img width="550" alt="Screen Shot 2019-

[2019-04-30 03:56] janeatcc commented on #352
interesting! @brenoferreira what do you think?

[2019-04-30 03:57] janeatcc commented on #352
@hugosolar yes, if you try the dev site and try copying html and pasting it into WP that's what you get on cc. see https://ccsearch-dev.creativecommons.org/photos/d383a95c-7bd8-4e3c-a648-b809539ca7f6

[2019-04-30 04:29] elharony commented on #290
It's easier to do it myself, and let @brenoferreira focus on other stubborn issues! 😄

[2019-04-30 06:07] brenoferreira commented on #345
@aldenstpage fixed it on https://github.com/creativecommons/cccatalog-api/issues/289

[2019-04-30 06:07] #345 closed

[2019-04-30 06:12] #290 closed

[2019-04-30 06:17] #354 closed

[2019-04-30 08:37] hankolsen commented on #297
After thinking about this for a while, my suggestion is to add a "Advanced Search" link on the Home page:

![image](https://user-images.githubusercontent.com/1008390/56948834-a1955a00-6b31-11e9-8fad-d9fa7228215b.png)

(It should most likely be placed to the right closer to the magnifying glass button than in the screenshot)

When the user clicks the Advanced-link, the Browse page is opened with th

[2019-04-30 10:08] hankolsen commented on #297
The classic comparison:

![image](https://user-images.githubusercontent.com/1008390/56955043-9dbd0400-6b40-11e9-9d56-4c7f039b143f.png)

[2019-04-30 11:50] hugosolar commented on #352
Ok, I see it.
I think we have two options here:
- add `display: inline-block;` property to each attribution images
- adding a class to the wrap element and create a custom style on cc.org, but it'll be less generic

[2019-04-30 11:55] little-wow opened #358 "Search holds on to last search result"
see GIF

![cc-search](https://user-images.githubusercontent.com/7093838/56959954-43f71280-6b1d-11e9-986c-ab48785d8ca0.gif)

[2019-04-30 14:16] janeatcc commented on #358
can you say a little more about this @little-wow ? all I see in the gif is you searching for "moon phases"  ?

[2019-04-30 14:17] little-wow commented on #358
I searched for "flowers" before I searched for "moon phases" and there's a brief flash of flower results before the moon phases

[2019-04-30 14:17] janeatcc commented on #352
Ok -- so this is both an issue with the icons in the html on CC Search and the styling on cc.org?

@brenoferreira what do you think?

[2019-04-30 14:18] janeatcc commented on #358
hm, that may just be a remnant, but not a bug. adding @aldenstpage to investigate

[2019-04-30 14:45] aldenstpage commented on #358
This looks like a front end issue to me, likely that the app is retaining old searches until they are overwritten with new results. There's no relationship between individual search queries on the backend.

[2019-04-30 15:14] brenoferreira commented on #358
It's a frontend issue. I'll look into the cause. Thanks for spotting this @little-wow

[2019-04-30 15:14] elharony commented on #358
I agree with you, @aldenstpage . It seems like a Front end issue!
Can I work on it?

[2019-04-30 15:17] elharony commented on #358
Oh... I didn't see your comment @brenoferreira (almost 5 seconds late)
If it's not an urgent bug; Can you give me a one-day to fix it? If I can't fix it, I will tell you what I've found (i.e. Brief Report)!

[2019-04-30 15:17] brenoferreira commented on #358
Sounds good

[2019-04-30 15:28] brenoferreira commented on #352
I agree with @hugosolar to add the `display: inline-block;` to the generated HTML, so it does't require changes on websites that use it

[2019-04-30 15:29] janeatcc commented on #352
ok, let's try it!

[2019-04-30 16:26] janeatcc commented on #326
I realized there's no way to tell which image the responded surveys are for. is there a way to address this, e.g. add a referral link for the image reuse survey form? or am I missing something obvious?

[2019-04-30 16:30] janeatcc opened #359 "redirect https://ccsearch.creativecommons.org/ to search.cc.org"
currently doesn't direct to anything

[2019-04-30 16:33] janeatcc commented on #157
I think this is an accessibility issue we need to address. Also got feedback from a user already that they didn't like it (in addition to issue WRT images moving around: https://github.com/creativecommons/cccatalog-frontend/issues/328)

[2019-04-30 16:36] janeatcc commented on #297
Interesting, thanks @hankolsen! I'm interested in @kgodey and @brenoferreira's feedback, as I think this is a priority item and people are missing the filters on the home page.

[2019-04-30 16:39] janeatcc opened #360 "Search is no longer saved at wayback machine at archive.org"
see https://web.archive.org/web/20190430161430/https://search.creativecommons.org/ for example

[2019-04-30 16:46] mattl opened #361 "Make the dropbox options more obvious, perhaps with a checkbox"
![image](https://user-images.githubusercontent.com/33296/56978617-e925e100-6b45-11e9-97be-cdbdb0670282.png)

It's really not clear that these are multiple choice options.

[2019-04-30 17:23] kgodey commented on #359
@janeatcc I set this domain redirection up last night and `https://ccsearch.creativecommons.org/` is redirecting to `https://search.creativecommons.org/` for me. could you try a hard refresh and see if that works?

[2019-04-30 17:27] janeatcc commented on #359
yes, working now!

[2019-04-30 17:27] #359 closed

[2019-04-30 18:19] kgodey commented on #297
I agree that hiding by default seems like the best option, it keeps things clean. I think we need a more polished design, though – maybe a second icon next to the search icon with a filter symbol or maybe a separate button?

[2019-04-30 19:12] janeatcc commented on #297
Yes, hiding by default. But still want the drop-down to happen on the home page like it does on the search results page. Not sure if this is technically feasible as @hankolsen says

[2019-04-30 19:45] hankolsen commented on #361
Drop downs should generally not be used when there are only two option. Go for checkboxes instead.

"In General, Avoid Drop-Downs When There Are More Than 10 or Fewer Than 5 Options"
Source: https://baymard.com/blog/drop-down-usability

[2019-04-30 19:49] hankolsen commented on #297
It is technically feasible, we just have to create a new component instead of re-using the exact one from the Browse page.

However, it does need a new design, since the width of the filter is much wider than the input field.
![image](https://user-images.githubusercontent.com/1008390/56989052-ccaf9600-6b91-11e9-844a-fd337cbaa2a8.png)

[2019-04-30 19:54] janeatcc commented on #297
Got it. Let's aim for that then. I'll defer to @brenoferreira on how

[2019-04-30 20:28] kgodey opened #362 "Not enough space between search box and title"
See screenshot.
![CC Search](https://user-images.githubusercontent.com/287034/56991090-dc64b580-6b64-11e9-95b0-02ac0c1859e6.png)

[2019-05-01 04:44] kgodey commented on #253
@TheCelestial25 are you still working on this?

[2019-05-01 04:45] kgodey commented on #121
Marking as in progress since there's an open PR.

[2019-05-01 04:46] kgodey commented on #245
We removed that section from the homepage so closing this issue.

[2019-05-01 04:46] #245 closed

[2019-05-01 08:22] TheCelestial25 commented on #253
Sorry ma'am, I'd been occupied with my end semester exams. I plan to work on this issue in the weekend. If you wish please remove the label. I'll make PR if nobody else does til then. Thanks.

[2019-05-01 10:29] hankolsen commented on #297
Suggestion:
![SelectLicense](https://user-images.githubusercontent.com/1008390/57013640-ca3e5200-6c0c-11e9-8bcf-a4ba4cd942f2.png)
![SelectProvider](https://user-images.githubusercontent.com/1008390/57013641-ca3e5200-6c0c-11e9-8d6c-4a3df4621bfd.png)

[2019-05-01 15:12] nishantsethi opened #363 "Auto correct feature in CC Search"
As the CC Search has just got out of beta and is now public, there should be an autocorrect option so that if a user has by chance entered the spelling of a word wrong, an option to correct it, could be displayed.

For now, a dictionary can be made(js or any other language) and the text can be checked for errors before sending the API request.

The output of the auto correct would be something lik

[2019-05-01 15:13] nishantsethi commented on #362
Working on this.

[2019-05-01 16:55] janeatcc opened #365 "unicode characters escape upon searching"
some results containing Unicode characters escape, e.g. search for "Zlín" (https://ccsearch.creativecommons.org/search?q=zl%C3%ADn&provider&li&lt&searchBy) and
the 5th result in the search is escaped as "Ba\u0165ovy z\xe1vody".

When you click on the photo, the title is shown correctly as "Baťovy závody". See https://ccsearch.creativecommons.org/photos/7374006e-360f-4d6d-b975-19988c7fde84

[2019-05-01 17:03] #353 closed

[2019-05-01 17:17] #352 closed

[2019-05-01 17:38] elharony commented on #358
Hi @brenoferreira ,
Unfortunately, I couldn't fix it by myself but I've listed all my thoughts & walkthrough to shorten the estimated work time for you to fix it.

---

In the `SearchGrid.vue`, we reset everything if the Search is changed:
[code]
But, we don't apply this function if the user get redirected to another page. Well, I am not sure if we should even do it!

Here is a user story to expla

[2019-05-01 20:46] janeatcc opened #368 "no data result for CAPL even though it says image are available"
https://search.creativecommons.org/search?q=flower&provider=CAPL&li=&lt=&searchBy

![image](https://user-images.githubusercontent.com/6394777/57041573-7422dc00-6c17-11e9-9ede-20fc875743c5.png)

might be same as https://github.com/creativecommons/cccatalog-api/issues/280 but not sure

[2019-05-01 21:25] aldenstpage commented on #368
That's weird. They show up in the API, see here - http://api.creativecommons.engineering/image/search?q=flowers&provider=CAPL.

It's not the same as #280 IMO

[2019-05-01 21:35] janeatcc opened #369 "hide image on front end"
please hide https://search.creativecommons.org/photos/8fe608bc-23ea-4791-ac0e-13bab4bf5347

[2019-05-01 22:01] janeatcc opened #370 "footer is too big on iPad"
asking for version and a screenshot from user

[2019-05-01 22:06] elharony commented on #362
I suggest to keep it on the right side of the `navbar` & decrease the `Search` input's `width`... Until we reach the small screens, at that point; Keep it below the links. (With the `navbar` background)

[2019-05-01 22:09] elharony commented on #369
Hi @janeatcc ,

I would like to work on it, but I have 2 questions;
- Why do we need to hide such an image?
- Should we really do it manually via the Front End or it should be done via API?

[2019-05-01 22:16] elharony commented on #326
Hi @janeatcc ,

I would like to help here. Can you please write more details about the follow-up issue after @brenoferreira ' Merged #341?

[2019-05-01 22:52] elharony opened #372 "Fix logo appearance on the footer"
There's a responsive issue with the `logo` at different screen resolutions, it gets minimized/compressed/gets narrower (don't know the exact word to describe it). But I believe the screenshots will explain it:

640px - 790px
![640-790--before](https://user-images.githubusercontent.com/16986422/57048444-47e97880-6c74-11e9-8320-1141fcff4b47.png)

830px - 1150px
![830-1150--before](https://user-image

[2019-05-02 00:13] janeatcc commented on #370
![image1](https://user-images.githubusercontent.com/6394777/57051053-6b8cce80-6c34-11e9-89ec-f7338cac1530.png)

[2019-05-02 00:14] janeatcc commented on #372
Is this issue related to this one? https://github.com/creativecommons/cccatalog-frontend/issues/370

[2019-05-02 00:26] janeatcc commented on #369
I'm not sure -- I'll defer to the team on whether it is done via API or front end.

Thank you for the offer @elharony but this one is best for CC staff! :)

[2019-05-02 00:29] janeatcc commented on #326
The issue is that we get responses from users who opt to fill out the image reuse survey, but the responses are not connected to the specific image or image page that the user is reusing or coming from. The data is more useful if we know which image they are telling us they reused. Is there a way to automate so we know which image they are filling out the form for, by either adding some kind of re

[2019-05-02 00:54] elharony commented on #372
Somehow, it is.

But I am not 100% sure that it will fix #370 , so maybe we can re-test the website after merging #371 to double-check that it works fine.

[2019-05-02 00:56] elharony commented on #369
No problem, @janeatcc. Hope we get it fixed soon! 🙏

[2019-05-02 04:31] amazzoccone opened #373 "Internationalization"
It improves and increases the usability of the platform having it in multiple languages, apart from encapsulate texts in jsons.

We could implement https://github.com/kazupon/vue-i18n , migrating the hardcoded texts in phases to i18n. Once we have the whole site using it, we are able to add languages.
I think it's a long job, but easy and without risk of mistakes and the prize is that people from

[2019-05-02 08:03] brenoferreira commented on #369
I think the API should filter this image from its results.

[2019-05-02 10:18] #372 closed

[2019-05-02 11:18] #235 closed

[2019-05-02 17:26] brenoferreira commented on #370
Do we know what specific iPad this is? iPad mini? iPad Pro?

[2019-05-02 18:40] janeatcc commented on #373
I would like to ask for feedback on this at the global summit during State of CC Search as well! https://sched.co/MhKv

[2019-05-02 19:11] janeatcc commented on #370
It’s an iPad Air 2

[2019-05-02 19:36] janeatcc opened #374 "German characters escape in some tags and not others"
sometimes special characters in tags are shown correctly, see e.g.
https://search.creativecommons.org/photos/1b555cd3-a9f2-4416-b3b4-9763da172734
where the German 'ß' is escaped in the tag 'gro\xdfbritannien'

but works correctly in others, e.g.
https://search.creativecommons.org/photos/ae71221c-b6f2-45a8-8711-cac8392db370
which seem to bear the same tag)

[2019-05-02 19:48] brianredbeard commented on #157
As said rabble-rouser, I'm happy to provide any other context as needed.  Just hail me in this issue.

[2019-05-02 20:30] amazzoccone commented on #373
Sure @janeatcc . I'd like to hear about that feedback after the summit 🙌

[2019-05-03 06:29] elharony commented on #370
After fixing the footer' responsiveness, I am sure this problem has been fixed, as the footer stretched out.
Is that still exist, @brenoferreira , @janeatcc ? If so, please let me know & I will work on it (Sadly, don't have an iPad to test it myself, but it works perfectly fine via the Dev Tools).

[2019-05-03 16:45] kgodey commented on #250
Closing this issue since it was fixed in #323.

[2019-05-03 16:45] #250 closed

[2019-05-03 16:48] kgodey commented on #263
Removing in progress label since there has been no update for a month.

[2019-05-03 17:26] janeatcc commented on #370
@kgodey I assigned you the fresh desk ticket to follow up with after @brenoferreira figures it out. thanks!

[2019-05-03 19:51] kgodey opened #376 "Educate users better on how to get more accurate results for search."
Ideas:
- if people search two or three times rapidly, show a "Can't find what you're looking for? Here's some tips." type message that links to an explanation on how to use search features like AND and NOT and double quotes.

[2019-05-03 20:02] kgodey commented on #297
I'll defer to @janeatcc and @brenoferreira on the styling.

[2019-05-03 20:05] janeatcc commented on #297
thank you @hankolsen ! I think @brenoferreira had some ideas about how this might work. I'll let him get back to you and come up with some mock-ups, etc.

[2019-05-03 20:42] janeatcc opened #377 "screen issues on iPhone and android"
"Search" and "Filter" don't fit here:
![photo_2019-05-03_22-28-49](https://user-images.githubusercontent.com/6394777/57164487-1c1bdf00-6da9-11e9-9084-613bc80f364a.jpg)

If I put the device in landscape mode I can't use the site:
![photo_2019-05-03_22-28-54](https://user-images.githubusercontent.com/6394777/57164494-23db8380-6da9-11e9-8a39-acb7971a7eca.jpg)

If I scroll down in landscape mode the h

[2019-05-04 15:05] endlos99 opened #378 "Search page without Javascript"
**Describe the solution you'd like**
Enter the search query and show the results without relying on Javascript.  Even Google can do it!

[2019-05-05 00:28] elharony commented on #378
Hi @endlos99 ,
Can you please describe the problem & solution?

[2019-05-05 00:29] elharony commented on #378
Hi @endlos99 ,
Can you please give us more details about the problem & solution you suggest?

[2019-05-05 01:03] elharony commented on #377
Hi @janeatcc ,

I've fixed the `footer/homepage` responsive problem in #379 and I will check the `Search/Filter` today as well.

[2019-05-05 01:18] elharony commented on #377
Hi @janeatcc ,

Thanks for reporting those critical UI problems, both issues are solved in #379 & #380! 🙆‍♂

[2019-05-05 01:23] elharony commented on #376
Great idea!

I would like to implement such a feature, but I wonder; How can I determine a `similar` search term? It has to be done via the Database (i.e. `LIKE`). Maybe we can add it to the API in case it returns nothing, and displays those `similar` terms on the Front end?

[2019-05-06 07:44] #377 closed

[2019-05-06 08:49] #368 closed

[2019-05-06 15:10] elharony commented on #370
Hi @janeatcc ,

Is that issue still exists?

[2019-05-07 07:22] brenoferreira commented on #358
Hi @elharony

Thank you for your bug investigation. I took your insights and developed a fix you can see at #382

[2019-05-07 10:05] brenoferreira commented on #370
Tested on an iPad Air 2 and it's working ok. This is fixed in the latest release

[2019-05-07 10:05] #370 closed

[2019-05-07 16:01] elharony commented on #358
You did a great job here, @brenoferreira ! 👋

[2019-05-07 16:50] endlos99 commented on #378
*Problem:* Opening https://search.creativecommons.org/ with Firefox with JavaScript disabled (by NoScript) only shows an empty page.
*Solution:* Make https://search.creativecommons.org/ work without requiring JavaScript.

The same problem/solution apply to this results page, e.g., https://search.creativecommons.org/search?q=music.

[2019-05-07 17:04] elharony commented on #378
Thanks for providing me with more info about this.
I wonder; Is there still a browser/device has a disabled JavaScript? I mean, do we REALLY need to fix such a problem who - almost - no one faces?

[2019-05-07 17:13] endlos99 commented on #378
Well, let me repeat that Google works perfectly fine without JavaScript.

[2019-05-07 17:20] elharony commented on #378
Oh, I read that.
Did you read my previous comment?

[2019-05-07 17:22] elharony commented on #378
Btw, Google still uses `positioned elements` with negative `margin` values to center an element... So, do we need to use the same approach to center a div inside another horizontally/vertically?

[2019-05-07 17:37] endlos99 commented on #378
I'm just asking for sane no-JavaScript fallback.  Your choice.

[2019-05-07 17:58] elharony commented on #378
Well, it's not my choice at all - I am not the Project Maintainer, I am just a contributor who is trying to improve this project. So, no offense here! 😄

Can you please talk a look and share your thoughts with us, @brenoferreira .

[2019-05-07 18:43] brenoferreira commented on #378
We plan to do server side rendering for CC Search in the near future. We're running into some problems, and this is one of them, that can only be fixed by rendering pages on the server, in addition to doing client side rendering. But it's not something so trivial. Right now, the CC Search frontend is served simply by loading static assets from an Nginx server. There's no real backend that loads th

[2019-05-07 18:49] endlos99 commented on #378
Awesome!

[2019-05-09 13:06] mzeinstra opened #383 "Untitled media files could be presented better"
Some media have no title. This is now shown as "" by <X>, etc.

This might be presented differently e.g. call them untitled.

example:

https://search.creativecommons.org/photos/bf5e2ee6-6c9e-4689-956d-3a6ab5ea0c0d

[2019-05-09 13:24] mzeinstra opened #384 "Feature idea: Consider using oEmbed to make embedding even more simple"
oEmbed (https://oembed.com/) is a simple way to just copy/paste the URL of the page into your oEmbed ready tool to include image and proper attribution.

Is this on the roadmap?

[2019-05-10 13:46] kgodey commented on #376
@elharony that is a good idea but I think that's best done in a separate ticket. This ticket is just to explain the search options we already have. [Here's the API pull request](https://github.com/creativecommons/cccatalog-api/pull/211) which added Lucene style syntax and [here's documentation of the syntax](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html).

Feel free to make the new t

[2019-05-20 12:36] #358 closed

[2019-05-20 12:42] #179 closed

[2019-05-20 13:04] #253 closed

[2019-05-20 13:54] brenoferreira commented on #384
This is a great idea. I'll move this to the API repo, which is more suitable for this issue

[2019-05-20 14:58] #121 closed

[2019-05-20 15:12] #328 closed

[2019-05-20 23:45] amazzoccone commented on #373
Any news on this @janeatcc ?

[2019-05-21 17:12] kgodey opened #389 "Implement browse by collection/provider"
Related backend issue: https://github.com/creativecommons/cccatalog-api/issues/205

[2019-05-22 14:40] Dharmesh-Poddar commented on #383
@mzeinstra can I work on it..

[2019-05-22 14:42] Dharmesh-Poddar commented on #363
@nishantsethi can I work on it..

[2019-05-22 16:51] kgodey commented on #383
@Dharmesh-Poddar sure go ahead

[2019-05-22 16:52] kgodey commented on #363
@Dharmesh-Poddar sure, go ahead.

[2019-05-23 00:12] #272 closed

[2019-05-23 14:04] #374 closed

[2019-05-23 14:04] #365 closed

[2019-05-29 23:00] janeatcc commented on #373
Just back this week from vacation and I'm collecting and synthesizing feedback soon. Will keep you posted!

[2019-05-30 16:37] #326 closed

[2019-05-30 17:02] kgodey opened #392 "A/B testing infrastructure research"
Research A/B testing tools and provide a recommendation for what tool we should use.

[2019-05-30 17:03] janeatcc opened #393 "discuss watermark"

[2019-05-30 22:14] janeatcc commented on #299
@sclachar do we get images from this provider via API or common crawl?

[2019-05-30 22:23] sclachar commented on #299
This is a Common Crawl provider.

[2019-05-30 22:36] janeatcc opened #394 "review all feedback and synthesize and prioritize"

[2019-05-31 23:02] janeatcc opened #395 "hide raw pixel on front end for now"
until we can get them in using their API, via this issue: https://github.com/creativecommons/cccatalog/issues/159

[2019-06-04 18:38] brenoferreira commented on #395
@aldenstpage have you removed Rawpixel from the API results?

[2019-06-04 21:10] aldenstpage commented on #395
It's been removed.

[2019-06-04 21:10] #395 closed

[2019-06-05 21:31] janeatcc opened #397 "create GA events for social media sharing buttons"

[2019-06-06 21:19] #389 closed

[2019-06-07 18:32] janeatcc opened #398 "change /about text and links"
change to

Learn more about CC’s [2019 vision, strategy](https://creativecommons.org/2019/03/19/cc-search/) and [roadmap](https://docs.google.com/document/d/19yH2V5K4nzWgEXaZhkzD1egzrRayyDdxlzxZOTCm_pc/edit#) for CC Search and see what [we’re currently working on](https://github.com/orgs/creativecommons/projects/7).

[2019-06-13 06:08] makkoncept opened #400 "Lower opacity on license icons in the HTML code of image attribution and also no space between image name and "by" in rendered attribution."
**Describe the bug**
The HTML code for image attribution that the user can copy has a permanent `opacity:.7` in license icons style.
Also, there is no space between "image title" and the rest of the attribution sentence in the HTML code.
Please check the screenshots below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/photos/6063b102-9445-47e5-b3a3-

[2019-06-13 12:56] #308 closed

[2019-06-13 16:40] tvol opened #402 "no images appear when clicking on https://search.creativecommons.org/collections/WoRMS in "browse by collection""
**Describe the bug**
In "browse collection" view https://search.creativecommons.org/collections/WoRMS returns no image results.

[2019-06-13 20:09] janeatcc opened #403 "redundant search terms on same page, also usability issue"
see https://search.creativecommons.org/search?q=cat&provider&li&lt&searchBy. I kept going to the larger type cat and trying to type. I question do we need that at all?

[2019-06-14 16:34] #402 closed

[2019-06-14 17:19] aldenstpage commented on #402
Thanks Tim, I fixed this issue.

[2019-06-14 17:36] kgodey commented on #392
Options considered: [2019-06 A/B testing tool comparison](https://docs.google.com/spreadsheets/d/1OnnikCbIbxWSmHlVH3eKOu04ErLV7zOEPCnt8eOuXCE/) (document only accessible to CC staff).

[2019-06-14 17:36] tvol commented on #402
thanks!

[2019-06-14 17:51] kgodey opened #404 "Support server-side rendering"
Serve frontend using a Node server rather than only serving static files.

[2019-06-14 18:17] kgodey opened #405 "Update related images feature to use new API endpoint"
API issue: https://github.com/creativecommons/cccatalog-api/issues/286

[2019-06-14 19:07] kgodey opened #406 "Conduct usability test"

[2019-06-14 19:08] kgodey opened #407 "External contributor process/guide for new features"
Draft (internal only): https://docs.google.com/document/d/1_biDhT1l_HNGM8xT5xccHocZ0KmvmpLH3-fZbgLk28E/edit#heading=h.2d275bfi1nb

[2019-06-17 17:34] janeatcc opened #409 "add provider logos to "verify at source""
same as we have for image info tab, but experiment with presentation in UI

[2019-06-18 11:23] mzeinstra opened #410 "CC0 image attribution could be improved"
example CC0 image provides a rich text that is not common practice in current set up. It states licensed under CC CC0 1.0 where CC0 1.0 would suffice.

e.g. https://search.creativecommons.org/photos/8a49e425-752a-4c20-afa1-0e10a1ae11e6

provides rich text attribution:
`"Tractor Marks in a Field of Grass" by Image Catalog is licensed under CC CC0 1.0`

I would suggest removing the first CC and chan

[2019-06-20 21:28] kgodey opened #412 "Link to CC.org should open in a new tab"
Link in "Learn more about CC licenses here." on the homepage should open in a new tab/window so that the user doesn't have to navigate back to CC Search after learning about the licenses.

[2019-06-20 23:38] janeatcc commented on #373
So I think right now the plan is to depend on the translation infrastructure for cc.org, which is being revamped.

[2019-06-24 19:56] kgodey opened #414 "Search relevance improvements"

[2019-06-25 13:47] #398 closed

[2019-06-26 13:41] #397 closed

[2019-06-26 19:57] #376 closed

[2019-06-27 15:09] #403 closed

[2019-06-27 15:29] #405 closed

[2019-06-27 22:18] kgodey commented on #414
Ignore this issue. I'm testing Zenhub.

[2019-06-28 15:36] janeatcc opened #421 "syntax guide link text placement on dev + other changes to page"
seems like it should not be sitting on the footer for aesthetic reasons

[2019-06-30 01:54] realJema commented on #412
Hello
Am a Newcomer and I will like to work on this issue

[2019-07-01 16:42] #297 closed

[2019-07-01 23:33] janeatcc commented on #421
typo on syntax page, space needed here:

between "sky" and AND

[2019-07-01 23:34] janeatcc commented on #421
I think there should be a note at the top of the page that you can also simply use advanced filters on the search results page, e.g. if you click on filter there will a drop-down.

[2019-07-02 16:52] #421 closed

[2019-07-02 17:10] makkoncept opened #423 "Image height of over 80,000 px on search results of "search""
**Describe the bug**
After a couple of scrolls, the search result of query `search` gives an image which is over 80,000px in height. See the video link below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://search.creativecommons.org/search?q=search&provider&li&lt&searchBy
3. Scroll down a bit.

**Screenshots**
![Screenshot from 2019-07-02 22-36-23](https://user-images.githubuse

[2019-07-08 15:55] kgodey commented on #412
@realJema go ahead!

[2019-07-10 20:10] janeatcc opened #424 "add advanced search link to home page"
...

[2019-07-11 00:29] #394 closed

[2019-07-11 00:39] #406 closed

[2019-07-11 01:02] kgodey commented on #329
Assigned to me to discuss with Jami.

[2019-07-11 19:51] #393 closed

[2019-07-11 22:05] kgodey commented on #165
I'm closing this issue since we have metatags and the remaining issues are captured in #269 and #270.

[2019-07-11 22:05] #165 closed

[2019-07-11 23:29] kgodey commented on #29
Closing this in favor of #232.

[2019-07-11 23:29] #29 closed

[2019-07-12 00:14] kgodey opened #425 "Allow users to report problematic content"
See https://github.com/creativecommons/cccatalog-frontend/issues/848

Look at **Frontend Functionality - Reporting UI**

The frontend functionality should use components from Vocabulary. The [wireframe](https://app.moqups.com/OD23yiSWK9/edit/page/a3da463b6) shows content and layout, not style.

[2019-07-12 22:44] kgodey opened #426 "Create plan/spec for storing usage data from frontend"
We want to store CC Search usage data to measure changes in people are using CC Search over time and to measure behavioral changes in A/B test experiments.

The scope of this issue is to figure out how to implement this, what backend or third-party service to use, and how to integrate it with our A/B testing infrastructure so that we can segment users based on any A/B tests they are a part of and

[2019-07-12 23:02] kgodey commented on #392
I did the research, waiting on https://github.com/creativecommons/cccatalog-api/issues/320 to be done before we make the final decision.

[2019-07-12 23:02] #392 closed

[2019-07-12 23:05] kgodey opened #427 "Implement frontend A/B testing infrastructure"
Implement whatever infrastructure we decide on in #320.

[2019-07-12 23:10] kgodey opened #428 "Implement usage data collection"
See https://github.com/creativecommons/cccatalog-frontend/issues/426 for details

[2019-07-12 23:13] kgodey opened #429 "Write blog post about CC Search redesign for 1.0"

[2019-07-18 18:55] aldenstpage commented on #426
### Implementation
I don't think there are any off-the-shelf tools that will fit this use case, at least without a lot of customization. I would suggest tracking all of these traits through server-side processing (implemented in the API layer):

This one will of course need to be communicated to the backend from a front-end API call:

Maybe someone who is a bit more of a Google Analytics expert (@

[2019-07-18 20:10] aldenstpage commented on #426
Some suggestions after I discussed this with @kgodey:
- Would be a good idea to have a separate server outside of the API handling analytics requests to keep the API cleanly separated. Alternative is hiding analytics endpoints from the docs (messy). A lightweight CRUD analytics API service shouldn't be too much effort to put together, although it will take some additional hardware resources and in

[2019-07-18 22:58] kgodey commented on #429
This is live.

[2019-07-18 22:58] #429 closed

[2019-07-18 23:27] kgodey opened #430 "Set up a dashboard to track all reuse metrics for CC Search"

[2019-07-18 23:29] kgodey opened #431 "Q3 2019 user-requested filters to refine search results"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-18 23:30] kgodey opened #432 "Build filter for image ratio"
We want to add a filter to CC Search, to allow users to filter by image ratio. The ratios we'd like to allow people to filter by are:
- Tall
- Wide
- Square
- Other

Users should be able to select one or more of these filters. When no ratio filter is selected (i.e. no option is checked), all ratio types should be shown.

This ticket will be preceded by [Create Left Hand Side Bar for Filters #529]

[2019-07-18 23:31] kgodey opened #433 "Build filter for file type"
We want to add a filter to CC Search, to allow users to filter by file type, regardless of the content type. The types of file types we'd like users to be able to filter by at this stage are all image file types, as that is the only content type we currently have ingested. However, we'll need to build this filter in such a way that is dynamically updates, if possible, as new file types are added t

[2019-07-18 23:32] kgodey opened #434 "Experimental filter for filtering images by location"

[2019-07-18 23:32] kgodey opened #435 "Build filter for NSFW/mature content"
See https://github.com/creativecommons/cccatalog-frontend/issues/848 for implementation details.

[2019-07-18 23:33] kgodey opened #436 "Build filter for filtering by type of image (illustration/vector/photo)"
We want to add a filter to CC Search, to allow users to filter by type of image. The types of images we'd like users to be able to filter by are:
- illustration
- vector
- photo
- digitized artwork

Users should be able to select one or more of these filters. When no image type filter is selected (i.e. no option is checked), all image types should be shown. If a user selects more than one filter,

[2019-07-19 00:27] kgodey opened #437 "PhyloPic, McCord Museum, and Wikimedia Commons are missing logos"
See https://search.creativecommons.org/collections

[2019-07-19 00:29] kgodey opened #438 "Add Wikimedia Commons to frontend"
Wikimedia Commons has been added to the production database. Please ensure it shows up correctly in the frontend and that it has a logo on the collections page.

[2019-07-19 21:52] #438 closed

[2019-07-24 03:13] ericsteuer commented on #437
i came here to report this very bug!

[2019-07-25 01:56] geekayush commented on #412
@kgodey @realJema Still open? I would like to contribute.

[2019-07-25 06:14] kgodey commented on #412
@geekayush go ahead!

[2019-07-25 13:24] #404 closed

[2019-07-25 18:44] kgodey opened #440 "Allow users to report copyright content for removal"
e.g. CC-licensed images that contain corporate logos

[2019-07-25 18:45] kgodey opened #441 "Allow users to submit CC-licensed content to Search"

[2019-07-25 18:48] kgodey opened #442 "Add a "recently added content" section to the site"

[2019-07-25 18:49] kgodey opened #443 "Feature "Contribute on GitHub" link or text in a more prominent place"

[2019-07-25 18:51] kgodey opened #444 "Allow users to sign up for usability testing through CC Search"
UI is TBD

[2019-07-25 19:57] kgodey commented on #434
Possible use case: searching for images of a specific disaster

[2019-07-25 20:33] kgodey opened #445 "Change "Provider" to "Source""
"Provider" is a confusing term, "source" is a more commonly used term that's easier to understand. Please replace all references to "provider" with "source".

[2019-07-25 23:04] #437 closed

[2019-07-26 07:36] geekayush commented on #445
I have replaced all references to "provider" with "source". It is building and serving fine. On running tests, all unit tests pass but e2e tests fail. Can somebody tell why is this happening?
This is the error it is throwing.
[code]

[2019-07-26 17:51] #194 closed

[2019-07-26 18:35] #362 closed

[2019-07-27 04:48] kgodey commented on #426
Closing this since the plan has been created.

[2019-07-27 04:48] #426 closed

[2019-07-29 12:36] #412 closed

[2019-07-30 23:10] kgodey commented on #299
![Worm character puppet   Science Museum Group Collection](https://user-images.githubusercontent.com/287034/62171617-918e4180-b2fd-11e9-8ec3-beb4a8ab5cb9.png)

@sclachar the source page for this specifies 4.0 for the image so I think we should be able to save that information. what is the best way to do that – reprocess this entire provider?

[2019-08-05 11:58] sclachar commented on #299
@kgodey the text specifies 4.0 however if you inspect the hyperlink you will see this provider does not correctly link to a license and that is the reason we are unable to extract the version.

[2019-08-06 16:36] kgodey opened #452 "Allow users to share CC Search images without social media tracking"
Use something like https://github.com/heiseonline/shariff

[2019-08-07 13:46] #157 closed

[2019-08-07 13:52] brenoferreira commented on #452
We don't insert any JS code provided by social platforms in the CC Search page. They're just links to their sharing APIs, as you can see [here](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/components/SocialShareButtons.vue).
I don't think this issue is relevant in our case.

[2019-08-07 15:04] brenoferreira commented on #427
Done in #451

[2019-08-07 15:04] #427 closed

[2019-08-07 15:30] kgodey commented on #452
okay great, thanks!

[2019-08-07 15:30] #452 closed

[2019-08-07 15:46] kgodey commented on #299
I emailed the Science Museum about this and I'll leave it assigned to me until they respond.

[2019-08-07 21:03] brenoferreira opened #453 "Setup error logging"
Use Sentry to send error logs on both browser and SSR.

[2019-08-08 17:25] #453 closed

[2019-08-09 18:47] aldenstpage opened #455 "404 results in 500 internal server error from SSR server"
Instead of displaying a 404 not found, visiting a nonexistent photo will cause a 500 internal server error. See https://search.creativecommons.org/photos/abc123

[2019-08-12 11:37] brenoferreira opened #456 "Error in decodeData causing loading of results to fail"
Error details on https://sentry.io/organizations/creative-commons/issues/1145976848/?project=1525413&query=is%3Aunresolved&statsPeriod=14d (accessible to CC Staff only)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ccsearch.creativecommons.org/search?q=twill&provider&li&lt&searchBy
2. Scroll down to load more images and eventually you should see an error message

It's caused

[2019-08-12 11:50] #456 closed

[2019-08-13 11:49] brenoferreira commented on #410
This is fixed in #447 and is already in production

[2019-08-13 11:49] #410 closed

[2019-08-13 11:55] brenoferreira commented on #378
An update on this:

We shipped the SSR rendering. So now, a few things work without Javascript.
But, currently, we use [this library](https://masonry.desandro.com/) to render search results. And this library isn't compatible with Node, which is what renders CC Search frontend on the server. So, you still won't be able to search without JS enabled.
I'll keep this issue open and we'll think about ho

[2019-08-13 11:56] brenoferreira commented on #360
Done with SSR, as you can see here http://web.archive.org/web/20190813023820/https://search.creativecommons.org/

[2019-08-13 11:56] #360 closed

[2019-08-13 11:58] brenoferreira commented on #264
We don't have that prevent overscaling checkbox anymore, so this is no longer relevant

[2019-08-13 11:58] #264 closed

[2019-08-13 14:54] #455 closed

[2019-08-15 12:00] brenoferreira opened #460 "Optimize server-side rendering"
- [ ] call providers list API only on pages that require the data for rendering
- [ ] research and implement [Vue SSR component caching](https://ssr.vuejs.org/guide/caching.html#page-level-caching)
- [ ] investigate any memory leaks

[2019-08-19 16:32] brenoferreira commented on #428
Search rating missing

[2019-08-19 17:45] kgodey opened #463 "Improve Collections page (description, UI updates)"
We need to improve the overall UI of the Collections page. At present, the Collections page does not offer any context for what it is, nor does the current design work for a large number of Collections, which are anticipated in the coming months.

**Questions to guide the discussion**

What is our goal when it comes to collections?

What's the primary purpose of separating into collections?  Is it

[2019-08-19 17:49] kgodey opened #464 "Make image information easier to find"
During a usability test, a user had trouble finding the creator associated with an image. The amount of information / how it was organized seemed bewildering.

[2019-08-19 17:50] kgodey opened #465 "Provide clear way for users to download images"
It is not clear how users are supposed to download images they find on CC Search.

[2019-08-19 17:51] kgodey opened #466 "Provide explanation of why CC Search does not include same images as other sites like Google Images"
Potentially talk about what CC licenses are, explain that the images we show are from our partners/collaborators.

[2019-08-19 17:53] kgodey opened #467 "Make attribution requirement for using images clearer"
CC Search assumes a familiarity with the attribution requirement.

One example solution, something like what Font Awesome does, which happens once you click "Download".

![FA attribution](https://user-images.githubusercontent.com/287034/63287599-bd5f7000-c288-11e9-856f-e85628adf04c.png)

[2019-08-19 17:58] kgodey opened #468 "Explain commercial use / allow modifications filters more thoroughly"
When people select buttons around commercial/modifications, we should make sure they understand what it means.

[2019-08-19 18:00] kgodey opened #469 "Explain attribution copying options better"
During a usability test, a user manually copied attribution even though there was an easy button to copy the same information.

[2019-08-19 18:01] kgodey opened #470 "Search result filters are not very visible"
During a usability test, a user did not notice the filters existed until he mentioned that we should build filtering in.

[2019-08-19 18:02] kgodey opened #471 "Images without titles display an empty string in quotes"
Instead of showing a title like `""`, we should show something like `Untitled image`.

[2019-08-19 18:06] kgodey opened #472 "Improve social metatags for images"
Right now, the image title and description do not show on social media, there is just a generic title and description for all images e.g. https://twitter.com/cc_opensource/status/1159905115647688704.

[2019-08-19 18:10] kgodey opened #473 "Improve error messages shown on CC Search"
We show "Error fetching images" for all kinds of errors currently. We should show more granular error messages for network request failing, malformed search queries, etc. so that users can give us more detailed error information and also know more about what's going on.

[2019-08-19 18:13] kgodey opened #474 "Ignore single instance of quote in search query"
Currently, if a user inputs a single instance of a double quote in their search term, they see an error. We should strip the quote character from their search term instead so that they can see results.

[2019-08-19 19:11] qualitymanifest commented on #474
I'd like to give this one a try. I got searches with one doublequote working by adding a regex `match` and `replace` in `prepareSearchQueryParams.js`, but it leaves the quotation mark visible in the search box - should that be removed?

[2019-08-19 19:57] qualitymanifest commented on #474
To remove the errant doublequote from the search box as well, it looks like this could go in [`setQuery`](https://github.com/creativecommons/cccatalog-frontend/blob/75b02ec383e602e1b4957e0c19571183eec6c9c8/src/store/search-store.js#L171). I tried it and it works. Just trying to figure a few things out:
1. Is that the best place to do that?
2. Is `params.query.q` guaranteed there, or can it be miss

[2019-08-19 21:41] kgodey commented on #474
tagging @brenoferreira

[2019-08-20 12:18] brenoferreira commented on #474
I think this seems to me more like a bug on the API rather than on the frontend. API clients other the CC Search frontend will face the same problem

[2019-08-20 23:55] #460 closed

[2019-08-23 02:03] kgodey commented on #474
That makes sense to me, tagging @aldenstpage to see what he thinks.

[2019-08-23 14:37] aldenstpage commented on #474
It's not a bug but otherwise I agree that it would be better to help the user out a little bit if there are any unmatched quotes. See the above PR

[2019-08-23 14:37] #474 closed

[2019-08-23 18:54] claudioruiz opened #476 "CC Search: HTML code doesn't show the image"
**Describe the bug**
Pasting the HTML code out of an image found in Search, the resulting code does not show the picture.

**To Reproduce**
I want to use this photo: https://ccsearch.creativecommons.org/photos/49a24211-cded-418f-a167-0e6a3fd04ebf

And using the HTML this is the result: https://publicdomain.community/
Metadata is shown, the picture is not.

This is the HTML code:

`<p style="font-s

[2019-08-23 19:47] kgodey commented on #476
Putting this in the next sprint because it seems like a major bug.

[2019-08-27 23:31] kgodey opened #477 "Commercial filter is applied even when it is not selected."
**Describe the bug**
If you search for something from the CC Search homepage with the "Use for commercial purposes" checkbox checked, then click "back" and do another search, the filter is still applied even though the "Use for commercial purposes" checkbox looks unchecked.

**To Reproduce**
Steps to reproduce the behavior:
1. On https://search.creativecommons.org/, check the "Use for commercial p

[2019-08-28 14:25] #477 closed, assigned to brenoferreira

[2019-08-30 09:31] dhruvkb opened #480 "Clearing filters breaks 'Search by creator'"
The 'Search by creator' filter breaks down when the 'Clear filter' button is clicked.

**To Reproduce**
1. Open CC Search
1. Search for something, say 'van Gogh'
1. Open filters, check 'Search by creator'
1. Clear filters
1. Checking and unchecking 'Search by creator' now has no effect.

**Desktop (please complete the following information):**
 - **OS**: Linux (Fedora 30)
 - **Browser**: Confirmed

[2019-09-05 17:24] aldenstpage opened #481 ""Load More" button loads the first page twice"
**Describe the bug**
The "Load More" button loads the next page of results starting at `page=1`; it should start at `page=2`.

**To Reproduce**
1. Enter a search
2. Click the Load More button with developer tools open
3. Observe the page called by the frontend and the duplication of the results

**Expected behavior**
CC Search should load the second page

[2019-09-09 17:07] aldenstpage commented on #9
We're tracking views on the back end now

[2019-09-09 17:07] #9 closed

[2019-09-10 17:23] brenoferreira opened #482 "Evaluate Foundation CSS replacements"
Evaluate other CSS frameworks which support:

- CSS Grid instead of Flexbox
- CSS only components. No JS library dependency (Foundation depends on jQuery for many components)
- modularity in components imports, so we don't have to import the full CSS library to use only a few components and classes

[2019-09-10 17:33] brenoferreira opened #483 "Refactor search store"
Break up the [search store](https://github.com/creativecommons/cccatalog-frontend/blob/develop/src/store/search-store.js) mutations and action handlers.

Currently, it's responsible for doing searches, loading related images, loading image details. We should break those up into individual stores and think about improving the loading of images actions and mutations

[2019-09-10 17:34] brenoferreira opened #484 "Evaluate Github Actions CI"
Set up [Github Actions](https://github.com/features/actions) for our CI use and try it for CD as well.

For CI, it's probably simple as we need only automate:

* build
* tests
* linting

`npm install`, `npm run build`, `npm run test` and `npm run lint` are the commands you would need for that.

If possible, during build of PRs it would be interesting to see if the GH Actions supports moving the as

[2019-09-10 18:02] brenoferreira opened #485 "Simplify Webpack configuration"
Currently, Webpack configs are a bit confusing and spread across [too many files](https://github.com/creativecommons/cccatalog-frontend/tree/develop/build) and even [different directories](https://github.com/creativecommons/cccatalog-frontend/tree/develop/config).

It would be nice to have just four files:

- webpack-base.js
- webpack-dev.js
- webpack-prod.js
- webpack-server.js

[2019-09-10 18:10] brenoferreira opened #486 "Evaluate Typescript adoption"

[2019-09-10 18:12] brenoferreira opened #487 "[META] Internationalisation (i18n) Setup"
This should be about adding i18n support, not the translations themselves.
Even if we continue supporting only English initially, it's good to have support for i18n and do the translations later.

Sub-tasks:

- [x] Set up vue-i18n infrastructure: installing [vue-i18n package](https://kazupon.github.io/vue-i18n/) and setting up the internationalization infrastructure on both client and server rende

[2019-09-10 18:17] brenoferreira opened #488 "[META] Accessibility (a11y) Improvements"
Roadmap of tasks:

- [x] Run audit on accessibility with [Lighthouse](https://developers.google.com/web/tools/lighthouse), [Accessibility Insights](https://accessibilityinsights.io/) and [pa11y](https://pa11y.org) and compile reports on which issues are higher priority.

These tools will probably find issues with the following:
- [x] Aria labels (these will have to be internationalized) See #996
-

[2019-09-10 18:20] brenoferreira opened #489 "Drop Masonry Layout for image grid"
Masonry Layout doesn't work on Server Side Rendering due to browser API dependencies. So it's only rendered on the client.

It also doesn't seem to be very accessible, as `tabIndex` doesn't seem to work, so users who don't use a mouse as input device, but rather a keyboard or some other accessibility device, probably can't browse through the results.

Ideally, the new grid should be rendered using

[2019-09-11 20:30] kgodey opened #490 "Remove infinite scrolling completely"
Currently, we have an A/B test running for infinite scroll. We should remove infinite scroll for all users and use the "load more" button instead.

[2019-09-15 18:24] evanv commented on #426
You've moved on and that makes sense. I am curious though if [differential privacy](https://privacytools.seas.harvard.edu/differential-privacy) was (or could be) considered (at some point).

Do you have any thoughts about potentially using differential privacy and perhaps storing the aggregates longer term? Given the past history with GSOC, perhaps something like https://github.com/google/differen

[2019-09-16 10:44] SomtochiAma commented on #169
I want to work on this issue. Is it still valid since the infinite scroll is about to be removed completely?

[2019-09-16 18:33] kgodey commented on #169
I think this is still useful even with the "load more" button.

[2019-09-18 23:12] kgodey commented on #426
We did not consider differential privacy but it looks like it's certainly worth considering. I'm not familiar enough with it to have any useful thoughts about it at the moment but if you had more thoughts to share or a proposal for us to consider implementing, please feel free to share here or open a new issue.

[2019-09-19 04:16] aldenstpage commented on #426
We did take some measures to protect privacy by discarding IP information and only grouping a user's searches on a session-by-session basis (e.g. if you close the tab and visit CC Search again, your subsequent terms will be seen as a new user.) In spite of these protections, it would not be proper for us to release the data publicly.

There's a [high quality paper](https://www.cs.cornell.edu/~guoz

[2019-09-19 15:16] evanv commented on #426
There are two implications to this.

1. You become responsible for protecting these data
2. Fine tuning of the search algorithm has to be done "in house"; it's not as straightforward to source contributions from the community, since the community really can't access the same data that you do

I don't think that the idea warrants a full blown proposal at this point. It's a curiosity on my end and i

[2019-09-24 11:53] #481 closed

[2019-09-24 12:09] #169 closed

[2019-09-25 12:54] #480 closed

[2019-09-25 14:54] #445 closed

[2019-09-26 10:33] edent commented on #472
I'm looking at this issue. What's the difference between `/index-server.html` and `/index.html`.

Looks like the metatags need updating in both, but I wanted to make sure I wasn't missing something.

[2019-09-26 13:08] brenoferreira commented on #472
`/index-server.html` is used for server side rendering, which is used in our production environment

[2019-09-26 13:10] brenoferreira commented on #476
This is not a bug. This is how it works. The HTML contains only the attribution, not the image itself.

Can we turn this into a feature request?

[2019-09-26 14:16] #270 closed

[2019-09-27 11:47] SomtochiAma commented on #470
Is there any new design for the search results filter

[2019-09-27 11:48] SomtochiAma commented on #444
I want to work on this issue. What is TBD? and where can I find the UI.

[2019-09-27 16:47] #383 closed

[2019-10-02 07:57] schambers commented on #473
I'd like to take this one if its still available. I'll let you know if I have any questions

[2019-10-02 15:00] #269 closed

[2019-10-02 15:28] kgodey commented on #444
TBD means it's to be determined. You'd have to submit a proposal for the UI.

[2019-10-02 16:47] brenoferreira commented on #472
This is done in #497

[2019-10-02 16:47] #472 closed

[2019-10-02 18:17] cane4044 commented on #485
https://github.com/creativecommons/cccatalog-frontend/issues/485#issue-491818528

[2019-10-02 22:45] 5hel2l2y commented on #263
I'll take a stab at this for Hacktoberfest!

[2019-10-03 13:16] #471 closed

[2019-10-04 14:12] FlaviaKebirungi opened #504 "Typing error on the "Contributing Code" Page on the creative commons website"
**Describe the bug**
There is a spelling error on the "Contributing Code" Page on the creative commons website (https://opensource.creativecommons.org/contributing-code/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opensource.creativecommons.org'
2. Click on 'contributing code in the top menu'
3. Scroll down to 'section  titled "Proposing a new issue"'
4. See typing error

[2019-10-04 14:17] #504 closed

[2019-10-04 14:18] FlaviaKebirungi commented on #504
I am transferring the issue to the right repository!

[2019-10-04 17:22] kgodey opened #505 "Provide HTML code to allow CC Search to be embedded in other websites"
A user reached out and asked for an embed code similar to the [OASIS OER](https://oasis.geneseo.edu/about.php) search tool to embed CC Search into their own website.

[2019-10-04 19:41] #470 closed

[2019-10-04 19:42] annatuma opened #506 "Support State Memory for Filter Collapsing"
During Q4, we are introducing additional filters to CC Search. We know we will be adding even more filters in the future, both for images and other content types. We are also changing how filters are presented, to be listed in a left hand side bar. [See issue 529] (https://github.com/creativecommons/cccatalog-frontend/issues/529).

At present, we are building the left hand side bar in such a way t

[2019-10-06 21:06] krysal commented on #400
Hello! I'm an Outreachy applicant, can I start contributing with this issue? :)

[2019-10-07 11:56] brenoferreira commented on #489
This might work: https://github.com/xieranmaya/blog/issues/6

[2019-10-07 15:30] akowtko commented on #361
Have you thought about using Vuetify components? They have a `v-select` component ([here](https://vuetifyjs.com/en/components/selects) that allows for multi-select and has checkboxes inside the dropdown to make it clear that it is multi-select. The downside is the component follows material guidelines and therefore wouldn't match as well with the rest of your components.
<img width="366" alt="Scre

[2019-10-07 22:33] HAMZABoxer98 commented on #505
can I work on this @kgodey  ?

[2019-10-08 02:24] akowtko commented on #271
I'll look into this!

[2019-10-08 16:20] HAMZABoxer98 commented on #184
I am going to work on this.

[2019-10-08 16:20] kgodey commented on #184
Removing "help wanted" since we moved this into the active sprint.

[2019-10-08 17:01] brenoferreira opened #509 "Search Form doesn't submit without JS assets loaded"
Users on very slow connections can see the rendered HTML, they can interact with the page, but the JS assets haven't finished loading. Since the form needs JS to submit correctly, this causes the form to submit to the same page and it doesn't show the results.

**To Reproduce**
Steps to reproduce the behavior:
This should be easy to reproduce by using your browser's DevTools Network throttling fea

[2019-10-09 17:27] brenoferreira opened #511 "Evaluate the effort of a migration to React"

[2019-10-09 17:47] HAMZABoxer98 commented on #254
@kgodey , the only way to achieve this is by requesting visitors to download a software that will change their default search engine the same as Bing and other search engines do.
Do you think people will download and execute your software  ?
I searched for the solution but not able to provide such software, I am just discussing.

[2019-10-10 13:08] dhruvkb commented on #254
@HAMZABoxer98 the intention is not to change the default search engine to CC Search, the intention is to enable CC Search to be added as _one of the installed_ search engines. This is achieved using semantic input field and search button `name` and `value` attributes as well as an Open Search XML specification.

References:
- [StackOverflow](https://stackoverflow.com/questions/14082568/how-to-let-

[2019-10-10 17:05] akowtko commented on #271
@brenoferreira the PR is just to fix the capitalization. The issue with the Facebook sharer not loading the sharer text is due to Facebook only looking at meta tags. I listed some possibilities to fix this in the PR, but don't know how to test modifications to the meta tags. Do you have a staging environment? Or do you know how I can force the meta tags to evaluate on my dev server?

[2019-10-11 13:05] #271 closed

[2019-10-11 13:06] brenoferreira commented on #271
@akowtko we use server side rendering to render the html, so there's no need to use `vue-meta`. You can see how we set meta tags [here](https://github.com/creativecommons/cccatalog-frontend/blob/develop/index-server.html)

[2019-10-11 13:07] brenoferreira commented on #271
@akowtko For the Facebook text, can you open a new issue for that?

[2019-10-11 18:37] kerryja commented on #488
Hello, I can tackle this!

[2019-10-13 10:11] SomtochiAma commented on #425
How can I get started on this?

[2019-10-13 23:17] HAMZABoxer98 commented on #141
@little-wow, I think the interface has been changed and this bug is doesn't exist anymore.
if it still exist, can you give me that link because I couldn't find this page?

[2019-10-14 14:31] HAMZABoxer98 commented on #409
it's a little bit vague for newcomers like me , can you add more details ?.

[2019-10-15 14:57] brenoferreira commented on #232
Reopening because more tests are always welcome

[2019-10-15 14:59] #400 closed

[2019-10-15 18:25] #184 closed

[2019-10-18 16:34] annatuma commented on #407
Next step is team review: should go from Alden to Breno to Sarah to Anna back to Kriti, and then be published.

[2019-10-18 16:50] annatuma commented on #428
Closing this ticket to avoid further confusion. Most usage data collection was completed, only search rating data is missing. Separate ticket will be created for that.

[2019-10-18 16:52] annatuma opened #518 "Collect Search Rating Usage Data"
## Background
Earlier this year we rolled out Usage Data collection. [See ticket 426] (https://github.com/creativecommons/cccatalog-frontend/issues/426) for the full spec and catalog work, and [see ticket 428] (https://github.com/creativecommons/cccatalog-frontend/issues/428) for the front-end implementation.

When we rolled this out, we were missing "search rating usage data". Initially this was

[2019-10-19 00:07] akowtko opened #519 "Bug: Facebook Social Sharing Text Doesn't Properly Populate."
**Describe the bug**
When sharing an image on Facebook, the sharer text doesn't properly populate, defaulting to the `<meta name="og:description">` tag text because the Facebook sharer.php no longer accepts inputs. Facebook now generates images, titles, and descriptions for social sharing based on the meta tags.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://search.creativeco

[2019-10-19 00:07] akowtko commented on #271
@brenoferreira apologies for the delay. I filed a new issue here: https://github.com/creativecommons/cccatalog-frontend/issues/519.

[2019-10-19 09:41] Mavi05 commented on #476
Can I work on this issue?

[2019-10-19 20:36] dhuang612 commented on #232
cool, I would like to contribute to this

[2019-10-21 04:30] oksmelnik commented on #254
I'd like to work on this issue (outreachy applicant)

[2019-10-21 16:20] kgodey commented on #254
go ahead

[2019-10-21 16:44] kgodey commented on #232
Go ahead.

[2019-10-21 16:51] kgodey commented on #476
@Mavi05 This is not labelled "help wanted" and is not suitable for outside contribution.

[2019-10-21 18:21] kgodey commented on #141
@HAMZABoxer98 you're right, this is no longer relevant.

[2019-10-21 18:21] #141 closed

[2019-10-21 18:25] kgodey commented on #425
@SomtochiAma This requires a design discussion. @annatuma – would you be okay with starting with a proposed design or would you like to do some product/ticket work on this first?

[2019-10-21 20:55] krysal commented on #443
Hi Kriti, I don't see any "Contribute on GitHub" link in the [CC Search page](https://ccsearch.creativecommons.org/) should be added in the footer?

[2019-10-21 21:49] kgodey commented on #443
@krysal Please feel free to submit a PR adding it to the footer, add a screenshot to the PR so that we can add any design feedback to the PR review.

[2019-10-21 22:18] krysal commented on #443
Ok! I'll work on this.

[2019-10-22 15:07] krysal commented on #443
@kgodey I made a proposal in a draft PR, please check if it's okay this way.

[2019-10-22 19:17] Mavi05 commented on #476
@kgodey ok, so are there any issues on which I can work? I'm new to this project.

[2019-10-22 20:54] kgodey commented on #476
@Mavi05 look at issues tagged "help wanted": https://github.com/creativecommons/cccatalog-frontend/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22 that are also not tagged "in progress"

Please read the contributing guidelines here: https://github.com/creativecommons/cccatalog-frontend/blob/develop/CONTRIBUTING.md

[2019-10-23 14:19] alessandrodolci commented on #409
I tried to help with this one, here is the pull request I opened: #523

[2019-10-27 12:47] SomtochiAma opened #526 ""Load more" button still clickable even when there are no images to load"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
After a user loads an image and there are no more images left, the link still says 'Load more'.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I think the link text should change to load mo

[2019-10-29 10:47] #443 closed

[2019-10-29 14:07] annatuma opened #529 "Create Left Hand Side Bar for Filters"
## Background
Currently, search filters on the CC Search results page are placed directly below the search bar, arranged horizontally, across the top of the page. The search bar is also the width of the page.

## Implementation
We'd like to change the overall layout of the CC Search results page as follows:
- Move all current filters to a left hand side bar
- Within left hand side bar, allow users

[2019-10-29 14:22] annatuma commented on #436
Moved from Sprint 2 to Sprint 3, tackling left hand side bar switch first.

[2019-10-29 14:45] #428 closed

[2019-10-29 14:53] annatuma commented on #518
@brenoferreira @kgodey @sarahpearson please look at the "Suggested Implementation" above and chime in with your thoughts. I know we've discussed this pretty extensively but I don't believe we reached a conclusion on exact language and location.

We'll also review during the upcoming sprint planning call, if we don't get to this beforehand.

[2019-10-29 15:30] annatuma commented on #506
Removing from Q4 Sprint 2, putting in general Q4 backlog. How we implement this is going to be impacted by the functionality we introduce with the left hand side bar for filters (https://github.com/creativecommons/cccatalog-frontend/issues/529).

[2019-10-29 19:41] aldenstpage commented on #407
I like the idea of having a separate pipeline for major contributions and smaller bugfixes. I changed the order of the examples in step 0 to emphasize issues that don't require staff vetting. I also changed

to

since any ticket with the help wanted tag should be in a state that it is ready for outside contribution.

[2019-10-29 19:45] aldenstpage commented on #407
Also, here's a similar contributing guide from a really successful OSS community: https://github.com/torproject/tor/blob/master/doc/HACKING/GettingStarted.md

[2019-10-30 09:23] brenoferreira commented on #254
Reopening this because #525 doesn't add the build step to copy the `opensearch.xml` file to the distribution assets directory

[2019-10-31 17:09] sarahpearson commented on #407
Looks very thorough to me! Good to go from my pov.

[2019-11-01 09:10] #526 closed

[2019-11-01 09:34] #409 closed

[2019-11-01 15:50] annatuma commented on #407
Note to self: After I review, this goes back to Kriti.

[2019-11-01 15:53] annatuma commented on #529
Ticket is good to go, and has been discussed. Moving to Sprint 3 for @brenoferreira to tackle.

[2019-11-01 16:18] annatuma commented on #518
We are going to wait on Francisco for feedback on how to design this into the frontend.

[2019-11-01 16:37] brenoferreira opened #532 "Dismiss keyboard after search form submit on mobile"
On iOS, when the user types a search query and hits the search button on the home page, once the results page loads, the iOS keyboard is still visible, taking a lot of screen space and making the actual images not visible. We should dismiss the keyboard on the form submit event.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CC Search home page
2. Type in a search query term
3. Hit th

[2019-11-06 15:13] annatuma commented on #407
All set @kgodey, I left a handful of suggested edits but nothing major. Assigning back to you.

[2019-11-06 17:53] #473 closed

[2019-11-08 23:13] annatuma opened #534 "Link to PDM License is Broken"
CC Search includes works that have the Public Domain Mark, such as:
https://search.creativecommons.org/photos/f798c858-a7af-4a3e-b2b7-a40a0a6780f5

The link to CC PDM 1.0, from both the Image Attribution and License section, goes here:
https://creativecommons.org/licenses/PDM/1.0/?ref=ccsearch&atype=rich

That's an Error page.

We believe those links should be updated to go here instead:
https://c

[2019-11-08 23:14] annatuma commented on #534
@sarahpearson please confirm that the PDM deed is in fact this page:
https://creativecommons.org/publicdomain/mark/1.0/

@aldenstpage  @brenoferreira please let me know if this is a catalog issue or a frontend issue, so I can update the description.

[2019-11-11 11:38] brenoferreira commented on #534
License link URLs come from the API now

[2019-11-11 14:59] krysal commented on #532
Hello, I confirm that the same occurs on Android and made a PR that fix it. I don't know if this solves the problem for IOS but I think it will fix it too.

[2019-11-13 20:09] #532 closed

[2019-11-15 16:49] annatuma opened #536 "Implement assets from Design Sprint 1"
Design Sprint 1 is complete, and the final assets are available for implementation.

- [x] Implement Navbar and Footer redesigns #675
- [x] Implement homepage middle section search form redesigns #543
- [x] Implement image search grid redesigns #544
- [x] Implement image details page redesigns #545

[2019-11-15 16:50] #431 closed

[2019-11-15 16:52] annatuma opened #537 "Build filter for image size (S/M/L)"

[2019-11-15 17:56] aldenstpage commented on #432
What would an example of an 'other' ratio that doesn't fit into tall, wide, or square?

[2019-11-18 17:30] brenoferreira commented on #537
Do we adopt resolutions up to 640x480 to be small, up to 1600x900 to be medium and above that to be large? This seems to be more or less in line with what both Google and Flickr do (although flicker has a slightly lower resolution for large images).

[2019-11-22 02:21] dos077 commented on #489
I ported brenoferreira's suggestion to Vue. It works fine. Is this still an issue? I've only made the thumbnails img tags. Will need to rework and probably rename the gridcell components.

Screenshot:
https://drive.google.com/file/d/1D1sEILcG1vPutOYv3XsHOnNbco3Oz_AW/view?usp=sharing

Mobile:
https://drive.google.com/file/d/1se_vLgnQXtLjWcnsnFskGJYrke2BF1Xo/view?usp=sharing

[2019-11-22 13:40] brenoferreira commented on #489
Feel free to open a pull request

[2019-11-22 14:39] Pep-DEV101 commented on #529
Did #533 has solved this issue or i should give it a try

[2019-11-22 17:19] brenoferreira commented on #529
@Pep-DEV101 #533 is currently in progress to fix this issue

[2019-11-29 17:25] #529 closed

[2019-12-02 13:31] brenoferreira commented on #537
Fixed in #533

[2019-12-02 13:31] #537 closed

[2019-12-02 13:31] brenoferreira commented on #436
Fixed in #533

[2019-12-02 13:32] brenoferreira commented on #432
Fixed in #533

[2019-12-02 13:32] #432 closed

[2019-12-02 13:32] #436 closed

[2019-12-02 13:32] brenoferreira commented on #433
Fixed in #533

[2019-12-02 13:32] #433 closed

[2019-12-02 18:39] annatuma commented on #315
@kgodey I'm moving this to the Parking Lot, since we may simply prioritize integrations with those collections directly through (new) CC Search instead. I'll add those to Catalog Pipeline for further research. Definitely move back if you have a different view on this.

[2019-12-02 18:59] annatuma commented on #299
@kgodey can you follow up with the Science Museum, and cc myself and @mathemancer into the thread, so we can try to get this sorted? I realize this isn't considered a critical bug but as general data cleanup it makes sense.

Also suggesting for the next sprint, so this stays on our radar, in case more follow-up is needed.

[2019-12-02 19:01] annatuma commented on #329
Taking this one off your hands @kgodey per upcoming initiative re web-based donations. It can remain in the backlog.

[2019-12-02 19:11] annatuma commented on #361
Thanks everyone for the discussion and suggestions! @brenoferreira has implemented collapsible filter sections, using check boxes, in an upcoming design and functionality change. This is currently being tested in our [dev environment,](https://ccsearch-dev.creativecommons.org/search?q=dog&li=&lt=&categories=&extension=&aspect_ratio=&size=&provider=&searchBy=) and will be live soon.

![checkbox fil

[2019-12-02 19:12] #361 closed

[2019-12-02 19:18] annatuma commented on #299
Update: turns out this breaks the Collections page for the Science Museum, so while still not deemed critical, this is a higher priority to fix. Currently resulting in an error message when users search by collection.

![science museum collection search](https://user-images.githubusercontent.com/3051816/69987890-1d131b80-1506-11ea-9316-b04a497e9b2d.png)

cc @aldenstpage

[2019-12-02 22:10] kgodey commented on #299
@annatuma I forwarded the email I sent them to you and @mathemancer. I never received a response.

[2019-12-02 22:13] kgodey commented on #315
@annatuma I don't think we can integrate stuff like Google Images into CC Search. I think we need some sort of plan to shut down old CC Search; we shouldn't keep maintaining it forever. I'm worried moving it into the Parking Lot will mean we forget about it.

[2019-12-04 13:49] brenoferreira opened #540 "Fix image count when result set is over 10K images"
There's been a change to the CC Catalog API in which a search query result set over 10.000 images will have a capped `result_count` of `10000`, when in reality there's more than 10.000 images in the catalog.  For example: https://api.creativecommons.engineering/image/search?q=cat

![Screen Shot 2019-12-04 at 10 44 24](https://user-images.githubusercontent.com/707019/70147711-98e6a280-1683-11ea-9dc

[2019-12-04 13:50] brenoferreira commented on #540
@annatuma which one do you think is best?

_Over 10.000 images_

_More than 10.000 images_

_10.000+ images_

Something else?

[2019-12-04 13:50] #509 closed

[2019-12-05 02:33] kgodey commented on #540
Assigned to @annatuma to respond.

[2019-12-05 14:43] brenoferreira opened #542 "Implement Navbar and Footer redesigns"
Designs: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851

Implement only navbar and footer.

[2019-12-05 14:43] brenoferreira opened #675 "Add Navbar and Footer from Vocabulary"
Designs: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851

Implement only navbar and footer.

[2019-12-05 14:44] brenoferreira opened #543 "Implement homepage middle section search form redesigns"
Design: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851/screen/5dcea00e442e0144a204e251

[2019-12-05 14:45] brenoferreira opened #544 "Implement image search grid redesigns"
Designs: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851 (Under `Results Page`)

[2019-12-05 14:46] brenoferreira opened #545 "Implement image details page redesigns"
Designs: https://scene.zeplin.io/project/5dc5a56e81baec82fe6f7851 (Under `Single Results`)

[2019-12-05 21:46] annatuma commented on #511
[Working document](https://docs.google.com/document/d/1siXZAqDDMeKOdf6f4ct50-ufiPvxLR5MTOcVT3u5AoQ/edit)

[2019-12-05 22:08] annatuma commented on #329
Closing this per discussion, we'll have a whole separate push for improving web-based donations, starting with research, then UX design, prior to implementation. We'll start fresh with new tickets at that time, with full details of what we plan to do.

[2019-12-05 22:08] #329 closed

[2019-12-05 22:20] annatuma commented on #424
Search Syntax Guide (https://ccsearch.creativecommons.org/search-help) is linked from Search homepage, which I believe is what this covers.

[2019-12-05 22:20] #424 closed

[2019-12-05 22:23] annatuma commented on #425
We are starting with legal research and feature design beforehand. We'll post an update in the ticket when we're closer to having something to implement.

[2019-12-05 22:31] annatuma commented on #434
We've decided not to pursue this at this time. There are other ingestion and filtering priorities.

[2019-12-05 22:31] #434 closed

[2019-12-05 22:34] annatuma commented on #440
This is a feature/functionality related to:
https://github.com/creativecommons/cccatalog-frontend/issues/425

[2019-12-09 18:11] hugosolar opened #547 "Filter sidebar arrow should look like a link"
## Describe the bug
When you expand a set of filters in the sidebar clicking on the title, the arrow doesn't show as a link

## To Reproduce
Steps to reproduce the behavior:
1. Go to [any search result](https://ccsearch.creativecommons.org/search?q=cat&li=&lt=&categories=&extension=gif&aspect_ratio=&size=&provider=&searchBy=)
2. Expand "Image size" option by clicking the arrow

## Expected behavio

[2019-12-10 13:26] brenoferreira opened #548 "Migrate to Webpack 4"
While testing the changes in #531, I detected that the current Webpack 3 configuration uses many APIs that were deprecated in Webpack 4.

Instead of trying to fix these problems, it might be better and easier to just rewrite the webpack configurations from scratch, using Webpack 4 and its newer APIs and capabilities.

Remember that the build process must support app and vendor bundle splitting, Vu

[2019-12-13 18:46] madewithkode commented on #547
Hi @brenoferreira, I see you've been assigned this issue but if you're too busy, I'd like to work on it as a first issue :)
Cheers

[2019-12-13 19:03] brenoferreira commented on #547
Feel free to do it :)

On Fri, Dec 13, 2019 at 3:46 PM Onyenanu Princewill <
notifications@github.com> wrote:

--
Thank you

Breno Ferreira
Front-end Engineer
Creative Commons

[2019-12-13 19:41] madewithkode commented on #547
Just made a PR, fingers crossed :)

[2019-12-14 09:07] sharmamansi commented on #542
Hey @brenoferreira  cant open the above mentioned link can you tell me the reason?

[2019-12-14 19:13] madewithkode commented on #540
Hi there, I'd love to work on this issue.

[2019-12-16 09:52] madewithkode commented on #547
Hi Bren, kindly check out my PR on the issue.

[2019-12-16 12:00] #547 closed

[2019-12-16 12:39] brenoferreira commented on #542
The designs are publicly accessible. Maybe Zeplin was having some issues. Can you try again?

[2019-12-16 13:13] sharmamansi commented on #542
Can I work on this?

[2019-12-16 13:55] brenoferreira commented on #542
We're currently working on finalising the designs, so this is currently on hold

[2019-12-16 14:01] sharmamansi commented on #542
Ohk no problem, however i would like to work on these issues. l will wait wait till designs are finalised please let me know once it is done.

[2019-12-16 14:16] brenoferreira commented on #540
@madewithkode we're still deciding on the correct language here. Once we decide and we remove the `Question` label, you're welcome to work on this.